<div class="top-nav-wrap">
    {% if g.user.is_super_leader() or g.user.is_finance() or g.user.is_aduit() %}
    <!--一级菜单-->
    <div class="menu-bar">
        <ul>
            <li><a href="{{url_for('finance_client_order_data_query.agent_invoice')}}" class="on">致趣</a><span>|</span></li>
            <li><a href="{{url_for('searchAd_finance_client_order_data_query.agent_invoice')}}">效果</a><span></span></li>
        </ul>
    </div>
    {% endif %}
    <div class="top-nav" {% if not (g.user.is_super_leader() or g.user.is_finance() or g.user.is_aduit()) %}style="top: 20px;"{% endif %}>
        {% if g.user.is_finance()%}
        <ul>
            <li id="_client_orderinvoice_" class="nav-first">
              <a href="{{url_for('finance_client_order_invoice.index')}}">客户发票</a>
              <span>|</span>
            </li>
            <li id="_client_orderback_money_">
              <a href="{{url_for('finance_client_order_back_money.index')}}">客户订单收款</a>
              <span>|</span>
            </li>
            <li id="_douban_orderback_money_">
              <a href="{{url_for('finance_douban_order_back_money.index')}}">豆瓣订单收款</a>
              <span>|</span>
            </li>
            <li id="_client_ordermedium_back_money_">
              <a href="{{url_for('finance_client_order_medium_back_money.index')}}">媒体返点收款</a>
              <span>|</span>
            </li>
            <li id="_outsourcepay_">
              <a href="{{url_for('finance_outsource_pay.index')}}">新媒体订单外包</a>
              <span>|</span>
            </li>
            <li id="_outsourcepaydouban_">
              <a href="{{url_for('finance_outsource_pay.douban_index')}}">直签豆瓣订单外包</a>
              <span>|</span>
            </li>
            <li id="_client_orderoutsource_invoice_" class="nav-last">
              <a href="{{url_for('finance_client_order_outsource_invoice.index')}}">新媒体订单外包发票</a>
            </li>
        </ul>
        <ul>
            <li id="_douban_orderoutsource_invoice_" class="nav-first">
              <a href="{{url_for('finance_douban_order_outsource_invoice.index')}}">直签豆瓣订单外包发票</a>
              <span>|</span>
            </li>
            <li id="_client_ordermedium_pay_">
              <a href="{{url_for('finance_client_order_medium_pay.apply')}}">媒体付款</a>
              <span>|</span>
            </li>
            <li id="_client_orderagent_pay_">
              <a href="{{url_for('finance_client_order_agent_pay.apply')}}">客户付款信息</a>
              <span>|</span>
            </li>
            <li id="_client_ordermedium_rebate_invoice_">
              <a href="{{url_for('finance_client_order_medium_rebate_invoice.index')}}">媒体返点发票</a>
              <span>|</span>
            </li>
            <li id="_client_orderdata_query_">
              <a href="{{url_for('finance_client_order_data_query.agent_invoice')}}">新媒体订单数据查询</a>
              <span>|</span>
            </li>
            <li id="_douban_orderdata_query_">
              <a href="{{url_for('finance_douban_order_data_query.back_money')}}">豆瓣订单数据查询</a>
              <span>|</span>
            </li>
            <li id="_framework_order_" class="nav-last">
              <a href="{{url_for('finance_framework_order.index')}}">框架合同查询</a>
            </li>
        </ul>
        {% elif g.user.is_aduit() %}
        <ul>
            <li id="_client_orderdata_query_">
              <a href="{{url_for('finance_client_order_data_query.agent_invoice')}}">新媒体订单数据查询</a>
              <span>|</span>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
<script>
    $(function(){
        var pathname = window.location.pathname;
        var p_pathname = pathname.split('/')
        if (p_pathname[5] == 'douban_info'){
            $('#_outsourcepaydouban_').addClass("active");
        }else if(p_pathname[2]+p_pathname[3]+p_pathname[4] == 'outsourcepaydouban'){
            $('#_outsourcepaydouban_').addClass("active");
        }else{
            $('#_'+p_pathname[2]+p_pathname[3]+'_').addClass("active");
        }
    })
</script>
