{% extends "/site_base.html" %}

{% block left_box%}
<style>
.list-group-item {
    margin-left:15px;
}
</style>
    {% if g.user.is_finance()%}
    <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 发票管理</li>
    <a class="list-group-item" href="{{url_for('finance_invoice.index')}}">申请中的发票</a>
    <a class="list-group-item" href="{{url_for('finance_invoice.index_pass')}}">所有客户发票信息</a>
    <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 外包打款管理</li>
    <a class="list-group-item" href="{{url_for('finance_pay.index')}}">媒体订单</a>
    <a class="list-group-item" href="{{url_for('finance_pay.douban_index')}}">直签豆瓣订单</a>
    <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 媒体打款管理</li>
    <a class="list-group-item" href="{{url_for('finance_medium_pay.index')}}">申请中的媒体打款</a>
    <a class="list-group-item" href="{{url_for('finance_medium_pay.index_pass')}}">已打款的媒体信息</a>
    <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 回款管理</li>
    <a class="list-group-item" href="{{url_for('finance_client_order_back_money.index')}}">客户订单回款</a>
    {% endif %}
{% endblock %}
