{% extends "/data_query/data_query_base.html" %}
{% block title %}月度订单金额{% endblock %}

{% block main_box %}
<div class="bra-main bra-box" style="width:85%;">
    <h3>媒体订单周报</h3>
    <div class="search">
        <form class="form-inline" role="form" action="" method='get'>
        <div class="form-group">
            <select class="form-control" name="year" id="year" placeholder="选择执行年">
                <option value="2015">2015</option>
                <option value="2014">2014</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="Q" id="Q" style="width:80px;" placeholder="选择执行月">
                {% for k in range(1,5) %}
                    <option value='Q{{k}}'>Q{{k}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="查询" class="btn btn-sm btn-info" >
        </form>
    </div>
    <br>
    <h4>华北区</h4>
    {% if huabei_agent_salers_orders %}
    <table class="table table-bordered">
        <tr>
            <th>渠道销售</th>
            <th>状态</th>
            <th>投放媒体</th>
            <th>合同号（代理下单号）</th>
            <th>代理简称</th>
            <th>项目名称</th>
            <th>行业</th>
            <th>直客销售</th>
            <th>渠道销售</th>
            <th>合同金额</th>
            <th>媒体金额</th>
            <th>本季度确认额</th>
            <th>本季度执行额</th>
            <th>上季度执行额</th>
            <th>下季度执行额</th>
            {% for k in Q_monthes %}
            <th>{{k}}月执行额</th>
            {% endfor %}
            <th>类型</th>
            <th>AE</th>
            <th>合同开始</th> 
            <th>合同结束</th> 
        </tr>
        {% for k in huabei_agent_salers_orders %}
        <tr>
            <td rowspan="{{k.orders|length + 3}}">{{k.name}}</td>
            <td rowspan="{{k.orders|length + 1}}">确认</td>
        </tr>
            {% for i in k.orders %}
                <tr>
                    {% for mo in i.order.medium_orders %}   
                    <td> 
                        {{mo.medium.name}}
                        <br><br>
                    </td>
                    {% endfor %}
                    <td>{{i.order.contract}}</td>
                    <td>{{i.order.agent.name}}</td>
                    <td>{{i.order.campaign}}</td>
                    <td>{{i.order.client.industry_cn}}</td>
                    <td>{% for u in i.order.direct %}{{u.name}}{% endfor %}</td>
                    <td>{% for u in i.order.agent_sales %}{{u.name}}{% endfor %}</td>
                    <td>{{i.order.money}}</td>
                    <td>{{i.order.mediums_money2}}</td>
                    <td>0</td>
                    <td>{{i.now_Q_money}}</td>
                    <td>{{i.last_Q_money}}</td>
                    <td>{{i.after_Q_money}}</td>
                    {% for k in i.moneys %}
                    <td>{{k}}</td>
                    {% endfor %}
                    <td>{{i.order.resource_type_cn}}</td>
                    <td>{% for o in i.order.operater_users %}{{o.name}}<br/>{% endfor %}</td>
                    <td>{{i.order.client_start}}</td>
                    <td>{{i.order.client_end}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="8">Total</td>
                <td>{{k.total_order_money}}</td>
                <td>{{k.total_order_mediums_money2}}</td>
                <td>0</td>
                <td>{{k.total_now_Q_money}}</td>
                <td>{{k.total_last_Q_money}}</td>
                <td>{{k.total_after_Q_money}}</td>
                <td>{{k.total_frist_month_money}}</td>
                <td>{{k.total_second_month_money}}</td>
                <td>{{k.total_third_month_money}}</td>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td colspan="2">{{Q}}任务</td>
                <td></td>
                <td>预估完成率</td>
                <td></td>
                <td colspan="16"></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if huabei_agent_salers_orders %}
    <table class="table table-bordered">
        <tr>
            <th>直客销售</th>
            <th>状态</th>
            <th>投放媒体</th>
            <th>合同号（代理下单号）</th>
            <th>代理简称</th>
            <th>项目名称</th>
            <th>行业</th>
            <th>渠道销售</th>
            <th>直客销售</th>
            <th>合同金额</th>
            <th>媒体金额</th>
            <th>本季度确认额</th>
            <th>本季度执行额</th>
            <th>上季度执行额</th>
            <th>下季度执行额</th>
            {% for k in Q_monthes %}
            <th>{{k}}月执行额</th>
            {% endfor %}
            <th>类型</th>
            <th>AE</th>
            <th>合同开始</th> 
            <th>合同结束</th> 
        </tr>
        {% for k in huabei_agent_salers_orders %}
        <tr>
            <td rowspan="{{k.orders|length + 3}}">{{k.name}}</td>
            <td rowspan="{{k.orders|length + 1}}">确认</td>
        </tr>
            {% for i in k.orders %}
                <tr>
                    {% for mo in i.order.medium_orders %}   
                    <td> 
                        {{mo.medium.name}}
                        <br><br>
                    </td>
                    {% endfor %}
                    <td>{{i.order.contract}}</td>
                    <td>{{i.order.agent.name}}</td>
                    <td>{{i.order.campaign}}</td>
                    <td>{{i.order.client.industry_cn}}</td>
                    <td>{% for u in i.order.agent_sales %}{{u.name}}{% endfor %}</td>
                    <td>{% for u in i.order.direct %}{{u.name}}{% endfor %}</td>
                    <td>{{i.order.money}}</td>
                    <td>{{i.order.mediums_money2}}</td>
                    <td>0</td>
                    <td>{{i.now_Q_money}}</td>
                    <td>{{i.last_Q_money}}</td>
                    <td>{{i.after_Q_money}}</td>
                    {% for k in i.moneys %}
                    <td>{{k}}</td>
                    {% endfor %}
                    <td>{{i.order.resource_type_cn}}</td>
                    <td>{% for o in i.order.operater_users %}{{o.name}}<br/>{% endfor %}</td>
                    <td>{{i.order.client_start}}</td>
                    <td>{{i.order.client_end}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="8">Total</td>
                <td>{{k.total_order_money}}</td>
                <td>{{k.total_order_mediums_money2}}</td>
                <td>0</td>
                <td>{{k.total_now_Q_money}}</td>
                <td>{{k.total_last_Q_money}}</td>
                <td>{{k.total_after_Q_money}}</td>
                <td>{{k.total_frist_month_money}}</td>
                <td>{{k.total_second_month_money}}</td>
                <td>{{k.total_third_month_money}}</td>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td colspan="2">{{Q}}任务</td>
                <td></td>
                <td>预估完成率</td>
                <td></td>
                <td colspan="16"></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
<script>
    $(function(){
        $("#Q option[value='{{Q}}']").attr("selected","selected");  
        $("#Q").trigger("chosen:updated");
        $("#year option[value='{{now_year}}']").attr("selected","selected");  
        $("#year").trigger("chosen:updated");
    })
</script>
{% endblock %}
