{% extends "/base.html" %}
{% block title %}月度订单金额{% endblock %}
{% block content %}
{% include "/data_query/data_query_base.html" %}
<div class="container bra-box" style="width:2000px;">
    <h3>媒体周报</h3>
    <div class="search">
        <form class="form-inline" role="form" action="" method='get'>
        <div class="form-group">
            <select class="form-control" name="year" id="year" placeholder="选择执行年" style="width:150px;">
                {% for k in range(5) %}
                <option value="{{2014+k}}">{{2014+k}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="Q" id="Q" style="width:80px;" placeholder="选择执行季度">
                {% for k in range(1,5) %}
                    <option value='Q{{k}}'>Q{{k}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="location_id" name="location_id" placeholder="选择区域" style="width:100px;">
                <option value='0'>所有区域</option>
                <option value="1">华北区</option>
                <option value="2">华东区</option>
                <option value="3">华南区</option>
            </select>
        </div>
        <input type="submit" value="查询" class="btn btn-sm btn-info" >
        <input type="button" value="导出Excel" class="btn btn-sm btn-default" onclick="javascript:download();">
        </form>
    </div>
    <br/>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>投放媒体</th>
          <th>合同金额</th>
          <th>媒体金额</th>
          <th>本季度确认额</th>
          {% for k in Q_monthes %}
          <th>{{k}}月执行额</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>豆瓣</th>
          <td>{{douban_data.Delivered|sum('money')|format_price}}</td>
          <td>{{douban_data.Delivered|sum('money')|format_price}}</td>
          <td>{{douban_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{douban_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{douban_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{douban_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>优力</th>
          <td>{{youli_data.Delivered|sum('money')|format_price}}</td>
          <td>{{youli_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{youli_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{youli_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{youli_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{youli_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>无线</th>
          <td>{{wuxian_data.Delivered|sum('money')|format_price}}</td>
          <td>{{wuxian_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{wuxian_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{wuxian_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{wuxian_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{wuxian_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>知乎</th>
          <td>{{zhihu_data.Delivered|sum('money')|format_price}}</td>
          <td>{{zhihu_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{zhihu_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{zhihu_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{zhihu_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{zhihu_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>微票儿</th>
          <td>{{weipiao_data.Delivered|sum('money')|format_price}}</td>
          <td>{{weipiao_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{weipiao_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{weipiao_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{weipiao_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{weipiao_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>ONE</th>
          <td>{{one_data.Delivered|sum('money')|format_price}}</td>
          <td>{{one_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{one_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{one_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{one_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{one_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>雪球</th>
          <td>{{xueqiu_data.Delivered|sum('money')|format_price}}</td>
          <td>{{xueqiu_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{xueqiu_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{xueqiu_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{xueqiu_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{xueqiu_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>虎嗅</th>
          <td>{{huxiu_data.Delivered|sum('money')|format_price}}</td>
          <td>{{huxiu_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{huxiu_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{huxiu_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{huxiu_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{huxiu_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>乐动力</th>
          <td>{{ledongli_data.Delivered|sum('money')|format_price}}</td>
          <td>{{ledongli_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{ledongli_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{ledongli_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{ledongli_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{ledongli_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>课程格子</th>
          <td>{{kecheng_data.Delivered|sum('money')|format_price}}</td>
          <td>{{kecheng_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{kecheng_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{kecheng_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{kecheng_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{kecheng_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>携程</th>
          <td>{{xiecheng_data.Delivered|sum('money')|format_price}}</td>
          <td>{{xiecheng_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{xiecheng_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{xiecheng_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{xiecheng_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{xiecheng_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>陌陌</th>
          <td>{{momo_data.Delivered|sum('money')|format_price}}</td>
          <td>{{momo_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{momo_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{momo_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{momo_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{momo_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>辣妈帮</th>
          <td>{{lama_data.Delivered|sum('money')|format_price}}</td>
          <td>{{lama_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{lama_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{lama_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{lama_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{lama_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>nice</th>
          <td>{{nice_data.Delivered|sum('money')|format_price}}</td>
          <td>{{nice_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{nice_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{nice_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{nice_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{nice_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>其他媒体</th>
          <td>{{other_data.Delivered|sum('money')|format_price}}</td>
          <td>{{other_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{other_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{other_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{other_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{other_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>媒介下单</th>
          <td>{{meijie_data.Delivered|sum('money')|format_price}}</td>
          <td>{{meijie_data.Delivered|sum('medium_money2')|format_price}}</td>
          <td>{{meijie_data.Delivered|sum('now_Q_money_check')|format_price}}</td>
          <th>{{meijie_data.Delivered|sum('first_month_money')|format_price}}</th>
          <td>{{meijie_data.Delivered|sum('second_month_money')|format_price}}</td>
          <td>{{meijie_data.Delivered|sum('third_month_money')|format_price}}</td>
        </tr>
        <tr>
          <th>总计</th>
          <td>{{total_money|format_price}}</td>
          <td>{{total_medium_money2|format_price}}</td>
          <td>{{total_now_Q_money_check|format_price}}</td>
          <th>{{total_first_month_money|format_price}}</th>
          <td>{{total_second_month_money|format_price}}</td>
          <td>{{total_third_month_money|format_price}}</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>投放媒体</th>
          <th>状态</th>
          <th>合同号（代理下单号）</th>
          <th>代理简称</th>
          <th>项目名称</th>
          <th>行业</th>
          <th>直客销售</th>
          <th>渠道销售</th>
          <th>合同金额（代理合同金额）</th>
          <th>媒体金额（媒体合同金额）</th>
          <th>本季度确认额</th>
          <th>本季度执行额</th>
          <th>上季度执行额</th>
          <th>下季度执行额</th>
          {% for k in Q_monthes %}
          <th>{{k}}月执行额</th>
          {% endfor %}
          <th>80%预估</th>
          <th>50%以上预估</th>
          <th>50%以下预估</th>
          <th>类型</th>
          <th>执行人员</th>
          <th>开始时间</th>
          <th>结束时间</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th rowspan="{{douban_data.Delivered|length + douban_data.Confirmed|length + 3}}">豆瓣</th>
        </tr>
        {% if douban_data.Delivered %}
            <tr>
                <td rowspan="{{douban_data.Delivered|length+1}}">确认 Delivered</td>
            </tr>
            {% for k in douban_data.Delivered %}
            <tr>
                <td>{{k.contract}}</td>
                <td>{{k.agent_name}}</td>
                <td>{{k.campaign}}</td>
                <td>{{k.industry_cn}}</td>
                <td>{{k.direct_sales_names}}</td>
                <td>{{k.agent_sales_names}}</td>
                <td>{{k.money|format_price}}</td>
                <td>{{k.medium_money2|format_price}}</td>
                <td>{{k.now_Q_money_check|format_price}}</td>
                <td>{{k.now_Q_money_zhixing|format_price}}</td>
                <td>{{k.last_Q_money|format_price}}</td>
                <td>{{k.after_Q_money|format_price}}</td>
                <td>{{k.first_month_money|format_price}}</td>
                <td>{{k.second_month_money|format_price}}</td>
                <td>{{k.third_month_money|format_price}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{k.resource_type_cn}}</td>
                <td>{{k.operater_names}}</td>
                <td>{{k.client_start}}</td>
                <td>{{k.client_end}}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>确认 Delivered</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        {% if douban_data.Confirmed %}
            <tr>
                <td rowspan="{{douban_data.Confirmed|length+1}}">流程中  Confirmed</td>
            </tr>
            {% for k in douban_data.Confirmed %}
            <tr>
                <td>{{k.contract}}</td>
                <td>{{k.agent_name}}</td>
                <td>{{k.campaign}}</td>
                <td>{{k.industry_cn}}</td>
                <td>{{k.direct_sales_names}}</td>
                <td>{{k.agent_sales_names}}</td>
                <td>{{k.money|format_price}}</td>
                <td>{{k.medium_money2|format_price}}</td>
                <td> </td>
                <td>{{k.now_Q_money_zhixing|format_price}}</td>
                <td>{{k.last_Q_money|format_price}}</td>
                <td>{{k.after_Q_money|format_price}}</td>
                <td>{{k.first_month_money|format_price}}</td>
                <td>{{k.second_month_money|format_price}}</td>
                <td>{{k.third_month_money|format_price}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{k.resource_type_cn}}</td>
                <td>{{k.operater_names}}</td>
                <td>{{k.client_start}}</td>
                <td>{{k.client_end}}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>流程中  Confirmed</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}

      </tbody>
    </table>
</div>
<script>
    $(function(){
        $("#Q").val('{{Q}}')
        $("#Q").trigger("chosen:updated");
        $("#year").val('{{now_year}}')
        $("#year").trigger("chosen:updated");
        $("#location_id").val('{{location_id}}')
        $("#location_id").trigger("chosen:updated");
    })
    function download(){
         window.location.href = window.location.pathname +
          '?year=' + $('#year').val() + '&Q=' + $('#Q').val() +
          '&location_id=' + $('#location_id').val()+ '&action=download';
    }
</script>
{% endblock %}