{% extends "/account/account_leave_base.html" %}
{% from 'form.html' import form_field %}
{% block title %}填写请假申请表{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    {% if leave %}
    <h3>修改请假申请表</h3>
    {% else %}
    <h3>填写请假申请表</h3>
    {% endif %}
    <form class="form form-horizontal" method="POST" onsubmit="return checkform(this)">
        {{form.csrf_token}}
        {{ form_field(form.type) }}
        <div class="form-group">
          <label for="client_start" class="col-sm-2 control-label">执行开始 : </label>
          <div class="col-sm-4">
            <input type="text" id="start" name="start" readonly="readonly" value="" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
          </div>
        </div>
        <div class="form-group">
          <label for="client_end" class="col-sm-2 control-label">执行结束 : </label>
          <div class="col-sm-4">
            <input type="text" id="end" name="end" value="" readonly="readonly" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
          </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">请假时长 : </label>
            <div class="col-sm-4">
                <select class="form-control bra-form-control" style="width:60%;" name="day" id="day">
                    {% for k in range(21) %}
                    <option value='{{k}}'>{{k}}天</option>
                    {% endfor %}
                </select>
                <select class="form-control bra-form-control" style="width:35%;" name="half" id="half">
                    <option value='0'>整</option>
                    <option value='1'>上半天</option>
                    <option value='2'>下半天</option>
                </select>
            </div>
        </div>
        {{ form_field(form.senders) }}
        {{ form_field(form.reason) }}
        <button type="submit" class="btn btn-primary btn-sm col-md-offset-2" name="status" value="1"/>保存不发申请</button>
        <button type="submit" class="btn btn-primary btn-sm col-md-offset-2" name="status" value="2"/>直接发出申请</button>
    </form>
</div>
<script>
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}

function checkform(obj){
    var start = obj.start.value
    var end = obj.end.value
    var reason = obj.reason.value
    var day = obj.day.value
    var half = obj.half.value
    if (start == ''){
        alert('请选择请假开始时间')
        obj.start.focus()
        return false;
    }else if(end == ''){
        alert('请选择请假结束时间')
        obj.end.focus()
        return false;
    }else if(reason == ''){
        alert('请选说明请假理由')
        obj.reason.focus()
        return false;
    }else if(day == '0' && half == '0'){
        alert('请选择请假天数')
        obj.day.focus()
        return false;
    }
    return true;
}

$(function(){
    {% if leave %}
        $('#start').val('{{leave.start_time_cn}}')
        $('#end').val('{{leave.end_time_cn}}')
        $('#day').val('{{leave.rate_day}}'.split('-')[0])
        $('#half').val('{{leave.rate_day}}'.split('-')[1])
        $("#day").trigger("chosen:updated");
        $("#half").trigger("chosen:updated");
    {% endif %}
    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        hours:[6,14,19],
        minView: 2,
    });
    $('#start').datetimepicker('setHoursDisabled', [0,1,2,3,4,5,6,7,8,9,11,12,13,15,16,17,18,20,21,22,23,24]);
    $('#end').datetimepicker('setHoursDisabled', [0,1,2,3,4,5,6,7,8,9,11,12,13,15,16,17,18,20,21,22,23,24]);
    $("#start").change(function(e){
        var end_date = $('#end').val()
        if (end_date == ''){
            var endDate = new Date($('#start').val());
            endDate.setDate(endDate.getDate() + 1); 
            $('#end').val(endDate.Format("yyyy-MM-dd"))
            $('#end').datetimepicker('setStartDate', endDate.Format("yyyy-MM-dd"));
        }
    });
})
</script>
{% endblock %}
