{% extends "/account/account_leave_base.html" %}
{% from 'form.html' import form_field %}
{% block title %}填写请假申请表{% endblock %}

{% block main_box %}
<style>
    pre {
        background-color:#ffffff;
        border:1px solid #ffffff;
        width:250px;
    }
</style>
<div class="bra-main bra-box">
    <h3>请假申请表</h3>
    <form class="form form-horizontal">
        <div class="form-group">
          <label for="client_start" class="col-sm-2 control-label">类型 : </label>
          <div class="col-sm-8">
            <pre>{{leave.type_cn}}</pre>
          </div>
        </div>
        <div class="form-group">
          <label for="client_start" class="col-sm-2 control-label">执行开始 : </label>
          <div class="col-sm-8">
            <pre>{{leave.start_time_cn}}</pre>
          </div>
        </div>
        <div class="form-group">
          <label for="client_end" class="col-sm-2 control-label">执行结束 : </label>
          <div class="col-sm-8">
            <pre>{{leave.end_time_cn}}</pre>
          </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">请假时长 : </label>
            <div class="col-sm-8">
                <pre class="col-sm-8">{{leave.rate_day_cn}}</pre>
            </div>
        </div>
        <div class="form-group">
          <label for="client_start" class="col-sm-2 control-label">原因 : </label>
          <div class="col-sm-8">
            <pre>{{leave.reason}}</pre>
          </div>
        </div>
        <a style="width:100px;" class="btn btn-primary btn-sm col-md-offset-2" href="javascript:history.go(-1);">返回</a>
        
        {% if leave.status == 2 %}
          {% if leave.is_long_leave() %}
              {% if g.user.is_super_leader() %}
                  <a style="width:100px;" class="btn btn-primary btn-sm col-md-offset-2" href="{{url_for('account_leave.status', user_id=g.user.id, lid=leave.id)}}?status=3">通过</a>
                  <a style="width:100px;" class="btn btn-primary btn-sm col-md-offset-2" href="{{url_for('account_leave.status', user_id=g.user.id, lid=leave.id)}}?status=4">不通过</a>
              {% endif %}
          {% else %}
              {% if g.user in leave.creator.team_leaders or g.user.is_super_admin() %}
                  <a style="width:100px;" class="btn btn-primary btn-sm col-md-offset-2" href="{{url_for('account_leave.status', user_id=g.user.id, lid=leave.id)}}?status=3">通过</a>
                  <a style="width:100px;" class="btn btn-primary btn-sm col-md-offset-2" href="{{url_for('account_leave.status', user_id=g.user.id, lid=leave.id)}}?status=4">不通过</a>
              {% endif %}
          {% endif %}
        {% endif %}
    </form>
</div>
{% endblock %}
