{% extends "/base_v1_0_0.html" %}
{% block title %}请假列表{% endblock %}

{% block content %}
{% include "/account/account_leave_base_v1_0_0.html" %}
<style>
    pre {
        background-color:#ffffff;
        border:1px solid #ffffff;
    }
</style>
<div class="container bra-box" style="width:1600px;">
    <h3>{{title}}</h3>
    <div class="search-bar">
        <form class="menu-btn-bar" style="float:left;">
            <div class="select_option">
                <label for="sale_type" class="control-label">类型</label>
                <select class="form-control special_sale" name="type" id="type" style="width:120px;">
                    <option value="0">全部</value>
                    <option value="1">事假</value>
                    <option value="2">年假</value>
                    <option value="3">病假</value>
                    <option value="4">婚假</value>
                    <option value="5">产假</value>
                    <option value="6">丧假</value>
                    <option value="7">调休</value>
                </select>
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">状态</label>
                <select class="form-control special_sale" name="status" id="status" style="width:120px;">
                    <option value="100">所有状态</option>
                    <option value="2">申请中</value>
                    <option value="3">通过申请</value>
                </select>
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">下属</label>
                <select class="form-control special_sale" name="user_id" id="user_id" style="width:120px;">
                    <option value="0">全部</value>
                    {% for k in under_users %}
                    <option value="{{k.uid}}">{{k.name}}</value>
                    {% endfor %}
                </select>
            </div>
            <div class='select_option begin-time'>
                <label for="sale_type" class="control-label">时间</label>
                <label><input size="16" type="text" readonly class="datetimepicker form-control form_datetime" id="start" name="start" data-date-format="yyyy-mm-dd hh:ii"></label>
            </div>
            <div class='select_option end-time' style="margin-left:5px;">
                <label><input size="16" type="text" readonly class="datetimepicker form-control form_datetime" id="end" name="end" data-date-format="yyyy-mm-dd hh:ii"></label>
            </div>
            <div class="select_option screen">
                <input type="submit" value="筛选">
            </div>
            <div class="select_option return">
                <input type="button" value="导出" onclick="javascript:download();">
            </div>
        </form>
    </div>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>请假类型</th>
                    <th>请假人</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>请假时长</th>
                    <th>抄送人</th>
                    <th>审批人</th>
                    <th width="30%">原因</th>
                    <th>状态</th>
                    <th style="width:130px;">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for l in leaves %}
                <tr>
                    <td>{{l.type_cn}}</td>
                    <td><a href="{{url_for('account_leave.info', lid=l.id)}}">{{l.creator.name}}</a></td>
                    <td>{{l.start_time_cn}}</td>
                    <td>{{l.end_time_cn}}</td>
                    <td>{{l.rate_day_cn}}</td>
                    <td>{% for k in l.senders %}{{k.name}}</br>{% endfor %}</td>
                    <td>{% if l.is_long_leave() %}黄亮{% else %}{% for k in l.creator.team_leaders %}{{k.name}}</br>{% endfor %}{% endif %}</td>
                    <td><pre title="{{l.reason}}">{{l.reason|truncate_html(30)}}</pre></td>
                    <td>{{l.status_cn}}</td>
                    <td>
                        {% if title == '所有请假申请列表' %}
                            {% if g.user.is_OPS() %}
                                <a href="javascript:back('{{url_for('account_leave.status', user_id=g.user.id, lid=l.id)}}?status=0','{{l.creator.name}}')">取消请假</a><br/>
                            {% endif %}
                        {% else %}
                            {% if l.status != 3 %}
                                {% if l.is_long_leave() %}
                                    {% if g.user.is_super_leader() %}
                                        <a href="{{url_for('account_leave.status', user_id=g.user.id, lid=l.id)}}?status=3">通过</a><br/>
                                        <a href="{{url_for('account_leave.status', user_id=g.user.id, lid=l.id)}}?status=4">不通过</a><br/>
                                    {% endif %}
                                {% else %}
                                    {% if g.user in l.creator.team_leaders or g.user.is_super_leader() %}
                                        <a href="{{url_for('account_leave.status', user_id=g.user.id, lid=l.id)}}?status=3">通过</a><br/>
                                        <a href="{{url_for('account_leave.status', user_id=g.user.id, lid=l.id)}}?status=4">不通过</a><br/>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% set pages = leaves %}
    {% include "pagination.html" %}
</div>
<script>
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}

$(function(){
    $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true});
    $("#type").val("{{type}}")
    $("#type").trigger("chosen:updated");
    $("#status").val("{{status}}")
    $("#status").trigger("chosen:updated");
    $("#user_id").val("{{user_id}}")
    $("#user_id").trigger("chosen:updated");
    $('#start').val('{{start}}')
    $('#end').val('{{end}}')
    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2,
    });
    $("#start").change(function(e){
        var end_date = $('#end').val()
        if (end_date == ''){
            $('#end').val($('#start').val())
            $('#end').datetimepicker('setStartDate', $('#start').val());
        }
    });
})
function download(){
    window.location.href = '?action=excel'
}
function back(url, name){
    var flag=confirm("确定要取消:"+name+"的请假吗?");
    if(flag){
        window.location.href=url
    }
}
</script>
{% endblock %}
