{% extends "/account/account_leave_base.html" %}
{% block title %}请假列表{% endblock %}

{% block main_box %}
<style>
    pre {
        background-color:#ffffff;
        border:1px solid #ffffff;
    }
</style>
<div class="bra-main bra-box" style="width:1300px;">
    <h3>{{title}}</h3>
    <div class="search">
        <form class="form-inline" method="GET">
            <div class="form-group">
                <label for="">类型</label>
                <select id="type" name="type" placeholder="类型" style="width:150px;">
                    <option value="0">全部</value>
                    <option value="1">事假</value>
                    <option value="2">年假</value>
                    <option value="3">病假</value>
                    <option value="4">婚假</value>
                    <option value="5">产假</value>
                    <option value="6">丧假</value>
                    <option value="7">调休</value>
                </select>
            </div>
            <div class="form-group">
                <label for="">状态</label>
                <select id="status" name="status" placeholder="状态" style="width:150px;">
                    <option value="100">所有状态</option>
                    <option value="2">申请中</value>
                    <option value="3">通过申请</value>
                </select>
            </div>
            <div class="form-group">
                <label for="">下属</label>
                <select id="user_id" name="user_id" placeholder="下属" style="width:150px;">
                    <option value="0">全部</value>
                    {% for k in under_users %}
                    <option value="{{k.uid}}">{{k.name}}</value>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="">开始时间</label>
                <input type="text" id="start" name="start" readonly="readonly" value="" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
            </div>
            <div class="form-group">
                <label for="">结束时间</label>
                <input type="text" id="end" name="end" value="" readonly="readonly" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
            </div>
            <button type="submit" class="btn btn-sm btn-info">查询</button>
        </form>
    </div>
    <br/>
    <table class="table table-bordered">
        <tr>
            <th>请假类型</th>
            <th>请假人</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>请假时长</th>
            <th>抄送人</th>
            <th>审批人</th>
            <th width="30%">原因</th>
            <th>状态</th>
            <th style="width:130px;">操作</th>
        </tr>
        {% for l in leaves %}
        <tr>
            <td>{{l.type_cn}}</td>
            <td><a href="{{url_for('account_leave.info', lid=l.id)}}">{{l.creator.name}}</a></td>
            <td>{{l.start_time_cn}}</td>
            <td>{{l.end_time_cn}}</td>
            <td>{{l.rate_day_cn}}</td>
            <td>{% for k in l.senders %}{{k.name}}</br>{% endfor %}</td>
            <td>{% for k in l.creator.team_leaders %}{{k.name}}</br>{% endfor %}</td>
            <td><pre>{{l.reason}}</pre></td>
            <td>{{l.status_cn}}</td>
            <td>
                {% if title == '所有请假申请列表' %}
                    {% if g.user.is_OPS() %}
                        <a href="{{url_for('account_leave.status', user_id=g.user.id, lid=l.id)}}?status=0">取消请假</a><br/>
                    {% endif %}
                {% else %}
                    {% if l.status != 3 %}
                        {% if l.is_long_leave() %}
                            {% if g.user.is_super_leader() %}
                                <a href="{{url_for('account_leave.status', user_id=g.user.id, lid=l.id)}}?status=3">通过</a><br/>
                                <a href="{{url_for('account_leave.status', user_id=g.user.id, lid=l.id)}}?status=4">不通过</a><br/>
                            {% endif %}
                        {% else %}
                            {% if g.user in l.creator.team_leaders or g.user.is_super_leader() %}
                                <a href="{{url_for('account_leave.status', user_id=g.user.id, lid=l.id)}}?status=3">通过</a><br/>
                                <a href="{{url_for('account_leave.status', user_id=g.user.id, lid=l.id)}}?status=4">不通过</a><br/>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% set pages = leaves %}
    {% include "pagination.html" %}
</div>
<script>
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}

$(function(){
    //$("#type option[value='{{type}}']").attr("selected","selected");  
    $("#type").val("{{type}}")
    $("#type").trigger("chosen:updated");
    $("#status").val("{{status}}")
    $("#status").trigger("chosen:updated");
    $("#user_id").val("{{user_id}}")
    $("#user_id").trigger("chosen:updated");
    $('#start').val('{{start}}')
    $('#end').val('{{end}}')
    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2,
    });
    $("#start").change(function(e){
        var end_date = $('#end').val()
        if (end_date == ''){
            $('#end').val($('#start').val())
            $('#end').datetimepicker('setStartDate', $('#start').val());
        }
    });
})
</script>
{% endblock %}
