{% from 'form.html' import form_field %}
{% extends "/base.html" %}
{% block title %}系统通知{% endblock %}
{% block content %}
<style>
.bra-box{
  margin-top:0;
}
</style>
  <div class="container bra-box" style="min-width: 950px;min-height:800px;">
    <div class="row" style="margin-top: 85px;">
        <div class="col-md-1"></div>
        <div class="col-md-10 main">
          <h3>通知列表<a class="btn btn-sm btn-success" href="{{url_for('account_data.notice_create')}}">发布通知</a></h1>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>发布时间</th>
                <th>标题</th>
                <th>发布人</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              {% for k in notices %}
              <tr>
                <td>{{k.create_time_cn}}</td>
                <td>{{k.title}}</td>
                <td>{{k.creator.name}}</td>
                <td>
                  <a href="{{url_for('account_data.notice_update', nid=k.id)}}">修改</a><br/>
                  <a href="javascript:delete_notice('{{k.title}}','{{url_for('account_data.notice_delete', nid=k.id)}}');">删除<a/>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <script>
  function delete_notice(title, url){
      var msg = "您真的确定要删除"+title+"吗？"; 
      if (confirm(msg)==true){ 
        window.location.href = url;
      }
  }
  </script>
{% endblock %}