{% extends "/client_base.html" %}
{% block title %} 媒体返点信息列表{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3>新建 {{medium.name}} 返点信息</h3>
    <form class="form form-horizontal" method="POST" action="{{url_for('client.medium_rebate_create', medium_id=medium.id)}}" onsubmit="return check_form(this);">
        <div class="form-group">
          <label for="client_start" class="col-sm-2 control-label">执行年 : </label>
          <div class="col-sm-4">
            <select name="year" id="year" style="width:120px;">
                {% for k in range(0, 10) %}
                <option value="{{2014+k}}">{{2014+k}}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="client_start" class="col-sm-2 control-label">返点信息 : </label>
          <div class="col-sm-6">
            <input type="number" name="rebate" step="any" id="rebate" class="form-control bra-form-control" placeholder="请输入数字" />
            <span style="color:red;" class="tips">%</span>
          </div>
        </div>
        <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
        <a href="{{url_for('client.medium_rebate', medium_id=medium.id)}}" class="btn btn-primary btn-sm col-md-offset-2">返回</a>
    </from>
</div>
<script>
function check_form(obj){
    if (obj.rebate.value == ''){
        alert('请输入返点信息')
        obj.rebate.focus()
        return false;
    }
    return true;
}
</script>
{% endblock %}