<div class="container-fluid top_nav_fluid">
    <div class="menu">
        <div class="list">
            <ul>
                <a href="{{url_for('account_out.index')}}">
                    <li id="__">我的外出报备</li>
                </a>
                {% if g.user.is_kpi_leader %}
                <a href="{{url_for('account_out.underling')}}">
                    <li id="_underling_">下属的外出报备</li>
                </a>
                {% endif %}
                {% if g.user.is_HR_leader() or g.user.is_OPS() or g.user.is_super_leader() or g.user.email in ['huhui@inad.com'] %}
                <a href="{{url_for('account_out.outs')}}">
                    <li id="_outs_">所有外出报备列表</li>
                </a>
                {% endif %}
                <div class="line" style="clear: both"></div>
            </ul>
        </div>
    </div>
    <div class="form-list">
    </div>
</div>
<script>
    $(function(){
        var pathname = window.location.pathname;
        var p_pathname = pathname.split('/')
        if (p_pathname[3]=='outs'){
            $('#_'+p_pathname[3]+'_').addClass("on");
        }else if (p_pathname[3]=='underling'){
            $('#_'+p_pathname[3]+'_').addClass("on");
        }else{
            $('#__').addClass("on");
        }
        
    })
</script>