{% extends "/account/account_base.html" %}
{% from 'form.html' import form_tpl_ex_form %}
{% block title %}审批绩效考核表{% endblock %}

{% block main_box %}
<div class="bra-main bra-box" style="width:1100px;">
    <h3>审批修改绩效考核表&nbsp;&nbsp;&nbsp;<a style="color:red;" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">查看填写说明</a></h3>
    <form class="form form-horizontal" method="POST" action="{{url_for('account_kpi.check_apply', r_id=report.id)}}" onsubmit="return check_form(this);">
        <table class="table table-bordered">
            <tr>
                <th>填表日期：</th>
                <th>{{report.create_time.strftime('%Y-%m-%d')}}</th>
                <th>姓名：</th>
                <th>{{report.creator.name}}</th>
                <th>职务：</th>
                <th>{{report.creator.team.name}}</th>
                <th>考核周期：</th>
                <th>{{report.version_cn}}</th>
            </tr>
        </table>
        <table class="table table-bordered">
            <tr style="background-color: #AAAAAA;">
                <th colspan=12 style="text-align:center;">关键绩效考核指标（KPI）</th>
                <th style="text-align:right;">KPI权重：</th>
                <th colspan=2>80%</th>
            </tr>
            <tr>
                <th colspan=2 style="text-align:center;">维度</th>
                <th colspan=5 style="text-align:center;">指标说明（指标含义、计算公式或说明）</th>
                <th colspan=4 style="text-align:center;">衡量标准(请尽量量化评价标准）</th>
                <th>权重%</th>
                <th style="text-align:center;">实际完成情况</th>
                <th style="text-align:center;">员工自评</th>
                <th style="text-align:center;">上级评分</th>
            </tr>
            <tr>
                <th rowspan=4 colspan=2 style="text-align:center;">KR指标</th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.now_report_obj.kr_1_key}}</th>
                <th colspan=4>{{report.now_report_obj.kr_1_value}}</th>
                <th>{{report.now_report_obj.kr_1_w}}%</th>
                <th>{{report.now_report_obj.kr_1_res}}</th>
                <th>{{report.now_report_obj.kr_1_s}}</th>
                <th><select id="leader_kr_1_s" style="width:60px;" name="leader_kr_1_s" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.now_report_obj.kr_2_key}}</th>
                <th colspan=4>{{report.now_report_obj.kr_2_value}}</th>
                <th>{{report.now_report_obj.kr_2_w}}%</th>
                <th>{{report.now_report_obj.kr_2_res}}</th>
                <th>{{report.now_report_obj.kr_2_s}}</th>
                <th><select id="leader_kr_2_s" style="width:60px;" name="leader_kr_2_s" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.now_report_obj.kr_3_key}}</th>
                <th colspan=4>{{report.now_report_obj.kr_3_value}}</th>
                <th>{{report.now_report_obj.kr_3_w}}%</th>
                <th>{{report.now_report_obj.kr_3_res}}</th>
                <th>{{report.now_report_obj.kr_3_s}}</th>
                <th><select id="leader_kr_3_s" style="width:60px;" name="leader_kr_3_s" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            <tr>
                <th rowspan=4 colspan=2  style="text-align:center;">改进提升</th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.now_report_obj.up_1_key}}</th>
                <th colspan=4>{{report.now_report_obj.up_1_value}}</th>
                <th>{{report.now_report_obj.up_1_w}}%</th>
                <th>{{report.now_report_obj.up_1_res}}</th>
                <th>{{report.now_report_obj.up_1_s}}</th>
                <th>
                    <select id="leader_up_1_s" name="leader_up_1_s" style="width:60px;" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.now_report_obj.up_2_key}}</th>
                <th colspan=4>{{report.now_report_obj.up_2_value}}</th>
                <th>{{report.now_report_obj.up_2_w}}%</th>
                <th>{{report.now_report_obj.up_2_res}}</th>
                <th>{{report.now_report_obj.up_2_s}}</th>
                <th>
                    <select id="leader_up_2_s" name="leader_up_2_s" style="width:60px;" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.now_report_obj.up_3_key}}</th>
                <th colspan=4>{{report.now_report_obj.up_3_value}}</th>
                <th>{{report.now_report_obj.up_3_w}}%</th>
                <th>{{report.now_report_obj.up_3_res}}</th>
                <th>{{report.now_report_obj.up_3_s}}</th>
                <th>
                    <select id="leader_up_3_s" name="leader_up_3_s" style="width:60px;" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            {% if type == 2 %}
            <tr>
                <th rowspan=4 colspan=2 style="text-align:center;">管理指标</th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.now_report_obj.manage_1_key}}</th>
                <th colspan=4>{{report.now_report_obj.manage_1_value}}</th>
                <th>{{report.now_report_obj.manage_1_w}}%</th>
                <th>{{report.now_report_obj.manage_1_res}}</th>
                <th>{{report.now_report_obj.manage_1_s}}</th>
                <th><select id="leader_manage_1_s" name="leader_manage_1_s" style="width:60px;" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.now_report_obj.manage_2_key}}</th>
                <th colspan=4>{{report.now_report_obj.manage_2_value}}</th>
                <th>{{report.now_report_obj.manage_2_w}}%</th>
                <th>{{report.now_report_obj.manage_2_res}}</th>
                <th>{{report.now_report_obj.manage_2_s}}</th>
                <th><select id="leader_manage_2_s" name="leader_manage_2_s" style="width:60px;" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.now_report_obj.manage_3_key}}</th>
                <th colspan=4>{{report.now_report_obj.manage_3_value}}</th>
                <th>{{report.now_report_obj.manage_3_w}}%</th>
                <th>{{report.now_report_obj.manage_3_res}}</th>
                <th>{{report.now_report_obj.manage_3_s}}</th>
                <th><select id="leader_manage_3_s" name="leader_manage_3_s" style="width:60px;" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            {% endif %}
            <tr style="background-color: #AAAAAA;">
                <th colspan=11 style="text-align:right;">KPI权重合计：</th>
                <th id="total_kpi_w">0%</th>
                <th style="text-align:right;">KPI评分合计：</th>
                <th>{{report.self_KR_score+report.self_upper_score+report.self_manage_score}}</th>
                <th id="total_leader_kpi_s">0.00</th>
            </tr>
            <tr style="background-color: #AAAAAA;">
                <th colspan=12 style="text-align:center;">胜任能力评估</th>
                <th style="text-align:right;">胜任能力权重：</th>
                <th colspan=2>20%</th>
            </tr>
            <tr>
                <th colspan=5>胜任能力</th>
                <th colspan=6>能力说明</th>
                <th>    </th>
                <th>实际行为表现</th>
                <th>员工自评</th>
                <th>上级评分</th>
            </tr>
            <tr>
                <th colspan=5 >知识技能</th>
                <th colspan=6>具备胜任目前工作所需要的各项知识技能和技巧。</th>
                <th>4%</th>
                <th>{{report.now_report_obj.knowledge_res}}</th>
                <th>{{report.now_report_obj.knowledge_s}}</th>
                <th><select id="leader_knowledge_s" name="leader_knowledge_s" style="width:60px;" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            <tr>
                <th colspan=5>积极主动</th>
                <th colspan=6>工作积极主动，不计较个人得失。 </th>
                <th>4%</th>
                <th>{{report.now_report_obj.positive_res}}</th>
                <th>{{report.now_report_obj.positive_s}}</th>
                <th>
                    <select id="leader_positive_s" name="leader_positive_s" style="width:60px;" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            <tr>
                <th colspan=5>团队合作</th>
                <th colspan=6>团队合作意识强，包括部门内部及跨部门合作。</th>
                <th>4%</th>
                <th>{{report.now_report_obj.team_res}}</th>
                <th>{{report.now_report_obj.team_s}}</th>
                <th>
                    <select id="leader_team_s" name="leader_team_s" style="width:60px;" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            <tr>
                <th colspan=5>学习能力</th>
                <th colspan=6>开放心态，具备自我学习和成长的能力和意识。</th>
                <th>4%</th>
                <th>{{report.now_report_obj.teach_res}}</th>
                <th>{{report.now_report_obj.teach_s}}</th>
                <th>
                    <select id="leader_teach_s" name="leader_teach_s" style="width:60px;" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            <tr>
                <th colspan=5>遵规守纪</th>
                <th colspan=6>遵守部门工作纪律，遵循公司各项规章制度。</th>
                <th>4%</th>
                <th>{{report.now_report_obj.abide_res}}</th>
                <th>{{report.now_report_obj.abide_s}}</th>
                <th><select id="leader_abide_s" name="leader_abide_s" style="width:60px;" onchange="calculate_data(this)">
                        {% for k in scores %}
                            <option value="{{k}}">{{k}}</option>
                        {% endfor %}
                    </select></th>
            </tr>
            <tr style="background-color: #AAAAAA;">
                <th colspan=11 style="text-align:right;">胜任力权重合计：</th>
                <th>20%</th>
                <th style="text-align:right;">胜任能力评分合计：</th>
                <th>{{report.self_ability_score}}</th>
                <th id="competence_leader_total_s">0.00</th>
            </tr>
            <tr>
                <th colspan=5 style="text-align:center;">权重总计：</th>
                <th>100%</th>
                <th colspan=7 style="text-align:right;">ΣKPI（评分*权重）+Σ胜任力（评分*权重）=绩效评估总分</th>
                <th>{{report.self_total_score}}</th>
                <th id="total_leader_s">0.00</th>
            </tr>
            <tr>
                <th colspan=5 >自我总结：</th>
                <th colspan=10 height="100px;">{{report.now_report_obj.self_summary}}</th>
            </tr>
            <tr>
                <th colspan=5>上级评语：</th>
                <th colspan=10 height="100px;"><textarea id="leader_summary" name="leader_summary" class="form-control bra-form-control" style="resize:none; width:99%; height:100px;">{{report.now_report_obj.leader_summary}}</textarea></th>
            </tr>
            <!--下半年规划开始-->
            <tr style="background-color: #AAAAAA;">
                <th colspan=12 style="text-align:center;">2015年6-12月关键绩效考核指标（KPI）</th>
                <th style="text-align:right;">KPI权重：</th>
                <th colspan=2>80%</th>
            </tr>
            <tr>
                <th colspan=2 style="text-align:center;">维度</th>
                <th colspan=5 style="text-align:center;">指标说明（指标含义、计算公式或说明）</th>
                <th colspan=4 style="text-align:center;">衡量标准(请尽量量化评价标准）</th>
                <th>权重%</th>
                <th style="text-align:center;">实际完成情况</th>
                <th style="text-align:center;">员工自评</th>
                <th style="text-align:center;">上级评分</th>
            </tr>
            <tr>
                <th rowspan=4 colspan=2 style="text-align:center;">KR指标</th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.future_report_obj.next_kr_1_key}}</th>
                <th colspan=4>{{report.future_report_obj.next_kr_1_value}}</th>
                <th>{{report.future_report_obj.next_kr_1_w}}%</th>
                <th>{{report.future_report_obj.next_kr_1_res}}</th>
                <th>无</th>
                <th>无</th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.future_report_obj.next_kr_2_key}}</th>
                <th colspan=4>{{report.future_report_obj.next_kr_2_value}}</th>
                <th>{{report.future_report_obj.next_kr_2_w}}%</th>
                <th>{{report.future_report_obj.next_kr_2_res}}</th>
                <th>无</th>
                <th>无</th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.future_report_obj.next_kr_3_key}}</th>
                <th colspan=4>{{report.future_report_obj.next_kr_3_value}}</th>
                <th>{{report.future_report_obj.next_kr_3_w}}%</th>
                <th>{{report.future_report_obj.next_kr_3_res}}</th>
                <th>无</th>
                <th>无</th>
            </tr>
            <tr>
                <th rowspan=4 colspan=2  style="text-align:center;">改进提升</th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.future_report_obj.next_up_1_key}}</th>
                <th colspan=4>{{report.future_report_obj.next_up_1_value}}</th>
                <th>{{report.future_report_obj.next_up_1_w}}%</th>
                <th>{{report.future_report_obj.next_up_1_res}}</th>
                <th>无</th>
                <th>无</th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.future_report_obj.next_up_2_key}}</th>
                <th colspan=4>{{report.future_report_obj.next_up_2_value}}</th>
                <th>{{report.future_report_obj.next_up_2_w}}%</th>
                <th>{{report.future_report_obj.next_up_2_res}}</th>
                <th>无</th>
                <th>无</th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.future_report_obj.next_up_3_key}}</th>
                <th colspan=4>{{report.future_report_obj.next_up_3_value}}</th>
                <th>{{report.future_report_obj.next_up_3_w}}%</th>
                <th>{{report.future_report_obj.next_up_3_res}}</th>
                <th>无</th>
                <th>无</th>
            </tr>
            {% if type == 2 %}
            <tr>
                <th rowspan=4 colspan=2 style="text-align:center;">管理指标</th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.future_report_obj.next_manage_1_key}}</th>
                <th colspan=4>{{report.future_report_obj.next_manage_1_value}}</th>
                <th>{{report.future_report_obj.next_manage_1_w}}%</th>
                <th>{{report.future_report_obj.next_manage_1_res}}</th>
                <th>无</th>
                <th>无</th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.future_report_obj.next_manage_2_key}}</th>
                <th colspan=4>{{report.future_report_obj.next_manage_2_value}}</th>
                <th>{{report.future_report_obj.next_manage_2_w}}%</th>
                <th>{{report.future_report_obj.next_manage_2_res}}</th>
                <th>无</th>
                <th>无</th>
            </tr>
            <tr height="50px;">
                <th colspan=5>{{report.future_report_obj.next_manage_3_key}}</th>
                <th colspan=4>{{report.future_report_obj.next_manage_3_value}}</th>
                <th>{{report.future_report_obj.next_manage_3_w}}%</th>
                <th>{{report.future_report_obj.next_manage_3_res}}</th>
                <th>无</th>
                <th>无</th>
            </tr>
            {% endif %}
            <tr style="background-color: #AAAAAA;">
                <th colspan=11 style="text-align:right;">KPI权重合计：</th>
                <th id="next_total_kpi_w">0%</th>
                <th style="text-align:right;">KPI评分合计：</th>
                <th id="next_total_kpi_s">0.00</th>
                <th>未评分</th>
            </tr>
            <!--下半年规划结束-->
        </table>
        <br/><br/>
        <a href="{{url_for('account_kpi.index')}}" class="btn btn-primary btn-sm col-md-offset-3" style="width:150px;">返回</a>
        <input type="submit" class="btn btn-primary btn-sm col-md-offset-3" style="width:150px;" value="保存"/>
    </from>
</div>
<!--填写说明开始-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myLargeModalLabel">填写说明</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="col-sm-12">1. 评分为5分制，评分标准请见右侧《绩效评分&等级标准》。</div>
            <div class="col-sm-12">2. 包括KR和胜任力两部分组成，权重分别为80%和20%。其中KR指标分为改进提升指标、业绩目标。</div>
            <div class="col-sm-12">3. 管理人员需要填写管理指标，使用管理表单。</div>
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <tr>
                        <th>KPI评分档</th>
                        <th>评分标准</th>
                        <th>绩效等级</th>
                        <th>等级说明</th>
                        <th style="width:80px;">绩效总分</th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <th>杰出</th>
                        <th rowspan=3>A</th>
                        <th rowspan=3>显著超过预期绩效目标或能力要求，并在目标达成过程中体现的行为态度都堪称典范，对团队其他成员有重要影响。</th>
                        <th rowspan=3>≧4</th>
                    </tr>
                    <tr>
                        <th>4.5</th>
                        <th>持续一贯地超出期望</th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <th>超出期望</th>
                    </tr>
                    <tr>
                        <th>3.75</th>
                        <th>部分超出期望</th>
                        <th>B</th>
                        <th>达到绩效目标和能力要求，同时在主要业务领域取得较突出成绩，并在过程中持续保持良好的行为态度，能够对团队其他成员产生一定影响。</th>
                        <th>3.75-4</th>
                    </tr>
                    <tr>
                        <th>3.5</th>
                        <th>符合期望</th>
                        <th rowspan=3>C</th>
                        <th rowspan=3>基本达到绩效目标和能力要求，并在过程中保持较好的行为态度。</th>
                        <th rowspan=3>3-3.75</th>
                    </tr>
                    <tr>
                        <th>3.25</th>
                        <th>基本符合期望，还需提高</th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <th>达到最低要求，有待改进</th>
                    </tr>
                    <tr>
                        <th>2.5</th>
                        <th>基本不能胜任</th>
                        <th rowspan=2>D</th>
                        <th rowspan=2>未达到绩效目标或能力要求，无法胜任本岗位，淘汰/调岗。</th>
                        <th rowspan=2>＜3</th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th>不合格</th>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12"> 注：绩效总分区间含下限不含上限</div>
          </div>
        </div>
      </div>
    </div>
</div>
<!--填写说明结束-->
<script>
    function check_form(obj){
        if (parseInt('{{report.now_report_obj.kr_1_w}}') > 0){
            var leader_kr_1_s = $('#leader_kr_1_s')
            if (parseFloat(leader_kr_1_s.val())==0){
                alert('请为有权重项目评分')
                leader_kr_1_s.focus()
                return false
            }
        }
        if (parseInt('{{report.now_report_obj.kr_2_w}}') > 0){
            var leader_kr_2_s = $('#leader_kr_2_s')
            if (parseFloat(leader_kr_2_s.val())==0){
                alert('请为有权重项目评分')
                leader_kr_2_s.focus()
                return false
            }
        }
        if (parseInt('{{report.now_report_obj.kr_3_w}}') > 0){
            var leader_kr_3_s = $('#leader_kr_3_s')
            if (parseFloat(leader_kr_3_s.val())==0){
                alert('请为有权重项目评分')
                leader_kr_3_s.focus()
                return false
            }
        }
        if (parseInt('{{report.now_report_obj.up_1_w}}') > 0){
            var leader_up_1_s = $('#leader_up_1_s')
            if (parseFloat(leader_up_1_s.val())==0){
                alert('请为有权重项目评分')
                leader_up_1_s.focus()
                return false
            }
        }
        if (parseInt('{{report.now_report_obj.up_2_w}}') > 0){
            var leader_up_2_s = $('#leader_up_2_s')
            if (parseFloat(leader_up_2_s.val())==0){
                alert('请为有权重项目评分')
                leader_up_2_s.focus()
                return false
            }
        }
        if (parseInt('{{report.now_report_obj.up_3_w}}') > 0){
            var leader_up_3_s = $('#leader_up_3_s')
            if (parseFloat(leader_up_3_s.val())==0){
                alert('请为有权重项目评分')
                leader_up_3_s.focus()
                return false
            }
        }
        if (parseInt('{{report.now_report_obj.manage_1_w}}') > 0){
            var leader_manage_1_s = $('#leader_manage_1_s')
            if (parseFloat(leader_manage_1_s.val())==0){
                alert('请为有权重项目评分')
                leader_manage_1_s.focus()
                return false
            }
        }
        if (parseInt('{{report.now_report_obj.manage_2_w}}') > 0){
            var leader_manage_2_s = $('#leader_manage_2_s')
            if (parseFloat(leader_manage_2_s.val())==0){
                alert('请为有权重项目评分')
                leader_manage_2_s.focus()
                return false
            }
        }
        if (parseInt('{{report.now_report_obj.manage_3_w}}') > 0){
            var leader_manage_3_s = $('#leader_manage_3_s')
            if (parseFloat(leader_manage_3_s.val())==0){
                alert('请为有权重项目评分')
                leader_manage_3_s.focus()
                return false
            }
        }
        if (parseFloat($('#leader_knowledge_s').val()) == 0){
            alert('请为知识技能项目评分')
            $('#leader_knowledge_s').focus()
            return false
        }
        if (parseFloat($('#leader_positive_s').val()) == 0){
            alert('请为积极主动项目评分')
            $('#leader_positive_s').focus()
            return false
        }
        if (parseFloat($('#leader_team_s').val()) == 0){
            alert('请为团队合作项目评分')
            $('#leader_team_s').focus()
            return false
        }
        if (parseFloat($('#leader_teach_s').val()) == 0){
            alert('请为学习能力项目评分')
            $('#leader_teach_s').focus()
            return false
        }
        if (parseFloat($('#leader_abide_s').val()) == 0){
            alert('请为遵守纪律项目评分')
            $('#leader_abide_s').focus()
            return false
        }

        if ($('#leader_summary').val()==''){
            alert('请留下您的评语')
            $('#leader_summary').focus()
            return false
        }
        return true
    }
    function calculate_data(obj){
        total_kpi_s = 0
        // kr 领导评分
        var kr_1_s = parseFloat($('#leader_kr_1_s').val())
        var kr_2_s = parseFloat($('#leader_kr_2_s').val())
        var kr_3_s = parseFloat($('#leader_kr_3_s').val())
        var up_1_s = parseFloat($('#leader_up_1_s').val())
        var up_2_s = parseFloat($('#leader_up_2_s').val())
        var up_3_s = parseFloat($('#leader_up_3_s').val())
        total_kpi_s = kr_1_s*parseInt('{{report.now_report_obj.kr_1_w}}')/100 +kr_2_s*parseInt('{{report.now_report_obj.kr_2_w}}')/100+kr_3_s*parseInt('{{report.now_report_obj.kr_3_w}}')/100+up_1_s*parseInt('{{report.now_report_obj.up_1_w}}')/100+up_2_s*parseInt('{{report.now_report_obj.up_2_w}}')/100+up_3_s*parseInt('{{report.now_report_obj.up_3_w}}')/100
        {% if type == 2 %}
        var manage_1_s = parseFloat($('#leader_manage_1_s').val())
        var manage_2_s = parseFloat($('#leader_manage_2_s').val())
        var manage_3_s = parseFloat($('#leader_manage_3_s').val())
        total_kpi_s += manage_1_s*parseInt('{{report.now_report_obj.manage_1_w}}')/100+manage_2_s*parseInt('{{report.now_report_obj.manage_2_w}}')/100+manage_3_s*parseInt('{{report.now_report_obj.manage_3_w}}')/100
        {% endif %}
        $('#total_leader_kpi_s').html(total_kpi_s.toFixed(2))

        var competence_total_s = 0
        var knowledge_s = parseFloat($('#leader_knowledge_s').val())
        var positive_s = parseFloat($('#leader_positive_s').val())
        var team_s = parseFloat($('#leader_team_s').val())
        var teach_s = parseFloat($('#leader_teach_s').val())
        var abide_s = parseFloat($('#leader_abide_s').val())
        var competence_total_s = knowledge_s*0.04 + positive_s*0.04 + team_s*0.04 + teach_s*0.04 + abide_s*0.04
        $('#competence_leader_total_s').html(competence_total_s.toFixed(2))
        $('#total_leader_s').html((total_kpi_s+competence_total_s).toFixed(2))
    }
    $(function(){
        {% if report.now_report_obj.leader_kr_1_s %}
        $('#leader_kr_1_s').val('{{report.now_report_obj.leader_kr_1_s}}')
        {% endif %}
        {% if report.now_report_obj.leader_kr_1_s %}
        $('#leader_kr_2_s').val('{{report.now_report_obj.leader_kr_2_s}}')
        {% endif %}
        {% if report.now_report_obj.leader_kr_1_s %}
        $('#leader_kr_3_s').val('{{report.now_report_obj.leader_kr_3_s}}')
        {% endif %}
        {% if report.now_report_obj.leader_kr_1_s %}
        $('#leader_up_1_s').val('{{report.now_report_obj.leader_up_1_s}}')
        {% endif %}
        {% if report.now_report_obj.leader_kr_1_s %}
        $('#leader_up_2_s').val('{{report.now_report_obj.leader_up_2_s}}')
        {% endif %}
        {% if report.now_report_obj.leader_kr_1_s %}
        $('#leader_up_3_s').val('{{report.now_report_obj.leader_up_3_s}}')
        {% endif %}
        {% if type == 2 %}
            {% if report.now_report_obj.leader_kr_1_s %}
            $('#leader_manage_1_s').val('{{report.now_report_obj.leader_manage_1_s}}')
            {% endif %}
            {% if report.now_report_obj.leader_kr_1_s %}
            $('#leader_manage_2_s').val('{{report.now_report_obj.leader_manage_2_s}}')
            {% endif %}
            {% if report.now_report_obj.leader_kr_1_s %}
            $('#leader_manage_3_s').val('{{report.now_report_obj.leader_manage_3_s}}')
            {% endif %}
        {% endif %}
        {% if report.now_report_obj.leader_kr_1_s %}
        $('#leader_knowledge_s').val('{{report.now_report_obj.leader_knowledge_s}}')
        {% endif %}
        $('#leader_knowledge_s').trigger("chosen:updated");
        {% if report.now_report_obj.leader_kr_1_s %}
        $('#leader_positive_s').val('{{report.now_report_obj.leader_positive_s}}')
        {% endif %}
        $('#leader_positive_s').trigger("chosen:updated");
        {% if report.now_report_obj.leader_kr_1_s %}
        $('#leader_team_s').val('{{report.now_report_obj.leader_team_s}}')
        {% endif %}
        $('#leader_team_s').trigger("chosen:updated");
        {% if report.now_report_obj.leader_kr_1_s %}
        $('#leader_teach_s').val('{{report.now_report_obj.leader_teach_s}}')
        {% endif %}
        $('#leader_teach_s').trigger("chosen:updated");
        {% if report.now_report_obj.leader_kr_1_s %}
        $('#leader_abide_s').val('{{report.now_report_obj.leader_abide_s}}')
        {% endif %}
        $('#leader_abide_s').trigger("chosen:updated");
        var keys = ['1','2','3']
        for(var i=0; i<keys.length;i++){
            $("#leader_kr_"+keys[i]+"_s").trigger("chosen:updated");
            $("#leader_up_"+keys[i]+"_s").trigger("chosen:updated");
            $("#leader_next_up_"+keys[i]+"_w").trigger("chosen:updated");
            {% if type == 2 %}
                $("#leader_manage_"+keys[i]+"_s").trigger("chosen:updated");
            {% endif %}
        }
        next_total_kpi_w = parseInt('{{report.future_report_obj.next_kr_1_w}}')+parseInt('{{report.future_report_obj.next_kr_2_w}}')+parseInt('{{report.future_report_obj.next_kr_3_w}}')+parseInt('{{report.future_report_obj.next_up_1_w}}')+parseInt('{{report.future_report_obj.next_up_2_w}}')+parseInt('{{report.future_report_obj.next_up_3_w}}')
        total_kpi_w = parseInt('{{report.now_report_obj.kr_1_w}}')+parseInt('{{report.now_report_obj.kr_2_w}}')+parseInt('{{report.now_report_obj.kr_3_w}}')+parseInt('{{report.now_report_obj.up_1_w}}')+parseInt('{{report.now_report_obj.up_2_w}}')+parseInt('{{report.now_report_obj.up_3_w}}')
        {% if type == 2 %}
        total_kpi_w += parseInt('{{report.now_report_obj.manage_1_w}}')+parseInt('{{report.now_report_obj.manage_2_w}}')+parseInt('{{report.now_report_obj.manage_3_w}}')
        next_total_kpi_w += parseInt('{{report.future_report_obj.next_manage_1_w}}')+parseInt('{{report.future_report_obj.next_manage_2_w}}')+parseInt('{{report.future_report_obj.next_manage_3_w}}')
        {% endif %}
        $('#total_kpi_w').html(total_kpi_w+'%')
        $('#next_total_kpi_w').html(next_total_kpi_w+'%')
        calculate_data('')
    })
</script>

{% endblock %}