{% extends "/base_v1_0_0.html" %}
{% block title %}下属绩效考核{% endblock %}

{% block content %}
{% include "/account/account_base_v1_0_0.html" %}
<div class="container bra-box" style="width:1500px;">
    <div class="search-bar">
        <form class="menu-btn-bar" style="float:right;" action="{{url_for('account_kpi.underling')}}?{{params}}">
            <div class="select_option">
                <label for="sale_type" class="control-label">版本</label>
                <select class="form-control special_sale" name="version" id="version" style="width:120px;">
                    {% for k, v in P_VERSION_CN.items() %}
                    <option value="{{k}}">{{v}}<option>
                    {% endfor %}
                </select>
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">状态</label>
                <select class="form-control special_sale" name="status" id="status" style="width:120px;">
                    <option value='0'>所有状态</option>
                    <option value="6">员工评分中</option>
                    <option value="2">Leader审批中</option>
                    <option value="4">HR整理中</option>
                    <option value="5">归档</option>
                </select>
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">评分</label>
                <select class="form-control special_sale" name="total_score" id="total_score" style="width:120px;">
                    <option value='0'>所有评分</option>
                    <option value='5'>杰出</option>
                    <option value="4.5-5">持续一贯地超出期望</option>
                    <option value="4-4.5">超出期望</option>
                    <option value="3.75-4">部分超出期望</option>
                    <option value="3.5-3.75">符合期望</option>
                    <option value="3.25-3.5">基本符合期望，还需提高</option>
                    <option value="3-3.25">达到最低要求，有待改进</option>
                    <option value="2.5-3">基本不能胜任</option>
                    <option value="0-2.5">不合格</option>
                </select>
            </div>
            <div class="select_option screen">
                <input type="submit" value="筛选">
            </div>
            {% if g.user.is_HR_leader() or g.user.is_super_leader() %}
            <div class="select_option return">
                <input type="button" value="导出" onclick="javascript:download();">
            </div>
            {% endif %}
        </form>
    </div>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>填写人</th>
                    <th>类型</th>
                    <th>KR指标自评分/上级评分</th>
                    <th>改进提升自评分/上级评分</th>
                    <th>管理指标自评分/上级评分</th>
                    <th>胜任能力自评分/上级评分</th>
                    <th>同事评分</th>
                    <th>绩效评估自评总分/上级评分</th>
                    <th>直属领导</th>
                    <th>状态</th>
                    <th style="width:150px;">员工评分状态</th>
                    <th style="width:120px;">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for k in reports %}
                <tr id="tr_{{k.id}}">
                    <td>
                    {% if k.version == 1 %}
                        <a href="{{url_for('account_kpi.info', r_id=k.id)}}">{{k.creator.name}}</a>
                    {% else %}
                        <a href="{{url_for('account_kpi.info_v2', r_id=k.id)}}">{{k.creator.name}}</a>
                    {% endif %}
                    </td>
                    <td>{{k.version_cn}}</td>
                    <td>{{k.self_KR_score}} / {% if k.status >= 3 %}{{k.KR_score}}{% else %}未评分{% endif %}</td>
                    <td>{{k.self_upper_score}} / {% if k.status >= 3 %}{{k.upper_score}}{% else %}未评分{% endif %}</td>
                    <td>{% if k.type == 2 %}
                            {{k.self_manage_score}}
                        {% else %}
                            无
                        {% endif %} /
                        {% if k.type == 2 %}
                            {% if k.status>=3 %}
                                {{k.manage_score}}
                            {%else%}
                                未评分
                            {% endif %}
                        {% else %}
                            无
                        {% endif %}</td>
                    <td>{{k.self_ability_score}} / {% if k.status>=3 %}{{k.ability_score}}{% else %}未评分{% endif %}
                    </td>
                    <td>{{k.personnal_score}}</td>
                    <td>{{k.self_total_score + k.personnal_score}} / {% if k.status>=3 %}{{k.total_score+k.personnal_score}}{% else %}未评分{% endif %}
                    </td>
                    <td>
                        {% for k in k.creator.team_leaders %}{{k.name}}<br/>{% endfor %}
                    </td>
                    <td>{{k.status_cn}}</td>
                    {% if k.version == 1 %}
                        <td>无</td>
                    {% elif k.version in [2, 3] %}
                        <td>{{k.personnal_status_cn|safe}}</td>
                    {% endif %}
                    <td>
                        {% if k.status == 2 and g.user.is_kpi_leader %}
                            <a href="{{url_for('account_kpi.apply', r_id=k.id, status=1)}}">打回重填</a><br/>
                            {% if k.version == 1 %}
                            <a href="{{url_for('account_kpi.check_apply', r_id=k.id)}}">审批</a><br/>
                            {% elif k.version in [2, 3] %}
                            <a href="{{url_for('account_kpi.check_apply_v2', r_id=k.id)}}">审批</a><br/>
                            {% endif %}
                        {% elif k.status == 3 and g.user.is_kpi_leader %}
                            {% if k.version == 1 %}
                            <a href="{{url_for('account_kpi.check_apply', r_id=k.id)}}">重新审批</a><br/>
                            {% elif k.version in [2, 3] %}
                            <a href="{{url_for('account_kpi.check_apply_v2', r_id=k.id)}}">重新审批</a><br/>
                            {% endif %}
                            <a href="{{url_for('account_kpi.apply', r_id=k.id, status=4)}}">提交HR</a><br/>
                        {% elif k.status == 4 and g.user.is_HR_leader() %}
                            <a href="{{url_for('account_kpi.apply', r_id=k.id, status=2)}}">打回重评</a><br/>
                            <a href="{{url_for('account_kpi.apply', r_id=k.id, status=5)}}">归档</a><br/>
                        {% elif k.status == 5 and g.user.is_HR_leader() %}
                            <a href="{{url_for('account_kpi.apply', r_id=k.id, status=4)}}">取消归档</a><br/>
                            <a href="{{url_for('account_kpi.info', r_id=k.id)}}?action=excel">下载</a><br/>
                        {% elif k.status == 6 %}
                            {% if g.user.is_HR_leader() or g.user.is_kpi_leader %}
                                <a href="{{url_for('account_kpi.check_apply_v2', r_id=k.id)}}">重新审批</a><br/>
                                <a href="javascript:notice('{{url_for('account_kpi.notice', r_id=k.id)}}')">发送提醒邮件</a><br/>
                            {% endif %}
                        {% endif %}
                        {% if g.user.is_admin() %}
                            <a href="javascript:deletes('{{url_for('account_kpi.delete', r_id=k.id)}}', '{{k.creator.name}}')">删除</a><br/>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% set pages = reports %}
    {% include "pagination.html" %}
</div>
<script>
    function notice(url){
        $.get(url, {}, function(data){
            alert('提醒成功');
        }, "json");
    }
    function download(){
        window.location.href="?action=excel"
    }
    function deletes(url, title){
        var flag=confirm("确定要删除:"+title+"这个人的绩效考核吗?");
        if(flag){
            $.get(url, {},
            function(data){
                $('#tr_'+data['id']).remove()
            }, "json");
        }
    }
    $(function(){
        $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true});
        $('#status').val('{{status}}')
        $('#status').trigger("chosen:updated");
        $('#total_score').val('{{total_score}}')
        $('#total_score').trigger("chosen:updated");
        $('#version').val('{{version}}')
        $('#version').trigger("chosen:updated");
    })
</script>
{% endblock %}