{% extends "base_v1_0_0.html" %}
{% block title %}系统通知{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/more_msg.css">
    <div class="container" style="min-width: 950px;border-right: 1px solid #99948d">
        <div class="row" style="margin-top:61px;">
            <div class="tabs">
                <div class="caption">
                    <div class="wrap" id="datetime">
                    </div>
                    <div id="button">
                        {% for n in notices %}
                        <li id="{{n.id}}">
                            <div class="icon">
                                <img src="/static/imgs/msg.png" alt="#">
                            </div>
                            <div class="time-val">
                                <span {% if loop.index0 == 0%}class="select"{% endif %}>{{n.create_time_cn}}</span>
                                <p {% if loop.index0 == 0%}class="select"{% endif %}>{{n.title}}</p>
                                <div class="content"><h5>{{n.title}}</h5>
                                    <h6>{{n.create_time_cn}}</h6>
                                    <pre>
                                        {{n.content|safe}}
                                    </pre>
                                </div>
                            </div>  
                        </li>
                        {% endfor %}
                    </div>
                    <div class="tcdPageCode">
                    </div>
                </div>
                <div id="content">
                {% if nid %}
                    <div class="con" style="display: block;">
                        <h5>{{notice.title}}</h5>
                        <h6>{{notice.create_time_cn}}</h6>
                        <pre>{{notice.content|safe}}</pre>
                    </div> 
                {% else %}
                    {% for n in notices %}
                        {% if loop.index0 == 0 %}
                            <div class="con" style="display: block;">
                                <h5>{{n.title}}</h5>
                                <h6>{{n.create_time_cn}}</h6>
                                <pre>{{n.content|safe}}</pre>
                            </div>  
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </div>
            </div> 
        </div>
    </div>   
<script>
$(function(){
    var nid = parseInt('{{nid}}');
    if (nid > 0){
        $('#button').find("p").removeClass("select");
        $('#button').find("span").removeClass("select")
        $('#'+nid.toString()).find("p").addClass("select")
        $('#'+nid.toString()).find("span").addClass("select")
    }
    
    $('#datetime').datetimepicker({
        format: "yyyy-mm-dd",
        language: "zh-CN",
        todayHighlight: true,
        minView: 2
    });
    $('#datetime').on("changeDate", function() {
        var date = $('#datetime').datetimepicker('getFormattedDate')
        $.ajax({
            type:'POST',
            url:"{{url_for('account_notice.index_jsonp')}}",
            async:true,
            dataType:'json',
            data:{'date':date},
            success:function(data){
                var obj = data['data'];
                $('#button').empty()
                $('#content').empty()
                var list_notice_str = ""
                var content_notice_str = ""
                for (var i=0; i<obj.length; i++){
                    var content = obj[i]['content']
                    var title = obj[i]['title']
                    var create_time_cn = obj[i]['create_time_cn']
                    if (i==0){
                        list_notice_str += "<li><div class='icon'><img src='/static/imgs/msg.png' alt='#''></div><div class='time-val'><span class='select'>"+create_time_cn+"</span><p class='select'>"+title+"</p><div class='content'><h5>"+title+"</h5><h6>"+create_time_cn+"</h6><pre>"+content+"</pre></div></div></li>"
                        
                        content_notice_str += "<div class='con' style='display: block;'><h5>"+title+"</h5><h6>"+create_time_cn+"</h6><pre>"+content+"</pre></div>"
                    }else{
                        list_notice_str += "<li><div class='icon'><img src='/static/imgs/msg.png' alt='#''></div><div class='time-val'><span>"+create_time_cn+"</span><p>"+title+"</p><div class='content'><h5>"+title+"</h5><h6>"+create_time_cn+"</h6><pre>"+content+"</pre></div></div></li>"
                    }
                    
                }
                $('#button').html(list_notice_str);
                $('#content').html(content_notice_str);
                on_show()
            }
        });
    });
})
</script>
{% endblock %}
{% block bottom_script %}
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css" type="text/css"/>
<script charset="utf-8" src="/static/js/more_msg.js"></script>
{% endblock %}



