{% extends "/base.html" %}
{% from '/saler/searchAd_order/agent/agent_invoice_form.html' import invoice_form %}
{% from 'comments.html' import comments_box %}
{% macro contract_box(order) -%}
<div class="container" style="width:100%;">
  <h4>客户返点发票与打款</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <th>客户返点总金额</th>
      <th>发票总金额</th>
      <th>已打款金额</th>
    </tr>
    <tr>
      <td>{{order.agent_money}}元</td> 
      <td>{{order.agents_invoice_sum}}元</td>
      <td>{{order.agents_invoice_pass_sum}}元</td>
    </tr>
  </table>
  <h4>发票详情</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <th>公司名称</th>
      <th>税号</th>
      <th>发票金额</th>
      <th>已打款金额</th>
      <th>申请中打款金额</th>
      <th>未打款金额</th>
      <th>开票时间</th>
      <th>发票类型</th>
      <th>发票号</th>
      <th>发票内容</th>
      <th width="5%">操作</th>
    </tr>
    {% for invoice in invoices %}
    <tr>
      <td>{{invoice.company}}</td>
      <td>{{invoice.tax_id}}</td>
      <td>{{invoice.money}}元</td>
      <td>{{invoice.get_pay_money}}元</td>
      <td>{{invoice.get_apply_pay_money}}元</td>
      <td>{{invoice.get_unpay_money}}元</td>
      <td>{{invoice.add_time_cn}}</td>
      <td>{{invoice.invoice_type_cn}}</td>
      <td>{{invoice.invoice_num}}</td>
      <td>{{invoice.detail}}</td>
      <td>
          <a href="{{url_for('searchAd_saler_client_order_agent_invoice.invoice',invoice_id=invoice.id)}}">查看</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="panel panel-default" id="new-invoice" style="display:none;">
    <div class="panel-heading">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion-invoice" href="#collapse-invoice-new"> 填写甲方发票 </a>
      </h4>
    </div>
    <div id="collapse-invoice-new" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="well">
          {{ invoice_form(order, new_invoice_form, INVOICE_TYPE_CN) }}
        </div>
      </div>
    </div>
  </div>
  <button onclick="showInvoice(this);" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> 填写发票</button>
</div>
<script>
showInvoice = function(ele) {
  $(ele).hide();
  $("#new-invoice").show();
};

function check_all(e) {
  $(e).parent().find(".invoice-id").prop("checked", $(e).prop("checked"));
  $(e).parent().find(".invoice-id").trigger("change");
}
$(function() {
  $(".invoice-id").change(function(e) {
    if ($(this).prop("checked")) {
      if ($("#form-invoice-" + $(this).val()).length < 1) {
        $(this).parents(".panel-collapse").find(".invoice-status-form")
          .append('<input class="hide invoices" name="invoices" id="form-invoice-' + $(this).val() + '" value="' + $(this).val() + '"/>');
      }
    } else {
      $(this).parents(".panel-collapse").find(".invoice-all").prop("checked", false);
      if ($("#form-invoice-" + $(this).val()).length > 0) {
        $("#form-invoice-" + $(this).val()).remove();
      }
    }
  });
  $(".invoice-btn").click(function(e) {
    var actionVal = $(this).val();
    var email = $(this).parents('form').find("#contract-email").val();
    var invoices = $(this).parents('form').find(".invoices");
    var msg = $(this).parents('form').find("#msg").val();
    if (invoices.length < 1) {
      alert("请勾选要申请的发票!");
      e.preventDefault();
    }
    if (actionVal == '2') {
      if (msg == "") {
        alert("请填写理由！");
        e.preventDefault();
      }
    }
  });
});
</script>
{%- endmacro %}
{% block content%}
{% include "/searchAdorder/searchad_order_base.html" %}
  <div class="container bra-box">
    <h4> {{ order.name }} </h4>
    <div>
      {% include "saler/searchAd_order/nav_base.html" %}
      <div class="tab-content">
        <div class="tab-pane active" id="tab-2">
          {{ contract_box(order) }}
          <div>{{ comments_box(order, msg_channel=5) }}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
