{% extends "/base_v1_0_0.html" %}
{% block title %}媒体订单发票与款项{% endblock %}

{% macro all_items(orders) -%}
<div class='tabulation'>
    <table border='1'>
        <thead>
            <tr>
                <th>代理/直客</th>
                <th>客户</th>
                <th>Campaign</th>
                <th>直客销售</th>
                <th>渠道销售</th>
                <th style="width:50px;">区域</th>
                <th style="width:170px;">合同号</th>
                <th style="width:100px;">媒体名称</th>
                <th>执行开始时间</th>
                <th>执行结束时间</th>
                <th>客户合同金额</th>
                <th>售卖金额</th>
                <th>已开客户发票金额</th>
                <th>客户回款金额</th>
                <th>客户付返点发票金额</th>
                <th>已开客户返点发票金额</th>
                <th>已打款客户返点金额</th>
                <th>媒体合同金额</th>
                <th>已收媒体发票金额</th>
                <th>付款给媒体金额</th>
                <th>已开媒体返点发票金额</th>
            </tr>
        </thead>
        <tbody>
            {% for o in orders %}
            <tr>
                <td>{{o.agent.name}}</td>
                <td>{{o.client.name}}</td>
                <td>{{o.campaign}}</td>
                <td>{{o.direct_sales_names}}</td>
                <td>{{o.agent_sales_names}}</td>
                <td>{{o.locations_cn}}</td>
                <td>{{o.contract}}</td>
                <td>
                    {% for mo in o.medium_orders %}    
                    {{mo.media.name}}
                    <br><br>
                    {% endfor %}
                </td>
                <td>{{o.start_date_cn}}</td>
                <td>{{o.end_date_cn}}</td>
                <td>{{o.money|format_price}}</td>
                <td>
                    {% for mo in o.medium_orders %}    
                    {{mo.sale_money}}
                    <br><br>
                    {% endfor %}
                </td>
                <td>{{o.pass_invoice_sum|format_price}}</td>
                <td>{{o.back_money_sum|format_price}}</td>
                <td>{{o.back_money_rebate_sum|format_price}}</td>
                <td>{{o.agent_invoice_sum|format_price}}</td>
                <td>{{o.agent_invoice_pay_sum|format_price}}</td>
                <td>{{o.mediums_money2|format_price}}</td>
                <td>{{o.medium_invoice_sum|format_price}}</td>
                <td>{{o.medium_invoice_pay_sum|format_price}}</td>
                <td>{{o.medium_invoice_rebate_invoice_sum|format_price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%- endmacro %}

{% block content %}
{% include "/data_query/data_query_base_v1_0_0.html" %}
<div class="container bra-box" style="width:3200px;">
    <h3 {% if g.user.is_super_leader() %}style="margin-top: 50px;"{% endif %}> 媒体发票与款项</h3>
    <div class="search-bar">
        <form class="menu-btn-bar" style="float: left;">
            <div class="search-input">
                <input type="text" placeholder="客户/代理/媒体/合同号/Campaign" value="{{info}}" name="info" id="info">
                <img src="/static/image/search.png" alt="#">
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">区域</label>
                <select class="form-control special_sale" name="location" id="location" style="width:150px;">
                    <option value="0">全国</option>
                    <option value="1">华北</option>
                    <option value="2">华东</option>
                    <option value="3">华南</option>
                </select>
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">执行年</label>
                <select class="form-control special_sale" name="year" id="year" style="width:150px;">
                    {% for k in range(5) %}
                    <option value="{{2014+k}}">{{2014+k}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">月</label>
                <select class="form-control special_sale" name="month" id="month" style="width:150px;">
                    <option value="00">全部</option>
                    {% for k in range(1, 13) %}
                        {% if k|string|length == 1 %}
                            <option value="0{{k}}">0{{k}}月</option>
                        {% else %}
                            <option value="{{k}}">{{k}}月</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="select_option screen">
                <input type="submit" value="筛选">
            </div>
            <div class="select_option return">
                <input type="button" value="导出" onclick="javascript:download();">
            </div>
        </form>
    </div>
    {{ all_items(orders) }}
</div>
<script>
function download(){
    var params = '?info=' + $('#info').val()+
                 '&location=' + ($('#location').val()) +
                 '&action=download';
    params += '&year='+$('#year').val()+
              '&month='+$('#month').val()
    window.location.href = window.location.pathname + params;
      
}
$(function(){
    $('select').chosen({disable_search: true});  
    $('#location').val('{{location}}')
    $("#location").trigger("chosen:updated");
    $('#year').val('{{year}}')
    $("#year").trigger("chosen:updated");
    $('#month').val('{{month}}')
    $("#month").trigger("chosen:updated");
    $('#start_time').val('{{start_time}}');
    $('#end_time').val('{{end_time}}');
});

$(document).ready(function(){
    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2
    });
})
</script>
{% endblock %}
