{% extends "base.html" %}
{% block title %}KOL资料{% endblock %}

{% block content %}
<div class="container" style="width: 1250px;min-height:700px;">
    <h3 style="margin-top: 85px;">KOL资料</h3>
    <br/>
    <ul class="nav nav-tabs">
      <li id="_design_"><a href="{{url_for('kol.index', type='design')}}">设计</a></li>
      <li id="_photo_"><a href="{{url_for('kol.index', type='photo')}}">摄影</a></li>
      <li id="_topic_"><a href="{{url_for('kol.index', type='topic')}}">文字评论</a></li>
      <li id="_trip_"><a href="{{url_for('kol.index', type='trip')}}">旅游</a></li>
      <li id="_beauty_"><a href="{{url_for('kol.index', type='beauty')}}">美妆</a></li>
      <li id="_food_"><a href="{{url_for('kol.index', type='food')}}">美食生活方式</a></li>
      <li id="_fashion_"><a href="{{url_for('kol.index', type='fashion')}}">时尚搭配</a></li>
      <li id="_muisc_"><a href="{{url_for('kol.index', type='muisc')}}">音乐</a></li>
      <li id="_decoration_"><a href="{{url_for('kol.index', type='decoration')}}">家居装潢</a></li>
      <li id="_sport_"><a href="{{url_for('kol.index', type='sport')}}">运动健身</a></li>
      <li id="_douban_"><a href="{{url_for('kol.index', type='douban')}}">豆瓣红人</a></li>
      <li id="_tech_"><a href="{{url_for('kol.index', type='tech')}}">科技类(含知乎)</a></li>
      <li id="_car_"><a href="{{url_for('kol.index', type='car')}}">汽车</a></li>
    </ul>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>主页</th>
          <th>所在地</th>
          <th>粉丝数</th>
          <th>介绍</th>
          <th>合作意向</th>
          <th>是否有合作</th>
          <th>综合评分</th>
          <th>联系方式</th>
        </tr>
      </thead>
      <tbody>
        {% for k in kols %}
        <tr>
          <td>{{k.name}}</td>
          <td><a href="{{k.url}}" target="_blank">查看</a></td>
          <td>{{k.location}}</td>
          <td>{{k.fans}}</td>
          <td>{{k.des}}</td>
          <td>{{k.is_to_work}}</td>
          <td>{{k.is_work}}</td>
          <td>{{k.score}}</td>
          <td>{{k.contact|safe}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<script>
  $(document).ready(function(){
    var pathname = window.location.pathname;
    var path_name = pathname.split("/")
    $('#_'+path_name[2]+'_').addClass('active');
  })
</script>
{% endblock %}