Flask==0.10.1
Flask-Login==0.2.11
Flask-Migrate==1.2.0
-e git+https://github.com/mitsuhiko/flask-sqlalchemy.git#egg=Flask-SQLAlchemy
Flask-Script==2.0.5
Flask-WTF==0.9.5
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.6
WTForms==1.0.5
Werkzeug==0.9.6
alembic==0.6.5
argparse==1.2.1
gunicorn==19.1.0
itsdangerous==0.24
mock==1.0.1
psycopg2==2.5.3
pytest==2.5.2
pytest-bdd==2.1.1
pytest-random==0.02
pytest-sugar==0.3.4
wsgiref==0.1.2
Flask-Mail==0.9.0
blinker==1.3
