{% extends "/finance/finance_base.html" %}
{% block title %}正在申请的媒体返点发票{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3>正在申请的媒体返点发票</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>直客/代理</th>
            <th>客户名称</th>
            <th>Campaign</th>
            <th>合同号</th>
            <th>投放媒体</th>
            <th>媒体总金额</th>
            <th>媒体返点总金额</th>
            <th>已开发票总金额</th>
            <th>未开发票总金额</th>
            <th>正在申请发票金额</th>
            <th>申请发票个数</th>
            <th>操作</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.agent.name }}</td>
            <td>{{ order.client.name }}</td>
            <td>{{ order.campaign }}</td>
            <td>{{ order.contract }}</td>
            <td>{{ order.mediums | map(attribute='name') | join(', ')}}</td>
            <td>{{ order.mediums_money2 }}</td>
            <td>{{ order.mediums_rebate_money }} 元</td>
            <td>{{ order.mediums_rebate_invoice_pass_sum }} 元</td>
            <td>{{ order.mediums_rebate_money - order.mediums_rebate_invoice_pass_sum }} 元</td>
            <td>{{ order.mediums_rebate_invoice_apply_sum }} 元</td>
            <td>{{ order.get_medium_rebate_invoice_by_status(3)|length }}</td>
            <td><a href="{{url_for('finance_client_order_medium_rebate_invoice.info', order_id=order.id)}}">查看</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
