{% extends "/base_v1_0_0.html" %}
{% block title %}正在申请的媒体返点发票{% endblock %}

{% block content %}
{% include "/finance/finance_base_v1_0_0.html" %}
<div class="container bra-box">
    <div class="table-switch">
        <ul>
            <li class="actives" style="width:150px;">
                <a class="on" href="{{url_for('finance_client_order_medium_rebate_invoice.index')}}">申请中的媒体返点发票</a>
            </li>
            <li style="width:150px;">
                <a href="{{url_for('finance_client_order_medium_rebate_invoice.index_pass')}}">所有媒体返点发票</a>
            </li>
        </ul>
    </div>
    <div class="search-bar">
        <form class="menu-btn-bar" style="float:left;">
            <div class="search-input">
                <input type="text" placeholder="客户/代理/媒体/合同号/Campaign" value="{{search_info}}" name="search_info" id="search_info" onkeypress="javascript:enter_search();">
                <img src="/static/image/search.png" alt="#">
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">年度</label>
                <select class="form-control special_sale" name="year" id="year" style="width:100px;">
                    {% for k in range(5) %}
                        <option value="{{2014+k}}">{{2014+k}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">区域</label>
                <select class="form-control special_sale" name="location" id="search_location" style="width:100px;">
                    {% for v, m in locations %}
                        {% if v == location_id|int %}
                        <option selected="" value="{{v}}">{{m}}</option>
                        {% else %}
                        <option value="{{v}}">{{m}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            
            <div class="select_option screen">
                <input type="button" value="筛选" onclick="javascript:search();">
            </div>
        </form>
    </div>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>直客/代理</th>
                    <th>客户名称</th>
                    <th>Campaign</th>
                    <th>合同号</th>
                    <th>投放媒体</th>
                    <th>媒体总金额</th>
                    <th>媒体返点总金额</th>
                    <th>已开发票总金额</th>
                    <th>未开发票总金额</th>
                    <th>正在申请发票金额</th>
                    <th>申请发票个数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.agent.name }}</td>
                    <td>{{ order.client.name }}</td>
                    <td>{{ order.campaign }}</td>
                    <td>{{ order.contract }}</td>
                    <td>{{ order.mediums | map(attribute='name') | join(', ')}}</td>
                    <td>{{ order.mediums_money2 }}</td>
                    <td>{{ order.mediums_rebate_money }} 元</td>
                    <td>{{ order.mediums_rebate_invoice_pass_sum }} 元</td>
                    <td>{{ order.mediums_rebate_money - order.mediums_rebate_invoice_pass_sum }} 元</td>
                    <td>{{ order.mediums_rebate_invoice_apply_sum }} 元</td>
                    <td>{{ order.apply_count }}</td>
                    <td><a href="{{url_for('finance_client_order_medium_rebate_invoice.info', order_id=order.id)}}">查看</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan=9 style="text-align:center">总计</td>
                    <td>{{orders|sum(attribute='mediums_rebate_invoice_apply_sum')|format_price}} 元</td>
                    <td>{{orders|sum(attribute='apply_count')}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    function search() {
        window.location.href = window.location.pathname +
            '?searchinfo=' + encodeURIComponent($('#search_info').val()) +
            '&selected_location=' + ($('#search_location').val()) +
            '&year='+$('#year').val();
    }
    $(function() {
        $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true});
        $('#year').val('{{year}}');
        $("#year").trigger("chosen:updated");
    });
</script>
{% endblock %}
