{% extends "/base.html" %}
{% block title %}媒体资料{% endblock %}

{% block content%}
{% include "/mediums/mediums_base.html" %}
<div class="container bra-box">
    <div>
        <table class="table table-bordered">
            <tr>
                <th>媒体名称</th>
                <th>最后更新时间</td>
                <th>操作</th>
            </tr>
            {% for k in mediums %}
            <tr id="tr_{{k.id}}">
                <td><a href="{{url_for('mediums_files.info', mid=k.id)}}">{{k.name}}</a></td>
                <td>{{k.files_update_time}}</td>
                <td><a href="{{url_for('mediums_files.info', mid=k.id)}}">查看</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script>
</script>
{% endblock %}