{% extends "/base.html" %}
{% from 'comments.html' import comments_box %}
{% block title %}媒体产品{% endblock %}

{% block content%}
{% include "/mediums/mediums_base.html" %}
<style>
  .file-widget-btn{margin: 10px;}
</style>
{% macro medium_file_upload(medium, path, type) -%}
<div id="attachment-{{medium.id}}" style="col-sm-2">
    <form method="POST" action="{{path}}" enctype="multipart/form-data">
        {% set mediums = medium.get_last_medium(type) %}
        {% if mediums %}
            <a href="{{mediums.medium_path}}">{{mediums.filename}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-sm btn-default" href="{{url_for('mediums_files.info_last', mid=medium.id, type=type)}}">查看历史版本</a>
        {% else %}
            暂无
        {% endif %}
        <input class="hide" type="text" name="type" value="{{type}}">
        <input class="file-widget-input hide" type="file" name="file">
        {% if g.user.is_media() %}
        <button class="file-widget-btn btn btn-sm btn-info">
            <span>上传附件</span>
        </button>
        {% endif %}

    </form>
</div>
{%- endmacro %}

<div class="container bra-box">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">媒体名称:</label>
            <div class="col-sm-8">
              <label for="" class="col-sm-4 control-label">{{medium.name}}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label" style="margin-top: 5px;">媒体介绍:</label>
            <div class="col-sm-8">
              {{ medium_file_upload(medium, url_for('mediums_files.files_upload', mid=medium.id), ATTACHMENT_TYPE_MEDIUM_INTRODUCE)}}
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label" style="margin-top: 5px;">媒体刊例:</label>
            <div class="col-sm-8">
              {{ medium_file_upload(medium, url_for('mediums_files.files_upload', mid=medium.id), ATTACHMENT_TYPE_MEDIUM_PRODUCT)}}
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label" style="margin-top: 5px;">媒体数据:</label>
            <div class="col-sm-8">
              {{ medium_file_upload(medium, url_for('mediums_files.files_upload', mid=medium.id), ATTACHMENT_TYPE_MEDIUM_DATA)}}
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label" style="margin-top: 5px;">媒体新资源:</label>
            <div class="col-sm-8">
              {{ medium_file_upload(medium, url_for('mediums_files.files_upload', mid=medium.id), ATTACHMENT_TYPE_MEDIUM_NEW_PRODUCT)}}
            </div>
        </div>
    </div>
    <div>{{ comments_box(medium, msg_channel=6) }}</div>
</div>

<script>
$(function(){
  $('.file-widget-btn').click(function(e){
    e.preventDefault();
    $(this).parents("form").find('.file-widget-input').click();
  });
  $('.file-widget-input').change(function(e){
    var filename = $(this).val()
    var fileExt = filename.substring(filename.lastIndexOf('.')+1, filename.length);
    // 获取文件大小
    var file = $(this)[0].files[0];
    var byteSize  = file.size;
    var r_size = Math.ceil(byteSize / 1024 / 1024); // Size returned in MB.
    if (r_size > 50){
        alert("上传文件不能超过50M，请尽量压缩已节省资源")
    }else{
        $(this).parents("form").submit();
    }
  });
});
</script>
{% endblock %}