{% extends "/base.html" %}
{% block title %}框架列表{% endblock %}

{% macro all_items(orders) -%}
<table class="table table-bordered table-striped">
    <tr>
        <th>代理集团</th>
        <th>直客/代理</th>
        <th>合同金额</th>
        <th>合同号</th>
        <th>直客销售</th>
        <th>渠道销售</th>
        <th>开始</th>
        <th>结束</th>
        <th>回款日期</th>
        <th>合同号状态</th>
    </tr>
    {% for o in orders %}
    <tr>
        <td>{{o.group.name}}</td>
        <td>
            {% for agent in o.agents %}
            {{agent.name}} <br>
            {% endfor %}
        </td>
        <td>{{o.money}}</td>
        <td><a href="{{url_for('finance_framework_order.info', order_id=o.id)}}">{{o.contract or "无合同号"}}</a></td>
        <td>{{o.direct_sales_names}}</td>
        <td>{{o.agent_sales_names}}</td>
        <td>{{o.start_date_cn}}</td>
        <td>{{o.end_date_cn}}</td>
        <td>{{o.reminde_date_cn}}</td>
        <td>{{o.contract_status_cn}}</td>
        
    </tr>
    {% endfor %}
</table>
{%- endmacro %}

{% block content %}
{% include "/finance/finance_base.html" %}
<div class="container bra-box">
    <h3>框架合同</h3>
    {{ all_items(orders) }}
    {% set pages = orders %}
    {% include "pagination.html" %}
</div>
<script>
function download(){
    window.location.href = window.location.pathname +
      '?action=download';
}
</script>
{% endblock %}
