{% extends "/order_base.html" %}
{% from 'form.html' import form_field %}
{% from 'comments.html' import comments_box %}

{% block main_box%}
<div class="bra-main bra-box">
    <h4>
        <a class="btn btn-default btn-sm" href="{{url_for("order.order_items", order_id=item.order.id)}}">返回</a>
    </h4>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> 投放控制 </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form class="form form-horizontal" method="POST">
                        {{form.csrf_token}}
                        {{ form_field(form.order) }}
                        {{ form_field(form.sale_type) }}
                        {{ form_field(form.special_sale) }}
                        {{ form_field(form.position) }}
                        {{ form_field(form.description) }}
                        {{ form_field(form.ad_type) }}
                        {{ form_field(form.price) }}
                        {{ form_field(form.priority) }}
                        {{ form_field(form.speed) }}
                        {{ form_field(form.item_status) }}
                        {{ form_field(form.status) }}
                        {{ form_field(form.creator) }}
			{% if g.user.team.is_admin() %}
                        <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="提交"/>
 			{% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        <span>广告素材</span>
                    </a>
                    <div class="btn-group col-md-offset-1">
                      <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                        新建广告 <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{{url_for('material.new_image_material', item_id=item.id)}}">图片广告</a></li>
                        <li class="divider"></li>
                        <li><a href="{{url_for('material.new_material', item_id=item.id)}}">原生广告</a></li>
                      </ul>
                    </div>
                    <button class="btn btn-sm btn-info copy-material" id="copy_to_self" value="">复制</button>
                    <button class="btn btn-sm btn-success copy-material" id="copy_to_other" value="">复制到……</button>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <form action="{{url_for('material.copy_material', item_id=item.id)}}" id="materials_form" method="POST">
                    <div class="alert-div" id="select_items" style="display: none">
                        <div class="hd"><h4>复制广告素材到</h4></div>
                        <div class="form-intro pad-left20 pad-bottom15">
                        将选中的广告素材复制到其他订单项(仅限于同订单且对应展示位置大小相同)
                        </div>
                        <div class="form-group pad-left20 pad-bottom15">
                            <label for="name" class="col-sm-2-1 control-label">请选择订单项 : </label>
                                <div class="col-sm-5">
                                <select class="form-control bra-form-control" multiple="" id="item_id" name="item_id">
                                    {% for i in item.items_can_copy_material %}              
                                    <option value="{{i.id}}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="ft">
                            <button class="btn btn-sm btn-info copy-material marg-right20" type="submit">确定</button>
                            <button class="btn btn-sm btn-success copy-material" type="button" id="cancel">取消</button>
                        </div> 
                    </div>
                    <div class="panel-body">
                        {% include 'item_materials.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>{{ comments_box(item) }}</div>
</div>
<script>
$(document).ready(function(){
    $("#collapseOne").collapse('hide');
    $("#collapseTwo").collapse('show');
    $("#collapseFour").collapse('show');
    $("#copy_to_self").click(function(){
        $("#item_id").val([{{item.id}}])
        $("form#materials_form").submit();
    });
    $("#copy_to_other").click(function(){
        $("#select_items").show("slow");
    });
    $("#cancel").click(function(){
        $("#select_items").hide("slow");
    })
});
</script>
{% endblock %}
