{% extends "/material_base.html" %}
{% from 'form.html' import form_field %}
{% from 'form.html' import upload_field %}

{% block main_box%}
<div class="bra-main bra-box">
    {% if material %}
    <h3>图片广告 <a href="{{url_for('order.item_materials', item_id=material.item.id)}}" class="btn btn-sm btn-default">返回</a></h3>
    {% else %}
    <h3>图片广告</h3>
    {% endif %}
    <form class="form form-horizontal" method="POST">
      {{ form.csrf_token }}
      {{ form_field(form.name) }}
      {{ upload_field(form.image_file) }}
      {{ form_field(form.click_link) }}
      {{ form_field(form.monitor_link) }}
      {{ form_field(form.status) }}
      {{ form_field(form.code) }}
      <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="提交"/>
    </form>
    <img src="about:blank" id="image" name="image" alt="test" style="display: none;"/> 
    {% if material %}
    <h4>效果预览 :</h4>
    <iframe src="{{ material.preview_path }}" style="margin: 10px;" width="{{material.width}}" height="{{material.height}}"></iframe>
    <h4>代码预览 :</h4>
    <pre><code>{{ material.html }}</code></pre >
    {% endif %}
</div>
<script>
$(document).ready(function(){
    var width = {{ item.position.size.width }};
    var height = {{ item.position.size.height }};
    $('#file').change(function(){
        var image = $('#image')
        var reader = new FileReader(); //这个是HTML5特有的
        reader.readAsDataURL($('#file')[0].files[0]); 
        reader.onload = function(e){ 
            image.attr('src', this.result);
            if(image[0].width != width||image[0].height != height){
              $('input.btn').attr('disabled',true)
              alert("您上传的图片大小不合要求！图片大小应为："+width+"*"+height+" 请重新上传后提交！")
              }
          else{
            $('input.btn').attr('disabled',false)
            updata_file($('#file')[0])
          }
        }
    });
    $('#image_file').change(function(){
      $('#name').val($('#image_file').val().split('.')[0])
    });
});
</script>
{% endblock %}
