<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>员工手册</title>
  <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <style>
  .logo-avatar{width: 109px; height: 30px;}
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
           <a class="navbar-brand" href="/"><img class="logo-avatar" alt="logo" src="http://www.inad.com/images/logo_2x.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="index"><a href="/">首页</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="contact" class=""><a target="_blank" href="{{url_for('user.contact')}}">通讯录</a></li>
            <li><a target="_blank" href="http://mail.inad.com/">致趣邮箱</a></li>
            <li><a target="_blank" href="http://www.inad.com/">致趣官网</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span><!--<img class="user-avatar" src="{{g.user.avatar}}"/>--></span>
                <span> {{g.user.name}}</span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{url_for('user.logout')}}">退出</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  <div class="container">
    <h1 class="text-center">员工手册</h1></br>
    <p class="text-center">2015.11月 颁布</p>
    </br></br></br></br><h3>欢迎致辞</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎你来到致趣联媒（INAD），我们的前身是豆瓣的商务部，2014年我们这群共事多年且志趣相投的小伙伴一起从豆瓣独立出来创立了这家公司。我们曾经见证了中国互联网广告波澜壮阔的发展，这次我们又选择做移动互联网营销的弄潮儿，大家一起用兴趣和激情，要做一番有趣又有未来的事业。
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;互联网从门户、搜索、视频、社交......到现在的移动互联网，这个行业的发展正在每天改变着我们的生活。当移动互联网遇到广告，会给这个传统行业带来怎样的变化？这是致趣人一直需要思考的。技术的不断进步也影响了广告行业的发展，社交、移动、程序化、大数据、实时交易等都是未来移动广告发展的技术趋势。而广告本身是一种艺术的表达，它从策略、创意、设计、执行都需要很强的创造力。致趣联媒希望可以整合互联网技术和广告艺术，把最神奇的移动互联网营销呈现给更多的媒体和品牌。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司秉承了豆瓣简单、平等、文艺的风格，又结合了专业、务实、高效的商业态度，混血的DNA造就了我们特殊的企业文化，Geek和吉他手一样受欢迎。清晰的公司战略和超强的团队执行力，让致趣在短时间内就成为行业里非常出众的公司，但我们离一家伟大的企业还相差甚远，在通向这个过程的道路上需要每一个小伙伴添砖加瓦。最后希望致趣能给你一个施展才华的平台，也希望你的到来，让我们的未来更加美好！</p>
    <p class="text-right">CEO:<strong>Oscar</strong></p>
    <h3>公司简介</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在业界，致趣联媒是个新鲜的名字，但并不是个陌生的团队，我们孵化于豆瓣网广告部，基于豆瓣的兴趣社交平台，在兴趣营销领域有丰富的营销经验，团队由销售、策划、运营、设计、技术团队构成，在北京、上海、广州均有分公司，分别覆盖华北、华东、华南区域，总人数超过100人。 </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;致趣业务：打通优质客户与优质媒体（特别是移动端媒体）之间的桥梁，为品牌客户提供主要基于移动端的兴趣营销整合方案。</p>
    </br><h3>企业文化</h3>
    <h4>一、  致趣创始记</h4>
    <ul class="list-unstyled">
      <li>公司名称：上海致趣广告有限公司</li>
      <li>英文名称：INAD [in’æd]？</li>
      <li>对外标准全称：致趣联媒</li>
      <li>对外标准简称：致趣</li>
      <li>网址：<a target="_blank" href="http://www.inad.com/">http://www.inad.com/</a></li>
      <li>微信公众号：zhiqulianmei</li>
    </ul>
    <ul class="list-unstyled">
      <li>1. 2010年，豆瓣广告部成立，拥有销售、运营、策划、技术、设计、产品六大职能部门，为国内外一二线品牌客户提供在豆瓣推广的解决方案。</li>
      <li>2. 2014年5月，经过在豆瓣的五年孵化，致趣在上海正式注册。</li>
      <li>3. 2014年6月，致趣从豆瓣广告部正式脱离、独立，致趣创始团队由豆瓣华北、华东、华南广告部原班人马组成，公司初始规模超过六十人。</li>
      <li>4. 2014年9月，致趣北京、上海团队相继从豆瓣办公室搬出，在致趣独立的空间办公。</li>
    </ul>
    <h4>二、  致趣定位</h4>
    <p>致趣是中国首家优质新媒体联盟。</p>
    <p>与其他代理、媒介公司不同，致趣在服务品牌、代理公司的同时，还服务于各类优质新媒体,。为媒体开发商业产品、制定销售策略、打通定位-开发-推广-策划-售卖-执行环节。致趣与国内优质新媒体一起，为品牌提供基于互联网,尤其是移动互联网的整合营销解决方案。
    <p>致趣的联合媒体矩阵日均可覆盖网民2.5亿。</p>
    <h4>三、  致趣特色</h4>
    <h5>1、兴趣营销</h5>
    <p>致趣孵化于豆瓣网广告部，基于豆瓣的兴趣社交平台，在兴趣营销领域有五年的营销经验，通过阅读、音乐、电影、美食、展览、旅行等各类大众、小众的用户兴趣热点，链接品牌与用户。基于兴趣、设计兴趣化广告素材、定制兴趣化互动，在豆瓣书影音频道制作原生广告。联合音乐节、复古骑行等文娱线下活动，为品牌提供整合的兴趣解决方案。</p>
    <p>致趣团队多次在艾菲奖、金投赏、长城奖、金鼠标奖等行业奖项中斩获殊荣。</p>
    <h5>2、服务优质品牌</h5>
    <p>致趣服务客户已超过三百家，涵盖IT、汽车、家电、快消、时尚、奢侈品等行业，如CHANEL、BURBERRY、大众、路虎、奥迪、宜家、MUJI、可口可乐、adidas、Converse、Intel、英国航空等。</p>
    <h5>3、整合优质媒介</h5>
    <p>致趣是豆瓣、知乎、陌陌、下厨房、课程格子、虎嗅等多家优质媒体的核心代理公司。通过整合优质的媒介资源，帮助品牌定位精准人群，并且通过致趣对优质媒介产品的开发定制组合，为品牌实现更深度的整合传播。</p>
    <h5>4、有趣有效有节操</h5>
    <p>保护用户体验，尊重媒体/产品的自有调性，使广告“有趣且有效”，是致趣团队一直以来的工作原则和目标。从素材设计到定制化创意互动，甚至是高度结合产品自身功能和内容的原生广告，以及通过兴趣标签、技术算法实现数据挖掘，。致趣坚持将“艺术”与“技术”结合，做让用户喜欢的广告，做有品质、有价值的营销。</p>
    </br><h3>工作关系</h3>
    <h4>入职</h4>
    <h5>1、  入职手续</h5>
    <p>人力资源的同事将会全程协助你办理入职手续</p>
    <ul>
      <li>所需个人资料：身份证原件、学历或学位证明原件、户口本首页及本人页复印件、原单位离职证明（加盖公章）、三个月内的有效体检报告、招商银行一卡通复印件（在复印件上手写姓名及卡号）；</li>
      <li>填写《基本信息登记表》；</li>
      <li>领取基本办公用品；</li>
      <li>开通工作邮箱及邮件组；</li>
      <li>人力资源的同事将带领你参观办公室，与部门负责人见面。</li>
    </ul>
    <h5>2、  把自己介绍给同事</h5>
    <ul>
      <li>撰写个人介绍邮件发送至ALL邮件组；</li>
      <li>欢迎你在个人介绍邮件中展示你独特的个性、嗜好、星座、经历或宠物，让大家记住你；</li>
      <li>除个人介绍外，请附上你的生活照，让大家认识你。</li>
    </ul>
    <h5>3、  五险一金</h5>
    <ul>
      <li>请告知人力资源你的五险一金是否在原单位转出；</li>
      <li>填写《团体保险被保险人个人事项告知书》。</li>
    </ul>
    <h5>4、  个人信息如有变化请及时告知</h5>
    <ul>
      <li>当个人信息发生更改或补充时，请及时以邮件形式告知人力资源同事：姓名、住址、电话、户籍、婚姻状况、紧急联系人、培训结业或进修毕业证书、工资卡号等。</li>
    </ul>
    <br/><h4>劳动合同</h4>
    <h5>1、  你与公司的劳动合同将在入职一周内签订。</h5>
    <h5>2、  劳动合同的变更</h5>
    <ul>
      <li>你与公司协商确认后，签订《劳动合同变更书》</li>
    </ul>
    <h5>3、  劳动合同的续签</h5>
    <ul>
      <li>续签流程：在劳动合同到期之日前30天，人力资源将发放书面《员工续签评估表》至你的直接主管处。直接主管将对你进行评估，结合你本人意愿，直接主管、部门负责人会在规定日期前将续签意见反馈给人力资源；</li>
      <li>决定续签：如果双方决定续签，人力资源将会与你签订一份新的劳动合同。其中续签劳动合同的期限，将由人力资源根据法律法规的要求，并参考部门的续签意见后直接决定；</li>
      <li>决定不续签：若公司决定不续签劳动合同，公司会在劳动合同到期之日前30天书面通知你办理相关离职手续；若你决定不与公司续签劳动合同，请在劳动合同到期之日前30天书面通知部门负责人及人力资源的同事，经双方确认后办理相关离职手续。</li>
    </ul>
    <h5>4、  劳动合同的解除和终止</h5>
    <ul>
      <li>严重违反公司员工手册及规章制度、劳动纪律，累计收到公司书面警告三次及以上；</li>
      <li>严重失职，给公司造成重大损害，累计收到公司书面警告两次以上；</li>
      <li>营私舞弊或有重大品格或职业操守问题；</li>
      <li>利用职务便利获取、修改、泄露客户或非公开信息；</li>
      <li>以欺诈方式骗取公司信任订立或变更劳动合同；</li>
      <li>无故旷工3日以上；</li>
      <li>其它违反法律、行政法规的情况。</li>
    </ul>
    <br><h4>试用期及转正</h4>
    <h5>1、  试用期</h5>
    <ul>
      <li>试用期表现极优者可办理提前转正手续。试用期开始，你的直接主管或导师会向你介绍本部门职能、人员情况，讲解本职工作内容和要求，帮助你了解公司有关规章和规范，以及你将要开展工作的具体事务。</li>
    </ul>
    <h5>2、  转正流程</h5>
    <ul>
      <li>试用期满三个月前1周，进入第一阶段的评估考核，你需要填写《试用期工作总结》；</li>
      <li>人力资源同事与部门负责人、工作导师及相关同事将会一起参与考核评定，确认予以提前转正及其他相关事宜；</li>
      <li>试用期结束前3-5个工作日，人力资源将向你发送试用期结果通知。</li>
    </ul>
    <br/><h4>内部推荐流程</h4>
    <p>欢迎你推荐和你一样优秀的人才到公司，公司特设立“荐贤奖”。</p>
    <p>推荐流程如下：</p>
    <ul>
      <li>可将候选人简历或个人信息直接发送至人力资源负责人邮箱；</li>
      <li>请文字说明推荐理由；</li>
      <li>推荐成功，顺利转正者，公司将给予一定的奖励：
        <ul class="list-unstyled">
          <li>&bull;&nbsp;推荐普通人员：奖金额度500-1000元</li>
          <li>&bull;&nbsp;推荐部门经理及以上人员：奖金额度1000-2000元</li>
          <li>&bull;&nbsp;推荐部门总监及以上人员：奖金额度2000-5000元</li>
        </ul>
      </li>
      <li>以下人员不参加“荐贤奖”：公司管理层、人力资源部员工、被推荐岗位的上级；</li>
      <li>推荐有效期：一年。
        <ul class="list-unstyled">
          <li>&bull;&nbsp;具体招聘需求请随时浏览公司网站：<a target="_blank" href="http://www.inad.com/">http://www.inad.com/</a></li>
        </ul>
      </li>
    </ul>
    <br/><h4>离职</h4>
    <p>如果你最终决定离开致趣团队，我们希望继续保持友好和相互尊重的关系。希望你在离开前将离职手续办理完毕，将工作交接给相关同事。如有未清账目、公司物品，也请一并结清归还。</p>
    <p>离职流程如下：</p>
    <ol>
      <li>请先向你的部门负责人提交离职申请邮件，并说明缘由；已转正的员工离职请提前30个工作日提出申请，试用期员工请提前3个工作日提出申请；</li>
      <li>请向人力资源领取《离职申请表》、《离职交接单》，进入具体的离职流程；</li>
      <li>人力资源将向你开具《离职证明》。</li>
    </ol>
    <br/><h4>薪资、福利、假期、和培训</h4>
    <h5>薪资制度</h5>
    <ol>
      <li>基本制度：月薪制</li>
      <li>年收入构成：13个月工资+奖金+各类补助</li>
      <li>调薪：每年一季度月和三季度是薪酬回顾月</li>
      <li>薪资发放：
        <ul class="list-unstyled">
          <li>&bull;&nbsp;当月10日发上月工资，如遇节假日则自动顺延；</li>
          <li>&bull;&nbsp;你的工资卡为招商银行；</li>
          <li>&bull;&nbsp;你的工资单于每月10日前以邮件形式收到；</li>
        </ul>
      </li>
      <li>薪酬保密原则：请不要透露你的薪资给同事，也不要打听同事的薪资。上述原则是致趣团队一直保持的的默契，请务必遵守。</li>
    </ol>
    <h5>保险与福利</h5>
    <ol>
      <li>基本保险与福利
        <ul class="list-unstyled">
          <li>&bull;&nbsp;基本社会保险：参考当地标准；</li>
          <li>&bull;&nbsp;住房公积金：参考当地标准。</li>
          <li>&bull;&nbsp;公司将为当月15日前（含15日）入职的同事于入职当月办理社保及住房公积金增员手续，15日后入职同事的社保及公积金增员手续将于下月15日前办理，相应社保及公积金费用于增员手续办理完成之月开始扣缴。公司将为当月15日前（含15日）离职的同事于离职当月办理社保及住房公积金减员手续，15日后离职同事的社保及住房公积金减员手续将于下月15日前办理，相应社保及住房公积金费用缴纳至减员手续完成之月；</li>
        </ul>
      </li>
      <li>其他福利</li>
      <ul class="list-unstyled">
        <li>电脑补助：如果你以自己的电脑（必须是笔记本电脑）作为办公电脑，那么你将享受公司给予的电脑补助200元/月。</li>
        <li>电话补助：职能部门助理级以下每人每月50元，助理级以上每人每月100元；业务部门每人每月200元。</li>
        <li>全勤奖：当月未出现任何迟到、早退、请假、旷工者，公司给予全勤奖金200元。</li>
        <li>宠物日：每周五，你可以带宠物来公司和你一起上班，公司将提供宠物食品和玩具；</li>
        <li>家庭日：每月第四个周五，欢迎你带家人来公司参观，公司将提供零食和舒适的环境；</li>
        <li>早餐：工作日的上午9：30-10：00；</li>
        <li>水果：工作日的下午15：00-15：30；</li>
        <li>结婚福利：如果你入职致趣后，领取了结婚证，除了婚假与祝福之外，还将有礼品赠送；</li>
        <li>生日祝福：生日当天除了收到祝福外，还有礼物赠送。</li>
      </ul>
    </ol>
    <h5>假期</h5>
    <ol>
      <li>公共假期
        <ul class="list-unstyled">
          <li>&bull;&nbsp;你可以享受国家法定的公共假期：元旦1天、春节3天、清明节1天、劳动节1天、端午节1天、中秋节1天、国庆节3天；</li>
          <li>&bull;&nbsp;如果你已为人母，“六一儿童节“的上午可以休假半天陪伴小朋友。适逢节假日、双休日该休假不顺延；</li>
          <li>&bull;&nbsp;公共假期无需申请，按公司统一规定执行，属于带薪假期，薪资全额发放。</li>
        </ul>
      </li>
      <li>年休假
        <ul class="list-unstyled">
          <li>&bull;&nbsp;你可按照该自然年内工作时长占全年的比例，享受所对应折算的年休假时间；</li>
          <li>&bull;&nbsp;年休假以自然年为计算单位，即每年的1月1日-12月31日；每年年休假需在下一年的3月30日休完；</li>
          <li>&bull;&nbsp;假期时长：不满1年，按入职时长比例乘以基数（10天）；1-5年，以10天为基础每年递增1天；5年以上，15天。计算方法：在职天数÷365×10=第一年年假天数，遇小数点小于0.5按照0天计算，大于0.5按照半天计算，以此类推；</li>
          <li>&bull;&nbsp;如果你将离职，未休完年假可折算工资发放；</li>
          <li>&bull;&nbsp;年休假属于带薪假期，你的薪资将会全额发放；</li>
          <li>&bull;&nbsp;你可以通过内网查询自己的具体年休假情况。</li>
        </ul>
      </li>
      <li>
        病假
        <ul class="list-unstyled">
          <li>&bull;&nbsp;你入职之日起可享受每年6天的带薪病假；</li>
          <li>&bull;&nbsp;请1天以内病假无需开具证明， 1天以上需提供医疗机构的诊断证明，试用期内月累计病假最长不超过5个工作日；</li>
          <li>&bull;&nbsp;你的带薪病假休完后，病假工资按照当地最低工资的80％核发，需提供医疗机构诊断证明，病假期限最长不得超过3个月；</li>
        </ul>
      </li>
      <li>
        事假
        <ul class="list-unstyled">
          <li>&bull;&nbsp;你如果有私事办理需提前提出请假申请；</li>
          <li>&bull;&nbsp;试用期内的员工月累计事假最长不超过3个工作日；</li>
          <li>&bull;&nbsp;事假工资按照基本工资÷21.75×事假天数扣发。</li>
        </ul>
      </li>
      <li>
        婚丧假、产假
        <p>婚假</p>
        <ul class="list-unstyled">
          <li>&bull;&nbsp;在公司工作期间结婚，即可享受婚假。婚假的有效期为：正式注册登记结婚之日起1年内；</li>
          <li>&bull;&nbsp;婚假时长：基础3天，晚婚10天。晚婚年龄为（夫妻双方同时满足）：男25周岁，女23周岁；</li>
          <li>&bull;&nbsp;再婚员工可享受法定基础婚假（即3天），不能享受晚婚假。</li>
        </ul>
        <p>丧假</p>
        <ul class="list-unstyled">
          <li>&bull;&nbsp;范围：直系范围；</li>
          <li>&bull;&nbsp;时长：3天。</li>
        </ul>
        <p>产前假</p>
        <ul class="list-unstyled">
          <li>&bull;&nbsp;女性员工怀孕，根据医院检查记录可享受十次的产前检查假，每次半天；</li>
          <li>&bull;&nbsp;女性员工怀孕7个月以上的，可申请每周一天在家办公（直至休产假）；</li>
          <li>&bull;&nbsp;根据各地区相关法律执行。</li>
        </ul>
        <p>产假</p>
        <p>在公司工作期间有生育情况，即可享受产假。</p>
        <ul class="list-unstyled">
          <li>&bull;&nbsp;女性员工生育，可按国家规定享受产假，具体时长如下：
            <p>基础98天，晚育增加30天(夫妻双方晚婚后生育或已婚妇女生育第一个子女时，年满24岁为晚育)；难产（含刨宫产）增加15天；多胞胎，多一胎增加15天；流产:妊娠不满4个月的，产假为20天；妊娠4个月以上的，产假42天（凭医学证明）。</p>
          </li>
        </ul>
        <p>哺乳假</p>
        <ul class="list-unstyled">
          <li>&bull;&nbsp;女性员工生育后且在其婴儿满1周岁（即哺乳期）前，每个工作日内可享受两次哺乳时间，每次30分钟。为方便执行，女性员工其婴儿哺乳期内的每个工作日可提前一小时下班。生育多胞胎的，多一胎每次哺乳时间增加30分钟，故下班时间以此类推。</li>
        </ul>
      </li>
      <ul class="list-unstyled">
        <li>&bull;&nbsp;婚丧假、产假均包含节假日和双休日，限一次性使用；</li>
        <li>&bull;&nbsp;婚丧假、产假均属于带薪假期，工资全额发放；</li>
        <li>&bull;&nbsp;婚丧假、产假不能折算成工资发放。</li>
      </ul>
    </ol>
    <h5>培训与分享</h5>
    <ol>
      <li>参加培训与分享之前
        <ul class="list-unstyled">
          <li>&bull;&nbsp;请先征得你的直接主管同意并确认；</li>
          <li>&bull;&nbsp;请合理安排手头工作；</li>
          <li>&bull;&nbsp;与培训内容无关的事物请安排在非培训时间进行；</li>
          <li>&bull;&nbsp;请尊重讲师时间。</li>
        </ul>
      </li>
      <li>申请
        <ul class="list-unstyled">
          <li>&bull;&nbsp;定期培训或分享：根据培训时间表，负责培训或分享的同事会提前发通知给相应的同事，如果你没有接到通知，但是想参加，可以发邮件向部门负责人申请。</li>
          <li>&bull;&nbsp;不定期培训或分享：由资源人提出申请，以邮件形式发送与相关人员，确认后做相应场地、设备的安排。</li>
        </ul>
      </li>
    </ol>
    <br/><h4>考勤和请假</h4>
    <h5>考勤制度</h5>
    <p>实行8小时工作制</p>
    <ol>
      <li>弹性工作时间
        <ul class="list-unstyled">
          <li>&bull;&nbsp;上午： 9：00—12：00，下午：13：00——18：00；</li>
          <li>&bull;&nbsp;上午： 9：30—12：30，下午：13：30——18：30；</li>
          <li>&bull;&nbsp;上午： 10：00—13：00，下午：14：00——19：00。</li>
        </ul>
      </li>
      <li>门禁管理
        <ul class="list-unstyled">
          <li>&bull;&nbsp;出入办公区域需指纹打卡。</li>
          <li>&bull;&nbsp;行政负责指纹录入，员工离职，需及时删除指纹记录。 </li>
        </ul>
      </li>
      <li>出勤规定
        <ul class="list-unstyled">
          <li>&bull;&nbsp;上下班指纹打卡，月末汇总当月员工出勤情况，作为核算工资的标准； </li>
          <li>&bull;&nbsp;因公外出而未能及时打卡者，须事先在内部系统填写外出报备。 </li>
        </ul>
      </li>
      <li>迟到、早退
        <ul class="list-unstyled">
          <li>&bull;&nbsp;每月允许一次30分钟以内迟到，不扣款；</li>
          <li>&bull;&nbsp;第二次迟到30分钟内，每次扣款30元，；30分钟以上按（日工资/小时）事假折算； </li>
          <li>&bull;&nbsp;迟到、早退超过3次以上者，30分钟以内扣罚工资50元； </li>
          <li>&bull;&nbsp;一个月内迟到、早退超过5次以上者，扣除当月绩效工资。 </li>
        </ul>
      </li>
      <li>加班
        <ul class="list-unstyled">
          <li>&bull;&nbsp;公司不提倡加班，员工应充分利用8小时工作制，提高工作效率； </li>
          <li>&bull;&nbsp;员工加班需向主管领导提出书面申请，加班超过2小时，补助加班餐费30元/人；加班4小时以上，可以选择打车回家，费用实报实销，允许第二天上午调休2小时，加班时间以打卡记录为准。（此条款不适用销售人员）</li>
        </ul>
      </li>
    </ol>
    <h5>请假</h5>
    <ol>
      <li>年休假
        <ul class="list-unstyled">
          <li>&bull;&nbsp;休年假3天以内需提前一周向部门负责人申请；请假5天以上者，需提前一个月向部门负责人提出申请，CEO审批；</li>
        </ul>
      </li>
      <li>病假
        <ul class="list-unstyled">
          <li>&bull;&nbsp;请提供医院开具的病假单，病假期间工资计算将按照你工作所在地的法律法规执行。</li>
        </ul>
      </li>
      <li>如需请假请注意以下几点
        <ul class="list-unstyled">
          <li>&bull;&nbsp;请假前请你交接手头工作，并告知相应的协作同事；</li>
          <li>&bull;&nbsp;如需续假或提前回公司上班，经部门负责人确认后，系统内续假或销假；</li>
          <li>&bull;&nbsp;未经批准自行休假将视为无故旷工；</li>
          <li>&bull;&nbsp;病假、事假、年休假等，均最少以半天计算。</li>
        </ul>
      </li>
    </ol>
    <h5>旷工</h5>
    <ol>
      <li>无故旷工，将扣除相应的工资；</li>
      <li>一年内无故旷工累计3次将收到书面警告；</li>
      <li>一年内无故旷工超过5次，公司有权与其解除劳动合同。</li>
    </ol>
    <br/><h4>报销和收付款</h4>
    <h5>个人日常报销规定和流程</h5>
    <ol>
      <li>整体说明
        <ul class="list-unstyled">
          <li>&bull;&nbsp;报销范围：因工作需要而产生的各项合理费用；</li>
          <li>&bull;&nbsp;提交单据：请仔细阅读附录“如何快速完成报销”，完整填写《费用报销单》并提供与事实相符且真实有效的相关票据；</li>
          <li>&bull;&nbsp;审批流程：《费用报销单》先由部门负责人核实后签字确认，再交财务审批进入相应流程；</li>
          <li>&bull;&nbsp;提交与发放时间：个人报销单据每月提交一次，25日截止；审批通过后将于次月15日发至你的工资卡中；</li>
          <li>&bull;&nbsp;超期报销：在当财年内，应自费用发生之日起3个月内提交《费用报销单》。如遇特殊原因申请延期的，请提交邮件至部门负责人及财务负责人，经核实确认后，由CEO特别审批。</li>
        </ul>
      </li>
      <li>本地交通费
        <ul class="list-unstyled">
          <li>&bull;&nbsp;因公外出发生的合理交通费用予以报销；</li>
          <li>&bull;&nbsp;晚间加班超过四小时以上的交通费予以报销；</li>
          <li>&bull;&nbsp;请选择最节省时间、有正规运营执照及发票的交通工具；</li>
          <li>&bull;&nbsp;对外部门报销统一参照部门标准。</li>
        </ul>
      </li>
      <li>业务招待费
        <ul class="list-unstyled">
          <li>&bull;&nbsp;因业务需要招待外单位人员的费用，请提前向部门负责人提出申请；</li>
          <li>&bull;&nbsp;业务招待费超过3000元人民币的，请向区域总经理申请后，邮件报备财务负责人；</li>
          <li>&bull;&nbsp;业务招待费参照《业务人员招待费用报销标准》。</li>
        </ul>
      </li>
      <li>行政费用
        <ul class="list-unstyled">
          <li>&bull;&nbsp;公司行政部门按月结算的供应商费用，由行政助理进行统计及邮件申请，10000元以下由相关负责人审批；</li>
          <li>&bull;&nbsp;40000元以上由CEO审批，同时需附款项明细表。</li>
        </ul>
      </li>
    </ol>
    <h5>出差</h5>
    <ol>
      <li>差旅费
        <ul class="list-unstyled">
          <li>&bull;&nbsp;差旅费用报销包括跨地区交通费、出差地住宿费、出差地交通费等；</li>
          <li>&bull;&nbsp;如需出差请至少提前三个工作日发邮件给部门负责人，并抄送行政负责人及财务，获得确认后，行政同事将协助你进行交通、住宿预订，并记录出差考勤。邮件内容应包括出差时间、地点、人员、出差原因及拜访客户，并附上分项费用预估。</li>
        </ul>
      </li>
      <li>报销标准
        <p>跨地区交通费</p>
        <ul class="list-unstyled">
          <li>&bull;&nbsp;报销标准
            <table class="table table-bordered" style="text-align:center;">
              <tbody>
                <tr>
                  <td>距离</td>
                  <td>报销上限</td>
                </tr>
                <tr>
                  <td>0-1500公里（如上海、南京）</td>
                  <td>火车（卧铺），高铁或动车二等座票价</td>
                </tr>
                <tr>
                  <td>1500公里以上（广州、深圳）</td>
                  <td>飞机经济舱</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li>&bull;&nbsp;因特殊原因需紧急购买全价机票的，需经部门负责人、财务负责人联合审批；机票统一由行政购买。出差申请邮件获批后，请尽早转发行政，便于获取最佳订票折扣（请至少提前3天确认机票购买）；</li>
          <li>&bull;&nbsp;员工使用私人汽车在公司周边城市出差，可以报销合理的过路过桥费、停车费及汽油费；</li>
          <li>&bull;&nbsp;如交通费用超过报销标准，公司将按报销标准予以报销；</li>
          <p>出差地住宿：</p>
          <li>&bull;&nbsp;住宿以当地快捷酒店或同等酒店的单人标间400元/间/晚为标准；</li>
          <li>&bull;&nbsp;住宿费发票背后请附上酒店详单，洗衣费等额外费用不予报销。</li>
          <li>&diams;  特别提示:旺季或特别时节标准可作相应调整，但需部门负责人与行政核实确认；公司或部门组织外出活动时，住宿标准由公司行政统一确定。</li>
          <p>出差地交通费</p>
          <li>&bull;&nbsp;往返于酒店、办公地点及因公发生的合理交通费可予以报销；</li>
          <li>&bull;&nbsp;单人出差需往返机场时，如时间允许请优先选择机场巴士或快轨。</li>
        </ul>
      </li>
    </ol>
    <h5>团队建设费用报销</h5>
    <ol>
      <li>报销提交
        <ul class="list-unstyled">
          <li>&bull;&nbsp;由部门负责人提交《费用报销单》，进入相应流程。</li>
        </ul>
      </li>
      <li>报销标准
        <ul class="list-unstyled">
          <li>&bull;&nbsp;正式员工：150元/人/季；试用期员工、实习生：75/人/季。</li>
        </ul>
      </li>
      <li>注意事项
        <ul class="list-unstyled">
          <li>&bull;&nbsp;团队建设活动不在上班时间进行；</li>
          <li>&bull;&nbsp;团建费用最多可合并两个季度一起申请，不再多做顺延，逾期作废；</li>
          <li>&bull;&nbsp;实报实销，超出部分不予报销；</li>
          <li>&bull;&nbsp;员工可参加多支团队的活动，但报销额度只能使用一次；</li>
          <li>&bull;&nbsp;团队建设费用不以现金形式发放给个人。</li>
        </ul>
      </li>
      <li>申请流程
        <ul class="list-unstyled">
          <li>&bull;&nbsp;部门负责人以邮件形式进行申请,写明参加人员，费用标准，活动内容。人力资源审核费用是否符合标准，并做记录，抄送财务、CE0审批。</li>
        </ul>
      </li>
    </ol>
    <h5>对外付款</h5>
    <ol>
      <li>请款及审批
        <ul class="list-unstyled">
          <li>&bull;&nbsp;各部门指定人员或合约第一负责人负责系统请款，部门负责人及总经理联合审批。</li>
        </ul>
      </li>
      <li>提交单据及材料
        <ul class="list-unstyled">
          <li>&bull;&nbsp;在系统中申请，如无发票走借款申请；</li>
          <li>&bull;&nbsp;按约定比率计算金额的合同，在申请支付时必须提供结算单；</li>
          <li>&bull;&nbsp;在付款前已获得发票的，可持发票申请支付。发票必须真实有效，合同主体、发票提供方及收款单位应与合同条款一致，付款时间应符合合同约定；</li>
          <li>&bull;&nbsp;若先付款后开发票，记作预付款，由请款人负责索要发票。</li>
        </ul>
      </li>
      <li>支付方式及时间
        <ul class="list-unstyled">
          <li>&bull;&nbsp;支票、网上银行划款为公司主要对外支付方式；</li>
          <li>&bull;&nbsp;请款及审批手续完成后，财务会在5个工作日内完成付款。</li>
        </ul>
      </li>
      <li>发票遗失处理
        <ul class="list-unstyled">
          <li>&bull;&nbsp;如因请款人自身导致发票开错或遗失的，责任人必须承担相应损失，在获得财务部门批准后，由请款人提供可替代的入账凭证。</li>
        </ul>
      </li>
    </ol>
    <h5>对外收款</h5>
    <ol>
      <li>发票申请人及审批人
        <ul class="list-unstyled">
          <li>&bull;&nbsp;合约第一负责人发送开票申请邮件，由所在部门负责人和财务负责人联合批准确认。</li>
        </ul>
      </li>
      <li>申请信息包括
        <ul class="list-unstyled">
          <li>&bull;&nbsp;合同号、客户名称、项目内容、合同总金额、已开票金额、本次开票金额、费用类别（通常分为广告费、广告发布费、服务费等几类）。</li>
        </ul>
      </li>
      <li>发票更换及遗失说明
        <ul class="list-unstyled">
          <li>&bull;&nbsp;所有合约负责人均应认识到发票的重要性，并在开票前主动与客户确认各项发票信息；</li>
          <li>&bull;&nbsp;如需更换发票、，发票申请人应通过邮件向部门负责人和财务人员说明原因，获得批准后须将旧发票交回财务部门，领取新发票；</li>
          <li>&bull;&nbsp;若有发票遗失，责任人须承担相应损失。</li>
        </ul>
      </li>
      <li>收款
        <ul class="list-unstyled">
          <li>&bull;&nbsp;合约第一负责人应按合约规定账期及时收款，逾期未回款将承担相应责任；</li>
          <li>&bull;&nbsp;申款收取外币时，应在合同签订前向财务部门了解国家外汇管制的相关规定；</li>
          <li>&bull;&nbsp;公司主要收款方式为银行汇入或收取支票；</li>
          <li>&bull;&nbsp;财务部门会在收到汇款后3个工作日内通知业务部门到账信息。</li>
        </ul>
      </li>
    </ol>
    <br/><h4>办公环境</h4>
    <h5>办公用品</h5>
    <ol>
      <li>个人办公用品的管理
        <p>行政同事将会在你到岗之前为你配置一套桌椅及电脑设备（若自带笔记本电脑，公司将给予相应补助，补助标准参照“其他福利”）。在你领取办公用品时，请填写《物品申领单》。</p>
      </li>
      <li>公共用品的管理
        <p>公司公共物品由行政统一管理和维护，也请你爱护公共办公用品；打印和复印尽量避免浪费，提倡使用二次打印纸或无纸化办公。</p>
      </li>
    </ol>
    <h5>硬件设备和技术支持</h5>
    <ol>
      <li>对于公司提供的办公电脑设备及各种领用的硬件设备，请予以爱护。如出现非人为故障及损坏，请及时联系技术支持报修（外包）。对于个人原因造成的设备或配件丢失或损坏，设备使用人需进行相应赔偿；</li>
      <li>技术支持将会对公司内部公共硬件设备进行定期维护，保证所有员工正常使用；</li>
      <li>有技术支持的相关疑问，请咨询外包技术支持负责人（荣洋洋），QQ号码：39388316。</li>
    </ol>
    <h5>内部网络</h5>
    <ul class="list-unstyled">
      <li>&bull;&nbsp;办公网络：用于办公设备接入网络；</li>
      <li>&bull;&nbsp;无线网络密码自你入职后由行政同事为你设置好，以后就可自行连接；</li>
      <li>&bull;&nbsp;请你对公司内部无线网络密码保密，以防止外部设备占用资源。个人邮件及工作台相关密码，也请妥善保存；</li>
      <li>&bull;&nbsp;内部网络打印机、各类办公软件的安装，如有疑问，请联系外包技术支持协助安装使用；</li>
      <li>&bull;&nbsp;请做好个人电脑设备日常病毒查杀工作，如果你的电脑出现系统异常，请立即停止使用并联系技术支持，他们将快速帮你解决；</li>
      <li>&bull;&nbsp;请不要在工作时间下载与工作无关的内容或运行与工作无关的游戏软件，既影响他人又影响工作。技术支持也将通过运行流量监控进行管理；</li>
      <li>&bull;&nbsp;请不要发布非法信息。</li>
    </ul>
    <br/><h4>附录</h4>
    <h5>如何快速完成报销</h5>
    <ul class="list-unstyled">
      <li>第一步：填写《费用报销单》并找相应负责人签字；</li>
      <li>第二步：发送报销邮件至相关负责人及财务（月份、姓名、部门、报销金额）；</li>
      <li>第三步：交票至财务部报销。</li>
    </ul>
    <h5>报销单填写规范及票据粘帖要求</h5>
    <ol>
      <li>报销单填写规范
        <ul class="list-unstyled">
          <li><a href="/static/files/handbook.xls" target="_blank"><img style="width:70%; height:70%;" src="/static/imgs/t.png"></a></li><br/><br/>
          <li><a href="/static/files/handbook.xls" target="_blank"><img style="width:70%; height:70%;" src="/static/imgs/j.png"></a></li><br/><br/>
          <li><a href="/static/files/handbook.xls" target="_blank"><img style="width:70%; height:70%;" src="/static/imgs/b.png"></a></li><br/><br/>
        </ul>
        <ul class="list-unstyled">
          <p>填写注意事项</p>
          <li>&bull;&nbsp;报销单据请用黑色钢笔或签字笔填写，并不得随意涂改；</li>
          <li>&bull;&nbsp;报销单各项目应填写完整，大小金额一致；</li>
        </ul>
      </li>
      <li>票据粘帖提醒
        <ul class="list-unstyled">
          <li>&bull;&nbsp;粘帖票据时请不要粘住重要发票信息（日期、金额、时间、明细、抬头等）；</li>
          <li>&bull;&nbsp;所贴发票折叠后应尽量保持与报销单封面大小一致；</li>
          <li>&bull;&nbsp;同类型（项目）发票请尽量贴在一起；</li>
          <li>&bull;&nbsp;面积相似的票据（如车票等），可分层次张贴，依次露出发票金额。</li>
        </ul>
      </li>
      <li>票据要求
        <ul class="list-unstyled">
          <li>&bull;&nbsp;发票抬头：除定额发票以外，其他机打或手写发票的抬头应为报销人所在公司的全称；</li>
          <li>&bull;&nbsp;发票必须有税务局及发票开具单位的发票专用章，且清晰可辨别；</li>
          <li>&bull;&nbsp;手写发票应字迹清晰，无涂改痕迹；</li>
          <li>&bull;&nbsp;审核人须了解费用发生的时间、地点、人员、事由等要素，发票票面信息不足的，由报销人发邮件给财务补充说明，要求如下：
          <li>&bull;&nbsp;出租车票须在背面注明起止地点、人数及事由等信息；</li>
          <li>&bull;&nbsp;餐费须在发票背后注明用餐地点、事由、随同人等信息；</li>
          <li>&bull;&nbsp;涉及实物购买的报销单据，须附上销售小票或其他明细消费凭证，及行政入库单；</li>
          <li>&bull;&nbsp;出差住宿发票，须附酒店的住宿费用明细单。</li>
        </ul>
      </li>
    </ol>
  </br>
  </br>
  </br>
  </br>
  <div class="row">
    <div class="col-xs-6 col-sm-4"></div>
    <div class="col-xs-6 col-sm-4">
      <form method='POST'>
        <button type="submit" class="btn btn-success">已阅读</button>
      </form>
    </div>
    <div class="col-xs-6 col-sm-4"></div>
  </div>
  </br>
  </br>
  </br>
  </br>
  </div>
</body>
</html>