{% extends "/base_v1_0_0.html" %}
{% block title %}媒体执行额{% endblock %}
{% block content %}
{% include "/data_query/data_query_base_v1_0_0.html" %}
<div class="container bra-box" style="width:2000px;">
    <h3 {% if g.user.is_super_leader() %}style="margin-top: 50px;"{% endif %}>媒体执行额</h3>
    <div class="search-bar">
        <form class="menu-btn-bar" style="float: left;">
            <div class="select_option">
                <label for="sale_type" class="control-label">执行年</label>
                <select class="form-control special_sale" name="year" id="year" style="width:150px;">
                    {% for k in range(5) %}
                    <option value="{{2014+k}}">{{2014+k}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">媒体</label>
                <select class="form-control special_sale" name="medium_id" id="medium_id">
                    <option value='0'>所有媒体</option>
                    {% for medium in s_mediums %}
                        <option value="{{medium.id}}">{{medium.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select_option screen">
                <input type="submit" value="筛选">
            </div>
            <div class="select_option return">
                <input type="button" value="导出" onclick="javascript:download();">
            </div>
        </form>
    </div>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>媒体名称</th>
                    <th width="8%">类别</th>
                    {% for k in range(1,13) %}
                        <th>{{year}}-{{k}}</th>
                    {% endfor %}
                    <th>总计</th>
                </tr>
            </thead>
            <tbody>
                {% for medium in medium_data %}
                <tr>
                    <td rowspan=5>{{medium.name}}</td>
                </tr>
                <tr>
                    <td>售卖金额</td>
                    {% for i in medium.sale_money_data %}
                    <td>{{i|format_price}}</td>
                    {% endfor %}
                    <td>{{medium.sale_money_data|sum()|format_price}}</td>
                </tr>
                <tr>
                    <td>媒体金额</td>
                    {% for i in medium.medium_money2_data %}
                    <td>{{i|format_price}}</td>
                    {% endfor %}
                    <td>{{medium.medium_money2_data|sum()|format_price}}</td>
                </tr>
                <tr>
                    <td>媒体返点</td>
                    {% for i in medium.medium_rebate_data %}
                    <td>{{i|format_price}}</td>
                    {% endfor %}
                    <td>{{medium.medium_rebate_data|sum()|format_price}}</td>
                </tr>
                <tr>
                    <td>代理返点</td>
                    {% for i in medium.agent_rebate_data %}
                    <td>{{i|format_price}}</td>
                    {% endfor %}
                    <td>{{medium.agent_rebate_data|sum()|format_price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% set pages = mediums %}
</div>
<script>
    $(function(){
        $('select').chosen({disable_search: true});
        $("#medium_id").val("{{medium_id}}")
        $("#medium_id").trigger("chosen:updated");
        $("#year").val("{{year}}")
        $("#year").trigger("chosen:updated");
    })
    function download(){
         window.location.href = window.location.pathname +
          '?year=' + $('#year').val() +
          '&medium_id=' + $('#medium_id').val() + '&action=download';
    }
</script>
{% endblock %}