{% from '/form_v1_0_0.html' import form_field %}
{% macro invoice_form(order, form, INVOICE_TYPE_CN, MEDIUM_INVOICE_BOOL_PAY_CN, invoice=None) -%}
{% if invoice %}
{% if order.can_admin(g.user) and invoice.invoice_status == 1 %}
    <div class="well">
        <h4>
            <input type="checkbox" name="invoice-id" class="invoice-id" value="{{invoice.id}}"/>
            {{invoice.medium_group.name}}-{{ invoice.medium.name }}-{{ invoice.money }}元
        </h4>
        <form class="input-row-box" method="POST" action="{{url_for('finance_client_order_medium_pay.update_invoice', invoice_id=invoice.id)}}" onsubmit="return checkform(this)">
        {{form.csrf_token}}
        <div class="input-group-menu">
          <div class="name">媒体供应商：</div>
          <select class="surname" style="width:300px;" name="medium_group" id="medium_group_{{invoice.id or 0}}">
              {% for g in order.medium_groups %}
              <option value="{{g.id}}">{{g.name}}</option>
              {% endfor %}
          </select>
        </div>
        <div class="input-group-menu">
          <div class="name">投放媒体：</div>
          <select class="surname" style="width:300px;" name="media" id="media_{{invoice.id or 0}}">
              {% for g in order.medias %}
              <option value="{{g.id}}">{{g.name}}</option>
              {% endfor %}
          </select>
        </div>
        {{ form_field(form.company) }}
        {{ form_field(form.tax_id) }}
        {{ form_field(form.address) }}
        {{ form_field(form.phone) }}
        {{ form_field(form.bank_id) }}
        {{ form_field(form.bank) }}
        {{ form_field(form.detail) }}
        {{ form_field(form.money) }}
        {{ form_field(form.invoice_num) }}
        {{ form_field(form.invoice_type) }}
        <div class="input-group-menu">
          <div class="name">开票时间 : </div>
            <input type="text" id="add_time" name="add_time" value="{{form.add_time.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
        </div>
        {{ form_field(form.bool_invoice) }}
        <div class="state" style="margin-left:40%;">
            <input type="submit" value="保存">
        </div>
        </form>
    </div>
{% else %}
<div class="col-md-12">
    <div class="col-md-6" style="margin-left: 20px;">
        <table class="table table-bordered">
          <tr>
            <th>开票时间</th>
            <td>{{invoice.create_time}}</td>
          </tr>
          <tr>
            <th>公司名称</th>
            <td>{{invoice.company}}</td>
          </tr>
          <tr>
            <th>税号</th>
            <td>{{invoice.tax_id}}</td>
          </tr>
          <tr>
            <th>公司地址</th>
            <td>{{invoice.address}}</td>
          </tr>
          <tr>
            <th>联系电话</th>
            <td>{{invoice.phone}}</td>
          </tr>
          <tr>
            <th>银行账号</th>
            <td>{{invoice.bank_id}}</td>
          </tr>
          <tr>
            <th>开户行</th>
            <td>{{invoice.bank}}</td>
          </tr>
          <tr>
            <th>发票内容</th>
            <td>{{invoice.detail}}</td>
          </tr>
          <tr>
            <th>发票金额</th>
            <td>{{invoice.money}}元</td>
          </tr>
          <tr>
            <th>打款金额</th>
            <td>{{invoice.pay_money}}元</td>
          </tr>
          <tr>
            <th>发票号</th>
            <td>{{invoice.invoice_num}}</td>
          </tr>
          <tr>
            <th>发票类型</th>
            <td>{{INVOICE_TYPE_CN[invoice.invoice_type]}}</td>
          </tr>
          <tr>
            <th>开票时间</th>
            <td>{{invoice.add_time_cn}}</td>
          </tr>
          <tr>
            <th>是否收票</th>
            {% if invoice.bool_invoice %}
            <td>已收发票</td>
            {% else %}
            <td>未收发票</td>
            {% endif %}
          </tr>
          <tr>
            <th>是否打款</th>
            {% if invoice.bool_pay %}
            <td>已打款</td>
            {% else %}
            <td>未打款</td>
            {% endif %}
          </tr>
        </table>
    </div>
</div>
{% endif %}
{% else %}
    <div class="well">
        <form class="input-row-box" method="POST" action="{{url_for('finance_client_order_medium_pay.new_invoice', order_id=order.id)}}" onsubmit="return checkform(this)">
        {{form.csrf_token}}
        <div class="input-group-menu">
          <div class="name">媒体供应商：</div>
          <select class="surname" style="width:300px;" name="medium_group" id="medium_group_{{invoice.id or 0}}">
              {% for g in order.medium_groups %}
              <option value="{{g.id}}">{{g.name}}</option>
              {% endfor %}
          </select>
        </div>
        <div class="input-group-menu">
          <div class="name">投放媒体：</div>
          <select class="surname" style="width:300px;" name="media" id="media_{{invoice.id or 0}}">
              {% for g in order.medias %}
              <option value="{{g.id}}">{{g.name}}</option>
              {% endfor %}
          </select>
        </div>
        {{ form_field(form.company) }}
        {{ form_field(form.tax_id) }}
        {{ form_field(form.address) }}
        {{ form_field(form.phone) }}
        {{ form_field(form.bank_id) }}
        {{ form_field(form.bank) }}
        {{ form_field(form.detail) }}
        {{ form_field(form.money) }}
        {{ form_field(form.invoice_num) }}
        {{ form_field(form.invoice_type) }}
        
        <div class="input-group-menu">
          <div class="name">开票时间 : </div>
            <input type="text" id="add_time" name="add_time" value="{{form.add_time.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
        </div>
        {{ form_field(form.bool_invoice) }}
        <div class="state" style="margin-left:40%;">
            <input type="submit" value="保存">
        </div>
        </form>
    </div>
{% endif %}
 <script>
    
    function checkform(obj){
      if (obj.back_time.value == ""){
        alert('请选择回款时间')
        return false
      }
    }
    $(function(){
        $('.datetimepicker').datetimepicker({
            autoclose: true,
            todayHighlight: true,
            language: 'zh-CN',
            minView: 2
          });
        $('#new_medium').trigger("change");
    })
    
    {% if invoice %}
      $('#medium_group_{{invoice.id}}').val('{{invoice.medium_group_id}}');
      $('#medium_group_{{invoice.id}}').trigger("chosen:updated");
    {% else %}
    {% endif %}
</script>
{%- endmacro %}
