{% extends "/finance_base.html" %}
{% block title %}我的客户订单{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3>已打款的外包信息</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>外包商名称</th>
            <th>类型</th>
            <th>开户行</th>    
            <th>卡号</th>
            <th>支付宝</th>
            <th>联系方式</th>
            <th>打款金额</th>
            <th>是否有发票</th>
            <th>订单明细</th>
            <th>打款时间</th>
        </tr>
        {% for outsource in merger_outsources %}
        <tr>
            <td><a href="#">{{outsource.target.name}}</a></td>
            <td>{{outsource.target.type_cn}}</td>
            <td>{{outsource.target.bank}}</td>
            <td>{{outsource.target.card}}</td>
            <td>{{outsource.target.alipay}}</td>
            <td>{{outsource.target.contract}}</td>
            <td>{{outsource.pay_num}}</td>
            <td>{% if outsource.invoice %}有{%else%}无{%endif%}</td>
            <td>{{outsource.media_info|safe}}</td>
            <td>{{outsource.create_time_cn}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
