{% extends "/finance_base.html" %}
{% block title %}我的客户订单{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3>供应商外包打款信息</h3>
    <table class="table table-bordered">
        <tr>
            <th>外包商名称</th>
            <th>类型</th>
            <th>开户行</th>    
            <th>卡号</th>
            <th>支付宝</th>
            <th>联系方式</th>
            <th>申请打款个数</th>
            <th>已打款个数</th>
            <th>操作</th>
        </tr>
        {% for target in targets %}
        <tr>
            <td>{{ target.name }}</td>
            <td>{{ target.type_cn }}</td>
            <td>{{ target.bank }}</td>
            <td>{{ target.card }}</td>
            <td>{{ target.alipay }}</td>
            <td>{{ target.contract }}</td> 
            {% if target.merger_client_order_outsources_by_status(2)|length > 0 %}
                <td style="color:red;">{{ target.merger_client_order_outsources_by_status(2)|length }}</td>
            {% else %}
                <td>0</td>
            {% endif %}
            
            <td>{{ target.merger_client_order_outsources_by_status(0)|length }}</td>
            <td><a href="{{url_for('finance_pay.info',target_id=target.id)}}">查看</a></td>     
        {% endfor %}
    </table>
</div>
{% endblock %}
