<!--导航-->
<div class="top-nav-wrap">
    {% if g.user.is_super_leader() or g.user.is_finance() %}
    <!--一级菜单-->
    <div class="menu-bar">
        <ul>
            <li><a href="{{url_for('data_query_weekly.douban_index')}}">致趣</a><span>|</span></li>
            <li><a href="{{url_for('searchAd_data_query_profit.client_order')}}" class="on">效果</a><span></span></li>
        </ul>
    </div>
    {% endif %}
    <div class="top-nav" {% if not (g.user.is_super_leader() or g.user.is_finance()) %}style="top: 20px;"{% endif %}>
        {% if g.user.is_finance() or g.user.is_super_leader() or g.user.is_searchad_leader() %}
        <ul>
            <li id="_accruedsearch_client_order_"">
              <a href="{{url_for('searchAd_data_query_accrued.search_client_order')}}">效果业务收入计提</a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>

<script>
    $(function(){
        var pathname = window.location.pathname;
        var p_pathname = pathname.split('/')
        $('#_'+p_pathname[3]+p_pathname[4]+'_').addClass("active");
    })
</script>
