{% extends "/base_v1_0_0.html" %}
{% block title %}销售人员完成率{% endblock %}

{% block content %}
{% include "/account/account_performance_base_v1_0_0.html" %}
<div class="container bra-box">
    <div class="table-switch">
        <ul>
            <li class="actives">
                <a href="#" class="on">自营业务</a>
            </li>
            <li>
                <a href="{{url_for('account_completion.increment_index')}}">增量业务</a>
            </li>
        </ul>
    </div>
    <br/>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th width="10%">区域</th>
                    <th width="20%">姓名</th>
                    <th width="20%">Leader</th>
                    <th width="20%">最近一季度</th>
                    <th width="10%">完成率</th>
                    <th width="20%">操作</th>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered">
            {% for k in huabei_users %}
            <tr>
                <td width="10%">{{k.location_cn}}</td>
                <td width="20%">{{k.name}}</td>
                <td width="20%">{{k.team_leaders_cn}}</td>
                <th width="20%">{% if k.lately_completion %}{{k.lately_completion.time}}{% else %}无{% endif %}</th>
                <th width="10%">{% if k.lately_completion %}{{k.lately_completion.rate}}%{% else %}无{% endif %}</th>
                <td width="20%"><a href="{{url_for('account_completion.info', user_id=k.id)}}">设置完成率</a></td>
            </tr>
            {% endfor %}
        </table>
        <table class="table table-bordered">
            {% for k in huadong_users %}
            <tr>
                <td width="10%">{{k.location_cn}}</td>
                <td width="20%">{{k.name}}</td>
                <td width="20%">{{k.team_leaders_cn}}</td>
                <th width="20%">{% if k.lately_completion %}{{k.lately_completion.time}}{% else %}无{% endif %}</th>
                <th width="10%">{% if k.lately_completion %}{{k.lately_completion.rate}}%{% else %}无{% endif %}</th>
                <td width="20%"><a href="{{url_for('account_completion.info', user_id=k.id)}}">设置完成率</a></td>
            </tr>
            {% endfor %}
        </table>
        <table class="table table-bordered">
            {% for k in huanan_users %}
            <tr>
                <td width="10%">{{k.location_cn}}</td>
                <td width="20%">{{k.name}}</td>
                <td width="20%">{{k.team_leaders_cn}}</td>
                <th width="20%">{% if k.lately_completion %}{{k.lately_completion.time}}{% else %}无{% endif %}</th>
                <th width="10%">{% if k.lately_completion %}{{k.lately_completion.rate}}%{% else %}无{% endif %}</th>
                <td width="20%"><a href="{{url_for('account_completion.info', user_id=k.id)}}">设置完成率</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
