body{
    min-height: 100%;
    background-color: #eee;
    min-width: 1265px;
}
#footer {
    margin-top: 20px;
}
.errors{
    color: #CC6655;
}
.bra-form-control{
    width: 300px;
    display: inline-block;
}
.container-fluid{
    max-width: 95%;
}
.navbar {
    min-height: 45px;
    width: 100%;
}
.nav > li > a {
    padding: 10px 15px;
}
.navbar-brand {
    padding: 10px 15px;
    height: 40px;
    font-weight: bold;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover{
    *color: #08c;
    *color: #339999;
}
.navbar-default {
    border: 1px solid transparent;
    background-color: #fff;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    *color: #08c;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
}
.tab-pane {
    padding-top: 20px;
}

.alert {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.alert-message {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.file-widget-wrapper {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.file-widget-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.col-sm-2-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col_change_state_button {
    margin-bottom: 15px;
}

.table-container {
    overflow-x: scroll;
    margin-bottom : 5px;
}

.button-export {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-left: 5px;
}

#search_info{
    width: 260px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.order-num[readonly]{
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
    border: 1px solid #ccc;
}

#search_select{
    width: 150px;
    height: 34px;
}

button.copy-material{
    margin-left: 5px;
    border-radius: 3px;
}
.alert-div{
    position: fixed;
    z-index: 2;
    width: 550px;
    top: 25%;
    right: 25%;
    background-color: #fff;
    font-size: 14px;
    box-shadow: 0px 0px 15px#888888;
    border-radius: 4px;
}
.hd{
    color: #fff;
    background: #545867;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}
.hd h4{
    margin-top: 0px;
    padding: 10px;
}
.ft {
    padding: 20px
}
.pad-left20{
    padding-left: 20px;
}
.pad-bottom15{
    padding-bottom: 15px;
}
.marg-right20{
    margin-right: 20px;
}
