*{padding: 0;
list-style: none;
margin:; 0;
font-family: "myFirstFont";}
@font-face{
font-family: myFirstFont;
src: url('lanting.TTF');/* IE9+ */
}
.row{width: 100%;}
.introduction{width: 100%;}

.intro-all{padding-right: 0px;
			padding-left: 0px;
			float: left;
			width: 20%;}
.means{margin-top: 10px;}
.means p{color: #555555;
			font-size: 12px;}
.means span{color: #555555;
		font-size: 12px;}
.sculpture{left: 0;
			float: left;
			padding-right: 0px;
			padding-left: 0px;
			position: relative;
			z-index: 900;
			margin-top: 5px;}
.set {
	width:23px ;
	height:23px ;
	position: absolute;
	right: 10px;
	cursor: pointer;
	top: 110px;
}
.set img{
	width:13px ;
	height:13px ;
	display: block;
}
.head-icon{width:500px;
			margin-left: -380px;
			overflow: hidden;
			background: #fff;
			position: relative;
			height: 129px;
			margin-right: 15px;}
.head-icon img{width:129px;
				height: 129px;
				margin-left: 380px;
				display: block;}

.module-box{overflow: hidden;
		height: 150px;
		left: 55px;
		top: 10px;}

.message{position: absolute;
		background: #f6f6f6;
		overflow: hidden;
		display: none;
		border: 1px solid #ccc;
		padding-right: 10px;
		height:129px;
		z-index: 99;
		margin-left: 0px;
		margin-top: 5px;}

.message p,.message span{font-size: 12px;
						color: #424242;
						margin-left: 10px;
						margin-top: 12px;}


.own-name{height: 20px;
			margin-top: 10px;
			cursor: pointer;
			margin: 10px auto;
			}
.own-name p{color: #fff;
			background:#c9612e;
			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;
			line-height: 20px;
			font-size: 12px;}
 .own-name span{color: #fff;
 				margin-left: 5px;
 				font-size: 12px;}
.my-intro{margin-top: 10px;
		padding-left: 0;
		width: 60%;
		float: left;}

.name{width:70px;
	height: 18px;}

.name p{float: left;
		line-height: 18px;
		font-size:12px;}

.intro-all{margin-top: 10px;}

.winbox{float: left;
		width: 40%;
		margin-top: 10px;
		background: url(../imgs/103_03.png) repeat-y;}

.dynamic{width:100%;
		height: 30px;}
.dynamic-img{width:75%;
			z-index: 33;
			position:relative;}
.dynamic-img img{float: left;
				width: 30px;
				height: 30px;
				margin-left:5px;
				margin-right: 15px;
				margin-bottom: 10px;}
.dynamic-img span{font-size:  12px;
				color:#d3d3d3;}
.dynamic-img p{
				font-size: 12px;
				margin-left: 30px;color:#919191;}
.dynamic-img p a{color: #909090;
				line-height: 17px;}
.dynamic-msg{width:75%;
			z-index: 33;
			height: 60px;
			position:relative;}
.dynamic-msg img{float: left;
				width: 30px;
				height: 30px;
				margin-left:5px;
				margin-right: 15px;
				margin-bottom: 10px;}
.dynamic-msg span{font-size:  12px;color:#d3d3d3;
				-webkit-transform:scale(0.9);}
.dynamic-msg p{font-size: 12px;
				line-height: 15px;
				margin-left: 30px;color:#919191;
				font-weight: normal;}

.dynamic-msg p a{color: #909090;}
.more{
		height: 30px;
		cursor:pointer;
		float: right;}

.more a {width: 150px;
			height: 20px;
			color:#fff;
			background: #919191;
			text-decoration: none;
			padding: 5px 10px;
			font-size: 12px}
.more a:hover{
	background: #c9612e;
}
.line-1{width: 100%;
	border-bottom: 1px solid #c8c8c8;
	clear: both;
	margin-top: 30px;
	}

.title{width: 100%;
		height:36px;
		margin-bottom:8px;}
.title h1{font-size: 14px;
		color: #555555;
		
		margin-bottom: 1px;}
.title span{color: #c4c4c4;			
			font-size: 14px;
			margin-left:-2px;}

#tab1{height:200px;
      margin:10px auto;
  	width:100%;}

#nav-title{border:1px solid #ccc;
        border-bottom:none;
        background:#fff;}

#nav-title li{width:25%;
           text-align:center;
           height:20px;
           line-height:20px;
           float:left;
           border-right:1px solid #ccc;
           background: #e7e7e7;
           cursor:pointer;}

#nav-title li.on{background: #d5d9d8;
				color: #c9612e;
              }
#con1{clear:both;
	background: #f8f7f7;
      border-top:none;}

#con1 ul{display:none;}

#con1 .select{display:block;}


.quarter, .year, .living-quarter{
	height: 59px;
	border-bottom: 1px solid #c6c6c6;
	margin-bottom: 10px;}

.ser-task{float: left;
		width:33.3%;}

.ser-task h5{float: left;
			margin-top: 24px;
			font-size: 14px;
			margin-left: 5%;
			margin-right: 5%;}

.ser-task  p{margin-top: 25px;}

.ser-task p strong,span{/*font-size: 16px;*/
						font-weight: normal;
						/**color: #cc6e44;**/}

.ser-task p span{font-size: 14px;}

.progress{background: #919191;}
.completion{width:33.3%;
			float: left;}
.completion p{margin-top: 10px;
				font-size: 12px;
				float: left;
				margin-bottom: 4px;}
.completion span{float: left;
				font-size: 12px;
				color:#d38768;
				margin-top: 5px;
				margin-left: 50%;}
.progress{clear: both;
		margin-top: 30px;}
.received h5{float: left;
			margin-top: 24px;
			font-size: 14px;
			margin-right: 10px;
			margin-left: 100px;}

.received{width:33.3%;
		float: left;}
.received  p{margin-top: 25px;}

.received p strong,span{/*font-size: 16px;*/
					font-weight: normal;
					/**color: #cc6e44;**/}

.received p span{font-size: 14px;}

.living-quarter .pad-box{width:33.3%;
						float:left;}
.living-quarter p{font-size: 14px;
				color: #545454;
				margin-top: 20px;
				margin-left: 20px;}
.living-quarter p strong{margin-left: 20px;}
.living-quarter p strong,span{
						/**color: #cc6e44;**/
						/*font-size: 16px;*/}

.living-quarter p span{font-size: 14px;
						margin-left: 0px;
						}

.all-doll p{margin-left: 100px;}

.title-bussess{/*border-top: 1px solid #ccc;*/
				margin-top: 50px;}

.bussess{width:150px;
		height: 90px;
		float: left;
		margin-top: 20px;
		margin-right: 47px;
		margin-bottom: 60px;
		position: relative;}

.new,.new img{width:29px;
	height: 17px;
	position: absolute;
	right: -13px;
	top: 0;}		

.manage{width: 150px;
		height:90px;
		background: #919191;
		border: 1px solid #cccccc;
		border-bottom: none;
		cursor: pointer;
		z-index: 9;
		position: relative;}

.manage h5{font-size: 30px;
			line-height: 70px;
			font-weight: normal;
			color: #fff;
			text-align: center;}
.manage p{font-size: 12px;
		color: #ccc;
		padding: 10px;
		padding-left: 15px;
		line-height: 18px;
		display: none;}
.drown-click{width: 150px;
			border-top: none;
			height: 15px;
			cursor: pointer;
			background: url(../imgs/down.png) no-repeat;
			position: relative;
			}

.menu-list{width:150px;
			background: #393327;
			z-index: 9999;
			position: relative;
			display: none;}

.menu-list ul{width: 150px;
			margin: 0 auto;
				}

.menu-list ul li {margin: 0 auto;
				height: 30px;
				color: #fff;
				font-size: 12px;
				line-height: 30px;
				width: 150px;
				margin: 0 auto;
				text-align: center;
				cursor: pointer;
				border-bottom:1px solid #424242;}

.menu-list ul li a{margin: 0 auto;
				height: 30px;
				color: #fff;
				font-size: 12px;
				line-height: 30px;
				width: 150px;
				margin: 0 auto;
				text-align: center;
				cursor: pointer;}

.menu-list ul li:hover, .menu-list ul li a:hover{
					color: #debd78;
					width: 150px;
					background: #424242;
					text-decoration: none;}










