{% extends "/base_v1_0_0.html" %}
{% from 'form_v1_0_0.html' import form_field %}

{% block content %}
{% include "/client/client_base_v1_0_0.html" %}
<div class="container bra-box">
    <h3>{{ title }}</h3>
    <form class="input-row-box" method="POST">
      {{form.csrf_token}}
      {{ form_field(form.name) }}
      {{ form_field(form.abbreviation) }}
      {{ form_field(form.owner) }}
      {{ form_field(form.level) }}
      {{ form_field(form.tax_num) }}
      {{ form_field(form.address) }}
      {{ form_field(form.phone_num) }}
      {{ form_field(form.bank) }}
      {{ form_field(form.bank_num) }}
      <div class="state" style="margin-left:40%;">
          <input type="submit" value="保存">
      </div>
</div>
<script>
    $(function(){
      $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true});
    })
</script>
{% endblock %}
