{% extends "/base_v1_0_0.html" %}
{% block title %}媒体订单执行成本{% endblock %}
{% macro all_items(orders) -%}
<div class='tabulation'>
    <table border='1'>
        <thead>
            <tr>
                <th>所属区域</th>
                <th style="width:165px;">合同号</th>
                <th>客户名称</th>
                <th>直客/代理</th>
                <th>项目名称</th>
                <th>合同总金额</th>
                <th>已回款金额</th>
                <th>客户{{month}}月执行额</th>
                <th>{{month}}月代理返点</th>
                <th>{{month}}月实际代理返点</th>
                <th style="width:100px;">投放媒体</th>
                <th>{{month}}月客户金额</th>
                <th style="width:165px;">媒体合同号</th>
                <th>媒体合同总金额</th>
                <th>{{month}}月媒体执行金额</th>
                <th>{{month}}月媒体返点</th>
                <th>{{month}}月实际媒体返点</th>
                <th>{{month}}月合同利润</th>
                <th>{{month}}月实际合同利润</th>
                <th>合同开始</th> 
                <th>合同结束</th> 
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{order.locations_cn}}</td>
                <td>{{order.contract}}</td>
                <td>{{order.client_name}}</td>
                <td>{{order.agent_name}}</td>
                <td>{{order.campaign}}</td>
                <td>{{order.money|format_price}}</td>
                <td>{{order.back_moneys|format_price}}</td>
                <td>{{order.now_month_money_zhixing|format_price}}</td>
                <td>{{order.now_month_agent_rebate_money|format_price}}</td>
                <td>{{order.now_month_agent_real_rebate_money|format_price}}</td>
                <td>
                    {% for k in order.medium_data %}
                    {{ k.name }}<br/>
                    {% endfor %}
                </td>
                <td>
                    {% for k in order.medium_data %}
                    {{ k.now_month_money_kehu|format_price }}<br/>
                    {% endfor %}
                </td>
                <td>
                    {% for k in order.medium_data %}
                    {{ k.medium_contract }}<br/>
                    {% endfor %}
                </td>
                <td>
                    {% for k in order.medium_data %}
                    {{ k.medium_money2|format_price  or '0'}}<br/>
                    {% endfor %}
                </td>
                <td>
                    {% for k in order.medium_data %}
                    {{ k.now_month_money_zhixing|format_price }}<br/>
                    {% endfor %}
                </td>
                <td>{% for k in order.medium_data %}
                    {{k.now_month_medium_rebate_money|format_price}}<br/>
                    {% endfor %}
                </td>
                <td>{{order.now_month_medium_real_rebate_money|format_price}}</td>
                <td>{{order.profit_money|format_price}}</td>
                <td>{{order.real_profit_money|format_price}}</td>
                <td>{{order.start_date_cn}}</td>
                <td>{{order.end_date_cn}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%- endmacro %}
{% block content %}
{% include "/data_query/data_query_base_v1_0_0.html" %}
<div class="container bra-box" style="width:3000px;">
    <h3 {% if g.user.is_super_leader() %}style="margin-top: 50px;"{% endif %}>媒体订单执行成本</h3>
    <div class="search-bar">
        <form class="menu-btn-bar" style="float: left;">
            <div class="select_option">
                <label for="sale_type" class="control-label">执行年</label>
                <select class="form-control special_sale" name="year" id="year" style="width:150px;">
                    {% for k in range(5) %}
                    <option value="{{2014+k}}">{{2014+k}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">月</label>
                <select class="form-control special_sale" name="month" id="month" style="width:150px;">
                    {% for k in range(1, 13) %}
                    <option value="{{k}}">{{k}}月</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select_option screen">
                <input type="submit" value="筛选">
            </div>
            <div class="select_option return">
                <input type="button" value="导出" onclick="javascript:download();">
            </div>
        </form>
    </div>
    <br>
    {{ all_items(client_orders) }}
</div>
<script>
    $(function(){
        $('select').chosen({disable_search: true});
        $("#year").val("{{year}}");
        $("#year").trigger("chosen:updated");
        $("#month").val("{{month}}")
        //$("#month option[value='{{month}}']").attr("selected","selected");  
        $("#month").trigger("chosen:updated");
    })
    function download(){
         window.location.href = window.location.pathname +
          '?year=' + $('#year').val() +'&month=' + $('#month').val() + '&action=download';
    }
</script>
{% endblock %}
