{% extends "/site_base.html" %}

{% block left_box%}
    {% if g.user.is_admin() or g.user.is_contract() or g.user.is_media() or g.user.is_super_leader() or g.user.is_finance()%}
    <a class="list-group-item" href="{{url_for('data_query_order.index')}}">
      <span class="glyphicon glyphicon-th-list"></span> 月度订单金额
    </a>
    {% endif %}
    <a class="list-group-item" href="{{url_for('data_query_weekly.index')}}">
      <span class="glyphicon glyphicon-th-list"></span> 媒体订单周报
    </a>
    <a class="list-group-item" href="{{url_for('data_query_weekly.douban_index')}}">
      <span class="glyphicon glyphicon-th-list"></span> 直签豆瓣订单周报
    </a>
    {% if g.user.is_media() or g.user.is_super_leader() or g.user.is_media_leader() %}
    <a class="list-group-item" href="{{url_for('data_query_medium.index')}}">
      <span class="glyphicon glyphicon-th-list"></span> 媒体执行额
    </a>
    {% endif %}
    {% if g.user.is_operater_leader() or g.user.is_super_leader() %}
    <a class="list-group-item" href="{{url_for('data_query_outsource.index')}}">
      <span class="glyphicon glyphicon-th-list"></span> 外包成本
    </a>
    <a class="list-group-item" href="{{url_for('data_query_outsource.info')}}">
      <span class="glyphicon glyphicon-th-list"></span> 外包成本详情
    </a>
    {% endif %}
    {% if g.user.is_finance() or g.user.is_super_leader() or g.user.is_media_leader() %}
    <a class="list-group-item" href="{{url_for('data_query_profit.client_order')}}">
      <span class="glyphicon glyphicon-th-list"></span> 媒体订单执行成本
    </a>
    <a class="list-group-item" href="{{url_for('data_query_profit.douban_order')}}">
      <span class="glyphicon glyphicon-th-list"></span> 豆瓣订单执行成本
    </a>
    {% endif %}
    {% if g.user.is_super_leader() %}
     <a class="list-group-item" href="{{url_for('data_query_super_leader_medium.money')}}">
      <span class="glyphicon glyphicon-th-list"></span> 媒体清单
    </a>
    {% endif %}
{% endblock %}
