{% extends "/base_v1_0_0.html" %}
{% block title %} 代理/直客返点信息列表{% endblock %}

{% block content %}
{% include "/searchAdclient/searchAd_client_base_v1_0_0.html" %}
<div class="container bra-box">
    <h3>新建 {{agent.name}} 返点信息</h3>
    <form class="input-row-box" method="POST" action="{{url_for('searchAd_client.agent_rebate_create', agent_id=agent.id)}}" onsubmit="return check_form(this);">
        <div class="input-group-menu">
          <div class="name">执行年 : </div>
            <select name="year" id="year" class="usrname" style="width:300px;">
                {% for k in range(0, 10) %}
                <option value="{{2014+k}}">{{2014+k}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group-menu">
          <div class="name">致趣返点信息 : </div>
            <input type="number" name="inad_rebate" step="any" id="inad_rebate" class="usrname" style="width:300px;" placeholder="请输入数字" value='0' />
            <span style="color:red;" class="tips">%</span>
        </div>
        <div class="input-group-menu">
          <div class="name">豆瓣返点信息 : </div>
            <input type="number" name="douban_rebate" step="any" id="douban_rebate" class="usrname" style="width:300px;" placeholder="请输入数字" value='0' />
            <span style="color:red;" class="tips">%</span>
        </div>
        <div class="state" style="margin-left:40%;">
            <a href="{{url_for('searchAd_client.agent_rebate', agent_id=agent.id)}}"><input type="button" value="返回"></a>
            <input type="submit" value="保存">
        </div>
    </from>
</div>
<script>
$(function(){
    $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true});
   
})
function check_form(obj){
    if (obj.inad_rebate.value == ''){
        alert('请输入致趣返点信息')
        obj.inad_rebate.focus()
        return false;
    }
    if (obj.douban_rebate.value == ''){
        alert('请输入豆瓣返点信息')
        obj.douban_rebate.focus()
        return false;
    }
    return true;
}
</script>
{% endblock %}
