{% extends "/mediums/mediums_base.html" %}
{% from 'form.html' import form_field %}
{% block title %}策划案例{% endblock %}
{% block main_box %}
<link rel="stylesheet" href="/static/css/bootstrap-tagsinput.css" type="text/css">

<div class="bra-main bra-box" style="width:1200px;">
  <h4>新建{{title}}</h4>
  <form class="form form-horizontal" method="POST" action="{{url_for('mediums_planning.create', type=type)}}" onsubmit="return check_form(this);">
    <div class="form-group">
      <label for="client_start" class="col-sm-2 control-label">名称 : </label>
      <div class="col-sm-8">
        <input type="text" id="name" name="name" class="form-control bra-form-control">
      </div>
    </div>
    <div class="form-group" {% if type != '2' %} style="display:none;" {% endif %}>
      <label for="client_start" class="col-sm-2 control-label">是否获奖 : </label>
      <div class="col-sm-8">
        <select id="is_win" name="is_win" class="form-control bra-form-control">
           <option value='0'>未获奖</option>
           <option value='1'>获奖</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="client_start" class="col-sm-2 control-label">网盘地址 : </label>
      <div class="col-sm-8">
        <input type="text" id="url" name="url" class="form-control bra-form-control">
      </div>
    </div>
    {{ form_field(mediums_form.mediums) }}
    <div class="form-group">
      <label for="client_start" class="col-sm-2 control-label">品牌 : </label>
      <div class="col-sm-8">
        <input type="text" id="brand" name="brand" class="form-control bra-form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="client_start" class="col-sm-2 control-label">行业 : </label>
      <div class="col-sm-8">
        <select id="industry" name="industry" class="form-control bra-form-control">
          {% for k in INDUSTRY %}
          <option value="{{k}}">{{k}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="client_start" class="col-sm-2 control-label">描素 : </label>
      <div class="col-sm-8">
        <textarea type="text" id="desc" name="desc" class="form-control bra-form-control" style="resize: none;height:100px;"></textarea>
      </div>
    </div>
    <div class="form-group" style="display:none;">
      <label for="client_end" class="col-sm-2 control-label">标签 : </label>
      <div class="col-sm-8">
        <input type="text" id='tags' name="tags" value="" data-role="tagsinput" style="width:100px;"/>
      </div>
    </div>
    <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
    <a href="{{url_for('mediums_planning.index', type=type)}}" class="btn btn-primary btn-sm col-md-offset-2"/>返回</a>
  </form>
<script>
  function check_form(obj){
      if (obj.name.value == ''){
          alert('名称不能为空');
          obj.name.focus();
          return false
      }else if(obj.url.value == ''){
          alert('网盘链接不能为空');
          obj.url.focus();
          return false
      }else if(obj.brand.value == ''){
          alert('品牌不能为空');
          obj.brand.focus();
          return false
      }else if(obj.industry.value == ''){
          alert('行业不能为空');
          obj.industry.focus();
          return false
      }else{
          return true
      }
      //return false
  }
</script>
<script src="/static/js/bootstrap-tagsinput.min.js"></script>
{% endblock %}