{% extends "/mediums/mediums_base.html" %}
{% block title %}策划案例{% endblock %}
{% block main_box %}
<div class="bra-main bra-box" style="width:1200px;">
  <!--<h4>{{title}}</h4>-->
  <div>
    <ul class="nav nav-tabs">
      <li id="_1_" class=""><a href="{{url_for('mediums_planning.index', type=1)}}">策划案</a></li>
      <li id="_2_" class=""><a href="{{url_for('mediums_planning.index', type=2)}}">包装案例</a></li>
      <li id="_3_" class=""><a href="{{url_for('mediums_planning.index', type=3)}}">结案报告</a></li>
    </ul>
  </div>
    <br/>
  <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">关键字</label>
            <input class="form-control bra-form-control" type="text" id="info" name="info" value="{{info}}" placeholder="名称/品牌" style="width:250px;">
        </div>&nbsp;&nbsp;&nbsp;
        <div class="form-group">
            <label for="exampleInputName2">行业</label>
            <select name='industry' id='industry'  class="form-control bra-form-control" style="width:100px;">
              <option value=''>全部</option>
              {% for k in INDUSTRY %}
              <option value='{{k}}'>{{k}}</option>
              {% endfor %}
            </select>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="form-group">
            <label for="exampleInputName2">选择媒体</label>
            <select class="form-control bra-form-control" id="medium" name="medium" style="width:100px;">
                <option value="0">全部</option>
                {% for k in mediums %}
                <option value="{{k.id}}">{{k.name}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" name="search" value="搜索" class="btn btn-sm btn-info" style="width:100px;"/>
        {% if g.user.is_planner() and type != '3' %}
        &nbsp;&nbsp;<a href="{{url_for('mediums_planning.create', type=type)}}" class="btn btn-default col-md-offset-1" style="width:100px;">添加</a>
        {% elif g.user.is_operater() and type == '3' %}
        &nbsp;&nbsp;<a href="{{url_for('mediums_planning.create', type=type)}}" class="btn btn-default col-md-offset-1" style="width:100px;">添加</a>
        {% endif %}
    </form>
    <br/>
    <table class="table table-bordered">
      <tr>
          <th>名称</th>
          <th>所属媒体</th>
          <th>品牌</th>
          <th>行业</th>
          <!--<th>标签</th>-->
          <th>修改时间</th>
          <th>操作</th>
      </tr>
      {% for c in cases.object_list %}
      <tr>
          <td><a href="{{url_for('mediums_planning.info', type=type, cid=c.id)}}">{{c.name}}</a></td>
          <td>{{c.mediums_name}}</td>
          <td>{{c.brand}}</td>
          <td>{{c.industry}}</td>
          <!--<td>{{c.tags}}</td>-->
          <td>{{c.create_time_cn}}</td>
          <td>
            <a href="{{c.url}}" target="_blank">下载</a></br>
            {% if g.user.is_planner() and type != '3' %}
            <a href="{{url_for('mediums_planning.update', type=type, cid=c.id)}}">修改</a></br>
            <a href="javascript:delete_case('{{url_for('mediums_planning.delete', type=type, cid=c.id)}}', '{{c.name}}')">删除</a>
            {% elif g.user.is_operater() and type == '3' %}
            <a href="{{url_for('mediums_planning.update', type=type, cid=c.id)}}">修改</a></br>
            <a href="javascript:delete_case('{{url_for('mediums_planning.delete', type=type, cid=c.id)}}', '{{c.name}}')">删除</a>
            {% endif %}
          </td>
      </tr>
      {% endfor %}
    </table>
    {% set pages = cases %}
    {% include "pagination.html" %}
</div>
<script>
$(document).ready(function(){
    $('#medium').val('{{medium}}');
    $("#medium").trigger("chosen:updated");
    $('#industry').val('{{industry}}');
    $("#industry").trigger("chosen:updated");

    var pathname = window.location.pathname;
    var path_name = pathname.split("/")
    $("#_" + path_name[3]+'_').addClass("active");
})
function delete_case(url, name){
    var flag=confirm("确定要删除:"+name+"吗?");
    if(flag){
            location.href=url;
    }
}
</script>
{% endblock %}