{% extends "/base.html" %}
{% block title %}策划案例{% endblock %}
{% block content%}
{% include "/mediums/mediums_base.html" %}
<style>
    pre {
        background-color:#ffffff;
        border:1px solid #ffffff;
    }
</style>
<div class="container bra-box" style="width:1200px;">
  <h4 class="page-header">{{case.name}}</h4>
  <form class="form form-horizontal" method="POST" action="{{url_for('mediums_planning.update', type=type, cid=case.id)}}" onsubmit="return check_form(this);">
    <div class="form-group">
      <label for="client_start" class="col-sm-4 control-label">名称 : </label>
      <div class="col-sm-6">
        <pre>{{case.name}}</pre>
      </div>
    </div>
    <div class="form-group">
      <label for="client_start" class="col-sm-4 control-label">网盘地址 : </label>
      <div class="col-sm-6">
        <pre><a target="_blank" href="{{case.url}}">{{case.url}}</a></pre>
      </div>
    </div>
    <div class="form-group">
      <label for="client_start" class="col-sm-4 control-label">网盘密码 : </label>
      <div class="col-sm-6">
        <pre>{{case.pwd or '无'}}</pre>
      </div>
    </div>
    <div class="form-group">
      <label for="client_start" class="col-sm-4 control-label">所属媒体 : </label>
      <div class="col-sm-6">
        <pre>{{case.mediums_name}}</pre>
      </div>
    </div>
    <div class="form-group">
      <label for="client_start" class="col-sm-4 control-label">品牌 : </label>
      <div class="col-sm-6">
        <pre>{{case.brand}}</pre>
      </div>
    </div>
    <div class="form-group">
      <label for="client_start" class="col-sm-4 control-label">行业 : </label>
      <div class="col-sm-6">
        <pre>{{case.industry}}</pre>
      </div>
    </div>
    <div class="form-group">
      <label for="client_start" class="col-sm-4 control-label">描述 : </label>
      <div class="col-sm-6">
        <pre>{{case.desc}}</pre>
      </div>
    </div>
    <div class="form-group">
      <label for="client_end" class="col-sm-4 control-label">标签 : </label>
      <div class="col-sm-6">
        <pre>{{case.tags}}</pre>
      </div>
    </div>
    <a href="{{url_for('mediums_planning.index', type=type)}}" class="btn btn-primary btn-sm col-md-offset-5"/>返回</a>
  </form>
</div>
{% endblock %}