{% extends "/base_v1_0_0.html" %}
{% from 'form_v1_0_0.html' import form_field %}

{% block content %}
{% include "/client/client_base_v1_0_0.html" %}
<div class="container bra-box">
    <h3>新建媒体</h3>
    <form class="input-row-box" method="POST" onsubmit="return check_form(this)">
      <div class="input-group-menu">
            <div class="name">媒体名称: </div>
            <input type="text" name="name" id="name">
      </div>
      <div class="input-group-menu">
            <div class="name">业务类别: </div>
            <select name="b_type" id="b_type" class="surname" style="width:350px;">
                <option value=0>自营</option>
                <option value=1>增量</option>
            </select>
        </div>
      <div class="input-group-menu">
          <div class="name">媒体级别 : </div>
            <select name="level" id="level" class="surname" style="width:350px;">
                <option value="1">S级</option>
                <option value="2">A级</option>
                <option value="3">B级</option>
                <option value="4">C级</option>
                <option value="100">其他</option>
            </select>
      </div>
      <div class="state" style="margin-left:40%;">
          <input type="submit" value="保存">
      </div>
    </form>
    <br/>
</div>
<script>
    function check_form(obj){
        var name = obj.name.value;
        if (name == ''){
            alert('请输入媒体名称')
            obj.name.focus()
            return false
        }
        return true
    }
    $(function(){
      $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true});
    })
</script>
{% endblock %}
