{% extends "/base_v1_0_0.html" %}
{% block title %}修改 {{agent.name}} 返点信息{% endblock %}

{% block content %}
{% include "/client/client_base_v1_0_0.html" %}
<div class="container bra-box">
    <h3>修改 {{agent.name}} 返点信息</h3>
    <form class="input-row-box" method="POST" action="{{url_for('client.agent_medium_rebate_update', agent_id=agent.id, rebate_id=rebate.id)}}" onsubmit="return check_form(this);">
        <div class="input-group-menu">
          <div class="name">所属媒体 : </div>
            <select name="medium" id="medium" class="usrname" style="width:300px;">
                {% for k in mediums %}
                <option value="{{k.id}}">{{k.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group-menu">
          <div class="name">执行年 : </div>
            <select name="year" id="year" class="usrname" style="width:300px;">
                {% for k in range(0, 5) %}
                <option value="{{2014+k}}">{{2014+k}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group-menu">
          <div class="name">返点信息 : </div>
            <input type="number" name="rebate" id="rebate" class="usrname" style="width:300px;" placeholder="请输入数字" value="{{rebate.rebate}}"/>
            <span style="color:red;" class="tips">%</span>
        </div>
        <div class="state" style="margin-left:40%;">
            <a href="{{url_for('client.agent_rebate', agent_id=agent.id)}}"><input type="button" value="返回"></a>
            <input type="submit" value="保存">
        </div>
    </from>
</div>
<script>
$(function(){
   $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true});
   $('#year').val('{{rebate.year.year}}')
   $("#year").trigger("chosen:updated");
   $('#medium').val(parseInt('{{rebate.medium.id}}'))
   $("#medium").trigger("chosen:updated");
})
function check_form(obj){
    if (obj.rebate.value == ''){
        alert('请输入致趣返点信息')
        obj.rebate.focus()
        return false;
    }
    return true;
}
</script>
{% endblock %}