{% extends "/base.html" %}
{% from 'form.html' import form_tpl, form_tpl_ex_form %}
{% block title %}填写OKR列表{% endblock %}

{% block content %}
{% include "/account/account_okr_base.html" %}
<style>
    pre {
        background-color:#ffffff;
        border:1px solid #ffffff;
    }
</style>


<div class="container bra-box" style="min-width: 950px;">
    <h3>新建OKR</h3>
    <form class="form form-horizontal" method="POST" action="{{url_for('account_okr.create')}}" onsubmit="return okr_form(this)">
        <!--<input type="hidden" value=""-->
        <table class="table table-bordered">
            <tr style="background-color: #AAAAAA;">
                <th colspan="5" style="text-align:center;">目标 OBJECTIVE</th>
                <th style="text-align:center;">目标优先级：</th>
                <th colspan="5" style="text-align:center">主要成绩:KEY RESULT</th>
                <th stytle="text-align":center>成绩优先级</th>
            </tr>
            <tr >
                <th rowspan= 4 colspan="5" style="vertical-align: middle; horiz-align:center"><textarea style="height: 80%; width: 90%" id="objective_1" name="objective_1" class="form-control bra-form-control" style="resize:none; width:100%;"></textarea></th>
                <th rowspan="4" style="vertical-align:middle">
                    <select id="p_objective_1" style="width:100px;" name="p_objective_1">
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                    </select>
                </th>

             </tr>
            <tr>
                <th colspan="5"><textarea id="o1_kr1" name="o1_kr1" class="form-control bra-form-control" style="resize:none; width:100%;"></textarea></th>
                <th >
                    <select id="p_o1_kr1" style="width:100px;" name="p_o1_kr1">
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                    </select>
                </th>
            </tr>

            <tr>
                <th colspan="5"><textarea id="o1_kr2" name="o1_kr2" class="form-control bra-form-control" style="resize:none; width:100%;"></textarea></th>
                <th >
                    <select id="p_o1_kr2" style="width:100px;" name="p_o1_kr2">
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th colspan="5"><textarea id="o1_kr3" name="o1_kr3" class="form-control bra-form-control" style="resize:none; width:100%;"></textarea></th>
                <th >
                    <select id="p_o1_kr3" style="width:100px;" name="p_o1_kr3">
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                    </select>
                </th>
            </tr>





            <!--ssssssssskkkkkkkkk目标2222222222222-->
              <tr >
                <th rowspan= 4 colspan="5" style="vertical-align: middle; horiz-align:center" ><textarea style="height:80%; width:90%"id="objective_2" name="objective_2" class="form-control bra-form-control" style="resize:none; width:100%;"></textarea></th>
                <th rowspan="4" style="vertical-align: middle">
                    <select id="p_objective_2" style="width:100px;" name="p_objective_2">
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                    </select>
                </th>

             </tr>
            <tr>
                <th colspan="5"><textarea id="o2_kr1" name="o2_kr1" class="form-control bra-form-control" style="resize:none; width:100%;"></textarea></th>
                <th >
                    <select id="p_o2_kr1" style="width:100px;" name="p_o2_kr1">
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                    </select>
                </th>
            </tr>

            <tr>
                <th colspan="5"><textarea id="o2_kr2" name="o2_kr2" class="form-control bra-form-control" style="resize:none; width:100%;"></textarea></th>
                <th >
                    <select id="p_o2_kr2" style="width:100px;" name="p_o2_kr2">
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th colspan="5"><textarea id="o2_kr3" name="o2_kr3" class="form-control bra-form-control" style="resize:none; width:100%;"></textarea></th>
                <th >
                    <select id="p_o2_kr3" style="width:100px;" name="p_o2_kr3">
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                    </select>
                </th>
            </tr>


            <!--ssssssssskkkkkkk目标333333333333333333333-->
              <tr >
                <th rowspan= 4 colspan="5" style="vertical-align: middle; horiz-align:center" ><textarea style="height:80%; width:90%"id="objective_3" name="objective_3" class="form-control bra-form-control" style="resize:none; width:100%;"></textarea></th>
                <th rowspan="4" style="vertical-align: middle">
                    <select id="p_objective_3" style="width:100px;" name="p_objective_3">
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                    </select>
                </th>

             </tr>
            <tr>
                <th colspan="5"><textarea id="o3_kr1" name="o3_kr1" class="form-control bra-form-control" style="resize:none; width:100%;"></textarea></th>
                <th >
                    <select id="p_o3_kr1" style="width:100px;" name="p_o3_kr1">
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                    </select>
                </th>
            </tr>

            <tr>
                <th colspan="5"><textarea id="o3_kr2" name="o3_kr2" class="form-control bra-form-control" style="resize:none; width:100%;"></textarea></th>
                <th >
                    <select id="p_o3_kr2" style="width:100px;" name="p_o3_kr2">
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th colspan="5"><textarea id="o3_kr3" name="o3_kr3" class="form-control bra-form-control" style="resize:none; width:100%;"></textarea></th>
                <th >
                    <select id="p_o3_kr3" style="width:100px;" name="p_o3_kr3">
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                    </select>
                </th>
            </tr>
        </table>
        <input type="hidden" name="OKR" id="OKR">
        <input type="submit" style="width: 150px; height: 40px" value="SAVE" />
    </form>
</div>


    <script>
    function okr_form() {
        var objective_1 = $("#objective_1").val();
        var p_objective_1 = document.getElementById("p_objective_1").value;
        var o1_kr1 = document.getElementById("o1_kr1").value;
        var o1_kr2 = document.getElementById("o1_kr2").value;
        var o1_kr3 = document.getElementById("o1_kr3").value;
        var p_o1_kr1 = document.getElementById("p_o1_kr1").value;
        var p_o1_kr2 = document.getElementById("p_o1_kr2").value;
        var p_o1_kr3 = document.getElementById("p_o1_kr3").value;

        var objective_2 = $("#objective_2").val();
        var p_objective_2 = document.getElementById("p_objective_2").value;
        var o2_kr1 = document.getElementById("o2_kr1").value;
        var o2_kr2 = document.getElementById("o2_kr2").value;
        var o2_kr3 = document.getElementById("o2_kr3").value;
        var p_o2_kr1 = document.getElementById("p_o2_kr1").value;
        var p_o2_kr2 = document.getElementById("p_o2_kr2").value;
        var p_o2_kr3 = document.getElementById("p_o2_kr3").value;

        var objective_3 = $("#objective_3").val();
        var p_objective_3 = document.getElementById("p_objective_3").value;
        var o3_kr1 = document.getElementById("o3_kr1").value;
        var o3_kr2 = document.getElementById("o3_kr2").value;
        var o3_kr3 = document.getElementById("o3_kr3").value;
        var p_o3_kr1 = document.getElementById("p_o3_kr1").value;
        var p_o3_kr2 = document.getElementById("p_o3_kr2").value;
        var p_o3_kr3 = document.getElementById("p_o3_kr3").value;

        var okr = [{'objective_1':objective_1, 'p_objective_1':p_objective_1, 'o1_kr':[{'o1_kr1':o1_kr1, 'p_o1_kr1':p_o1_kr1},{'o1_kr2':o1_kr2,'p_o1_kr2':p_o1_kr2},{'o1_kr3':o1_kr3,'p_o1_kr3':p_o1_kr3}]},
                 {'objective_2':objective_2, 'p_objective_2':p_objective_2, 'o2_kr':[{'o2_kr1':o2_kr1, 'p_o2_kr1':p_o2_kr1},{'o2_kr2':o2_kr2,'p_o2_kr2':p_o2_kr2},{'o2_kr3':o2_kr3,'p_o2_kr3':p_o2_kr3}]},
                 {'objective_3':objective_3, 'p_objective_3':p_objective_3, 'o3_kr':[{'o3_kr1':o3_kr1, 'p_o3_kr1':p_o3_kr1},{'o3_kr2':o3_kr2,'p_o3_kr2':p_o3_kr2},{'o3_kr3':o3_kr3,'p_o3_kr3':p_o3_kr3}]}
                ];
        var j_okr = $.toJSON(okr);
        $('#OKR').val(j_okr);
        return true
    }

    </script>
{% endblock %}









