<link rel="stylesheet" href="/static/css/okr.css"/>
{% extends "/base_v1_0_0.html" %}
{% from 'form.html' import form_tpl, form_tpl_ex_form %}

{% block title %}季末评价{% endblock %}

{% block content %}
    {% include "/account/account_okr_base.html" %}
    <div class="container bra-box" style="min-width: 950px;">
        <h3>季末评价</h3>
        <form method="POST" id="okr_form">
            <input type="hidden" name="okr_json" id="okr_json">
            <div class="wrapper">
                <div class="year" id="year">
                    <label for="disabledSelect">年份：</label>
                    <span>{{ okr.year }}</span>
                </div>
                <div class="quarter" id="quarter">
                    <label for="disabledSelect">季度：</label>
                    <span>{{ okr.quarter_cn }}</span>
                </div>

                <table border='1' class="table table-bordered">
                    <thead>
                    <tr>
                        <th>季度目标(O)</th>
                        <th>目标优先级 P(O)</th>
                        <th>中期评价</th>
                        <th>季末评价</th>
                        <th>主要成绩</th>
                        <th>成绩优先级 P(KR)</th>
                        <th>中期评价</th>
                        <th>季末评价</th>

                    </tr>
                    </thead>
                    {% for okr in okrlist %}
                        <tbody class="OKR">
                        {% for kr in okr['kr_items'] %}

                            <tr class="okr_item">
                                {% if loop.index == 1 %}
                                    <td rowspan="{{ okr['kr_items']|length }}" class="merge_row">
                                        <p class="edit_objective_area"
                                           style="word-wrap:break-word; width: 150px">{{ okr['objective'] }}</p>
                                    </td>
                                    <td rowspan="{{ okr['kr_items']|length }}" class="merge_row">
                                        <span class="target">{{ okr['priority'] }}</span>
                                    </td>

                                    <td rowspan="{{ okr['kr_items']|length }}" class="merge_row">
                                        <span class="mid_eval">{{ okr['mid_eval_o'] }}</span>
                                    </td>
                                    <td rowspan="{{ okr['kr_items']|length }}" class="merge_row">
                                        <select name="final_eval_o" id="final_eval">
                                            <option value="0">0</option>
                                            {% for n in range(1,11) %}
                                                <option value="{{ n/10.0 }}">{{ n/10.0 }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                {% endif %}
                                <td class="remove_row">
                                    <p class="edit_kr_area"
                                       style="word-wrap:break-word; width: 250px">{{ kr['results'] }}</p>
                                </td>
                                <td class="remove_row">
                                    <span class="achievement_priority">{{ kr['results_PKR'] }}</span>
                                </td>
                                <td class="remove_row">
                                    <span class="mid_term_evaluation">{{ kr['mid_eval_kr'] }}</span>
                                </td>
                                <td class="remove_row">
                                    <select name="final_eval_kr" id="final_term_evaluation">
                                        <option value="0">0</option>
                                        {% for n in range(1,11) %}
                                            <option value="{{ n/10.0 }}">{{ n/10.0 }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endfor %}

                </table>
            </div>
            <div style="width:96%;margin-left:2%;height: 160px;">
                <td class="remove_row">
                    <span style="margin-bottom: 10px; float:left; height:20px ; width:100%">季度个人小结</span>
                    <textarea class="summary" rows="8" style="border:1px solid #ccc; width: 60% ; float:left"
                    ></textarea>
                </td>
            </div>
            <div class="state" style="margin-left:25%;margin-top:50px;">
                <a href="{{ url_for('account_okr.index', user_id=g.user.id) }}"><input type="button" value="返回"></a>
                <button type="button" name="status" value='7' class="btn commit save_send"/>
                保存不发申请</button>
                <button type="button" name="status" value='8' class="btn commit save_no_send"/>
                保存并发送报备邮件</button>
            </div>

        </form>
    </div>

    <script src="/static/js/okr_final_eval.js" type="text/javascript"></script>
{% endblock %}









