{% extends "/base_v1_0_0.html" %}
{% block title %}我的OKR列表{% endblock %}

{% block content %}
    {% include "/account/account_okr_base.html" %}
    <style>
        pre {
            background-color: #ffffff;
            border: 1px solid #ffffff;
        }
    </style>

    <div class="container bra-box" style="width:900px;">
        <h3>我的OKR列表
            <a class="btn btn-sm btn-default" href="{{ url_for('account_okr.create',user_id = g.user.id) }}">填写OKR</a>
        </h3>
        <div class='tabulation'>
            <table border='1'>
                <thead>
                <tr>
                    <th>年度</th>
                    <th>季度(点击显示详细内容)</th>
                    <th>状态</th>
                    <th style="width:130px;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for l in okrs %}
                    <tr>
                        <td>{{ l.year }}</td>
                        <td><a href="{{ url_for('account_okr.info',lid=l.id) }}">{{ l.quarter_cn }}</a></td>
                        <td>{{ l.status_cn }}</td>
                        <td>
                            {% if l.status in [0, 1] %}
                                <a href="{{ url_for('account_okr.update', user_id=g.user.id, lid=l.id) }}">修改</a><br/>
                                <a href="{{ url_for('account_okr.status', user_id=g.user.id, lid=l.id) }}?status=2">发送申请</a>
                                <br>
                                <a href="javascript:check_del('{{ url_for('account_okr.delete', user_id=g.user.id, lid=l.id) }}')">删除</a>
                            {% elif l.status == 2 %}
                                <a href="{{ url_for('account_okr.status', user_id=g.user.id, lid=l.id) }}?status=0">取消申请</a>
                                <br/>
                                <a href="{{ url_for('account_okr.status', user_id=g.user.id, lid=l.id) }}?status=2">再次发送申请</a>
                            {% elif l.status == 4 %}
                                <a href="{{ url_for('account_okr.update', user_id=g.user.id, lid=l.id) }}">修改</a><br/>
                                <a href="{{ url_for('account_okr.status', user_id=g.user.id, lid=l.id) }}?status=2">发送申请</a>
                                <br/>
                                <a href="javascript:check_del('{{ url_for('account_okr.delete', user_id=g.user.id, lid=l.id) }}')">删除</a>
                             {% elif l.status == 3 %}
                                <a href="{{ url_for('account_okr.evaluate', user_id=g.user.id, lid=l.id) }}">中期评价</a><br/>
                             {% elif l.status == 5 %}
                                <a href="{{ url_for('account_okr.update', user_id=g.user.id, lid=l.id) }}">修改</a><br/>
                                <a href="{{ url_for('account_okr.status', user_id=g.user.id, lid=l.id) }}?status=6">发送申请</a>
                                <br>
                             {% elif l.status == 6 %}
                                <a href="{{ url_for('account_okr.evaluate', user_id=g.user.id, lid=l.id) }}">季度评价</a><br/>
                             {% elif l.status == 7 %}
                                <a href="{{ url_for('account_okr.update', user_id=g.user.id, lid=l.id) }}">修改</a><br/>
                                <a href="{{ url_for('account_okr.status', user_id=g.user.id, lid=l.id) }}?status=8">发送申请</a>
                                <br>
                             {% elif l.status == 8 %}
                                <a href="{{ url_for('account_okr.status', user_id=g.user.id, lid=l.id) }}?status=7">取消申请</a>
                                <br/>
                                <a href="{{ url_for('account_okr.status', user_id=g.user.id, lid=l.id) }}?status=8">再次发送申请</a>
                             {% elif l.status == 10 %}
                                <a href="{{ url_for('account_okr.update', user_id=g.user.id, lid=l.id) }}">修改</a><br/>
                                <a href="{{ url_for('account_okr.status', user_id=g.user.id, lid=l.id) }}?status=8">发送申请</a>
                                <br/>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function check_del(url) {
            if (confirm("确认要删除这条信息吗？")) {
                window.location.href = url
            }
        }
    </script>
{% endblock %}
