{% extends "/base_v1_0_0.html" %}
{% from 'form.html' import form_tpl, form_tpl_ex_form %}

{% block title %}填写OKR列表{% endblock %}
<link rel="stylesheet" href="/static/css/okr_info.css"/>

{% block content %}
    {% include "/account/account_okr_base.html" %}
    <div class="container bra-box" style="min-width: 950px;">
        <h3>{{ okr.creator.name }}的OKR</h3>
        <div class="wrapper">
            <div class="year" id="year">
                <label for="disabledSelect">年份：</label>
                <span>{{ okr.year }}</span>
            </div>
            <div class="quarter" id="quarter">
                <label for="disabledSelect">季度：</label>
                <span>{{ okr.quarter_cn }}</span>
            </div>

            <table border='1' class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 10%">季度目标(O)</th>
                    <th style="width: 10%">目标优先级 P(O)</th>
                    {% if okr.status in [5,6] %}
                        <th style="width: 10%">中期评价</th>
                    {% endif %}
                    {% if okr.status in [7,8,9,10] %}
                        <th style="width: 10%">中期评价</th>
                        <th style="width: 10%">季末评价</th>
                    {% endif %}
                    <th style="width: 10%">主要成绩</th>
                    <th style="width: 10%">成绩优先级 P(KR)</th>
                    {% if okr.status in [5,6] %}
                        <th style="width: 10%">中期评价</th>
                    {% endif %}
                    {% if okr.status in [7,8,9,10] %}
                        <th style="width: 10%">中期评价</th>
                        <th style="width: 10%">季末评价</th>
                    {% endif %}
                </tr>
                </thead>
                {% for okr_tem in okrlist %}
                    <tbody class="OKR">
                    {% for kr in okr_tem['kr_items'] %}

                        <tr class="okr_item">
                            {% if loop.index == 1 %}
                                <td rowspan="{{ okr_tem['kr_items']|length }}" class="merge_row">
                                    <p class="edit_objective_area"
                                       style="word-wrap:break-word; width: 250px;margin: 0 auto;">
                                        {{ okr_tem['objective'] }}
                                    </p>
                                </td>
                                <td rowspan="{{ okr_tem['kr_items']|length }}" class="merge_row">
                                    <span tyle="word-wrap:break-word; width: 200px;margin: 0 auto;">{{ okr_tem['priority'] }}</span>
                                </td>
                                {% if okr.status in [5,6] %}
                                    <td rowspan="{{ okr_tem['kr_items']|length }}" class="merge_row">
                                        <span>{{ okr_tem['mid_eval_o'] }}</span>
                                    </td>
                                {% endif %}
                                {% if okr.status in [7,8,9,10] %}
                                    <td rowspan="{{ okr_tem['kr_items']|length }}" class="merge_row">
                                        <span>{{ okr_tem['mid_eval_o'] }}</span>
                                    </td>
                                    <td rowspan="{{ okr_tem['kr_items']|length }}" class="merge_row">
                                        <span>{{ okr_tem['final_eval_o'] }}</span>
                                    </td>
                                {% endif %}
                            {% endif %}
                            <td class="remove_row">
                                <p class="edit_kr_area" style="word-wrap:break-word; width: 300px;margin: 0 auto;">
                                    {{ kr['results'] }}
                                </p>
                            </td>
                            <td class="remove_row">
                                <span>{{ kr['results_PKR'] }}</span>
                            </td>
                            {% if okr.status in [5,6] %}
                                <td class="remove_row">
                                    <span>{{ kr['mid_eval_kr'] }}</span>
                                </td>
                            {% endif %}
                            {% if okr.status in [7,8,9,10] %}
                                <td class="merge_row">
                                    <span>{{ kr['mid_eval_kr'] }}</span>
                                </td>
                                <td class="merge_row">
                                    <span>{{ kr['final_eval_kr'] }}</span>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endfor %}

            </table>
        </div>
        {% if okr.status > 6 %}
            <div class="evaluation">
                {% if g.user == okr.creator or g.user in okr.creator.team_leaders or g.user.is_super_admin() %}
                    <div class="okr_list">
                        <div class="okr_summary">
                            <span>季度个人小结</span>
                            <textarea rows="6" readonly>{{ okr.summary }}
                            </textarea>
                        </div>
                    </div>

                    {% if okr.status > 8 %}
                        <div class="okr_score">
                            <span>部门领导评分:</span>
                            <p>{{ okr.score }}</p>
                        </div>
                        <div class="okr_comment">
                            <span>部门负责人评语</span>
                            <textarea rows="4" readonly>{{ okr.comment }}
                            </textarea>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        {% if g.user in okr.creator.team_leaders or g.user.is_super_admin() %}
            {% if okr.status == 2 %}
                <div class="operation">
                    <a href="{{ url_for('account_okr.status', user_id=g.user.id, lid=okr.id) }}?status=3">
                        <button type="button">通过</button>
                    </a>
                    <a href="{{ url_for('account_okr.status', user_id=g.user.id, lid=okr.id) }}?status=4">
                        <button type="button">不通过</button>
                    </a>
                    <a href="javascript:history.go(-1);">
                        <button type="button" value="返回">返回</button>
                    </a>
                </div>
            {% endif %}
            {% if okr.status == 8 or okr.status == 9 %}
                <form method="post" action="{{ url_for('account_okr.status', user_id=g.user.id, lid=okr.id) }}"
                      onsubmit="return check_form(this);">
                    {% if okr.status == 8 %}
                        <div>
                            <div class="okr_leader_count">
                                <span>部门领导评分(2~5)</span>
                                <input name="score" id="score" class="score">
                            </div>
                        </div>
                        <div class="">
                            <div>
                                <div class="okr_leader_comment">
                                    <span>部门领导评价</span>
                                    <textarea class="leader_comment" rows="8" name="comment"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="chosen_status">
                            <button type="submit" name="status" value="9">通过</button>
                            <button type="submit" name="status" value="10">不通过</button>
                            <a href="javascript:history.go(-1);">
                                <button type="button" value="返回">返回</button>
                            </a>
                        </div>
                    {% else %}
                        <div class="chosen_pople">
                            <span>选择评分员工:</span>
                            <select class="form-control bra-form-control" id="personnals" multiple="" name="personnals"
                                    placeholder="选择评分员工">
                                {% for k in users %}
                                    <option value="{{ k.id }}">{{ k.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="chosen_status">
                            <button type="submit" name="status" value="11">保存</button>
                        </div>
                    {% endif %}

                </form>
            {% endif %}

        {% else %}
            <div class="chosen_status">
                <a href="javascript:history.go(-1);">
                    <button type="button" value="返回">返回</button>
                </a>
            </div>
        {% endif %}

    </div>

    {#    <script src="/static/js/okr_comment.js" type="text/javascript"></script>#}
    <script>
        function is_null(data) {
            if (!data && typeof(data) != "undefined" && data != 0) {
                return true;
            }
        }

        function check_form(obj) {
            var personnals = $('#personnals').val()
            if (is_null(personnals) || personnals.length != 2) {
                alert('请选择2个员工为他评分')
                return false
            }
            return true
        }

        $("select").chosen({
            placeholder_text: "请选择...",
            disable_search_threshold: 10
        });

    </script>

{% endblock %}









