<div class="container" style="min-width: 950px;">
    <div class="menu">
        <div class="list">
            <ul>
                <a href="{{url_for('searchAd_client.clients')}}">
                    <li id="_clients_" >客户</li>
                </a>
                <a href="{{url_for('searchAd_client.agents')}}">
                    <li id="_agents_" >代理/直客</li>
                </a>
                <a href="{{url_for('searchAd_client.groups')}}">
                    <li id="_groups_" >代理集团</li>
                </a>
                <a href="{{url_for('searchAd_client.mediums')}}">
                    <li id="_mediums_">媒体</li>
                </a>
                <div class="line" style="clear: both"></div>
            </ul>
        </div>
    </div>
    <div class="form-list">
    </div>
</div>
<script>
    $(function(){
        var pathname = window.location.pathname;
        var p_pathname = pathname.split('/')
        if (p_pathname[2].indexOf('s')>0){
            $('#_'+p_pathname[2]+'_').addClass("on");
        }else{
            $('#_'+p_pathname[2]+'s_').addClass("on");
        }
        if (p_pathname[2] == 'new_client'){
            $('#_clients_').addClass("on");
        }
        if (p_pathname[2] == 'new_agent'){
            $('#_agents_').addClass("on");
        }
        if (p_pathname[2] == 'new_group'){
            $('#_groups_').addClass("on");
        }
        if (p_pathname[2] == 'new_medium'){
            $('#_mediums_').addClass("on");
        }

    })
</script>
