{% extends "/base_v1_0_0.html" %}
{% block title %} 搜索广告-客户列表{% endblock %}

{% block content %}
{% include "/searchAdclient/searchAd_client_base_v1_0_0.html" %}
<div class="container bra-box">
    <div class="search-bar">
      <form class="menu-btn-bar" style="float:left;">
          <div class="search-input">
              <input type="text" placeholder="客户名称" value="{{info}}" name="info" id="info">
              <img src="/static/image/search.png" alt="#">
          </div>
          <div class="select_option screen">
              <input type="submit" value="筛选">
          </div>
          <div class="select_option return">
              <a href="{{url_for('searchAd_client.new_client')}}"><input type="button" value="添加"></a>
          </div>
      </form>
    </div>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>#id</th>
                    <th>名称</th>
                    <th>行业</th>
                </tr>
            </thead>
            <tbody>
                {% for c in clients %}
                <tr>
                    <td>{{c.id}}</td>
                    <td><a href="{{url_for("searchAd_client.client_detail", client_id=c.id)}}">{{c.name}}</a></td>
                    <td>{{c.industry_cn}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
