{% extends "/site_base.html" %}

{% block left_box%}
<div class="bra-left bra-box">
    <div class="list-group" id="left-list">
    <a class="list-group-item" href="{{url_for('searchAd_client.clients')}}">
        <span class="glyphicon glyphicon-stats"></span> 客户
    </a>
    <a class="list-group-item" href="{{url_for('searchAd_client.agents')}}">
        <span class="glyphicon glyphicon-stats"></span> 代理/直客
    </a>
    <a class="list-group-item" href="{{url_for('searchAd_client.groups')}}">
        <span class="glyphicon glyphicon-stats"></span> 代理集团
    </a>
    <a class="list-group-item" href="{{url_for('searchAd_client.mediums')}}">
        <span class="glyphicon glyphicon-stats"></span> 媒体 
    </a>
    </div>
    <div class="left-btn">
        <span class="glyphicon glyphicon-chevron-left" id="list-hide"></span>
        <span class="glyphicon glyphicon-chevron-right" id="list-show"></span>
    </div>
</div>
{% endblock %}
