{% extends "base_v1_0_0.html" %}
{% from '/form_v1_0_0.html' import form_field %}
{% from '/saler/client_order/agent/agent_invoice_form.html' import invoice_form %}
{% from 'comments.html' import comments_box %}
{% macro contract_box(order) -%}
<div class="container" style="width:100%;">
  <h4>发票详情</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <th>公司名称</th>
      <th>税号</th>
      <th>发票金额</th>
      <th>已打款金额</th>
      <th>申请中打款金额</th>
      <th>未打款金额</th>
      <th>开票时间</th>
      <th>发票类型</th>
      <th>发票号</th>
      <th>发票内容</th>
      <th width="5%">操作</th>
    </tr>
    {% if invoice.invoice_num == '88888888' %}
      <tr style="border:2px solid #FF8888;">
    {% else %}
      <tr>
    {% endif %}
      <td>{{invoice.company}}{% if invoice.invoice_num == '88888888' %}<span class="label label-danger">先付款-发票未开</span>{% endif %}</td>
      <td>{{invoice.tax_id}}</td>
      <td>{{invoice.money}}元</td>
      <td>{{invoice.get_pay_money}}元</td>
      <td>{{invoice.get_apply_pay_money}}元</td>
      <td>{{invoice.get_unpay_money}}元</td>
      <td>{{invoice.add_time_cn}}</td>
      <td>{{invoice.invoice_type_cn}}</td>
      <td>{{invoice.invoice_num}}</td>
      <td>{{invoice.detail}}</td>
      <td>
          <a href="javascript:update_invoice()">修改</a>
      </td>
    </tr>
  </table>
  <div class="panel panel-default" id="non-invoice">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion-invoice" href="#collapse-invoice-0"> 公司信息 </a>
          </h4>
      </div>
      <div id="collapse-invoice-0" class="panel-collapse collapse in">
          <div class="panel-body">
              
              <div class="col-md-12">
                  <div class="col-md-21" style="">
                      <table class="table table-bordered table-striped">
                        <tr>
                          <th>公司名称</th>
                          <th>公司税号</th>
                          <th>公司地址</th>
                          <th>公司电话</th>
                          <th>开户行</th>
                          <th>银行账号</th>
                        </tr>
                        <tr>
                          <td>{{invoice.agent.name}}</td>
                          <td>{{invoice.agent.tax_num}}</td>
                          <td>{{invoice.agent.address}}</td>
                          <td>{{invoice.agent.phone_num}}</td>
                          <td>{{invoice.agent.bank}}</td>
                          <td>{{invoice.agent.bank_num}}</td>
                        </tr>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="well" id="invoice_from" style="display:none;">
      <h4>
          {{invoice.client_order.name}}-{{ invoice.agent.name }}-{{ invoice.money }}元
      </h4>
      {% if g.user.is_super_leader() or invoice.client_order.can_admin(g.user)%}
      <form class="input-row-box" method="POST" action="{{url_for('saler_client_order_agent_invoice.update_invoice', invoice_id=invoice.id)}}" onsubmit="return checkform(this)">
      {{form.csrf_token}}
      {{ form_field(form.client_order)}}
      {{ form_field(form.agent)}}
      {{ form_field(form.company) }}
      {{ form_field(form.tax_id) }}
      {{ form_field(form.address) }}
      {{ form_field(form.phone) }}
      {{ form_field(form.bank_id) }}
      {{ form_field(form.bank) }}
      {{ form_field(form.detail) }}
      {{ form_field(form.money) }}
      {{ form_field(form.invoice_num) }}
      {{ form_field(form.invoice_type) }}
      <div class="input-group-menu">
          <div class="name">开票时间 : </div>
          <input type="text" id="add_time" name="add_time" value="{{form.add_time.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
      </div>
      {{ form_field(form.bool_invoice) }}
      <div class="state" style="margin-left:40%;">
            <input type="submit" value="保存">
        </div>
      </form>
      {% endif %}
  </div>
  {% for k in range(4) %}
    {% set invoice_pays = invoice.get_invoice_pas_by_status(k) %}
    {% if invoice_pays|length > 0 %}
      <div class="panel panel-default" id="non-invoice">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion-invoice" href="#collapse-invoice-{{k}}"> {{ AGENT_INVOICE_STATUS_CN[k] }}</a>
          </h4>
        </div>
        <div id="collapse-invoice-{{k}}" class="panel-collapse collapse in ">
          <div class="panel-body">
            {% for i in invoice_pays %}
               {% if i.pay_status in [0, 3] %}
                  {% if i.pay_status != 0 %}
                  <input type="checkbox" name="invoice-id" class="invoice-id" value="{{i.id}}"/>
                  {% endif %}
                  <table class="table table-bordered table-striped">
                    <tr>
                      <th>打款时间</th>
                      <th>打款金额</th>
                      <th>备注</th>
                    </tr>
                    <tr>
                      <td>{{i.pay_time_cn}}</td>
                      <td>{{i.money}}元</td>
                      <td>{{i.detail}}</td>
                    </tr>
                  </table>
               {% else %}
               <div class="well">
               <input type="checkbox" name="invoice-id" class="invoice-id" value="{{i.id}}"/>
               <form class="input-row-box" method="POST" action="{{url_for('saler_client_order_agent_invoice.update_invoice_pay', invoice_id=invoice.id, invoice_pay_id=i.id)}}" onsubmit="return checkform(this)">
                <div class="input-group-menu">
                    <div class="name">打款时间 : </div>
                       <input type="text" id="pay_time" name="pay_time" value="{{i.pay_time_cn}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
                </div>
                <div class="input-group-menu">
                  <div class="name">打款金额 : </div>
                       <input type="text" id="money" name="money" value="{{i.money}}" class="surname" style="width:300px;">
                </div>
                <div class="input-group-menu">
                    <div class="name">备注 : </div>
                       <textarea type="text" id="detail" name="detail" class="surname" style="width:300px;">{{i.detail}}</textarea>
                </div>
                <div class="state" style="margin-left:40%;">
                    <input type="submit" value="保存">
                </div>
              </form>
              </div>
              {% endif %}
            {% endfor %}
            {% if k != 0 %}
              {{ status_box(invoice_pays[0].agent_invoice, invoice_pays[0]) }}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  <div class="panel panel-default" id="new-invoice" style="display:none;">
    <div class="panel-heading">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion-invoice" href="#collapse-invoice-new"> 打款信息 </a>
      </h4>
    </div>
    <div id="collapse-invoice-new" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="well">
            <h4></h4>
            <form class="input-row-box" method="POST" action="{{url_for('saler_client_order_agent_invoice.new_invoice_pay', invoice_id=invoice.id)}}" onsubmit="return checkform(this)">
            <div class="input-group-menu">
                    <div class="name">打款时间 : </div>
                   <input type="text" id="pay_time" name="pay_time" value="" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
            </div>
            <div class="input-group-menu">
                    <div class="name">打款金额 : </div>
                   <input type="text" id="money" name="money" value="0" class="surname" style="width:300px;">
            </div>
            <div class="input-group-menu">
                    <div class="name">留言 : </div>
                   <textarea type="text" id="detail" name="detail" class="surname" style="width:300px;"></textarea>
            </div>
            <div class="state" style="margin-left:40%;">
                    <input type="submit" value="保存">
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <button onclick="showInvoice(this);" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> 填写打款</button>
</div>
<script>
$(document).ready(function(){
    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2
    });
})
showInvoice = function(ele) {
  $(ele).hide();
  $("#new-invoice").show();
};
function update_invoice(){
   if($('#invoice_from').css('display') == 'none'){
      $('#invoice_from').show()
   }else{
      $('#invoice_from').hide()
   }
   
}
function check_all(e) {
  $(e).parent().find(".invoice-id").prop("checked", $(e).prop("checked"));
  $(e).parent().find(".invoice-id").trigger("change");
}
$(function() {
  $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true});
  $(".invoice-id").change(function(e) {
    if ($(this).prop("checked")) {
      if ($("#form-invoice-" + $(this).val()).length < 1) {
        $(this).parents(".panel-collapse").find(".invoice-status-form")
          .append('<input class="hide invoices" name="invoices" id="form-invoice-' + $(this).val() + '" value="' + $(this).val() + '"/>');
      }
    } else {
      $(this).parents(".panel-collapse").find(".invoice-all").prop("checked", false);
      if ($("#form-invoice-" + $(this).val()).length > 0) {
        $("#form-invoice-" + $(this).val()).remove();
      }
    }
  });
  $(".invoice-btn").click(function(e) {
    var actionVal = $(this).val();
    var email = $(this).parents('form').find("#contract-email").val();
    var invoices = $(this).parents('form').find(".invoices");
    var msg = $(this).parents('form').find("#msg").val();
    if (invoices.length < 1) {
      alert("请勾选要申请的发票!");
      e.preventDefault();
    }
    if (actionVal == '2') {
      if (msg == "") {
        alert("请填写理由！");
        e.preventDefault();
      }
    }
  });
});
</script>
{%- endmacro %}
{% block content%}
{% include "/order/order_base_v1_0_0.html" %}
  <div class="container bra-box" style="width:1400px;">
    <div>
      {% set order = invoice.client_order %}
      {% include "saler/client_order/nav_base_v1_0_0.html" %}
      <div class="tab-content">
        <div class="tab-pane active" id="tab-2">
          {{ contract_box(invoice.client_order) }}
          <div>{{ comments_box(invoice.client_order, msg_channel=5) }}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% macro status_box(invoice, invoice_pay) -%}
<input type="checkbox" name="invoice-all" class="invoice-all" onclick="check_all(this);"/> 全选
<form class="input-row-box invoice-status-form" id="status-form" method="POST" action="{{url_for('saler_client_order_agent_invoice.apply_pay', invoice_id=invoice.id)}}">
  <div class="input-group-menu">
      <div class="name">邮箱 : </div>
      <select class="surname" style="width:300px;" id="contract-email" multiple="" name="email" placeholder="请输入需要提醒人员的邮箱">
        {% for u in reminder_emails %}
          <option value="{{u[1]}}">{{u[0]}}</option>
        {% endfor %}
      </select>
  </div>
  <div class="input-group-menu">
      <div class="name">留言 : </div>
      <textarea class="surname" style="width:300px;" id="msg"
      name="msg" rows="4" placeholder="请输入需要附加在邮件中的留言..."></textarea>
  </div>
  <div class="input-group-menu">
    <div class="name">操作 : </div>
    <div class="state" style="margin-left:20%;margin-top:70px;">
      {% if invoice_pay.pay_status == 1 and invoice.client_order.can_admin(g.user) %}
        <button class="btn btn-sm btn-primary invoice-btn" name="action" type="submit" value="2">申请打款</button>
      {% endif %}
      {% if invoice_pay.pay_status == 2 and invoice.client_order.can_admin(g.user) %}
        <button class="btn btn-sm btn-primary invoice-btn" name="action" type="submit" value="2">再次申请打款</button>
      {% endif %}
      {% if invoice_pay.pay_status == 2 and g.user.is_super_leader() %}
        <button class="btn btn-sm btn-primary invoice-btn" name="action" type="submit" value="3">同意打款</button>
      {% endif %}
      {% if invoice_pay.pay_status == 3 and invoice.client_order.can_admin(g.user) %}
        <button class="btn btn-sm btn-primary invoice-btn" name="action" type="submit" value="3">提醒财务打款</button>
      {% endif %}
    </div>
    <div class="col-sm-6">
      <!--<button class="btn btn-sm btn-info contract-submit " name="action" type="submit" value="10">留言</button>-->
    </div>
  </div>
</form>
{%- endmacro %}
