{% extends "/base_v1_0_0.html" %}
{% block title %}媒体供应商列表{% endblock %}

{% block content %}
{% include "/client/client_base_v1_0_0.html" %}
<div class="container bra-box">
    <div class="search-bar">
        <form class="menu-btn-bar" style="float:left;">
            <div class="search-input">
                <input type="text" placeholder="媒体供应商名称" value="{{info}}" name="info" id="info">
                <img src="/static/image/search.png" alt="#">
            </div>
            <div class="select_option screen">
                <input type="submit" value="筛选">
            </div>
            {% if g.user.is_contract() or g.user.is_super_leader() %}
            <div class="select_option return">
                <a href="{{url_for('client.new_medium_group')}}"><input type="button" value="添加"></a>
            </div>
            {% endif %}
        </form>
    </div>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>媒体供应商</th>
                    <th>级别</th>
                    <th>媒体名称</th>
                </tr>
            </thead>
            <tbody>
                {% for mg in mediums %}
                <tr>
                    <td rowspan="{{mg.mediums|length + 1}}"><a href="{{url_for('client.medium_group_detail', medium_group_id=mg.id)}}">{{mg.name}}</a></td>
                    <td rowspan="{{mg.mediums|length + 1}}">{{mg.level_cn}}</td>
                </tr>
                {% for m in mg.mediums %}
                    <tr>
                        <td>
                            {% if g.user.is_media_leader() or g.user.is_super_leader() or g.user.is_media() or g.user.is_finance() %}
                            <a href="{{url_for('client.medium_detail', medium_id=m.id)}}">{{m.name}}</a>
                            {% else %}
                            {{m.name}}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
