{% extends "/base_v1_0_0.html" %}
{% block title %}媒体供应商列表{% endblock %}

{% block content %}
{% include "/client/client_base_v1_0_0.html" %}
<div class="container bra-box">
    <h3> 供应商列表
        {% if g.user.is_contract() or g.user.is_super_leader() %}<a class="btn btn-default btn-sm" href="{{url_for('client.new_medium_group')}}">新建</a>{% endif %}
    </h3>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>供应商公司名称</th>
                    <th>级别</th>
                </tr>
            </thead>
            <tbody>
                {% for m in mediums %}
                <tr>
                    <td><a href="{{url_for('client.medium_group_detail', medium_group_id=m.id)}}">{{m.name}}</a></td>
                    <td>{{m.level_cn}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
