{% extends "/base_v1_0_0.html" %}
{% block title %}直签豆瓣订单收入成本{% endblock %}
{% block content %}
{% include "/data_query/shenji/shenji_base_v1_0_0.html" %}
<div class="container bra-box" style="width:4400px;">
    {% if g.user.is_super_leader() %}
    <div class="table-switch">
        <ul>
            <li id="_0_li" class="actives">
                <a id="_0_" href="{{url_for('data_query_shenji_cost_income_douban_order.index')}}" class="on">外部</a>
            </li>
            <li id="_1_li">
                <a id="_1_" href="{{url_for('data_query_shenji_cost_income_douban_order.index')}}?shenji=1">内部</a>
            </li>
        </ul>
    </div>
    {% endif %}
    <div class="search-bar">
        <form class="menu-btn-bar" style="float:left;">
            <div class="select_option">
                <label for="sale_type" class="control-label">查询时间：</label>
                <select class="form-control special_sale" name="year" id="year" style="width:100px;">
                    {% for k in range(5) %}
                    <option value='{{2014+k}}'>{{2014+k}}年</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select_option screen">
                <input type="submit" value="筛选">
            </div>
            <div class="select_option return">
                <input type="button" value="导出" onclick="javascript:download();">
            </div>
        </form>
    </div>
    <div class='tabulation'>
        <table border='1'>
          <thead>
            <tr>
                <th rowspan=2 style="vertical-align: middle;text-align: center;">区域</th>
                <th rowspan=2 style="vertical-align: middle;text-align: center;">代理/直客</th>
                <th rowspan=2 style="vertical-align: middle;text-align: center;">客户合同号</th>
                <th rowspan=2 style="vertical-align: middle;text-align: center;">客户</th>
                <th rowspan=2 style="vertical-align: middle;text-align: center;">Campaign</th>
                <th rowspan=2 style="vertical-align: middle;text-align: center;">客户合同金额</th>
                <th rowspan=2 style="vertical-align: middle;text-align: center;">执行开始</th>
                <th rowspan=2 style="vertical-align: middle;text-align: center;">执行结束</th>
                <th rowspan=2 style="vertical-align: middle;text-align: center;">回款日期</th>
                <th rowspan=2 style="vertical-align: middle;text-align: center;">回款总金额</th>
                <th rowspan=2 style="vertical-align: middle;text-align: center;">欠款总金额</th>
                <th rowspan=2 style="vertical-align: middle;text-align: center;">售卖类型</th>
                <th rowspan=2 style="vertical-align: middle;text-align: center;">代理/直客</th>
                <th colspan=13 style="vertical-align: middle;text-align: center;">客户执行金额</th>
                <th colspan=13 style="vertical-align: middle;text-align: center;">客户返点</th>
                <th colspan=13 style="vertical-align: middle;text-align: center;">合同利润</th>
            </tr>
            <tr>
                {% for k in range(12) %}
                <th>{{k+1}}月</th>
                {% endfor %}
                <th>总计</th>
                {% for k in range(12) %}
                <th>{{k+1}}月</th>
                {% endfor %}
                <th>总计</th>
                {% for k in range(12) %}
                <th>{{k+1}}月</th>
                {% endfor %}
                <th>总计</th>
            </tr>
          </thead>
          <tbody>
            {% for k in orders %}
                <tr>
                    <td>{{k.locations_cn}}</td>
                    <td>{{k.agent_name}}</td>
                    <td>
                        {% if k.type == 'douban_order' %}
                        <a href="{{url_for('order.douban_order_info', order_id=k.order_id, tab_id=1)}}">
                        {% else %}
                        <a href="{{url_for('order.order_info', order_id=k.order_id, tab_id=1)}}">
                        {% endif %}
                        {{k.contract}}
                        </a>
                    </td>
                    <td>{{k.client_name}}</td>
                    <td>{{k.campaign}}</td>
                    <td>{{k.money|format_price}}</td>
                    <td>{{k.start_date_cn}}</td>
                    <td>{{k.end_date_cn}}</td>
                    <td>{{k.reminde_date_cn}}</td>
                    <td>{{k.back_moneys|format_price}}</td>
                    <td>{{(k.money-k.back_moneys)|format_price}}</td>
                    <td>{{k.resource_type_cn}}</td>
                    <td>{{k.sale_type}}</td>
                    {% for i in k.money_data %}
                    <td>{{i|format_price}}</td>
                    {% endfor %}
                    <td>{{k.money_data|sum|format_price}}</td>
                    {% for i in k.money_rebate_data %}
                    <td>{{i|format_price}}</td>
                    {% endfor %}
                    <td>{{k.money_rebate_data|sum|format_price}}</td>
                    {% for i in k.profit_data %}
                    <td>{{i|format_price}}</td>
                    {% endfor %}
                    <td>{{k.profit_data|sum|format_price}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan=5 style="vertical-align: middle;text-align: center;">总计</td>
                <td>{{orders|sum('money')|format_price}}</td>
                <td colspan=3 style="vertical-align: middle;text-align: center;"></td>
                <td>{{orders|sum('back_moneys')|format_price}}</td>
                <td>{{(orders|sum('money') - orders|sum('back_moneys'))|format_price}}</td>
                <td colspan=2 style="vertical-align: middle;text-align: center;"></td>
                {% for i in total_money_data %}<td>{{i|format_price}}</td>{% endfor %}
                <td>{{total_money_data|sum|format_price}}</td>
                {% for i in total_money_rebate_data %}<td>{{i|format_price}}</td>{% endfor %}
                <td>{{total_money_rebate_data|sum|format_price}}</td>
                {% for i in total_profit_data %}<td>{{i|format_price}}</td>{% endfor %}
                <td>{{total_profit_data|sum|format_price}}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<script>
    $(function(){
        $('select').chosen({disable_search: true});
        $('#year').val('{{year}}');
        $("#year").trigger("chosen:updated");
    });
    function download(){
        var year = $('#year').val();
        params = '?action=excel&year='+year;
        window.location.href = window.location.pathname + params;
    }
</script>
{% endblock %}