{% extends "/site_base.html" %}

{% block left_box%}
<div class="bra-left bra-box">
  <div class="list-group">
    <a class="list-group-item" href="{{url_for('client.clients')}}">
        <span class="glyphicon glyphicon-stats"></span> 客户
    </a>
    <a class="list-group-item" href="{{url_for('client.groups')}}">
        <span class="glyphicon glyphicon-stats"></span> 甲方集团
    </a>
    <a class="list-group-item" href="{{url_for('client.agents')}}">
        <span class="glyphicon glyphicon-stats"></span> 合同甲方
    </a>
    <a class="list-group-item" href="{{url_for('client.mediums')}}">
        <span class="glyphicon glyphicon-stats"></span> 媒体 
    </a>
    <a class="list-group-item" href="{{url_for('client.new_client')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建客户
    </a>
    <a class="list-group-item" href="{{url_for('client.new_group')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建集团
    </a>
    <a class="list-group-item" href="{{url_for('client.new_agent')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建甲方
    </a>
    <a class="list-group-item" href="{{url_for('client.new_medium')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建媒体
    </a>
  </div>
</div>
{% endblock %}
