<div class="top-nav-wrap">
    <div class="top-nav" style="top: 15px;">
        <ul>
            <li id="_clients_" class="nav-first">
              <a href="{{url_for('client.clients')}}">客户</a>
              <span>|</span>
            </li>
            <li id="_agents_">
              <a href="{{url_for('client.agents')}}">代理/直客</a>
              <span>|</span>
            </li>
            <li id="_groups_">
              <a href="{{url_for('client.groups')}}">代理集团</a>
              <span>|</span>
            </li>
            <li id="_mediums_" class="nav-last">
              <a href="{{url_for('client.mediums')}}">媒体</a>
            </li>
        </ul>
    </div>
</div>
<script>
    $(function(){
        var pathname = window.location.pathname;
        var p_pathname = pathname.split('/')
        if (p_pathname[2].indexOf('s')>0){
            $('#_'+p_pathname[2]+'_').addClass("active");
        }else{
            $('#_'+p_pathname[2]+'s_').addClass("active");
        }
        if (p_pathname[2] == 'new_client'){
            $('#_clients_').addClass("active");
        }
        if (p_pathname[2] == 'new_agent'){
            $('#_agents_').addClass("active");
        }
        if (p_pathname[2] == 'new_group'){
            $('#_groups_').addClass("active");
        }
        if (p_pathname[2] == 'new_medium'){
            $('#_mediums_').addClass("active");
        }

    })
</script>
