{% extends "/client_base.html" %}
{% block title %}甲方集团{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3> 代理集团
        <a class="btn btn-sm btn-default" href="{{url_for('client.new_group')}}">新建</a>
    </h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#id</th>
            <th>名称</th>
        </tr>
        {% for g in groups %}
        <tr>
            <td>{{g.id}}</td>
            <td><a href="{{url_for("client.group_detail", group_id=g.id)}}">{{g.name}}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
