{% extends "/util_base.html" %}
{% from 'form.html' import form_field %}

{% block main_box%}
<div class="bra-main bra-box">
    <h3>新建豆瓣订单</h3>
     <form class="form form-horizontal" method="POST">
    <input class="hide" name="info_type" value="0"/>
    {{form.csrf_token}}
    {{ form_field(form.agent) }}
    {{ form_field(form.client) }}
    {{ form_field(form.campaign) }}
    {{ form_field(form.money) }}
    {{ form_field(form.sale_CPM) }}
    {{ form_field(form.medium_CPM) }}
    <div class="form-group">
      <label for="client_start" class="col-sm-2 control-label">执行开始 : </label>
      <div class="col-sm-4">
        <input type="text" id="client_start" name="client_start" value="{{form.client_start.data}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
      </div>
    </div>
    <div class="form-group">
      <label for="client_end" class="col-sm-2 control-label">执行结束 : </label>
      <div class="col-sm-4">
        <input type="text" id="client_end" name="client_end" value="{{form.client_end.data}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
      </div>
    </div>
    <div class="form-group">
      <label for="reminde_date" class="col-sm-2 control-label">回款日期 : </label>
      <div class="col-sm-4">
        <input type="text" id="reminde_date" name="reminde_date" value="{{form.reminde_date.data}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
      </div>
    </div>
    <div class="form-group">
      <label for="reminde_date" class="col-sm-2 control-label">合同号 : </label>
      <div class="col-sm-4">
        <input type="text" id="contract" name="contract" value="" class="form-control bra-form-control">
      </div>
    </div>
    {{ form_field(form.direct_sales) }}
    {{ form_field(form.agent_sales) }}
    {{ form_field(form.operaters) }}
    {{ form_field(form.designers) }}
    {{ form_field(form.planers) }}
    {{ form_field(form.contract_type) }}
    {{ form_field(form.resource_type) }}
    {{ form_field(form.sale_type) }}
    <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
</form>
</div>
<script>
$(document).ready(function(){
    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2
      });
    $("#client_end").change(function(e){
      var endDate = new Date($('#client_end').val());
      endDate.setDate(endDate.getDate() + 90); 
      $('#reminde_date').val(endDate.getFullYear()+"-"+(endDate.getMonth()+1)+"-"+endDate.getDate())
    });
});
</script>
{% endblock %}
