{% extends "/client_base.html" %}
{% block title %}代理/直客全称{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3> 代理公司
        <a class="btn btn-default btn-sm" href="{{url_for('client.new_agent')}}">新建</a>
    </h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#id</th>
            <th>名称</th>
            <th>所属集团</th>
            {% if g.user.is_contract() or g.user.is_super_leader() or g.user.is_media_leader() %}
            <th>操作</th>
            {% endif %}
            {% if g.user.is_super_admin() %}
             <th>媒体合同关联个数</th>
             <th>直签豆瓣合同关联个数</th>
             <th>框架合同关联个数</th>
             <th>关联甲方返点发票个数</th>
             <th>删除</th>
            {% endif %}
        </tr>
        {% for a in agents %}
        <tr>
            <td>{{a.id}}</td>
            <td><a href="{{url_for("client.agent_detail", agent_id=a.id)}}">{{a.name}}</a></td>
            <td><a href="{{url_for("client.group_detail", group_id=a.group.id)}}">{{a.group.name}}</a></td>
            {% if g.user.is_contract() or g.user.is_super_leader() or g.user.is_media_leader() %}
                <td><a href="{{url_for('client.agent_rebate', agent_id=a.id)}}">设置返点</a></td>
            {% endif %}
            {% if g.user.is_super_admin() %}
            <th>{{a.get_client_order_count()}}</th>
            <th>{{a.get_douban_order_count()}}</th>
            <th>{{a.get_framework_order_count()}}</th>
            <th>{{a.get_agent_invoice_count()}}</th>
            {% if a.get_client_order_count()+a.get_douban_order_count()+a.get_framework_order_count()+a.get_agent_invoice_count() == 0 %}
            <th><a href="{{url_for('client.agent_delete', agent_id=a.id)}}">删除</a></th>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}