{% extends "/medium_base.html" %}
{% block title %} 媒体列表{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3> 媒体列表</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#id</th>
            <th>名字</th>
            <th>媒体团队</th>
        </tr>
        {% for m in mediums %}
        <tr>
            <td>{{m.id}}</td>
            <td><a href="{{url_for("medium.medium_detail", medium_id=m.id)}}">{{m.name}}</a></td>
            <td>{{m.owner.name}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
