{% extends "/site_base.html" %}

{% block left_box%}
<div class="bra-left bra-box">
  <div class="list-group">
    <a class="list-group-item" href="{{url_for('medium.mediums')}}">
        <span class="glyphicon glyphicon-stats"></span> 媒体 
    </a>
    <a class="list-group-item" href="{{url_for('medium.units')}}">
        <span class="glyphicon glyphicon-stats"></span> 广告单元 
    </a>
     <a class="list-group-item" href="{{url_for('medium.positions')}}">
        <span class="glyphicon glyphicon-stats"></span> 展示位置 
    </a>
     <a class="list-group-item" href="{{url_for('medium.new_size')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建广告尺寸
    </a>
    <a class="list-group-item" href="{{url_for('medium.new_medium')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建媒体
    </a>
    <a class="list-group-item" href="{{url_for('medium.new_unit')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建广告单元
    </a>
     <a class="list-group-item" href="{{url_for('medium.new_position')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建展示位置
    </a>
  </div>
</div>
{% endblock %}
