{% extends "/medium_base.html" %}
{% from 'form.html' import form_tpl %}

{% block main_box%}
<div class="bra-main bra-box">
  <h3>展示位置：{{ title }}</h3>

  {% if position %}
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#home">信息设置</a></li>
    <li><a href="#profile">排期</a></li>
  </ul>
  {% endif %}

  <div class="tab-content">
    <div class="tab-pane active" id="home">
    {{ form_tpl(form) }}
    </div>

    {% if position %}
    <div class="tab-pane" id="profile">
    {{ adposition_detail(position) }}
    </div>
    {% endif %}
  </div>
</div>


<script>
$(document).ready(function(){
    //$('#myTab a:last').tab('show');
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    function ad_type_change(){
         if($("#ad_type").val() == 0){
            if($("#cpd_num").parents(".form-group").css("display") != "none"){                
                $("#max_order_num").parents(".form-group").show();
                $("#cpd_num").parents(".form-group").hide();
            }            
        }
        if($("#ad_type").val() == 1){
            if($("#max_order_num").parents(".form-group").css("display") != "none"){
                $("#max_order_num").parents(".form-group").hide();
                $("#cpd_num").parents(".form-group").show();
            }
        }
    }
    $("#ad_type").change(ad_type_change);
    ad_type_change();
});
</script>
{% endblock %}

{% macro adposition_detail(position)  -%}
<table class="table table-bordered table-striped">
   <tr>
         <th><a href="javascript:sort('item.id');">订单</th>
         <th>售卖类型</th>
         <th><a href="javascript:sort('date');">日期</th>
         <th><a href="javascript:sort('item.status');">状态</th >
      </tr>
      {% if schedules %}
   {% for schedule in schedules %}
      <tr>
         <td>{{ schedule.item.order.name }}-{{ schedule.item.name }}</td>
         <td>{{ schedule.item.sale_type_cn}}</td>
         <td>{{ schedule.date}}</td>
         <td>{{ schedule.item.item_state_cn}}</td>
      </tr>
      {%  endfor %}
    {% endif %}
</table>
    <script>
  function sort(value){
  var orderby = '{{orderby}}'
  var sortby = value
    if(orderby == 'desc'){
        orderby = 'asc'
      }else{
        orderby = 'desc'
    }
    window.location.href = window.location.pathname+'?sortby='+sortby+'&orderby='+orderby;
  }
</script>
{% endmacro %}
