{% extends "/medium_base.html" %}
{% from 'form.html' import form_tpl %}

{% block main_box%}
<div class="bra-main bra-box">
    <h3>展示位置：{{ title }}</h3>
    {% if position %}
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#home">信息设置</a></li>
      <li><a href="#profile">排期</a></li>
    </ul>
     {% endif %}
    <div class="tab-content">
      <div class="tab-pane active" id="home"> {{ form_tpl(form) }}

      </div>
    {% if position %}
      <div class="tab-pane" id="profile">
          <table class="table table-bordered table-striped">
   <thead>
      <tr>
         <td>订单</td>
         <td>售卖类型</td>
         <td>日期</td>
         <td>状态</td>
      </tr>
   </thead>
   <tbody>
            {% for item in position.order_items %}
            {% for t in item.schedule_sorted %}
      <tr>
         <td>{{ item.order.name }}-{{ item.name }}</td>
         <td>{{ item.sale_type_cn}}</td>
         <td>{{t.date}}</td>
         <td>{{item.item_state_cn}}</td>
      </tr>
           {%  endfor %}
      {%  endfor %}
   </tbody>
</table>
      </div>
    {% endif %}
     <script>
      $(function () {
        $('#myTab a:first').tab('show');
        $('#myTab a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        })
      })
    </script>
</div>
<script>
$(document).ready(function(){
    function ad_type_change(){
         if($("#ad_type").val() == 0){
            if($("#cpd_num").parents(".form-group").css("display") != "none"){                
                $("#max_order_num").parents(".form-group").show();
                $("#cpd_num").parents(".form-group").hide();
            }            
        }
        if($("#ad_type").val() == 1){
            if($("#max_order_num").parents(".form-group").css("display") != "none"){
                $("#max_order_num").parents(".form-group").hide();
                $("#cpd_num").parents(".form-group").show();
            }
        }
    }
    $("#ad_type").change(ad_type_change);
    ad_type_change();
});
</script>
{% endblock %}
