{% extends "/medium_base.html" %}
{% from 'form.html' import form_tpl %}

{% block main_box%}
<div class="bra-main bra-box">
  <h3>广告单元：{{ title }}</h3>

  {% if unit %}
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#home">信息设置</a></li>
    <li><a href="#profile">排期</a></li>
  </ul>
  {% endif %}

  <div class="tab-content">
    <div class="tab-pane active" id="home">
      {{ form_tpl(form) }}
      {% if unit %}
      <h4>广告位代码 :</h4>
      <pre><code>{{'<div class="inad-ad" id="inad-uid-%s" data-inad-uid="%s"></div>' %  (unit.id, unit.id)}}</code></pre>
      <p>在html body最后加入JS (一个页面只需要加入一次):</p>
      <pre><code>{{'<script src="http://y.inad.com/static/show_ads.js"></script>'}}</code></pre>
      {% endif %}
    </div>
    <div class="tab-pane" id="profile">
      {{ adunit_detail(unit) }}
    </div>
  </div>
</div>
<script>
$(function () {
    //$('#myTab a:last').tab('show');
    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
});

$("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10});
</script>
{% endblock %}

{% macro adunit_detail(unit)-%}
{% if unit %}
 <table class="table table-bordered table-striped">
      <tr>
         <th><a href="javascript:sort('item.id');">订单</th>
         <th>售卖类型</th>
         <th><a href="javascript:sort('date');">日期</th>
         <th><a href="javascript:sort('item.status');">状态</th >
      </tr>
        {% for schedule in schedules %}
      <tr>
         <td><a href="{{url_for("order.order_detail", order_id=schedule.item.order.id, step=0)}}">{{ schedule.item.order.name }}-{{ schedule.item.name }}</td>
         <td>{{ schedule.item.sale_type_cn}}</td>
         <td>{{ schedule.date}}</td>
         <td>{{ schedule.item.item_state_cn}}</td>
      </tr>
      {%  endfor %}
</table>
{% endif %}
<script>
  function sort(value){
  var orderby = '{{orderby}}'
  var sortby = value
    if(orderby == 'desc'){
        orderby = 'asc'
      }else{
        orderby = 'desc'
    }
    window.location.href = window.location.pathname+'?sortby='+sortby+'&orderby='+orderby;
  }
</script>
{% endmacro %}
