{% from '/form.html' import form_field %}
{% macro invoice_form(order, form, INVOICE_TYPE_CN, MEDIUM_INVOICE_BOOL_PAY_CN, invoice=None) -%}
{% if invoice %}
{% if order.can_admin(g.user) and invoice.invoice_status == 1 %}
    <div class="well">
        <h4>
            <input type="checkbox" name="invoice-id" class="invoice-id" value="{{invoice.id}}"/>
            {{invoice.client_order.name}}-{{ invoice.medium.name }}-{{ invoice.money }}元
        </h4>
        <form class="form form-horizontal" method="POST" action="{{url_for('saler_medium_invoice.update_invoice', invoice_id=invoice.id)}}" onsubmit="return checkform(this)">
        {{form.csrf_token}}
        {{ form_field(form.client_order)}}
        {{ form_field(form.medium)}}
        {{ form_field(form.company) }}
        {{ form_field(form.tax_id) }}
        {{ form_field(form.address) }}
        {{ form_field(form.phone) }}
        {{ form_field(form.bank_id) }}
        {{ form_field(form.bank) }}
        {{ form_field(form.detail) }}
        {{ form_field(form.money) }}
        {{ form_field(form.invoice_num) }}
        {{ form_field(form.invoice_type) }}
        <div class="form-group">
          <label for="client_start" class="col-sm-2 control-label">开票时间 : </label>
          <div class="col-sm-4">
            <input type="text" id="add_time" name="add_time" value="{{form.add_time.data}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
          </div>
        </div>
        {{ form_field(form.bool_invoice) }}
        <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
        </form>
    </div>
{% else %}
<div class="col-md-12">
    <div class="col-md-6" style="margin-left: 20px;">
        <table class="table table-bordered">
          <tr>
            <th>开票时间</th>
            <td>{{invoice.create_time}}</td>
          </tr>
          <tr>
            <th>公司名称</th>
            <td>{{invoice.company}}</td>
          </tr>
          <tr>
            <th>税号</th>
            <td>{{invoice.tax_id}}</td>
          </tr>
          <tr>
            <th>公司地址</th>
            <td>{{invoice.address}}</td>
          </tr>
          <tr>
            <th>联系电话</th>
            <td>{{invoice.phone}}</td>
          </tr>
          <tr>
            <th>银行账号</th>
            <td>{{invoice.bank_id}}</td>
          </tr>
          <tr>
            <th>开户行</th>
            <td>{{invoice.bank}}</td>
          </tr>
          <tr>
            <th>发票内容</th>
            <td>{{invoice.detail}}</td>
          </tr>
          <tr>
            <th>发票金额</th>
            <td>{{invoice.money}}元</td>
          </tr>
          <tr>
            <th>打款金额</th>
            <td>{{invoice.pay_money}}元</td>
          </tr>
          <tr>
            <th>发票号</th>
            <td>{{invoice.invoice_num}}</td>
          </tr>
          <tr>
            <th>发票类型</th>
            <td>{{INVOICE_TYPE_CN[invoice.invoice_type]}}</td>
          </tr>
          <tr>
            <th>发票号</th>
            <td>{{invoice.invoice_num}}</td>
          </tr>
          <tr>
            <th>开票时间</th>
            <td>{{invoice.add_time_cn}}</td>
          </tr>
          <tr>
            <th>是否开票</th>
            {% if invoice.bool_invoice %}
            <td>发票已开</td>
            {% else %}
            <td>没有发票</td>
            {% endif %}
          </tr>
          <tr>
            <th>是否打款</th>
            {% if invoice.bool_pay %}
            <td>已打款</td>
            {% else %}
            <td>未打款</td>
            {% endif %}
          </tr>
        </table>
    </div>
</div>
{% endif %}
{% else %}
    <div class="well">
        <form class="form form-horizontal" method="POST" action="{{url_for('saler_medium_invoice.new_invoice', order_id=order.id)}}" onsubmit="return checkform(this)">
        {{form.csrf_token}}
        {{ form_field(form.client_order)}}
        {{ form_field(form.medium)}}
        {{ form_field(form.company) }}
        {{ form_field(form.tax_id) }}
        {{ form_field(form.address) }}
        {{ form_field(form.phone) }}
        {{ form_field(form.bank_id) }}
        {{ form_field(form.bank) }}
        {{ form_field(form.detail) }}
        {{ form_field(form.money) }}
        {{ form_field(form.invoice_num) }}
        {{ form_field(form.invoice_type) }}
        
        <div class="form-group">
          <label for="client_start" class="col-sm-2 control-label">开票时间 : </label>
          <div class="col-sm-4">
            <input type="text" id="add_time" name="add_time" value="{{form.add_time.data}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
          </div>
        </div>
        {{ form_field(form.bool_invoice) }}
        <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
        </form>
    </div>
    <script>
    function checkform(obj){
      if (obj.back_time.value == ""){
        alert('请选择回款时间')
        return false
      }
      /***
      var now_date = new Date()
      now_date.setMonth(now_date.getMonth() + 1)
      var back_time = new Date(obj.back_time.value)
      if (back_time > now_date){
        alert('申请发票的回款时间超过了一个月')
        return false
      }else{
        return true
      }**/
    }

    $(document).ready(function(){
        $('.datetimepicker').datetimepicker({
            autoclose: true,
            todayHighlight: true,
            language: 'zh-CN',
            minView: 2
          });
    })
</script>
{% endif %}
{%- endmacro %}
