<div class="container" style="min-width: 950px;">
    <div class="menu">
        <div class="list">
            <ul>
                <a href="{{url_for('mediums_files.index')}}"><li id="_files_" >媒体资料</li></a>
                <a href="{{url_for('mediums_planning.index', type=1)}}"><li id="_planning_">策划案例</li></a>
                {% if g.user.is_media() or g.user.is_planner() %}
                <!--<a href="{{url_for('mediums_product.index', mtype='pc')}}"><li>媒体产品</li></a>
                <a href="{{url_for('mediums_resource.index')}}"><li>媒体资源</li></a>-->
                {% endif %}
                <div class="line" style="clear: both"></div>
            </ul>
        </div>
    </div>
    <div class="form-list">
    </div>
</div>
<script>
    $(function(){
        var pathname = window.location.pathname;
        var p_pathname = pathname.split('/')
        $('#_'+p_pathname[2]+'_').addClass("on");
    })
</script>
