<div class="container-fluid top_nav_fluid">
    <div class="menu">
        <div class="list">
            <ul>
                <a href="{{url_for('planning_bref.index')}}"><li id="_bref_">策划单</li></a>
                <div class="line" style="clear: both"></div>
            </ul>
        </div>
    </div>
    <div class="form-list">
    </div>
</div>
<script>
    $(function(){
        var pathname = window.location.pathname;
        var p_pathname = pathname.split('/')
        $('#_'+p_pathname[2]+'_').addClass("on");
    })
</script>
