{% extends "/base_v1_0_0.html" %}
{% block title %}我的客户订单{% endblock %}

{% block content %}
{% include "/finance/searchAd_finance_base_v1_0_0.html" %}
<div class="container bra-box">
    <h3>正在申请的发票</h3>
    <div class="table-switch">
        <ul>
            <li class="actives" style="width:150px;">
                <a class="on" href="{{url_for('searchAd_finance_client_order_invoice.index')}}">申请中的客户发票</a>
            </li>
            <li style="width:150px;">
                <a href="{{url_for('searchAd_finance_client_order_invoice.index_pass')}}">所有客户发票信息</a>
            </li>
        </ul>
    </div>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>名称</th>
                    <th>合同号</th>
                    <th>合同总金额</th>
                    <th>已开发票金额</th>
                    <th>未开发票金额</th>
                    <th>正在申请发票金额</th>
                    <th>申请发票个数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td><a href="{{url_for('searchAd_finance_client_order_invoice.info', order_id=order.id)}}">{{order.name}}</a></td>
                    <td>{{ order.contract }}</td>
                    <td>{{ order.money }} 元</td>
                    <td>{{ order.invoice_pass_sum }} 元</td>
                    <td>{{ order.money - order.invoice_pass_sum }} 元</td>
                    <td>{{ order.invoice_apply_sum }} 元</td>
                    <td>{{ order.get_invoice_by_status(3)|length }}</td>
                    <td><a href="{{url_for('searchAd_finance_client_order_invoice.info', order_id=order.id)}}">查看</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
