<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="Sun, 6 Mar 2014 01:00:00 GMT">
  <title>{% block title %}AD{% endblock %} - InAD</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/chosen.css" type="text/css">
  <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/base.css" type="text/css">
  <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" type="text/css" rel="stylesheet">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.json.min.js"></script>
  <script src="/static/js/chosen.jquery.min.js"></script>
  <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
  <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
  <script src="/static/js/base.js"></script>
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% block footer %}
  <div id="footer">
    <div class="container text-center">
      <p>inad.com</p>
    </div>
  </div>
  {% endblock %}
  {% block bottom_script %}{% endblock %}
</body>
</html>
