<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="Sun, 6 Mar 2014 01:00:00 GMT">
  <title>{% block title %}{% endblock %} - InAD</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/chosen.css" type="text/css">
  <link rel="stylesheet" href="/static/css/base.css" type="text/css">
  <script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
  <script src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="/static/js/chosen.jquery.min.js"></script>
  <script src="/static/js/base.js"></script>
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% block footer %}
  <div id="footer">
    <div class="container text-center">
      <p>inad.com</p>
    </div>
  </div>
  {% endblock %}
  {% block bottom_script %}{% endblock %}
</body>
</html>
