{% macro form_field(field) -%}
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">{{field.label.text}} : </label>
        <div class="col-sm-10">
          {% if field.readonly %}
            {{field(class_='form-control bra-form-control', placeholder=field.label.text, readonly="readonly")}}
          {% else %}
            {{field(class_='form-control bra-form-control', placeholder=field.label.text)}}
          {% endif %}
            <span class="errors">{{','.join(field.errors)}}</span>
        </div>
      </div>
{%- endmacro %}

{% macro form_tpl(form) -%}
    <form class="form form-horizontal" method="POST">
      {{form.csrf_token}}
      {% for field in form %}
        {% if field != form.csrf_token %}
          {{ form_field(field) }}
        {% endif %}
      {% endfor %}
      <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="提交"/>
    </form>
{%- endmacro %}
