{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
    {% block navigation %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
           <a class="navbar-brand" href="/">InAD</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{url_for('order.index')}}">订单</a></li>
            <li><a href="{{url_for('storage.index')}}">库存</a></li>
            <li><a href="{{url_for('client.index')}}">客户&代理</a></li>
            {% if g.user.team.is_admin() %}
            <li><a href="{{url_for('medium.index')}}">广告资源</a></li>
            <li><a href="{{url_for('user.index')}}">用户</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('user.mine')}}">{{g.user.name}}</a></li>
            <li><a href="{{url_for('user.logout')}}">[退出]</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% endblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>提示: </strong>{{ message | safe}}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block left_box %}{% endblock %}
    {% block main_box %}{% endblock %}
{% endblock %}

