{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
    {% block navigation %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
           <a class="navbar-brand" href="/">InAD</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">销售管理<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">订单管理</li>
                <li><a href="{{url_for('order.my_orders')}}">新媒体订单</a></li>
                <li><a href="{{url_for('order.my_douban_orders')}}">直签豆瓣订单</a></li>
                {% if g.user.is_super_leader() or g.user.is_leader() or g.user.is_contract() or g.user.is_media() or g.user.is_admin() or g.user.is_media_leader()%}
                <li><a href="{{url_for('order.my_framework_orders')}}">框架订单</a></li>
                {% endif %}
                <li role="presentation" class="dropdown-header">客户管理</li>
                <li><a href="{{url_for('client.clients')}}">客户</a></li>
                <li><a href="{{url_for('client.agents')}}">代理/直客</a></li>
                <li><a href="{{url_for('client.groups')}}">代理集团</a></li>
                <li><a href="{{url_for('client.mediums')}}">媒体</a></li>
                {% if g.user.is_super_leader() or g.user.is_leader() or g.user.is_contract() or g.user.is_media() or g.user.is_admin() or g.user.is_media_leader() %}
                <li role="presentation" class="dropdown-header">数据报表</li>
                <li><a href="{{url_for('data_query_order.index')}}">月度订单金额统计</a></li>
                {% endif %}
              </ul>
            </li>
            {% if g.user.is_operater() or g.user.is_operater_leader() or g.user.is_super_leader() or g.user.is_leader() %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">运营管理<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{url_for('outsource.client_orders')}}">外包管理</a></li>
                <li><a href="{{url_for('outsource.targets')}}">外包收款方</a></li>
              </ul>
            </li>
            {% endif %}
            {% if g.user.is_finance() or g.user.is_super_leader() %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">财务管理<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">发票管理</li>
                <li><a href="{{url_for('finance_invoice.index')}}">申请中的发票</a></li>
                <li><a href="{{url_for('finance_invoice.index_pass')}}">所有客户发票信息</a></li>
                <li role="presentation" class="dropdown-header">外包打款管理</li>
                <li><a href="{{url_for('finance_pay.index')}}">媒体订单</a></li>
                <li><a href="{{url_for('finance_pay.douban_index')}}">直签豆瓣订单</a></li>
                <li role="presentation" class="dropdown-header">媒体打款管理</li>
                <li><a href="{{url_for('finance_medium_pay.index')}}">媒体打款信息</a></li>
                <li role="presentation" class="dropdown-header">甲方打款管理</li>
                <li><a href="{{url_for('finance_agent_pay.index')}}">甲方打款信息</a></li>
                <li role="presentation" class="dropdown-header">回款管理</li>
                <li><a href="{{url_for('finance_client_order_back_money.index')}}">客户订单回款</a></li>
              </ul>
            </li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">数据报表<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="{{url_for('data_query_weekly.index')}}">媒体订单周报</a></li>
                  <li><a href="{{url_for('data_query_weekly.douban_index')}}">直签豆瓣订单周报</a></li>
                  {% if g.user.is_media() or g.user.is_super_leader() or g.user.is_media_leader() %}
                  <li><a href="{{url_for('data_query_medium.index')}}">媒体执行额</a></li>
                  {% endif %}
                  {% if g.user.is_operater_leader() or g.user.is_super_leader() %}
                  <li><a href="{{url_for('data_query_outsource.index')}}">外包成本</a></li>
                  {% endif %}
                  {% if g.user.is_finance() or g.user.is_super_leader() or g.user.is_media_leader() %}
                  <li><a href="{{url_for('data_query_profit.client_order')}}">媒体订单执行成本</a></li>
                  <li><a href="{{url_for('data_query_profit.douban_order')}}">豆瓣订单执行成本</a></li>
                  {% endif %}
                  {% if g.user.is_super_leader() %}
                  <li><a href="{{url_for('data_query_super_leader_medium.money')}}">媒体清单</a></li>
                  {% endif %}
              </ul>
            </li>
            {% if g.user.is_media() or g.user.is_planner() or g.user.is_media_leader() %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">媒体产品<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="{{url_for('mediums_product.index', mtype='pc')}}">媒体产品管理</a></li>
              </ul>
            </li>
            {% endif %}
            {% if g.user.is_admin() or g.user.is_super_leader()%}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">库存与资源<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% if g.user.is_admin() %}
                  <li><a href="{{url_for('storage.index')}}">库存</a></li>
                  <li><a href="{{url_for('medium.index')}}">广告资源</a></li>
                {% endif %}
              </ul>
            </li>
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">基础数据<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">预留</a></li>
              </ul>
            </li>-->
            {% endif %}
            {% if g.user.is_admin() or g.user.is_super_leader() or g.user.is_HR_leader() %}
            <li><a href="{{url_for('user.index')}}">用户</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a target="_blank" href="http://mail.inad.com/">致趣邮箱</a></li>
            <li><a target="_blank" href="http://www.inad.com/">致趣官网</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span><img class="user-avatar" src="{{g.user.avatar}}"/></span>
                <span> {{g.user.name}}</span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{url_for('user.leave',user_id = g.user.id)}}">请假申请</a></li>
                <li><a href="{{url_for('user.pwd_change')}}">密码修改</a></li>
                <li><a href="https://cn.gravatar.com/" target="_blank">头像修改</a></li>
                <li><a href="{{url_for('user.logout')}}">登出</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% endblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>提示: </strong>{{ message | safe}}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="wrapper-box">
        <div class="content-box">
          <div class="bra-left bra-box">
            <div class="list-group" id="left-list">
              {% block left_box %}{% endblock %}
            </div>
            <div class="left-btn">
                <span class="glyphicon glyphicon-chevron-left" id="list-hide"></span>
                <span class="glyphicon glyphicon-chevron-right" id="list-show"></span>
            </div>
          </div>
          {% block main_box %}{% endblock %}
        </div>
        <hr>
    </div>
    <style>
      .user-avatar{width: 26px; height: 26px; border-radius: 100px;}
      .wrapper-box{overflow-x: auto; min-height: 600px;}
      .content-box{}
      .chosen-drop{z-index: 100;}
      .bra-box{
          padding: 15px;
          box-shadow: 0 0 6px 4px rgba(0, 0, 0, .04);
          background-color: white;
          display: inline-block;
          vertical-align: top;
      }
      .bra-left{
          margin-left: 15px;
          margin-right: 15px;
          width: 210px;
      }
      .bra-main{
          width: 990px;
          margin-right: 0px;
          position: relative;
      }
      .bra-left .list-group {
          display:table-cell;
          width: 160px;
      }
      .bra-left .list-group-item {
          border: none; 
      }
      .bra-left .left-btn{
          vertical-align: middle;
          display:table-cell;
      }
      .bra-left .left-btn:hover, .bra-left .left-btn:focus{
          background-color: #f5f5f5;
      }
    </style>
    <script>
    $(function(){
      $("#list-show").hide();
      $(".content-box").css("width", 280+$(".bra-main").width()+"px");
      $(".left-btn").click(function(e){
        $(".left-btn").css('height', $(".left-btn").height()+'px')
        $("#left-list").toggle();
        $("#list-show").toggle();
        $("#list-hide").toggle();
        if($("#list-hide").is(":visible")){
          $(".bra-left").css("width", "210px");
          //$(".content-box").css("width", $(".bra-main").width()-160+"px");
        }else{
          $(".bra-left").css("width", "50px");
          //$(".content-box").css("width", $(".bra-main").width()+160+"px");
        }
      });
    });
    </script>

{% endblock %}

