{% extends "/user_info_base.html" %}
{% block title %}请假列表{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3>请假列表
        <a class="btn btn-sm btn-default" href="{{url_for('user.leave_create',user_id = g.user.id)}}">申请请假</a>
    </h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>请假类型</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>请假时长</th>
            <th>抄送人</th>
            <th>审批人</th>
            <th>原因</th>
            <th>状态</th>
            <th width="15%">操作</th>
        </tr>
        {% for l in leaves %}
        <tr>
            <td>{{l.type_cn}}</td>
            <td>{{l.start_time_cn}}点</td>
            <td>{{l.end_time_cn}}点</td>
            <td>{{l.leave_time_cn}}</td>
            <td>{% for k in l.senders %}{{k.name}}</br>{% endfor %}</td>
            <td>{% for k in l.creator.team_leaders %}{{k.name}}</br>{% endfor %}</td>
            <td>{{l.reason}}</td>
            <td>{{l.status_cn}}</td>
            <td>
                {% if l.status == 1 %}
                    <a href="{{url_for('user.leave_update', user_id=g.user.id, lid=l.id)}}">修改</a>&nbsp;&nbsp;
                    <a href="{{url_for('user.leave_status', user_id=g.user.id, lid=l.id)}}?status=2">发送申请</a>
                {% elif l.status == 2 %}
                    <a href="{{url_for('user.leave_status', user_id=g.user.id, lid=l.id)}}?status=2">再次发送申请</a>
                {% elif l.status == 4 %}
                    <a href="{{url_for('user.leave_update', user_id=g.user.id, lid=l.id)}}">修改</a>&nbsp;&nbsp;
                    <a href="{{url_for('user.leave_status', user_id=g.user.id, lid=l.id)}}?status=2">再次发送申请</a>
                {% endif %}
                {% if g.user.is_super_admin() %}
                    &nbsp;&nbsp;<a href="javascript:check_del('{{url_for('user.leave_delete', user_id=g.user.id, lid=l.id)}}')">删除</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<script>
function check_del(url){ 
    if(confirm("确认要删除这条信息吗？")){ 
        window.location.href = url
    }
}
</script>
{% endblock %}
