{% extends "/base_v1_0_0.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
{% include "/finance/finance_base_v1_0_0.html" %}
<div class="container bra-box" style="width:1400px;">
    <h4>{{title}}</h4>
    <div class="table-switch">
        <ul>
            <li id="_agent_invoice_li" style="width:110px;">
                <a id="_agent_invoice_" href="{{url_for('finance_client_order_data_query.agent_invoice')}}">已开客户发票</a>
            </li>
            <li id="_back_money_li" style="width:110px;">
                <a id="_back_money_" href="{{url_for('finance_client_order_data_query.back_money')}}">客户回款金额</a>
            </li>

            <li id="_back_invoice_li" style="width:130px;">
                <a id="_back_invoice_" href="{{url_for('finance_client_order_data_query.back_invoice')}}">已收客户返点发票</a>
            </li>
            <li id="_rebate_agent_invoice_li" style="width:130px;">
                <a id="_rebate_agent_invoice_" href="{{url_for('finance_client_order_data_query.rebate_agent_invoice')}}">客户付款返点发票</a>
            </li>
            <li id="_pay_rebate_agent_invoice_li" style="width:130px;">
                <a id="_pay_rebate_agent_invoice_" href="{{url_for('finance_client_order_data_query.pay_rebate_agent_invoice')}}">已打款客户返点金额</a>
            </li>
            <li id="_medium_invoice_li" style="width:130px;">
                <a id="_medium_invoice_" href="{{url_for('finance_client_order_data_query.medium_invoice')}}">已收媒体发票金额</a>
            </li>
            <li id="_pay_medium_invoice_li" style="width:130px;">
                <a id="_pay_medium_invoice_" href="{{url_for('finance_client_order_data_query.pay_medium_invoice')}}">付款给媒体金额</a>
            </li>
            <li id="_medium_rebate_invoice_li" style="width:130px;">
                <a id="_medium_rebate_invoice_" href="{{url_for('finance_client_order_data_query.medium_rebate_invoice')}}">已开媒体返点发票</a>
            </li>
            <li id="_personal_outsource_li" style="width:110px;">
                <a id="_personal_outsource_" href="{{url_for('finance_client_order_data_query.personal_outsource')}}">个人外包打款</a>
            </li>
            <li id="_outsource_li" style="width:110px;">
                <a id="_outsource_" href="{{url_for('finance_client_order_data_query.outsource')}}">对公外包打款</a>
            </li>
        </ul>
    </div>
    <div class="search-bar">
        <form class="menu-btn-bar" style="float:left;">
            <div class="search-input">
                <input type="text" placeholder="客户/代理/媒体/合同号/Campaign" value="{{info}}" name="info" id="info">
                <img src="/static/image/search.png" alt="#">
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">区域</label>
                <select class="form-control special_sale" name="location" id="location" style="width:100px;">
                    <option value="0">全国</option>
                    <option value="1">华北</option>
                    <option value="2">华东</option>
                    <option value="3">华南</option>
                </select>
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">年度</label>
                <select class="form-control special_sale" name="year" id="year" style="width:100px;">
                    {% for k in range(5) %}
                        <option value="{{2014+k}}">{{2014+k}}年度</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select_option">
                <label for="sale_type" class="control-label">月份</label>
                <select class="form-control special_sale" name="month" id="month" style="width:150px;">
                    <option value="00">全部</option>
                    {% for k in range(1, 13) %}
                        {% if k|string|length == 1 %}
                            <option value="0{{k}}">0{{k}}月</option>
                        {% else %}
                            <option value="{{k}}">{{k}}月</option>
                        {% endif %}
                    {% endfor %}
                    {% for k in range(1, 5) %}
                        <option value="Q{{k}}">Q{{k}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select_option screen">
                <input type="submit" value="筛选">
            </div>
            <div class="select_option return">
                <input type="button" value="导出" onclick="javascript:download();">
            </div>
        </form>
    </div>
    {% if t_type in ['personal_outsource', 'outsource'] %}
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>打款时间</th>
                    <th>是否有发票</th>
                    <th>发票信息</th>
                    <th>申请打款总金额</th>
                    <th>收款方</th>
                    <th>开户行</th>    
                    <th>卡号</th>
                    <th>支付宝</th>
                    <th>订单名称</th>
                    <th>订单合同号</th>
                    <th>成本金额</th>
                    <th>打款金额</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                {% for t in orders %}
                <tr>
                    <td rowspan="{{t.outsources|length + 1}}">{{ t.create_time_cn}}</td>
                    <td rowspan="{{t.outsources|length + 1}}">{% if t.invoice %}有{%else%}无{%endif%}</td>
                    <td rowspan="{{t.outsources|length + 1}}">{{ t.remark }}</td>
                    <td rowspan="{{t.outsources|length + 1}}" style="text-align: center;">{{t.pay_num|format_price}}</td>
                </tr>
                  {% for o in t.outsources %}
                  <tr>
                      <td>{{ o.target.name }}</td>
                      <td>{{ o.target.bank }}</td>
                      <td>{{ o.target.card }}</td>
                      <td>{{ o.target.alipay }}</td>
                      <td>{{o.order.name}}</td>
                      <td>{{o.order.contract}}</td>
                      <td style="text-align: center;">{{o.pay_num|format_price}}</td>
                      {% set ex_pay = o.pay_num*0.95 %}
                      <td style="text-align: center;">{% if t.invoice %}{{o.pay_num|format_price}}{% else %}{{ ex_pay|format_price }}{% endif %}</td>
                      <td>{{o.remark}}</td>
                  </tr>
                  {% endfor %}
                {% endfor %}
                  <tr>
                    <td colspan=3 style="text-align: center;">总计</td>
                    <td style="text-align: center;">{{orders|sum(attribute='pay_num')|format_price}}</td>
                    <td colspan=6></td>
                    <td style="text-align: center;">{{orders|sum(attribute='re_pay_num')|format_price}}</td>
                    <td style="text-align: center;">{{orders|sum(attribute='ex_pay_num')|format_price}}</td>
                    <td></td>
                  </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>业务类型</th>
                    <th>代理/直客</th>
                    <th>客户</th>
                    <th>Campaign</th>
                    <th>直客销售</th>
                    <th>渠道销售</th>
                    <th style="width:50px;">区域</th>
                    <th style="width:170px;">合同号</th>
                    <th style="width:100px;">媒体名称</th>
                    <th>执行开始时间</th>
                    <th>执行结束时间</th>
                    <th>合同回款时间</th>
                    <th>客户合同金额</th>
                    {% if t_type == 'agent_invoice' %}
                    <th>开票金额</th>
                    <th>开票时间</th>
                    {% elif t_type == 'back_money' %}
                    <th>回款金额</th>
                    <th>回款比例</th>
                    <th>回款时间</th>
                    <th>回款时间差</td>
                    {% elif t_type == 'back_invoice' %}
                    <th>返点发票金额</th>
                    <th>回款比例</th>
                    <th>返点发票时间</th>
                    <th>发票时间差</td>
                    {% elif t_type == 'rebate_agent_invoice' %}
                    <th>返点发票金额</th>
                    <th>返点发票时间</th>
                    {% elif t_type == 'pay_rebate_agent_invoice' %}
                    <th>打款金额</th>
                    <th>打款时间</th>
                    {% elif t_type == 'medium_invoice' %}
                    <th>发票金额</th>
                    <th>开票时间</th>
                    {% elif t_type == 'pay_medium_invoice' %}
                    <th>打款金额</th>
                    <th>打款时间</th>
                    {% elif t_type == 'medium_rebate_invoice' %}
                    <th>开票金额</th>
                    <th>开票时间</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for o in orders %}
                <tr>
                    <td>{% if o.client_order.b_type %}增量{% else %}自营{% endif %}</td>
                    <td>{{o.client_order.agent.name}}</td>
                    <td>{{o.client_order.client.name}}</td>
                    <td>{{o.client_order.campaign}}</td>
                    <td>{{o.client_order.direct_sales_names}}</td>
                    <td>{{o.client_order.agent_sales_names}}</td>
                    <td>{{o.client_order.locations_cn}}</td>
                    <td>
                        {% if t_type == 'agent_invoice' %}
                            <a href="{{url_for('finance_client_order_invoice.info', order_id=o.client_order.id)}}">
                        {% elif t_type == 'back_money' %}
                            <a href="{{url_for('finance_client_order_back_money.back_money',order_id=o.client_order.id)}}">
                        {% elif t_type == 'back_invoice' %}
                            <a href="{{url_for('finance_client_order_back_money.back_money',order_id=o.client_order.id)}}">
                        {% elif t_type == 'rebate_agent_invoice' %}
                            <a href="{{url_for('finance_client_order_agent_pay.info', order_id=o.client_order.id)}}" >
                        {% elif t_type == 'pay_rebate_agent_invoice' %}
                            <a href="{{url_for('finance_client_order_agent_pay.pay_info', invoice_id=o.id)}}">
                        {% elif t_type == 'medium_invoice' %}
                            <a href="{{url_for('finance_client_order_medium_pay.info',order_id=o.client_order.id)}}">
                        {% elif t_type == 'pay_medium_invoice' %}
                            <a href="{{url_for('finance_client_order_medium_pay.info',order_id=o.client_order.id)}}">
                        {% elif t_type == 'medium_rebate_invoice' %}
                            <a href="{{url_for('finance_client_order_medium_rebate_invoice.info', order_id=o.client_order.id)}}">
                        {% endif %}
                        {{o.client_order.contract}}</a>
                    </td>
                    <td>
                        {% if t_type == 'pay_medium_invoice' %}
                            {{ o.medium_invoice.company}}
                        {% elif t_type == 'medium_invoice' %}
                            {{ o.company}}
                        {% elif t_type == 'medium_rebate_invoice' %}
                            {{o.company}}
                        {% else %}
                            {% for mo in o.client_order.medium_orders %}    
                            {{mo.medium.medium_group.name}}-{{mo.medium.name}}
                            <br>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{o.client_order.start_date_cn}}</td>
                    <td>{{o.client_order.end_date_cn}}</td>
                    <td>{{o.client_order.reminde_date_cn}}</td>
                    <td>{{o.client_order.money|format_price}}</td>
                    {% if t_type == 'agent_invoice' %}
                    <td>{{o.money|format_price}}</td>
                    <td>{{o.create_time_cn}}</td>
                    {% elif t_type == 'back_money' %}
                    <td>{{o.money|format_price}}</td>
                    <td>{{o.client_order.back_money_percent}}%</td>
                    <td>{{o.back_time_cn}}</td>
                    <td>{{o.real_back_money_diff_time}}天</td>
                    {% elif t_type == 'back_invoice' %}
                    <td>{{o.money|format_price}}</td>
                    <td>{{o.client_order.back_money_percent}}%</td>
                    <td>{{o.back_time_cn}}</td>
                    <td>{{o.real_back_invoice_diff_time}}天</td>
                    {% elif t_type == 'rebate_agent_invoice' %}
                    <td>{{o.money|format_price}}</td>
                    <td>{{o.add_time_cn}}</td>
                    {% elif t_type == 'pay_rebate_agent_invoice' %}
                    <td>{{o.money|format_price}}</td>
                    <td>{{o.pay_time_cn}}</td>
                    {% elif t_type == 'medium_invoice' %}
                    <td>{{o.money|format_price}}</td>
                    <td>{{o.add_time_cn}}</td>
                    {% elif t_type == 'pay_medium_invoice' %}
                    <td>{{o.money|format_price}}</td>
                    <td>{{o.pay_time_cn}}</td>
                    {% elif t_type == 'medium_rebate_invoice' %}
                    <td>{{o.money|format_price}}</td>
                    <td>{{o.create_time_cn}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                    <td colspan=13 style="text-align: center;">总计</td>
                    <td {% if t_type in ['back_money', 'back_invoice'] %} colspan=4 {% elif t_type == 'back_invoice' %} colspan=3 {% else %} colspan=2 {% endif %}style="text-align: center;">{{orders|sum(attribute='money')|format_price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
<script>
  function download(){
    var params = '?info=' + encodeURIComponent($('#info').val()) +
                 '&location=' + ($('#location').val()) +
                 '&action=download';
    params += '&year='+$('#year').val()+
              '&month='+$('#month').val()
    window.location.href = window.location.pathname + params;
      
  }
  $(function(){
    $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true}); 
    $('#location').val('{{location}}')
    $("#location").trigger("chosen:updated");
    $('#year').val('{{year}}')
    $("#year").trigger("chosen:updated");
    $('#month').val('{{month}}')
    $("#month").trigger("chosen:updated");
  });

  $(document).ready(function(){
    var pathname = window.location.pathname;
    var path_name = pathname.split("/")
    $("#_" + path_name[4]+'_li').addClass("actives");
    $("#_" + path_name[4]+'_').addClass("on");
    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2
    });
})
</script>
{% endblock %}
