{% extends "/base.html" %}
{% from 'form.html' import form_field %}
{% block title %}媒体产品{% endblock %}

{% block content%}
{% include "/mediums/mediums_base.html" %}
<div class="container bra-box">
    <h3>查看{% if mtype == "pc" %}PC端{% elif mtype == "app" %}App端{% elif mtype == "down" %}线下{% endif %}媒体产品详情--{{product.name}}</h3>
    <form class="form form-horizontal">
        <div class="form-group">
          <label for="client_start" class="col-sm-2 control-label">最后更新时间 : </label>
          <div class="col-sm-10">
            <label class="col-sm-8 control-label">{{product.update_time_cn}}</label>
          </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">产品名称 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.name}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">所属媒体 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.medium.name}}</label>
            </div>
        </div>
        {% if mtype in ['pc', 'app'] %}
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">注册用户数 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.register_count}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">日活用户数 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.active_count_by_day}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">月活用户数 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.active_count_by_month}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">日PV : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.pv_by_day}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">月PV : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.pv_by_month}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">访问时长（秒） : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.access_time}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">UGC生产数量 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.ugc_count}}</label>
            </div>
        </div>
        {% endif %}
        {% if mtype == 'pc' %}
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">日独用户数 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.alone_count_by_day}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">月独用户数 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.alone_count_by_month}}</label>
            </div>
        </div>
        {% endif %}
        {% if mtype == 'down' %}
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">举办时间 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.start_time_cn}}至{{product.end_time_cn}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">举办地点 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.location}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">主题 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.subject}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">往年人数 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.before_year_count}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">今年人数 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.now_year_count}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">招商时间 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.business_start_time_cn}}至{{product.business_end_time_cn}}</label>
            </div>
        </div>
        {% endif %}
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">合作方式 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.cooperation_type_cn}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">分成比例（%） : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.divide_into}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">折扣政策 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.policies}}折</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">配送政策 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.delivery}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">特殊情况说明 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.special}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">性别分布 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.sex_distributed}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">年龄分布 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.age_distributed}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">区域分布 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.area_distributed}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">学历分布 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.education_distributed}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">收入分布 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.income_distributed}}</label>
            </div>
        </div>
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">产品定位 : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{product.product_position}}</label>
            </div>
        </div>
        {% for k in product.c_body %}
        <div class="form-group" style="border-bottom:1px solid #eee">
            <label for="name" class="col-sm-2 control-label">{{k.c_key}} : </label>
            <div class="col-sm-10">
                <label class="col-sm-8 control-label">{{k.c_value}}</label>
            </div>
        </div>
        {% endfor %}
        <a href="{{url_for('mediums_product.index', mtype=mtype)}}" class="btn btn-primary btn-sm col-md-offset-2">返回</a>
    </from>
</div>
{% endblock %}