{% extends "/outsource_base.html" %}
{% from 'outsource_form.html' import outsource_form %}
{% from 'comments.html' import comments_box %}

{% macro status_box(order, outsource_status, outsource) -%}
   {% if outsource_status in [0, 1, 2, 3, 5] %}
   <input type="checkbox" name="outsource-all" class="outsource-all" onclick="check_all(this);"/> 全选
   {% endif %}

   <form class="form form-horizontal outsource-status-form" id="status-form" method="POST" action="{{url_for('outsource.outsource_status', order_id=order.id)}}?type=douban">
    <input type="hidden" name="outsource_json" id="outsource_json">
     <div class="form-group">
        <label for="email" class="col-sm-2 control-label">提醒邮箱 : </label>
        <div class="col-sm-10">
            <select class="form-control bra-form-control" id="contract-email" multiple="" name="email" placeholder="请输入需要提醒人员的邮箱">
              {% for u in reminder_emails %}
              <option value="{{u[1]}}">{{u[0]}}</option>
              {% endfor %}
            </select>
        </div>
     </div>
     <div class="form-group">
        <label for="msg" class="col-sm-2 control-label">留言 : </label>
        <div class="col-sm-10">
            <textarea class="form-control bra-form-control" id="msg"
            name="msg" rows="4" placeholder="请输入需要附加在邮件中的留言..."></textarea>
        </div>
     </div>
     <div class="form-group">
        <label class="col-sm-2 control-label">操作 : </label>
        <div class="col-sm-10">
          {% if outsource_status == 1 and outsource.can_admin(g.user)  %}
          <button class="btn btn-sm btn-primary outsource-btn" name="action" type="submit" value="0">再次申请审批</button>
          {% elif outsource_status == 3 and outsource.can_admin(g.user)  %}
          <!--<button class="btn btn-sm btn-primary outsource-btn" name="action" type="submit" value="3">提醒打款</button>-->
          {% elif outsource_status == 5 and outsource.can_admin(g.user)  %}
          <button class="btn btn-sm btn-primary outsource-btn" name="action" type="submit" value="0">再次申请审批</button>
          {% endif %}

          {% if outsource_status == 0 and outsource.can_admin(g.user) %}
          <button class="btn btn-sm btn-primary outsource-btn" name="action" type="submit" value="0">申请审批</button>
          {% elif outsource_status == 1 %}
             {% if g.user.is_leader() or g.user.is_operater_leader()%}
              <button class="btn btn-sm btn-primary outsource-btn" name="action" type="submit" value="1">通过</button>
              <button class="btn btn-sm btn-warning outsource-btn" name="action" type="submit" value="2">不通过</button>
             {% endif %}
          {% elif outsource_status == 2 and outsource.can_admin(g.user) %}
          <!--<button class="btn btn-sm btn-primary outsource-btn" name="action" type="submit" value="3">申请打款</button>-->
          {% elif outsource_status == 5 %}
             {% if g.user.is_super_leader() or g.user.is_operater_leader()%}
              <button class="btn btn-sm btn-primary outsource-btn" name="action" type="submit" value="1">通过</button>
              <button class="btn btn-sm btn-warning outsource-btn" name="action" type="submit" value="2">不通过</button>
             {% endif %}
          {% endif %} 
          {% if outsource.can_admin(g.user) %}
          <button class="btn btn-sm btn-primary outsource-btn" name="action" type="submit" value="100">保存及重新申请</button>
          {% endif %}
          <!--<button class="btn btn-sm btn-default outsource-btn" name="action" type="submit" value="4">提醒</button>-->
        </div>
     </div>
   </form>
{%- endmacro %}

{% block main_box%}
<div class="bra-main bra-box">
<h3>{{order.name}}</h3>
<table class="table table-bordered">
    <tr>
        <th>客户订单总金额</th>
        <th>外包应付总金额</th>
        <th>外包占比</th>
        <th>资料</th>
        <th>资料上传</th>
    </tr>
    <tr>
        <td>{{order.money}} 元</td>
        <td>{{order.outsources_sum}} 元</td>
        <td>{{order.outsources_percent}} %</td>
        <td>
          {% for contract in order.get_outsource_attachments() %}
          <a href="{{contract.path}}">
            {{contract.filename}}
          </a><br/>
          {% endfor %}
        </td>
        <td>
          <form method="POST" action="{{url_for('files.outsource_douban_order_upload')}}" enctype="multipart/form-data">
            <input class="hide" type="text" name="order" value="{{order.id}}">
            <input class="file-widget-input hide" type="file" name="file">
            <button class="file-widget-btn btn btn-sm btn-primary">
              <span>上传外包资料</span>
            </button>
          </form>
        </td>
    </tr>
</table>
<div class="panel-group" id="accordion-outsource">
    {% for outsource_status in range(0, 6) %}
    {% set outsources = order.get_outsources_by_status(outsource_status) %}
    {% if outsources %}
    <div class="panel panel-default" id="accordion-outsource">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-outsource" href="#collapse-outsource-{{outsource_status}}">{{order.get_outsource_status_cn(outsource_status)}}</a>
            </h4>
        </div>
        {% if outsource_status == 2 %}
          <div id="collapse-outsource-{{outsource_status}}" class="panel-collapse collapse in" style="background-color: #EEFFBB;">
        {% else %}
          <div id="collapse-outsource-{{outsource_status}}" class="panel-collapse collapse in">
        {% endif %}
            <div class="panel-body">
            {% for o in outsources %}
                {% if o.status not in [3, 4] %}
                <h4>
                  <input type="checkbox" name="outsource-id" class="outsource-id" value="{{o.id}}"/>
                  {{o.name}}
                </h4>
                {% endif %}
                {{ outsource_form(o.form, o, order=order) }}
            {% endfor %}
            {% if g.user.is_leader() or outsources[0].can_admin(g.user) or g.user.is_operater_leader() %}
                {% if outsource_status not in [3, 4] %}
                  {{ status_box(order, outsource_status,  outsources[0]) }}
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="panel panel-default" id="new-outsource" style="display:none;">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-outsource" href="#collapse-outsource-new"> 新建媒体外包信息 </a>
            </h4>
        </div>
        <div id="collapse-outsource-new" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="well">
                {{ outsource_form(new_outsource_form, order=order) }}
              </div>
            </div>
        </div>
    </div>
</div>

<button onclick="showOutSource(this);" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> 外包信息</button>

<div>{{ comments_box(order, msg_channel=2) }}</div>

<script>
  check_all = function(e){
    $(e).parent().find(".outsource-id").prop("checked", $(e).prop("checked"));
    $(e).parent().find(".outsource-id").trigger("change");
  }
  $(function(){
    showOutSource = function(e){
      $(e).hide();
      $("#new-outsource").show();
    };
    $(".outsource-id").change(function(e){
      if($(this).prop("checked")){
        if($("#form-outsources-"+$(this).val()).length < 1){
          $(this).parents(".panel-collapse").find(".outsource-status-form")
          .append('<input class="hide outsources" name="outsources" id="form-outsources-'+$(this).val()+'" value="'+$(this).val()+'"/>');
        }
      }else{
        $(this).parents(".panel-collapse").find(".outsource-all").prop("checked", false);
        if($("#form-outsources-"+$(this).val()).length > 0){
          $("#form-outsources-"+$(this).val()).remove();
        }
      }
    });
    $(".outsource-btn").click(function(e){
      var actionVal = $(this).val();
      var email = $(this).parents('form').find("#contract-email").val();
      var outsources = $(this).parents('form').find(".outsources");
      var msg = $(this).parents('form').find("#msg").val();
      if(outsources.length < 1){
        alert("请勾选外包项!");
        e.preventDefault();
        return false;
      }
      if(actionVal == '2'){
        if(msg == ""){
            e.preventDefault();
            alert("请填写理由！");
         }
      }
      if (actionVal == '100'){
          //e.preventDefault();
          var outsources_obj = []
          for (var i=0; i<outsources.length; i++){
              var outsource_form_id = outsources[i].value
              var o_form = $('#outsource_form_'+outsource_form_id)
              var form_array = o_form.serializeArray()
              outsource = {}
              outsource['id'] = outsource_form_id
              for(var j=0; j<form_array.length; j++){
                outsource[form_array[j].name] = form_array[j].value
              }
              outsources_obj.push(outsource)
          }
          $(this).parents('form').find('#outsource_json').val($.toJSON(outsources_obj))
      }
    });
    $('.file-widget-btn').click(function(e){
      e.preventDefault();
      $(this).parents("form").find('.file-widget-input').click();
    });
    $('.file-widget-input').change(function(e){
      var filename = $(this).val(),
        fileExt = filename.substring(filename.lastIndexOf('.')+1, filename.length);
      if(fileExt == 'csv' || fileExt == 'doc' || fileExt == 'docx' || fileExt == 'xls' || fileExt == 'xlsx' || fileExt == 'pdf'){
        $(this).parents("form").submit();
      }else{
        alert("只能上传doc, docx, xls, xlsx, csv, pdf文件");
      }
    });
  });
</script>
</div>
{% endblock %}
