{% extends "/outsource_base.html" %}
{% block title %}收款方{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3>直签豆瓣订单外包收款方</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>外包名称</th>
            <th>类型</th>
            <th>开户行</th>
            <th>卡号</th>
            <th>支付宝</th>
            <th>联系方式</th>
            <th>已付款个数</th>
            <th>正在打款个数</th>
            <th>待申请打款个数</th>
        </tr>
        {% for t in targets %}
        {% set pass_count = t.douban_outsources_by_status(OUTSOURCE_STATUS_PASS) %}
        <tr>
            <td>{{t.name}}</td>
            <td>{{t.type_cn}}</td>
            <td>{{t.bank}}</td>
            <td>{{t.card}}</td>
            <td>{{t.alipay}}</td>
            <td>{{t.contract}}</td>
            <td><a href="{{url_for('outsource.merget_douban_target_info', target_id=t.id, status=OUTSOURCE_STATUS_PAIED)}}">{{t.douban_outsources_by_status(OUTSOURCE_STATUS_PAIED) | length }}</a></td>
            <td><a href="{{url_for('outsource.merget_douban_target_info', target_id=t.id, status=OUTSOURCE_STATUS_APPLY_MONEY)}}">{{t.douban_outsources_by_status(OUTSOURCE_STATUS_APPLY_MONEY) | length }}</a></td>
            <td>
                {% if  pass_count|length > 0 %}
                <a style="color:red;" href="{{url_for('outsource.merget_douban_target_info', target_id=t.id, status=OUTSOURCE_STATUS_PASS)}}">{{pass_count | length }}</a>
                {% else %}
                <a href="{{url_for('outsource.merget_douban_target_info', target_id=t.id, status=OUTSOURCE_STATUS_PASS)}}">{{pass_count | length }}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
