<div class="container-fluid top_nav_fluid">
    <div class="menu">
        <div class="list">
            <ul>
                {% if g.user.is_operater_leader() %}
                <a href="{{url_for('outsource.client_orders_distribute')}}">
                    <li id="_client_orders_distribute_" >媒体订单分配</li>
                </a>
                <a href="{{url_for('outsource.douban_orders_distribute')}}">
                    <li id="_douban_orders_distribute_" >直签豆瓣订单分配</li>
                </a>
                {% endif %}
                <a href="{{url_for('outsource.client_orders')}}">
                    <li id="_client_orders_" >我的媒体订单</li>
                </a>
                <a href="{{url_for('outsource.douban_orders')}}">
                    <li id="_douban_orders_" >我的直签豆瓣订单</li>
                </a>
                {% if g.user.email.find('fenghaiyan')>=0 or g.user.is_super_leader() %}
                <a href="{{url_for('outsource.merger_client_target')}}">
                    <li id="_merger_client_target_" >媒体订单合并付款</li>
                </a>
                <a href="{{url_for('outsource.merger_douban_target')}}">
                    <li id="_merger_douban_target_" >直签豆瓣订单付款</li>
                </a>
                {% endif %}
                <a href="{{url_for('outsource.targets')}}">
                    <li id="_targets_" >收款方管理</li>
                </a>
                <div class="line" style="clear: both"></div>
            </ul>
        </div>
    </div>
    <div class="form-list">
    </div>
</div>
<script>
    $(function(){
        var pathname = window.location.pathname;
        var p_pathname = pathname.split('/')
        $('#_'+p_pathname[2]+'_').addClass("on");
        if(['targets', 'client'].indexOf(p_pathname[2]) >= 0 ){
            $('#_targets_').addClass("on");
        }
        if(['client_orders', 'client_order'].indexOf(p_pathname[2]) >= 0 ){
            $('#_client_orders_').addClass("on");
        }
        if(['douban_orders', 'douban_order'].indexOf(p_pathname[2]) >= 0 ){
            $('#_douban_orders_').addClass("on");
        }
    })
</script>
