{% from 'form.html' import form_field %}
{% macro outsource_form(form, outsource=None) -%}
{% if outsource %}
{% if outsource.can_admin(g.user) %}
<div class="well">
<form class="form form-horizontal" method="POST" action="{{outsource.edit_path()}}">
    {{form.csrf_token}}
    {{ form_field(form.medium_order) }}
    {{ form_field(form.target) }}
    {{ form_field(form.type) }}
    {{ form_field(form.subtype) }}
    {{ form_field(form.num) }}
    {{ form_field(form.remark) }}
    <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
</form>
</div>
{% else %}
<div class="col-md-12">
<div class="col-md-6" style="margin-left: 20px;">
<table class="table table-bordered">
  <tr>
    <th>投放媒体</th>
    <td>{{outsource.medium_order.medium.name}}</td>
  </tr>
  <tr>
    <th>收款方</th>
    <td>{{outsource.target.name}}</td>
  </tr>
  <tr>
    <th>外包类别</th>
    <td>{{outsource.type_cn}}</td>
  </tr>
  <tr>
    <th>Flash功能分类</th>
    <td>{{outsource.subtype_cn}}</td>
  </tr>
  <tr>
    <th>金额</th>
    <td>{{outsource.num or 0}} 元</td>
  </tr>
  <tr>
    <th>备注</th>
    <td>{{outsource.remark}}</td>
  </tr>
</table>
</div>
</div>
{% endif %}
{% else %}
<div class="well">
<form class="form form-horizontal" method="POST" action="{{url_for('outsource.new_outsource')}}">
    {{form.csrf_token}}
    {{ form_field(form.medium_order) }}
    {{ form_field(form.target) }}
    {{ form_field(form.type) }}
    {{ form_field(form.subtype) }}
    {{ form_field(form.num) }}
    {{ form_field(form.remark) }}
    <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
</form>
</div>
{% endif %}
{%- endmacro %}
