{% extends "/base_v1_0_0.html" %}
{% from 'comments.html' import comments_box %}
{% block content%}
{% include "/order/order_base_v1_0_0.html" %}
  <div class="container bra-box">
    {% include "saler/client_order/nav_base_v1_0_0.html" %}
    <div class="tab-content">
      <div class="tab-pane active" id="tab-2">
        <div class="container" style="width:100%;">
          <h4>外包详情</h4>
          <div class='tabulation'>
            <table border='1'>
              <thead>
                <tr>
                  <th>公司名称</th>
                  <th>项目名称</th>
                  <th>金额</th>
                  <th>发票</th>
                  <th>发生时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for k in order.client_order_other_cost %}
                <tr>
                  <td>{{k.company}}</td>
                  <td>{{k.type_cn}}</td>
                  <td>{{k.money|format_price}}元</td>
                  <td>{{k.invoice}}</td>
                  <td>{{k.on_time_cn}}</td>
                  <td><a href="javascript:delete_cost('{{k.type_cn}}','{{k.id}}')">删除</a>&nbsp;&nbsp;
                  <a href="javascript:update_cost('{{k.type}}', '{{k.company}}', '{{k.money}}', '{{k.invoice}}', '{{k.on_time_cn}}', '{{k.client_order.id}}', '{{k.id}}')">修改</a></td>
                </tr>
                {% endfor %}
                <tr>
                  <td colspan=2>合计</td>
                  <td>{{order.client_order_other_cost|sum('money')|format_price }}元</td>
                  <td colspan=3></td>
                </tr>
              </tbody>
            </table>
          </div>
          <br/>
          <div class="panel panel-default" id="other_cost_form" style="display:none;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-invoice" href="#collapse-money-new"> 填写外包 </a>
                </h4>
            </div>
            <div id="collapse-money-new" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="well">
                        <form class="form form-horizontal" method="POST" action="{{url_for('saler_client_order_other_cost.create',order_id=order.id)}}" onsubmit="return checkform(this)">
                            <div class="form-group">
                                <label for="client_start" class="col-sm-2 control-label">类型 : </label>
                                <div class="col-sm-4">
                                    <select id="type" name="type" class="form-control bra-form-control">
                                      <option value='1'>Flash&H5开发</option>
                                      <option value='2'>网络公关运营</option>
                                      <option value='3'>设计</option>
                                      <option value='4'>视频制作</option>
                                      <option value='5'>技术服务</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="client_start" class="col-sm-2 control-label">公司名称 : </label>
                                <div class="col-sm-4">
                                    <input type="text" id="company" name="company" value="" class="form-control bra-form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="client_start" class="col-sm-2 control-label">金额 : </label>
                                <div class="col-sm-4">
                                    <input type="text" id="money" name="money" value="" class="form-control bra-form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="client_start" class="col-sm-2 control-label">发票信息 : </label>
                                <div class="col-sm-4">
                                    <input type="text" id="invoice" name="invoice" value="" class="form-control bra-form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="client_start" class="col-sm-2 control-label">发生时间 : </label>
                                <div class="col-sm-4">
                                    <input type="text" id="on_time" name="on_time" value="" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
                        </form>
                    </div>
                </div>
            </div>
          </div>
          {% if g.user.is_super_leader() or g.user.is_finance() or g.user.is_operater_leader() %}
          <button onclick="showInvoice(this, 'other_cost_form');" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span>填写外包</button>
          {% endif %}
          <div>{{ comments_box(order, msg_channel=10) }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="update_cost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="margin-top: 170px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">修改信息</h4>
        </div>
          <form id="update_cost_form" class="form form-horizontal" method="POST" action="" onsubmit="return checkform(this)">

        <div class="modal-body">
              <div class="form-group">
                  <label for="client_start" class="col-sm-2 control-label">类型 : </label>
                  <div class="col-sm-6">
                      <select id="update_type" name="type" class="form-control bra-form-control">
                        <option value='1'>Flash&H5开发</option>
                        <option value='2'>网络公关运营</option>
                        <option value='3'>设计</option>
                        <option value='4'>视频制作</option>
                        <option value='5'>技术服务</option>
                      </select>
                  </div>
              </div>
              <div class="form-group">
                  <label for="client_start" class="col-sm-2 control-label">公司名称 : </label>
                  <div class="col-sm-6">
                      <input type="text" id="update_company" name="company" value="" class="form-control bra-form-control">
                  </div>
              </div>
              <div class="form-group">
                  <label for="client_start" class="col-sm-2 control-label">金额 : </label>
                  <div class="col-sm-6">
                      <input type="text" id="update_money" name="money" value="" class="form-control bra-form-control">
                  </div>
              </div>
              <div class="form-group">
                  <label for="client_start" class="col-sm-2 control-label">发票信息 : </label>
                  <div class="col-sm-6">
                      <input type="text" id="update_invoice" name="invoice" value="" class="form-control bra-form-control">
                  </div>
              </div>
              <div class="form-group">
                  <label for="client_start" class="col-sm-2 control-label">发生时间 : </label>
                  <div class="col-sm-6">
                      <input type="text" id="update_on_time" name="on_time" value="" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
                  </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-default contract-submit" data-dismiss="modal">取消</button>
            {% if g.user.is_super_leader() or g.user.is_operater_leader() %}
            <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action">保存</button>
            {% endif %}
        </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    function delete_cost(type, oid){
       if(confirm("确定要删除"+type+"这条数据吗？")){
          window.location.href="/saler/client_order/other_cost/{{order.id}}/"+oid+"/delete";
       }
    }
    function update_cost(type, company, money, invoice, on_time, order_id, oid){
      ''
      $('#update_cost').modal();
      $("#update_cost_form").attr("action", "/saler/client_order/other_cost/"+order_id+"/"+oid+"/update");  
      $('#update_type').val(type);
      $('#update_type').trigger("chosen:updated");
      $('#update_company').val(company);
      $('#update_money').val(money);
      $('#update_invoice').val(invoice);
      $('#update_on_time').val(on_time);
    }
    function checkform(obj){
      if (obj.company.value == ''){
         alert('请输入公司名称')
         return false;
      }
      if (obj.money.value == ''){
         alert('请输入金额')
         return false;
      }
      if (obj.invoice.value == ''){
         alert('请输入发票信息')
         return false;
      }
      if (obj.on_time.value == ''){
         alert('请选择发生时间')
         return false;
      }
      return true;
    };
    $(document).ready(function(){
        $('.datetimepicker').datetimepicker({
            autoclose: true,
            todayHighlight: true,
            todayBtn: true,
            language: 'zh-CN',
            minView: 2
        });
    })
    function showInvoice(ele, id){
        $(ele).hide();
        $("#"+id).show();
    };
  </script>
{% endblock %}
