<ul class="nav nav-tabs">
      <li id="_rebate_order_"class=""><a href='{{url_for("searchAd_order.rebate_order_info", order_id=order.id, tab_id=1)}}'>合同流程</a></li>
      {% if order.can_admin(g.user) %}
      <li id="_invoice_" class=""><a href='{{url_for("searchAd_saler_rebate_order_invoice.index", order_id=order.id)}}'>客户发票申请</a></li>
      <li id="_back_money_" class=""><a href='{{url_for("searchAd_saler_rebate_order_back_money.index", order_id=order.id)}}'>客户回款</a></li>
      <li id="_agent_invoice_"class=""><a href='{{url_for("searchAd_saler_rebate_order_agent_invoice.index", order_id=order.id)}}'>客户返点发票与打款</a></li>
      {% endif %}
</ul>
<script>
    $(document).ready(function(){
    var pathname = window.location.pathname;
    var path_name = pathname.split("/")
    if (path_name[2] == 'rebate_order'){
        $("#_rebate_order_").addClass("active");
    }else{
        $("#_" + path_name[3]+'_').addClass("active");
    }
  })
</script>