{% extends "/order_base.html" %}
{% block main_box%}
<div class="bra-main bra-box">
  <h4> {{ order.name }} </h4>
  <div>
    <ul class="nav nav-tabs">
      <li class=""><a href='{{url_for("order.order_info", order_id=order.id, tab_id=1)}}'>合同流程</a></li>
      <li class=""><a href='{{url_for("saler_invoice.index", order_id=order.id)}}'>客户发票与回款</a></li>
      <li class=""><a href='{{url_for("saler_medium_invoice.index", order_id=order.id)}}'>媒体发票与打款</a></li>
      <li class="active"><a href='{{url_for("saler_client_order_back_money.index", order_id=order.id)}}'>回款情况(开发中)</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab-2">
        <div class="bra-main bra-box" style="width:100%;">
            <h3>客户订单回款情况</h3>
            <table class="table table-bordered">
                <tr>
                    <th>订单总金额</th>
                    <th>已回款金额</th>
                    <th>未回款金额</th>
                    <th>是否完成回款</th>
                </tr>
                <tr>
                    <td>{{order.money}} 元</td>
                    <td>{{order.back_moneys}} 元</td>
                    <td>{{order.money-order.back_moneys}} 元</td>
                    <td>{{order.back_money_status_cn}}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{order.back_money_percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{order.back_money_percent}}%;">
                                {{order.back_money_percent}}%
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        <div>
      </div>
    </div>
  </div>
</div>
{% endblock %}