{% extends "/base_v1_0_0.html" %}
{% from 'comments.html' import comments_box %}

{% block content %}
{% include "/finance/finance_base_v1_0_0.html" %}
<div class="container bra-box">
    <h3>{{order.agent.name}}-{{order.name}}外包发票情况</h3>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>订单总金额</th>
                    <th>已打款外包金额</th>
                    <th>申请通过的外包金额(未打款)</th>
                    <th>已收外包发票金额</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{order.money|format_price}} 元</td>
                    <td>{{outsources|sum(attribute='pay_num')|format_price}}</td>
                    <td>{{apply_outsources|sum(attribute='pay_num')|format_price}}</td>
                    <td>{{invoices|sum(attribute='ex_money')|format_price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="panel panel-default" id="non-invoice">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-invoice" href="#collapse-invoice-0"> 已打款外包项目 </a>
            </h4>
        </div>
        <div id="collapse-invoice-0" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class='tabulation'>
                    <table border='1'>
                        <thead>
                            <tr>
                                <th>外包供应商</th>
                                <th>外包类型</th>
                                <th>金额</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for outsource in outsources %}
                            <tr>
                                <td>{{outsource.target.name}}</td>
                                <td>{{outsource.type_cn}}</td>
                                <td>{{outsource.pay_num|format_price}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan=2 style="text-align: center;">合计</td>
                                <td>{{outsources|sum(attribute='pay_num')|format_price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="non-invoice">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-invoice" href="#collapse-invoice-0"> 申请通过的外包项目(未打款) </a>
            </h4>
        </div>
        <div id="collapse-invoice-0" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class='tabulation'>
                    <table border='1'>
                        <thead>
                            <tr>
                                <th>外包供应商</th>
                                <th>外包类型</th>
                                <th>金额</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for outsource in apply_outsources %}
                            <tr>
                                <td>{{outsource.target.name}}</td>
                                <td>{{outsource.type_cn}}</td>
                                <td>{{outsource.pay_num|format_price}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan=2 style="text-align: center;">合计</td>
                                <td>{{apply_outsources|sum(attribute='pay_num')|format_price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="non-invoice">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-invoice" href="#collapse-invoice-0"> 发票信息 </a>
            </h4>
        </div>
        <div id="collapse-invoice-0" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class='tabulation'>
                    <table border='1'>
                        <thead>
                            <tr>
                                <th>公司名称</th>
                                <th>开票时间</th>
                                <th>发票号</th>
                                <th>发票金额</th>
                                <th>拆分金额</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invoice in invoices %}
                            <tr>
                                <td>{{invoice.company}}</td>
                                <td>{{invoice.add_time_cn}}</td>
                                <td>{{invoice.invoice_num}}</td>
                                <td>{{invoice.money|format_price}}</td>
                                <td>{{invoice.ex_money|format_price}}</td>
                                <td><a href="{{url_for('finance_client_order_outsource_invoice.delete', order_id=order.id, invoice_id=invoice.id)}}">删除</a></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan=3 style="text-align: center;">合计</td>
                                <td>{{invoices|sum(attribute='money')|format_price}}</td>
                                <td>{{invoices|sum(attribute='ex_money')|format_price}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="new-back-invoice" style="display:none;">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-invoice" href="#collapse-invoice-new"> 填写外包发票信息 </a>
            </h4>
        </div>
        <div id="collapse-invoice-new" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="well">
                    <form class="form form-horizontal" method="POST" action="" onsubmit="return checkform(this)">
                        <input type="hidden" value="{{order.id}}" name="order_id">
                        <div class="form-group">
                            <label for="client_start" class="col-sm-2 control-label">公司名称 : </label>
                            <div class="col-sm-4">
                                <input type="text" id="company" name="company" value="" class="form-control bra-form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="client_start" class="col-sm-2 control-label">发票金额 : </label>
                            <div class="col-sm-4">
                                <input type="text" id="money" name="money" value="" class="form-control bra-form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="client_start" class="col-sm-2 control-label">拆分金额 : </label>
                            <div class="col-sm-4">
                                <input type="text" id="ex_money" name="ex_money" value="" class="form-control bra-form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="client_start" class="col-sm-2 control-label">发票号码 : </label>
                            <div class="col-sm-4">
                                <input type="text" id="invoice_num" name="invoice_num" value="" class="form-control bra-form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="client_start" class="col-sm-2 control-label">开票时间 : </label>
                            <div class="col-sm-4">
                                <input type="text" id="add_time" name="add_time" value="{{now_date}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd" readonly>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button onclick="showInvoice(this,'new-back-invoice');" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span>新建发票信息</button>
</div>
<script>
    function checkform(obj, type){
        if (obj.company.value == ""){
            alert('公司名称不能为空')
            obj.company.focus()
            return false
        }else if(obj.money.value == ""){
            alert('请输入发票金额')
            obj.money.focus()
            return false
        }else if(obj.ex_money.value == ""){
            alert('请输入拆分金额')
            obj.ex_money.focus()
            return false
        }else if(obj.invoice_num.value == ""){
            alert('请输入发票号码')
            obj.invoice_num.focus()
            return false
        }
        return true
        
    }
    function showInvoice(ele, id){
        $(ele).hide();
        $("#"+id).show();
    };
    $(document).ready(function(){
        $('.datetimepicker').datetimepicker({
            autoclose: true,
            todayHighlight: true,
            language: 'zh-CN',
            minView: 2
        });
    })
</script>
{% endblock %}
