{% extends "/order_base.html" %}
{% block title %}直签豆瓣订单列表{% endblock %}

{% macro all_items(orders) -%}
<table class="table table-bordered table-striped">
    <tr>
        <th>代理/直客</th>
        <th>客户</th>
        <th>Campaign</th>
        <th>合同金额</th>
        <th>合同号</th>
        <th>回款日期</th>
        <th>直客销售</th>
        <th>渠道销售</th>
        <th>区域</th>
        <th>直签/代理</th>
        <th>预估ECPM</th>
        <th>开始</th>
        <th>结束</th>
        <th>执行</th>
        <th>合同号状态</th>
        <th>操作</th>
    </tr>
    {% for o in orders %}
    <tr>
        <td>{{o.agent.name}}</td>
        <td>{{o.client.name}}</td>
        <td><a href="{{o.info_path()}}">{{o.campaign}}</a></td>
        <td>{{o.money}}</td>
        <td>{{o.contract or "无合同号"}}</td>
        <td>{{o.reminde_date_cn}}</td>
        <td>{{o.direct_sales_names}}</td>
        <td>{{o.agent_sales_names}}</td>
        <td>{{o.locations_cn}}</td>
        <td>{{o.sale_type_cn}}</td>
        <td>{{"%.1f" % (o.money / o.sale_CPM) if o.sale_CPM else "无预估"}}</td>
        <td>{{o.start_date_cn}}</td>
        <td>{{o.end_date_cn}}</td>
        <td>{{o.operater_names}}</td>
        <td>{{o.contract_status_cn}}</td>
        <td>
            <a href="{{o.info_path()}}">订单管理</a>
            {% if g.user.is_super_admin() %}
                {% if o.status == 0 %}
                <a href="{{url_for('order.douban_order_recovery', order_id=o.id)}}" style="color:red;">恢复</a>
                {% else %}
                    <a href="{{url_for('order.douban_order_delete', order_id=o.id)}}" style="color:red;">删除</a>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{%- endmacro %}

{% block main_box %}
<div class="bra-main bra-box" style="width:1700px;">
    <h3> {{title}}</h3>
    <div class="search">
        <input class="col-md-3" type="text" id="search_info" value="{{search_info}}" placeholder="客户/代理/合同号/Campaign" onkeypress="javascript:enter_search();">&nbsp;
        <div class="col-md-1" style="padding:0;margin:0 5px;" id="search-area">
            <select class="col-md-12" id="search_location" name="location" placeholder="区域">
                {% for v, m in locations %}
                    {% if v == location_id|int %}
                    <option selected="" value="{{v}}">{{m}}</option>
                    {% else %}
                    <option value="{{v}}">{{m}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-1" style="padding:0;margin-right:5px;">
            <select class="col-md-12" id="search_status" name="status" placeholder="合同状态">
                {% for v, m in statuses %}
                    {% if v == status_id|int %}
                    <option selected="" value="{{v}}">{{m}}</option>
                    {% else %}
                    <option value="{{v}}">{{m}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-1" style="padding:0;margin-right:5px;">
            <select class="col-md-12" id="orderby" name="orderby" placeholder="排序方式">
                <option value="create_time">按添加时间排序</option>
                <option value="client_start">按执行开始时间排序</option>
                <option value="client_end">按执行结束时间排序</option>
                <option value="reminde_date">按回款时间排序</option>
                <option value="contract">按合同号排序</option>
            </select>
        </div>
        <input type="button" name="search" value="搜索" class="btn btn-sm btn-info" onclick="javascript:search();">
        <input type="button" name="download" value="下载" class="btn btn-sm btn-default" onclick="javascript:download();">
    </div>
    <br>
    {{ all_items(orders) }}
    <nav>
      <ul class="pagination">
        {% if page-1 > 0 %}
        <li><a href="?p={{page-1}}{{params}}">&laquo;</a></li>
        {% endif %}
        {% if page-2 > 0 %}
        <li class=""><a href="?p={{page-2}}{{params}}">{{page-2}}</a></li>
        {% endif %}
        {% if page-1 > 0 %}
        <li class=""><a href="?p={{page-1}}{{params}}">{{page-1}}</a></li>
        {% endif %}
        <li class="active disable"><a href="#">{{page}}</a></li>
        <li class=""><a href="?p={{page+1}}{{params}}">{{page+1}}</a></li>
        <li class=""><a href="?p={{page+2}}{{params}}">{{page+2}}</a></li>
        <li><a href="?p={{page+1}}{{params}}">&raquo;</a></li>
      </ul>
    </nav>
</div>
<script>
function sort(value){
    var orderby = '{{orderby}}',
        sortby = '{{sortby}}';
    if (value == sortby) {
        if (orderby == 'desc'){
            orderby = 'asc'
        } else {
            orderby = 'desc'
        }
    } else {
        sortby = value
        orderby = 'desc'
    }
    window.location.href = window.location.pathname+'?sortby='+sortby+'&orderby='+orderby+
    '&searchinfo='+encodeURIComponent($('#search_info').val())+
    '&selected_location='+encodeURIComponent($('#search_location').val())+
    '&selected_status='+encodeURIComponent($('#search_status').val());
}

function search(){
    window.location.href = window.location.pathname +
      '?searchinfo=' + encodeURIComponent($('#search_info').val()) +
      '&selected_location=' + ($('#search_location').val()) +
      '&selected_status=' + ($('#search_status').val())+
      '&orderby=' + ($('#orderby').val());
}

function download(){
    window.location.href = window.location.pathname +
      '?searchinfo=' + encodeURIComponent($('#search_info').val()) +
      '&selected_location=' + ($('#search_location').val()) +
      '&selected_status=' + ($('#search_status').val()) +
      '&action=download';
}


function enter_search(){
    //按下‘Enter’键
    if(event.keyCode == 13){
        search();
    }
}
$(function(){
    {% if g.user.is_super_leader() or g.user.is_contract() or g.user.is_media() %}
    {% else %}
    $("#search-area").hide()
    {% endif %}
    $("#orderby option[value='{{orderby}}']").attr("selected","selected");  
    $("#orderby").trigger("chosen:updated");
});

</script>
{% endblock %}
