{% extends "/order_base.html" %}
{% block title %}框架列表{% endblock %}

{% macro other_user(orders) -%}
<table class="table table-bordered table-striped">
    <tr>
        <th>甲方集团</th>
        <th><a href="javascript:sort('start_date');">开始时间</a></th>
        <th><a href="javascript:sort('end_date');">结束时间</a></th>
        <th>创建者</th>
        <th>创建时间</th>
        <th>合同设置</th>
    </tr>
    {% for o in orders %}
    <tr>
        <td>{{o.group.name}}</td>
        <td>{{o.start_date_cn}}</td>
        <td>{{o.end_date_cn}}</td>
        <td>{{o.creator.display_name}}</td>
        <td>{{o.create_time.strftime('%Y-%m-%d')}}</td>
        <td>
            <a href="{{url_for("order.framework_order_info", order_id=o.id)}}">合同设置</a>
        </td>
    </tr>
    {% endfor %}
</table>
{%- endmacro %}

{% macro contract(orders) -%}
<table class="table table-bordered table-striped">
    <tr>
        <th>甲方集团</th>
        <th>合同金额</th>
        <th>直客销售</th>
        <th>渠道销售</th>
        <th>合同号状态</th>
        <th>操作</th>
    </tr>
    {% for o in orders %}
    <tr>
        <td>{{o.group.name}}</td>
        <td>{{o.money}}</td>
        <td>{{o.direct_sales_names}}</td>
        <td>{{o.agent_sales_names}}</td>
        <td>{{o.contract_status_cn}}</td>
        <td>
            <a href="{{url_for("order.framework_order_info", order_id=o.id)}}">合同设置</a>
        </td>
    </tr>
    {% endfor %}
</table>
{%- endmacro %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3> {{title}}</h3>
    {% if g.user.is_contract() %}
        {{ contract(orders) }}
    {% else %}
        {{ other_user(orders) }}
    {% endif %}
    <nav>
      <ul class="pagination">
        {% if page-1 > 0 %}
        <li><a href="?p={{page-1}}">&laquo;</a></li>
        {% endif %}
        {% if page-2 > 0 %}
        <li class=""><a href="?p={{page-2}}">{{page-2}}</a></li>
        {% endif %}
        {% if page-1 > 0 %}
        <li class=""><a href="?p={{page-1}}">{{page-1}}</a></li>
        {% endif %}
        <li class="active disable"><a href="#">{{page}}</a></li>
        <li class=""><a href="?p={{page+1}}">{{page+1}}</a></li>
        <li class=""><a href="?p={{page+2}}">{{page+2}}</a></li>
        <li><a href="?p={{page+1}}">&raquo;</a></li>
      </ul>
    </nav>
</div>
{% endblock %}
