{% extends "base.html" %}
{% block title %}洽谈中的订单列表{% endblock %}

{% macro all_items(orders) -%}
<table class="table table-bordered">
    <tr>
        <th>所属媒体</th>
        <th>代理/直客</th>
        <th>客户</th>
        <th>Campaign</th>
        <th>直客销售</th>
        <th>渠道销售</th>
        <th>区域</th>
        <th>80%预估</th>
        <th>50%以上预估</th>
        <th>50%以下预估</th>
        <th>开始</th>
        <th>结束</th>
        <th>修改时间</th>
        <th>操作</th>
    </tr>
    {% for o in orders %}
    <tr>
        <td>{{o.medium_cn}}</td>
        <td>{{o.agent}}</td>
        <td>{{o.client}}</td>
        <td><a href="{{url_for('order.intention_order_update', intention_id=o.id)}}">{{o.campaign}}</a></td>
        <td>{{o.direct_sales_names}}</td>
        <td>{{o.agent_sales_names}}</td>
        <td>{{o.locations_cn}}</td>
        <td>{{o.S_80|format_price}}</td>
        <td>{{o.U_50|format_price}}</td>
        <td>{{o.L_50|format_price}}</td>
        <td>{{o.start_date_cn}}</td>
        <td>{{o.end_date_cn}}</td>
        <td>{{o.create_time_cn}}</td>
        <td>
            <a href="{{url_for('order.intention_order_update', intention_id=o.id)}}">修改</a>
            {% if g.user.is_super_admin() %}
            <a href="{{url_for('order.intention_order_delete', intention_id=o.id)}}">删除</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{%- endmacro %}

{% block content %}
{% include "order_base.html" %}
<div class="container bra-box" style="width:1400px;">
    <h3> {{title}}</h3>
    <div class="search">
        <input class="col-md-3" type="text" id="search_info" value="{{search_info}}" placeholder="客户/代理/媒体/合同号/Campaign" onkeypress="javascript:enter_search();">
        <div class="col-md-1" style="padding:0;margin:0 5px;">
            <select class="col-md-12" id="year" name="year" placeholder="年份">
                {% for k in range(5) %}
                <option value="{{2014+k}}">{{2014+k}}年</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-1" style="padding:0;margin:0 5px;" id="search-area">
            <select class="col-md-12" id="medium_id" name="medium_id" placeholder="所属媒体">
                <option value="-1">全部媒体</option>
                <option value="0">豆瓣</option>
                {% for k in mediums %}
                    <option value="{{k.id}}">{{k.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-1" style="padding:0;margin:0 5px;" id="search-area">
            <select class="col-md-12" id="search_location" name="location" placeholder="区域">
                {% for v, m in locations %}
                    {% if v == location_id|int %}
                    <option selected="" value="{{v}}">{{m}}</option>
                    {% else %}
                    <option value="{{v}}">{{m}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <input type="button" name="search" value="搜索" class="btn btn-sm btn-info" onclick="javascript:search();">
        <a class="btn btn-sm btn-success" href="{{url_for('order.intention_order_create')}}">新建洽谈中的订单</a>
    </div>
    <br>
    {{ all_items(orders.object_list) }}
    {% set pages = orders %}
    {% include "pagination.html" %}
</div>
<script>

function search(){
    var params = '?searchinfo=' + encodeURIComponent($('#search_info').val()) +
      '&selected_location=' + ($('#search_location').val()) +
      '&year='+$('#year').val()+'&medium_id='+$('#medium_id').val();
    window.location.href = window.location.pathname + params;
}

function enter_search(){
    //按下‘Enter’键
    if(event.keyCode == 13){
        search();
    }
}
$(function(){
    $('#medium_id').val('{{medium_id}}')
    $("#medium_id").trigger("chosen:updated");
    $('#year').val('{{year}}');
    $("#year").trigger("chosen:updated");
});

</script>
{% endblock %}
