{% extends "/order_base.html" %}
{% block title %}订单项列表{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3> 订单项列表</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>订单项名</th>
            <th>所属订单</th>
            <th>创建时间</th>
        </tr>
        {% for i in items %}
        <tr>
            <td><a href="{{url_for("order.item_detail", item_id=i.id)}}">{{i.name}}</a></td>
            <td><a href="{{url_for("order.order_detail", order_id=i.order.id, step=0)}}">{{i.order.name}}</a></td>
            <td>{{i.create_time.strftime('%Y-%m-%d %H:%M:%S')}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
