{% extends "/order_base.html" %}
{% from 'form.html' import form_field %}
{% from 'comments.html' import comments_box %}

{% block main_box%}
<div class="bra-main bra-box">
    <h4>
        <a class="btn btn-default btn-sm" href="{{url_for("order.order_detail", order_id=item.order.id)}}">返回</a>
    </h4>
    <div class="panel-group" id="accordion">
        {% if item.is_schedule_lock %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> 信息 </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form class="form form-horizontal" method="POST">
                        {{form.csrf_token}}
                        {{ form_field(form.order) }}
                        {{ form_field(form.sale_type) }}
                        {{ form_field(form.special_sale) }}
                        {{ form_field(form.position) }}
                        {{ form_field(form.description) }}
                        {{ form_field(form.ad_type) }}
                        {{ form_field(form.price) }}
                        {{ form_field(form.priority) }}
                        {{ form_field(form.speed) }}
                        {{ form_field(form.item_status) }}
                        {{ form_field(form.status) }}
                        {{ form_field(form.creator) }}
                        <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="提交"/>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> 排期 </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    {% include 'schedule_simple_update.html' %}
                </div>
            </div>
        </div>
        {% if g.user.team.is_admin() %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> 详细投放安排 </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    {% include 'schedule_update.html' %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> 广告素材 </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
    <div>{{ comments_box(item) }}</div>
</div>
<script>
$(document).ready(function(){
    $("#collapseOne").collapse('hide');
    $("#collapseTwo").collapse('show');
});
</script>
{% endblock %}
