{% from 'form.html' import form_field %}

{% macro order_client_form(form, client_order, replace_saler_form) -%}
  {% if g.user.is_super_leader() or g.user.is_contract() %}
    {{ order_client_edited_form(form, mediums=None, replace_saler_form=replace_saler_form, client_order=client_order) }}
  {% elif client_order.can_admin(g.user) and client_order.contract_status in [0, 1, 3, 6] %}
    {{ order_client_edited_form(form, mediums=None, replace_saler_form=None, client_order=client_order) }}
  {% else %}
    {{ order_client_table(client_order) }}
  {% endif %}
{%- endmacro %}

{% macro order_client_table(client_order) -%}
<div class="col-md-12">
    <div class="col-md-6" style="margin-left: 20px;">
        <table class="table table-bordered">
          <tr>
            <th>代理/直客(甲方全称) </th>
            <td>{{client_order.agent.name}}</td>
          </tr>
          <tr>
            <th>客户名称</th>
            <td>{{client_order.client.name}}</td>
          </tr>
          <tr>
            <th>Campaign名称</th>
            <td>{{client_order.campaign}}</td>
          </tr>
          <tr>
            <th>合同金额</th>
            <td>{{client_order.money}} (元)</td>
          </tr>
          <tr>
            <th>执行开始</th>
            <td>{{client_order.start_date_cn}}</td>
          </tr>
          <tr>
            <th>执行结束</th>
            <td>{{client_order.end_date_cn}}</td>
          </tr>
          <tr>
            <th>回款日期</th>
            <td>{{client_order.reminde_date_cn}}</td>
          </tr>
          <tr>
            <th>直客销售</th>
            <td>{{client_order.direct_sales_names}}</td>
          </tr>
          <tr>
            <th>渠道销售</th>
            <td>{{client_order.agent_sales_names}}</td>
          </tr>
          <tr>
            <th>销售助理</th>
            <td>{{client_order.assistant_sales_names}}</td>
          </tr>
          <tr>
            <th>合同模板类型</th>
            <td>{{client_order.contract_type_cn}}</td>
          </tr>
          <tr>
            <th>售卖类型</th>
            <td>{{client_order.resource_type_cn}}</td>
          </tr>
          <tr>
            <th>代理/直客</th>
            <td>{{client_order.sale_type_cn}}</td>
          </tr>
          <tr>
            <th>替代销售</th>
            <td>{{client_order.replace_sales_names}}</td>
          </tr>
          {% if (g.user.is_super_leader() or g.user.is_leader() or client_order.can_media_leader_action(g.user)) or g.user.is_contract() and client_order %}
          <tr>
            <th style="color:red;">单笔返点</th>
            <td>{% if client_order.self_agent_rebate_value.status == '0' %}
                无单笔返点
              {% else %}
                {{client_order.self_agent_rebate_value.value}}元
              {% endif %}</td>
          </tr>
          {% endif %}
        </table>
    </div>
</div>
{%- endmacro %}

{% macro new_order_client_form(form, mediums, replace_saler_form=None) -%}
    {{ order_client_edited_form(form, mediums, replace_saler_form, client_order=None) }}
{%- endmacro %}

{% macro order_client_edited_form(form, mediums=None, replace_saler_form=None, client_order=None) -%}
<form class="form form-horizontal" method="POST">
    <input class="hide" name="info_type" value="0"/>
    {{form.csrf_token}}
    {{ form_field(form.agent) }}
    {{ form_field(form.client) }}
    {{ form_field(form.campaign) }}
    {{ form_field(form.money) }}
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">执行开始 : </label>
      <div class="col-sm-4">
        <input type="text" id="client_start" name="client_start" value="{{form.client_start.data}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd" />
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">执行结束 : </label>
      <div class="col-sm-4">
        <input type="text" id="client_end" name="client_end" value="{{form.client_end.data}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd" />
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">回款日期 : </label>
      <div class="col-sm-4">
        <input type="text" id="reminde_date" name="reminde_date" value="{{form.reminde_date.data}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd" />
      </div>
    </div>
    {{ form_field(form.direct_sales) }}
    {{ form_field(form.agent_sales) }}
    {{ form_field(form.assistant_sales) }}
    {{ form_field(form.contract_type) }}
    {{ form_field(form.resource_type) }}
    {{ form_field(form.sale_type) }}
    {% if replace_saler_form %}
      {{ form_field(replace_saler_form.replace_salers) }}
    {% endif %}
    {% if client_order %}
    <div class="form-group" {% if g.user.is_super_leader() or g.user.is_leader() or g.user.is_contract() or client_order.can_media_leader_action(g.user) %}{% else %} style="display:none;"{% endif %}>
      <label class="col-sm-2 control-label" style="color:red;">单笔返点 : </label>
      <div class="col-sm-4" id="self_rebate_status">
        <select name="self_rebate" id="self_rebate" style="width:300px;">
          <option value="0">无单笔返点</option>
          <option value="1">有单笔返点</option>
        </select>
      </div>
      <div class="col-sm-10" id="self_rebate_value" style="display:none;">
        <input type="text" id="self_rabate_value" name="self_rabate_value" class="form-control bra-form-control" value='0'>
        <a class="btn btn-sm btn-default" onclick="default_rebate()">取消返点</a>
      </div>
    </div>
    {% endif %}
    {% if mediums %}
    <hr/>
    <div id="mediums">
    </div>
    <button class="btn btn-sm btn-default add-new-medium"><span class="glyphicon glyphicon-plus"></span>  投放媒体 </button>
    {% endif %}
    <hr/>
    <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
</form>

{% if mediums %}
<script type="txt/template" id="medium-tpl">
  <div class="form-group">
    <label class="medium-control">投放媒体 : </label>
    <select name="medium" type="text" class="form-control medium-control">
      {% for m in mediums %}
        <option value="{{m[0]}}">{{m[1]}}</option>
      {% endfor %}
    </select>
    <label class="medium-control">售卖金额(元) : </label>
    <input name="medium-money" type="text" class="form-control medium-control" placeholder="售卖金额(元)" value="0"/>
    <button class="btn btn-sm btn-default medium-remove"> 取消 </button>
  </div>
</script>
<style>
  .medium-control{margin-right: 10px; text-align: right; width:20%; display: inline-block;}
</style>
{% endif %}
<script>
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}
$(document).ready(function(){
    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2
      });
    $(".add-new-medium").click(function(e){
      e.preventDefault();
      var medium_tpl = $("#medium-tpl").html();
      $(this).parents("form").find("#mediums").append(medium_tpl);
      $(".medium-remove").click(function(e){
        e.preventDefault();
        $(this).parents(".form-group").remove();
      });
    });
    $("#client_end").change(function(e){
      var endDate = new Date($('#client_end').val());
      endDate.setDate(endDate.getDate() + 90); 
      $('#reminde_date').val(endDate.Format("yyyy-MM-dd"))
    });
    {% if client_order %}
    $("#self_rebate").change(function(e){
      var self_rebate = $('#self_rebate').val()
      if(self_rebate==1){
        $('#self_rebate_status').css('display', 'none');
        $('#self_rebate_value').css('display', 'block');
      }else{
        $('#self_rebate_value').css('display', 'none');
        $('#self_rebate_status').css('display', 'block');
      }
      set_default_rebate()
    })
    var self_agent_rebate = "{{client_order.self_agent_rebate}}";
    var p_self_agent_rebate = self_agent_rebate.split('-')
    $('#self_rebate').val(p_self_agent_rebate[0]);
    $('#self_rabate_value').val(p_self_agent_rebate[1]);
    $("#self_rebate").trigger("chosen:updated");
    if (p_self_agent_rebate[0] == '0'){
      $('#self_rebate_value').css('display', 'none');
      $('#self_rebate_status').css('display', 'block');
    }else{
      $('#self_rebate_value').css('display', 'block');
      $('#self_rebate_status').css('display', 'none');
    }
    /**
    $('#agent').change(function(){
      set_default_rebate();
    })
    $('#client_start').change(function(){
      set_default_rebate();
    })**/
    {% endif %}
});
function set_default_rebate(){
  $.ajax({
    type: 'POST',
    url: "/clients/agent/get_rebate_json",
    data: {'agent_id':$('#agent').val(), 'year': $('#client_start').val()},
    dataType: 'json',
    success:function(data) {
        var rebate = data['rebate'];
        var money = $('#money').val();
        var rebate_money = parseFloat(rebate / 100) * parseFloat(money)
        $('#self_rabate_value').val(parseInt(rebate_money))
    }
  });
}
function default_rebate(){
    $('#self_rebate').val(0);
    $('#self_rabate_value').val('0');
    $("#self_rebate").trigger("chosen:updated");
    $('#self_rebate_value').css('display', 'none');
    $('#self_rebate_status').css('display', 'block');
}
</script>
{%- endmacro %}
