{% extends "/order_base.html" %}
{% from 'order_info.html' import order_info_form %}

{% block main_box%}
<div class="bra-main bra-box">
    <h4>{{ order.name }}</h4>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#home" role="tab" data-toggle="tab">基础信息</a></li>
        <li><a href="#schedule" role="tab" data-toggle="tab">排期预订</a></li>
        <li><a href="#items" role="tab" data-toggle="tab">订单项</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home">
          {{ order_info_form(form) }}
        </div>
        <div class="tab-pane" id="schedule">
        </div>
        <div class="tab-pane" id="items">
        </div>
    </div>
</div>
{% endblock %}
