{% from 'form.html' import form_field %}
{% macro order_douban_form(form, douban_order=None) -%}
{% if douban_order and not douban_order.can_admin(g.user) %}
<div class="col-md-12">
    <div class="col-md-6" style="margin-left: 20px;">
        <table class="table table-bordered">
          <tr>
            <th>代理/直客(甲方全称) </th>
            <td>{{douban_order.agent.name}}</td>
          </tr>
          <tr>
            <th>客户名称</th>
            <td>{{douban_order.client.name}}</td>
          </tr>
          <tr>
            <th>Campaign名称</th>
            <td>{{douban_order.campaign}}</td>
          </tr>
          <tr>
            <th>合同金额</th>
            <td>{{douban_order.money}} (元)</td>
          </tr>
          <tr>
            <th>预估量 </th>
            <td>{{douban_order.sale_CPM or 0}} CPM</td>
          </tr>
          <tr>
            <th>实际量 </th>
            <td>{{douban_order.medium_CPM or 0}} CPM</td>
          </tr>
            <th>执行开始</th>
            <td>{{douban_order.start_date_cn}}</td>
          </tr>
          <tr>
            <th>执行结束</th>
            <td>{{douban_order.end_date_cn}}</td>
          </tr>
          <tr>
            <th>回款日期</th>
            <td>{{douban_order.reminde_date_cn}}</td>
          </tr>
          <tr>
            <th>直客销售</th>
            <td>{{douban_order.direct_sales_names}}</td>
          </tr>
          <tr>
            <th>渠道销售</th>
            <td>{{douban_order.agent_sales_names}}</td>
          </tr>
           <tr>
            <th>执行人员 </th>
            <td>{{douban_order.operater_names}}</td>
          </tr>
           <tr>
            <th>设计人员 </th>
            <td>{{douban_order.designers_names}}</td>
          </tr>
           <tr>
            <th>策划人员 </th>
            <td>{{douban_order.planers_names}}</td>
          </tr>
          <tr>
            <th>合同模板类型</th>
            <td>{{douban_order.contract_type_cn}}</td>
          </tr>
          <tr>
            <th>售卖类型</th>
            <td>{{douban_order.resource_type_cn}}</td>
          </tr>
          <tr>
            <th>代理/直客</th>
            <td>{{douban_order.sale_type_cn}}</td>
          </tr>
        </table>
    </div>
</div>


{% else %}
<form class="form form-horizontal" method="POST">
    <input class="hide" name="info_type" value="0"/>
    {{form.csrf_token}}
    {{ form_field(form.agent) }}
    {{ form_field(form.client) }}
    {{ form_field(form.campaign) }}
    {{ form_field(form.money) }}
    {{ form_field(form.sale_CPM) }}
    {{ form_field(form.medium_CPM) }}
    <div class="form-group">
      <label for="client_start" class="col-sm-2 control-label">执行开始 : </label>
      <div class="col-sm-4">
        <input type="text" id="client_start" name="client_start" value="{{form.client_start.data}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
      </div>
    </div>
    <div class="form-group">
      <label for="client_end" class="col-sm-2 control-label">执行结束 : </label>
      <div class="col-sm-4">
        <input type="text" id="client_end" name="client_end" value="{{form.client_end.data}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
      </div>
    </div>
    <div class="form-group">
      <label for="reminde_date" class="col-sm-2 control-label">回款日期 : </label>
      <div class="col-sm-4">
        <input type="text" id="reminde_date" name="reminde_date" value="{{form.reminde_date.data}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
      </div>
    </div>
    {{ form_field(form.direct_sales) }}
    {{ form_field(form.agent_sales) }}
    {{ form_field(form.operaters) }}
    {{ form_field(form.designers) }}
    {{ form_field(form.planers) }}
    {{ form_field(form.contract_type) }}
    {{ form_field(form.resource_type) }}
    {{ form_field(form.sale_type) }}
    <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
</form>
<script>
$(document).ready(function(){
    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2
      });
    $("#client_end").change(function(e){
      var endDate = new Date($('#client_end').val());
      endDate.setDate(endDate.getDate() + 90); 
      $('#reminde_date').val(endDate.getFullYear()+"-"+(endDate.getMonth()+1)+"-"+endDate.getDate())
    });
});
</script>
{% endif %}
{%- endmacro %}
