{% from 'form.html' import form_field %}
{% macro order_medium_form(form, medium_order=None, order=None) -%}
{% if medium_order %}
<form class="form form-horizontal" method="POST" action="{{medium_order.edit_path()}}">
{% else %}
<form class="form form-horizontal" method="POST" action="{{url_for('order.order_new_medium', order_id=order.id)}}">
{% endif %}
    {{form.csrf_token}}
    {{ form_field(form.medium) }}
    {{ form_field(form.sale_money) }}
    {{ form_field(form.medium_money2) }}
    {{ form_field(form.medium_money) }}
    {{ form_field(form.sale_CPM) }}
    {{ form_field(form.medium_CPM) }}
    <div class="form-group">
      <label for="medium_start" class="col-sm-2 control-label">执行开始 : </label>
      <div class="col-sm-4">
        <input type="text" id="medium_start" name="medium_start" value="{{form.medium_start.data}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
      </div>
    </div>
    <div class="form-group">
      <label for="medium_end" class="col-sm-2 control-label">执行结束 : </label>
      <div class="col-sm-4">
        <input type="text" id="medium_end" name="medium_end" value="{{form.medium_end.data}}" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
      </div>
    </div>
    {{ form_field(form.operaters) }}
    {{ form_field(form.designers) }}
    {{ form_field(form.planers) }}
    {{ form_field(form.discount) }}
    <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
</form>
{%- endmacro %}
