{% from 'form_v1_0_0.html' import form_field %}

{% macro order_client_form(form, client_order, replace_saler_form) -%}
  {% if g.user.is_super_admin() or g.user.is_contract() %}
    {{ order_client_edited_form(form, mediums=None, replace_saler_form=replace_saler_form, client_order=client_order) }}
  {% elif client_order.can_admin(g.user) and client_order.contract_status in [0, 3, 6] %}
    {{ order_client_edited_form(form, mediums=None, replace_saler_form=None, client_order=client_order) }}
  {% else %}
    {{ order_client_table(client_order) }}
  {% endif %}
{%- endmacro %}

{% macro order_client_table(client_order) -%}
<div class="col-md-12">
    <div class="col-md-6" style="margin-left: 20px;">
        <table class="table table-bordered">
          <tr>
            <th>我方签约主体 </th>
            <td>{{client_order.subject_cn}}</td>
          </tr>
          <tr>
            <th>代理/直客(甲方全称) </th>
            <td>{{client_order.agent.name}}</td>
          </tr>
          <tr>
            <th>客户名称</th>
            <td>{{client_order.client.name}}</td>
          </tr>
          <tr>
            <th>Campaign名称</th>
            <td>{{client_order.campaign}}</td>
          </tr>
          <tr>
            <th>合同金额</th>
            <td>{{client_order.money}} (元)</td>
          </tr>
          <tr>
            <th>执行开始</th>
            <td>{{client_order.start_date_cn}}</td>
          </tr>
          <tr>
            <th>执行结束</th>
            <td>{{client_order.end_date_cn}}</td>
          </tr>
          <tr>
            <th>回款日期</th>
            <td>{{client_order.reminde_date_cn}}</td>
          </tr>
          <tr>
            <th>直客销售</th>
            <td>{{client_order.direct_sales_names}}</td>
          </tr>
          <tr>
            <th>渠道销售</th>
            <td>{{client_order.agent_sales_names}}</td>
          </tr>
          <tr>
            <th>销售助理</th>
            <td>{{client_order.assistant_sales_names}}</td>
          </tr>
          <tr>
            <th>合同模板类型</th>
            <td>{{client_order.contract_type_cn}}</td>
          </tr>
          <tr>
            <th>售卖类型</th>
            <td>{{client_order.resource_type_cn}}</td>
          </tr>
          <tr>
            <th>代理/直客</th>
            <td>{{client_order.sale_type_cn}}</td>
          </tr>
          <tr>
            <th>替代销售</th>
            <td>{{client_order.replace_sales_names}}</td>
          </tr>
          {% if client_order.can_admin(g.user) %}
          <tr>
            <th style="color:red;">单笔返点</th>
            <td>{% if client_order.self_agent_rebate_value.status == '0' %}
                无单笔返点
              {% else %}
                {{client_order.self_agent_rebate_value.value}}元
              {% endif %}</td>
          </tr>
          {% endif %}
        </table>
    </div>
</div>
{%- endmacro %}

{% macro new_order_client_form(form, mediums, replace_saler_form=None) -%}
    {{ order_client_edited_form(form, mediums, replace_saler_form, client_order=None) }}
{%- endmacro %}

{% macro order_client_edited_form(form, mediums=None, replace_saler_form=None, client_order=None) -%}
<form class="input-row-box" method="POST">
    <input class="hide" name="info_type" value="0"/>
    {{form.csrf_token}}
    {{ form_field(form.agent) }}
    {{ form_field(form.client) }}
    {{ form_field(form.campaign) }}
    {{ form_field(form.subject) }}
    {{ form_field(form.money) }}
    <div class="input-group-menu">
      <div class="name">执行开始 : </div>
        <input type="text" id="client_start" name="client_start" value="{{form.client_start.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd" />
    </div>
    <div class="input-group-menu">
      <div class="name">执行结束 : </div>
        <input type="text" id="client_end" name="client_end" value="{{form.client_end.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd" />
    </div>
    <div class="input-group-menu">
      <div class="name">回款日期 : </div>
        <input type="text" id="reminde_date" name="reminde_date" value="{{form.reminde_date.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd" />
    </div>
    {{ form_field(form.direct_sales) }}
    {{ form_field(form.agent_sales) }}
    {{ form_field(form.assistant_sales) }}
    {{ form_field(form.contract_type) }}
    {{ form_field(form.resource_type) }}
    {{ form_field(form.sale_type) }}
    {% if replace_saler_form %}
      {{ form_field(replace_saler_form.replace_salers) }}
    {% endif %}
    <div class="input-group-menu" >
      <div class="name" style="color:red;">单笔返点 : </div>
      <div id="self_rebate_status">
        <select name="self_rebate" id="self_rebate" class="surname" style="width:300px;">
          <option value="0">无单笔返点</option>
          <option value="1">有单笔返点</option>
        </select>
      </div>
      <div id="self_rebate_value" style="display:none;">
        <input type="text" id="self_rabate_value" name="self_rabate_value" class="surname" style="width:300px;" value='0'>
        <a class="btn btn-sm btn-default" onclick="default_rebate()">取消返点</a>
      </div>
    </div>
    <div class="input-group-menu" >
      <div class="name" style="color:red;">单笔返点的说明 : </div>
      <div class="name" style="color:red; width:400px;">
        项目返点金额与代理框架约定不一致，或者与代理无返点框架，单笔商定返点的在此处填写返点金额（不是百分比）。
      </div>
    </div>
    {% if mediums %}
    <hr style="margin-top: 50px;" />
    <div id="mediums">
    </div>
    <button class="btn btn-sm btn-default add-new-medium"><span class="glyphicon glyphicon-plus"></span>  投放媒体 </button>
    {% endif %}
    <hr/>
    <div class="state" style="margin-left:40%;">
        <input type="submit" value="保存">
    </div>
</form>
<script>
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}
$(document).ready(function(){
    $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true}); 
    var now_data = new Date()
    var now_month_data = new Date(now_data.getFullYear(), now_data.getMonth(), 1)
    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        {% if not g.user.is_super_admin() %}
        startDate: now_month_data,
        {% endif %}
        minView: 2
      });

    var mids = []
    for (var i=0; i<100; i++){
      mids.push(i)
    }

    function set_mediums(medium_group_id, html_mid){
        $.ajax({
          type: "GET",
          url: "/clients/medium_groups/"+medium_group_id+"/mediums",
          dataType: "json",
          success: function(data){
              $('#medium_'+html_mid).empty();   //清空resText里面的所有内容
              var data = data['data'];
              html_inner = ""
              for(var i=0; i<data.length; i++){
                  html_inner += "<option value='"+data[i]['mid']+"'>"+data[i]['name']+"</option>"
              }
              $('#medium_'+html_mid).html(html_inner);
              $('#medium_'+html_mid).chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true}); 
              $('#medium_group_'+html_mid).chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true}); 
              $('#medium_'+html_mid).trigger("chosen:updated");
              $('#medium_group_'+html_mid).trigger("chosen:updated");
          }
      })
    }
    {% if mediums %}
    $(".add-new-medium").click(function(e){
      e.preventDefault();
      var mid = mids.pop()
      var medium_tpl = '<div id="medium_order_div_'+mid+'"><div class="input-group-menu"><div class="name">投放媒体 : </div><select class="surname" style="width:300px;" name="media" id="media_'+mid+'">'
      {% for k in mediums %}
        medium_tpl += '<option value="{{k.id}}">{{k.name}}</option>'
      {% endfor %}
      medium_tpl += '</select></div><div class="input-group-menu" ><div class="name">售卖金额(元) : </div><input class="surname" style="width:300px;" name="medium-money" type="text"  placeholder="售卖金额(元)" value="0" /></div><div class="state" style="margin-left: 600px;"><button class="medium-remove" id="medium-remove-'+mid+'"> 取消 </button> </div><hr/></div></div>'
      
      $(this).parents("form").find("#mediums").append(medium_tpl);
      $('#media_'+mid).chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true}); 
      $('#media_'+mid).trigger("chosen:updated");
      $("#medium-remove-"+mid).click(function(e){
        e.preventDefault();
        $('#medium_order_div_'+mid).remove();
      });
    });
    {% endif %}
    $("#client_end").change(function(e){
      var endDate = new Date($('#client_end').val());
      endDate.setDate(endDate.getDate() + 90); 
      $('#reminde_date').val(endDate.Format("yyyy-MM-dd"))
    });
    $("#self_rebate").change(function(e){
      var self_rebate = $('#self_rebate').val()
      if(self_rebate==1){
        $('#self_rebate_status').css('display', 'none');
        $('#self_rebate_value').css('display', 'block');
      }else{
        $('#self_rebate_value').css('display', 'none');
        $('#self_rebate_status').css('display', 'block');
      }
      set_default_rebate()
    })
    {% if client_order %}
    var self_agent_rebate = "{{client_order.self_agent_rebate}}";
    {% else %}
    var self_agent_rebate = "0-0"
    {% endif %}
    var p_self_agent_rebate = self_agent_rebate.split('-')
    $('#self_rebate').val(p_self_agent_rebate[0]);
    $('#self_rabate_value').val(p_self_agent_rebate[1]);
    $("#self_rebate").trigger("chosen:updated");
    if (p_self_agent_rebate[0] == '0'){
      $('#self_rebate_value').css('display', 'none');
      $('#self_rebate_status').css('display', 'block');
    }else{
      $('#self_rebate_value').css('display', 'block');
      $('#self_rebate_status').css('display', 'none');
    }
    /**
    $('#agent').change(function(){
      set_default_rebate();
    })
    $('#client_start').change(function(){
      set_default_rebate();
    })**/
});
function set_default_rebate(){
  $.ajax({
    type: 'POST',
    url: "/clients/agent/get_rebate_json",
    data: {'agent_id':$('#agent').val(), 'year': $('#client_start').val()},
    dataType: 'json',
    success:function(data) {
        var rebate = data['rebate'];
        var money = $('#money').val();
        var rebate_money = parseFloat(rebate / 100) * parseFloat(money)
        $('#self_rabate_value').val(parseInt(rebate_money))
    }
  });
}
function default_rebate(){
    $('#self_rebate').val(0);
    $('#self_rabate_value').val('0');
    $("#self_rebate").trigger("chosen:updated");
    $('#self_rebate_value').css('display', 'none');
    $('#self_rebate_status').css('display', 'block');
}
</script>
{%- endmacro %}
