{% extends "/order_base.html" %}
{% from 'order_info.html' import order_info_form %}

{% block main_box%}
<div class="bra-main bra-box">
    <h4> {{ order.name }} </h4>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> 订单信息 </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ order_info_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
