{% from 'form.html' import form_field %}
{% macro order_contract_form(order, reminder_emails, douban_contract=False, now_date=None) -%}
<form class="form form-horizontal" method="POST">
  {% if g.user.is_contract() %}
  <input class="hide" name="info_type" value="2"/>
  <div class="form-group">
    <label for="name" class="col-sm-4 control-label">合同号申请状态 : </label>
    <div class="col-sm-8">
        <label style="height: 34px; padding: 6px 12px;">{{order.contract_status_cn}}</label>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-4 control-label">致趣合同号 : </label>
    <div class="col-sm-8">
        <input class="form-control bra-form-control" name="base_contract" type="text" value="{{order.contract}}"/>
        {% if order.contract_generate %}
        <button class="btn btn-sm btn-default btn-generator" data-contract="{{order.get_default_contract()}}">生成</button>
        {% endif %}
        {% if douban_contract %}
        <a class="btn btn-info btn-sm" href="{{order.douban_contract_apply_path()}}">向豆瓣申请</a>
        {% endif %}
    </div>
  </div>
  {% for mo in order.medium_orders %}
  <div class="form-group">
    <label for="name" class="col-sm-4 control-label">[致趣-{{mo.medium.name}}] {{mo.start_date_cn}} 合同号 : </label>
    <div class="col-sm-8">
      <input class="form-control bra-form-control" name="medium_contract_{{mo.id}}"type="text" value="{{mo.medium_contract}}"/>
      <button class="btn btn-sm btn-default btn-generator" data-contract="{{mo.get_default_contract()}}">生成</button>
    </div>
  </div>
  {% endfor %}
  {% for o in order.associated_douban_orders %}
  <div class="form-group">
    <label for="name" class="col-sm-4 control-label">[{{o.name}}-豆瓣] {{o.medium_order.start_date_cn}} 合同号 : </label>
    <div class="col-sm-8">
      <input class="form-control bra-form-control" name="douban_contract_{{o.id}}"type="text" value="{{o.contract}}"/>
      <a class="btn btn-info btn-sm" href="{{o.douban_contract_apply_path()}}">向豆瓣申请</a>
    </div>
  </div>
  {% endfor %}
  {% if order.__tablename__ == 'bra_framework_order' %}
  <div class="form-group">
    <label for="name" class="col-sm-4 control-label">豆瓣合同号 : </label>
    <div class="col-sm-8">
      <input class="form-control bra-form-control" name="douban_contract"type="text" value="{{order.douban_contract or ''}}"/>
      <a class="btn btn-info btn-sm" href="{{order.douban_contract_apply_path()}}">向豆瓣申请</a>
    </div>
  </div>
  {% endif %}
  <input type="submit" class="btn btn-primary btn-sm col-md-offset-4" value="保存"/>
  {% else %}
  <div class="form-group">
    <label for="name" class="col-sm-4 control-label">合同号申请状态 : </label>
    <div class="col-sm-8">
        <label style="height: 34px; padding: 6px 12px;">{{order.contract_status_cn}}</label>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-4 control-label">订单合同号 : </label>
    <div class="col-sm-8">
        <label style="height: 34px; padding: 6px 12px;">{{order.contract}}</label>
    </div>
  </div>
  {% for mo in order.medium_orders %}
  <div class="form-group">
    <label for="name" class="col-sm-4 control-label">[致趣-{{mo.medium.name}}] 合同号 : </label>
    <div class="col-sm-8">
        <label style="height: 34px; padding: 6px 12px;">{{mo.medium_contract}}</label>
    </div>
  </div>
  {% endfor %}
  {% for o in order.associated_douban_orders %}
  <div class="form-group">
    <label for="name" class="col-sm-4 control-label">[{{o.name}}-豆瓣] 合同号 : </label>
    <div class="col-sm-8">
        <label style="height: 34px; padding: 6px 12px;">{{o.contract}}</label>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</form>
{% if order.medium_orders %}
<hr>
<form class="form form-horizontal">
  {% for mo in order.medium_orders %}
  <div class="form-group">
    <label class="col-sm-4 control-label">[致趣-{{mo.medium.name}}] 预估ECPM (元): </label>
    <div class="col-sm-8">
        <label style="height: 34px; padding: 6px 12px;">{{"%.1f" % mo.sale_ECPM}}</label>
    </div>
  </div>
  {% endfor %}

  {% for o in order.associated_douban_orders %}
  <div class="form-group">
    <label class="col-sm-4 control-label">[{{o.name}}-豆瓣] 预估ECPM (元): </label>
    <div class="col-sm-8">
        <label style="height: 34px; padding: 6px 12px;">{{"%.1f" % o.sale_ECPM}}</label>
    </div>
  </div>
  {% endfor %}
</form>
{% elif order.sale_ECPM %}
<hr>
<form class="form form-horizontal">
  <div class="form-group">
    <label class="col-sm-4 control-label">豆瓣订单预估ECPM (元): </label>
    <div class="col-sm-8">
        <label style="height: 34px; padding: 6px 12px;">{{"%.1f" % order.sale_ECPM}}</label>
    </div>
  </div>
</form>
{% endif %}
<hr>
<div class="col-md-8">
  <form class="form form-horizontal" id="contract-form" method="POST" action="{{order.contract_path()}}">
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">邮箱 : </label>
        <div class="col-sm-10">
            <select class="form-control bra-form-control" id="contract-email" multiple="" name="email" placeholder="请输入需要通知人员的邮箱">
              {% for u in reminder_emails %}
              <option value="{{u[1]}}">{{u[0]}}</option>
              {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="msg" class="col-sm-2 control-label">留言 : </label>
        <div class="col-sm-10">
            <textarea class="form-control bra-form-control" id="msg"
            name="msg" rows="4" placeholder="请输入需要附加在邮件中的留言..."></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">操作 : </label>
        <input type="hidden" value="{{order.__tablename__}}" id="table_name">
        <div class="col-sm-6">
            {% if order.media_apply %}
              {% if order.contract_status == 0 and order.can_admin(g.user) %}
              <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="1">申请利润分配</button>
              {% endif %}
              {% if order.contract_status in [6, 3] and g.user.is_media() %}
              <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="2">申请审批</button>
              {% endif %} 
            {% else %}
              {% if order.contract_status in [0, 3] and order.can_admin(g.user) %}
              <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="2">申请审批</button>
              {% endif %}
            {% endif %}
            {% if order.contract_status == 1 and g.user.is_leader() %}
            <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="3">通过申请</button>
            <button class="btn btn-sm btn-warning contract-submit" type="submit" name="action" value="4">拒绝申请</button>
            {% endif %}
            {% if order.contract_status == 1 and order.can_admin(g.user) %}
            <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="2">再次申请审批</button>
            {% endif %}
            {% if order.contract_status == 2 and g.user.is_leader() %}
              {% if order.can_edit_contract_time() %}
                <button class="btn btn-sm btn-warning contract-submit" type="submit" name="action" value="0">驳回</button>
              {% endif %}
            {% endif %}
            {% if order.contract_status == 2 and order.can_admin(g.user) %}
              {% if order.can_edit_contract_time() %}
            <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="0">撤回</button>
              {% endif %}
            <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="5">申请打印</button>
            {% endif %}
            {% if order.contract_status == 4 and order.can_admin(g.user) %}
            <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="5">再次申请打印</button>
            {% endif %}
            {% if order.contract_status == 4 and g.user.is_contract() %}
            <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="6">打印完毕</button>
            {% endif %}
            {% if order.contract_status == 5 and order.can_admin(g.user) %}
            <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="119">项目归档（预）</button>
            {% endif %}
            {% if order.contract_status in [5, 19] and g.user.is_contract() %}
            <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="120">项目归档（确认）</button>
            {% endif %}
            {% if order.can_admin(g.user) and order.contract_status not in [7, 8, 9]%}
              {% if order.can_edit_contract_time() %}
                <button class="btn btn-sm btn-danger contract-submit" type="submit" name="action" value="7">申请撤单</button>
              {% else %}
                <button class="btn btn-sm btn-danger contract-submit" type="submit" name="action" value="7">申请撤单</button>
              {% endif %}
            {% endif %}
            {% if order.contract_status == 7 %}
              {%if order.can_admin(g.user) %}
                <button class="btn btn-sm btn-danger contract-submit" type="submit" name="action" value="7">再次申请撤单</button>
              {% endif %}
              {% if g.user.is_leader() %} 
                <button class="btn btn-sm btn-danger contract-submit" type="submit" name="action" value="8">确认撤单</button>
              {% endif %}
            {% endif %}
            {% if order.contract_status == 8 %}
              {% if g.user.is_leader() %} 
                <button class="btn btn-sm btn-danger contract-submit" type="submit" name="action" value="8">再次确认撤单</button>
              {% endif %}
              {% if g.user.is_super_leader() %}
                <button class="btn btn-sm btn-danger contract-submit" type="submit" name="action" value="9">同意撤单</button>
              {% endif %}
            {% endif %}
        </div>
        <!--
        <div class="col-md-4">
            <button class="btn btn-sm btn-info contract-submit" type="submit" name="action" value="7">留言</button>
            <span style="font-size: 10px; color:gray;">申请之后不需要再留言</span>
        </div>
        -->
    </div>
    <div class="modal fade" id="finish_time_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">确认归档时间</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                <input class="hide" name="invoice_id" id="invoice_id" value=""/>
                <div class="form-group">
                  <label for="client_start" class="col-sm-4 control-label">归档时间 : </label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control bra-form-control" id="finish_time" name="finish_time" value="{{order.finish_time_cn}}" readonly="readonly"/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="client_start" class="col-sm-4 control-label">留言信息 : </label>
                  <div class="col-sm-4">
                    <textarea class="form-control bra-form-control" id="finish_msg" name="finish_msg" rows="4" placeholder="请输入需要附加在邮件中的留言..."></textarea>
                  </div>
                </div>
                
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            {% if order.contract_status == 5 and order.can_admin(g.user) %}
              {% if g.user.is_contract() %}
                <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="20">项目归档（确认）</button>
              {% else %}
                <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="19">项目归档（预）</button>
              {% endif %}
            {% endif %}
            {% if order.contract_status == 19 and g.user.is_contract() %}
            <button class="btn btn-sm btn-primary contract-submit" type="submit" name="action" value="20">项目归档（确认）</button>
            {% endif %}
            <!--<input type="submit" class="btn btn-primary" value="归档"/>-->
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
 $(".contract-submit").click(function(e){
   var actionVal = $(this).val();
   var email = $("#contract-email").val();
   var msg = $("#msg").val();
   var table_name = $('#table_name').val()
   if(actionVal == '1'){
      if(table_name == 'bra_client_order'){
        var money = parseFloat($('#money').val());
        var client_start = new Date($('#client_start').val());
        var client_end = new Date($('#client_end').val());
        
        var sale_money = 0
        var sale_money_dom = $("input[name='sale_money']");
        var medium_start_dom = $("input[name='medium_start']");
        var medium_end_dom = $("input[name='medium_end']");

        for (var i=0; i<sale_money_dom.length-1; i++){
          var medium_start = new Date(medium_start_dom[i].value);
          var medium_end = new Date(medium_end_dom[i].value);
          if (medium_start < client_start){
            e.preventDefault();
            alert('媒体合同的执行时间必须在客户合同执行时间内，请确认后进行审批')
          }
          if (medium_end > client_end){
            e.preventDefault();
            alert('媒体合同的执行时间必须在客户合同执行时间内，请确认后进行审批')
          }
          sale_money += parseFloat(sale_money_dom[i].value);
        }
        if (money != sale_money){
          e.preventDefault();
          alert('客户合同金额与媒体合同售卖金额总和不符，请确认后进行审批!');
        }
        
      }
   }
   if(actionVal == '2' || actionVal == '4' || actionVal == '7'){
     if(msg == ""){
         e.preventDefault();
         alert("请填写理由！");
      }
   }
   if (actionVal == '119' || actionVal == '120'){
      $('#finish_time_form').modal();
      //$('#finish_time').val(date);
      $('#finish_time').datetimepicker({
          autoclose: true,
          todayHighlight: true,
          language: 'zh-CN',
          minView: 2,
          format: 'yyyy-mm-dd',
          todayBtn: true
      });
      e.preventDefault()
   }
   if (actionVal == '19' || actionVal == '20'){
      var finish_time = $('#finish_time').val();
      if (finish_time == ''){
        alert("请选择归档时间")
        $('#finish_time').focus();
        e.preventDefault()
      }
   }
 });
 $(".btn-generator").click(function(e){
      e.preventDefault();
      $(this).parent().find("input").val($(this).data("contract"));
 });
</script>
{%- endmacro %}
