{% extends "/order_base.html" %}
{% from 'order_form_client.html' import order_client_form %}
{% from 'order_form_medium.html' import order_medium_form %}
{% from 'order_form_contract.html' import order_contract_form %}
{% from 'order_form_attachment.html' import client_order_attachment, medium_order_attachment %}
{% from 'comments.html' import comments_box %}

{% block main_box%}
<div class="bra-main bra-box">
    <h4> {{ order.name }} </h4>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> 客户订单 </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ order_client_form(client_form) }}
                    {{ client_order_attachment(order) }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> 新媒体订单 </a> </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% for mf in medium_forms %}
                    <div class="well">
                    {{ order_medium_form(mf[0], mf[1]) }}
                    {{ medium_order_attachment(mf[1]) }}
                    </div>
                    {% endfor %}
                    <div class="well" id="new-medium" style="display:none;">
                      <h4>新建媒体订单</h4>
                      {{ order_medium_form(new_medium_form, order=order) }}
                    </div>
                    <button onclick="showNewMedium(this);" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> 媒体订单</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> 合同流程 </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{order_contract_form(order, reminder_emails)}}
                </div>
            </div>
        </div>
    </div>
    <div>{{ comments_box(order) }}</div>
</div>
<script>
  $(function(){
    showNewMedium = function(ele){
      $(ele).hide();
      $("#new-medium").show();
    };
  });
</script>
{% endblock %}
