{% from 'form.html' import form_field %}

{% macro client_order_attachment(order) -%}
<hr>
<form method="POST" action="{{url_for('files.client_contract_upload')}}" enctype="multipart/form-data">
  <button class="file-widget-wrapper btn btn-sm btn-primary">
    <input class="hide" type="text" name="order" value="{{order.id}}">
    <span>上传合同</span>
    <input class="file-widget-button" type="file" name="file">
  </button>
  {% set contract = order.get_last_contract() %}
  {% if contract %}
  <a href="{{contract.path}}">{{contract.filename}}</a>
  {% endif %}
</form>
<form method="POST" action="{{url_for('files.client_schedule_upload')}}" enctype="multipart/form-data">
  <button class="file-widget-wrapper btn btn-sm btn-info">
    <input class="hide" type="text" name="order" value="{{order.id}}">
    <span>上传排期</span>
    <input class="file-widget-button" type="file" name="file">
  </button>
  {% set schedule = order.get_last_schedule() %}
  {% if schedule %}
  <a href="{{schedule.path}}">{{schedule.filename}}</a>
  {% endif %}
</form>
<a class="btn btn-sm btn-default" href="{{order.attachment_path()}}">查看历史版本</a>
<script>
$(function(){
  $('.file-widget-button').change(function(){
    console.log($(this).val());
    var filename = $(this).val(),
      fileExt = filename.substring(filename.lastIndexOf('.')+1, filename.length);
    if(fileExt == 'csv' || fileExt == 'doc' || fileExt == 'docx' || fileExt == 'xls' || fileExt == 'xlsx'){
      $(this).parents("form").submit();
    }else{
      alert("只能上传doc, docx, xls, xlsx, csv文件");
    }
  });
});
</script>
{%- endmacro %}

{% macro medium_order_attachment(order) -%}
<hr>
<form method="POST" action="{{url_for('files.medium_contract_upload')}}" enctype="multipart/form-data">
  <button class="file-widget-wrapper btn btn-sm btn-primary">
    <input class="hide" type="text" name="order" value="{{order.id}}">
    <span>上传合同</span>
    <input class="file-widget-button" type="file" name="file">
  </button>
  {% set contract = order.get_last_contract() %}
  {% if contract %}
  <a href="{{contract.path}}">{{contract.filename}}</a>
  {% endif %}
</form>
<form method="POST" action="{{url_for('files.medium_schedule_upload')}}" enctype="multipart/form-data">
  <button class="file-widget-wrapper btn btn-sm btn-info">
    <input class="hide" type="text" name="order" value="{{order.id}}">
    <span>上传排期</span>
    <input class="file-widget-button" type="file" name="file">
  </button>
  {% set schedule = order.get_last_schedule() %}
  {% if schedule %}
  <a href="{{schedule.path}}">{{schedule.filename}}</a>
  {% endif %}
</form>
<a class="btn btn-sm btn-default" href="{{order.attachment_path()}}">查看历史版本</a>
{%- endmacro %}
