{% from 'form.html' import form_field %}
{% macro order_info_form(form) -%}
<form class="form form-horizontal" method="POST">
    {{form.csrf_token}}
    {{ form_field(form.client) }}
    {{ form_field(form.campaign) }}
    {{ form_field(form.medium) }}
    {{ form_field(form.order_type) }}
    {{ form_field(form.contract) }}
    {{ form_field(form.money) }}
    {{ form_field(form.agent) }}
    {{ form_field(form.direct_sales) }}
    {{ form_field(form.agent_sales) }}
    {{ form_field(form.operaters) }}
    {{ form_field(form.designers) }}
    {{ form_field(form.planers) }}
    {{ form_field(form.creator) }}
    <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="提交"/>
</form>
<script>
$(document).ready(function(){
  {% if form.contract.data %}
  {% if form.contract.data != '' %}
  $('#contract').attr("readonly",true);
  {% endif %}
  {% endif %}
});
</script>
{%- endmacro %}
