{% from 'form.html' import form_field %}
{% macro order_medium_form(form) -%}
<form class="form form-horizontal" method="POST">
    <input class="hide" name="info_type" value="1"/>
    {{form.csrf_token}}
    {{ form_field(form.medium_money) }}
    {{ form_field(form.medium_start) }}
    {{ form_field(form.medium_end) }}
    {{ form_field(form.operaters) }}
    {{ form_field(form.designers) }}
    {{ form_field(form.planers) }}
    {{ form_field(form.discount) }}
    <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
</form>
{%- endmacro %}
