{% from 'form.html' import form_field %}
{% macro order_client_form(form) -%}
<form class="form form-horizontal" method="POST">
    <input class="hide" name="info_type" value="0"/>
    {{form.csrf_token}}
    {{ form_field(form.agent) }}
    {{ form_field(form.client) }}
    {{ form_field(form.campaign) }}
    {{ form_field(form.money) }}
    {{ form_field(form.client_start) }}
    {{ form_field(form.client_end) }}
    {{ form_field(form.reminde_date) }}
    {{ form_field(form.direct_sales) }}
    {{ form_field(form.agent_sales) }}
    {{ form_field(form.contract_type) }}
    {{ form_field(form.resource_type) }}
    <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
</form>
{%- endmacro %}
