{% from 'form_v1_0_0.html' import form_field %}
{% macro order_douban_form(form, douban_order=None, replace_saler_form=None) -%}
{% if form and not douban_order %}
<form class="input-row-box" method="POST">
    <input class="hide" name="info_type" value="0"/>
    {{form.csrf_token}}
    {{ form_field(form.agent) }}
    {{ form_field(form.client) }}
    {{ form_field(form.campaign) }}
    {{ form_field(form.money) }}
    {{ form_field(form.sale_CPM) }}
    {{ form_field(form.medium_CPM) }}
    <div class="input-group-menu">
      <div class="name">执行开始 : </div>
        <input type="text" id="client_start" name="client_start" value="{{form.client_start.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
    </div>
    <div class="input-group-menu">
      <div class="name">执行结束 : </div>
        <input type="text" id="client_end" name="client_end" value="{{form.client_end.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
    </div>
    <div class="input-group-menu">
      <div class="name">回款日期 : </div>
        <input type="text" id="reminde_date" name="reminde_date" value="{{form.reminde_date.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
    </div>
    {{ form_field(form.direct_sales) }}
    {{ form_field(form.agent_sales) }}
    {{ form_field(form.assistant_sales) }}
    {{ form_field(form.operaters) }}
    {{ form_field(form.designers) }}
    {{ form_field(form.planers) }}
    {{ form_field(form.contract_type) }}
    {{ form_field(form.resource_type) }}
    {{ form_field(form.sale_type) }}
    <div class="input-group-menu">
      <div class="name" style="color:red;">单笔返点 : </div>
      <div id="self_rebate_status">
        <select name="self_rebate" id="self_rebate"  class="surname" style="width:300px;">
          <option value="0">无单笔返点</option>
          <option value="1">有单笔返点</option>
        </select>
      </div>
      <div id="self_rebate_value" style="display:none;">
        <input type="text" id="self_rabate_value" name="self_rabate_value" class=" surname" style="width:300px;" value='0'>
        <a class="btn btn-sm btn-default" onclick="default_rebate()">取消返点</a>
      </div>
    </div>
    <div class="input-group-menu" >
      <div class="name" style="color:red;">单笔返点的说明 : </div>
      <div class="name" style="color:red; width:400px;">
        项目返点金额与代理框架约定不一致，或者与代理无返点框架，单笔商定返点的在此处填写返点金额不是百分比。
      </div>
    </div>
    <div class="state" style="margin-left:40%;">
        <input type="submit" value="保存">
    </div>
</form>
{% elif g.user.is_super_leader() or g.user.is_contract() %}
<form class="input-row-box" method="POST">
    <input class="hide" name="info_type" value="0"/>
    {{form.csrf_token}}
    {{ form_field(form.agent) }}
    {{ form_field(form.client) }}
    {{ form_field(form.campaign) }}
    {{ form_field(form.money) }}
    {{ form_field(form.sale_CPM) }}
    {{ form_field(form.medium_CPM) }}
    <div class="input-group-menu">
      <div class="name">执行开始 : </div>
        <input type="text" id="client_start" name="client_start" value="{{form.client_start.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
    </div>
    <div class="input-group-menu">
      <div class="name">执行结束 : </div>
        <input type="text" id="client_end" name="client_end" value="{{form.client_end.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
    </div>
    <div class="input-group-menu">
      <div class="name">回款日期 : </div>
        <input type="text" id="reminde_date" name="reminde_date" value="{{form.reminde_date.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
    </div>
    {{ form_field(form.direct_sales) }}
    {{ form_field(form.agent_sales) }}
    {{ form_field(form.assistant_sales) }}
    {{ form_field(form.operaters) }}
    {{ form_field(form.designers) }}
    {{ form_field(form.planers) }}
    {{ form_field(form.contract_type) }}
    {{ form_field(form.resource_type) }}
    {{ form_field(form.sale_type) }}
    {{ form_field(replace_saler_form.replace_salers) }}
    <div class="input-group-menu">
      <div class="name" style="color:red;">单笔返点 : </div>
      <div id="self_rebate_status">
        <select name="self_rebate" id="self_rebate"  class="surname" style="width:300px;">
          <option value="0">无单笔返点</option>
          <option value="1">有单笔返点</option>
        </select>
      </div>
      <div id="self_rebate_value" style="display:none;">
        <input type="text" id="self_rabate_value" name="self_rabate_value" class=" surname" style="width:300px;" value='0'>
        <a class="btn btn-sm btn-default" onclick="default_rebate()">取消返点</a>
      </div>
    </div>
    <div class="input-group-menu" >
      <div class="name" style="color:red;">单笔返点的说明 : </div>
      <div class="name" style="color:red; width:400px;">
        项目返点金额与代理框架约定不一致，或者与代理无返点框架，单笔商定返点的在此处填写返点金额不是百分比。
      </div>
    </div>
    <div class="state" style="margin-left:40%;">
        <input type="submit" value="保存">
    </div>
</form>
{% elif douban_order and douban_order.can_admin(g.user) and douban_order.contract_status in [0, 1]%}
<form class="input-row-box" method="POST">
    <input class="hide" name="info_type" value="0"/>
    {{form.csrf_token}}
    {{ form_field(form.agent) }}
    {{ form_field(form.client) }}
    {{ form_field(form.campaign) }}
    {{ form_field(form.money) }}
    {{ form_field(form.sale_CPM) }}
    {{ form_field(form.medium_CPM) }}
    <div class="input-group-menu">
      <div class="name">执行开始 : </div>
        <input type="text" id="client_start" name="client_start" value="{{form.client_start.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
    </div>
    <div class="input-group-menu">
      <div class="name">执行结束 : </div>
        <input type="text" id="client_end" name="client_end" value="{{form.client_end.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
    </div>
    <div class="input-group-menu">
      <div class="name">回款日期 : </div>
        <input type="text" id="reminde_date" name="reminde_date" value="{{form.reminde_date.data}}" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd">
    </div>
    {{ form_field(form.direct_sales) }}
    {{ form_field(form.agent_sales) }}
    {{ form_field(form.assistant_sales) }}
    {{ form_field(form.operaters) }}
    {{ form_field(form.designers) }}
    {{ form_field(form.planers) }}
    {{ form_field(form.contract_type) }}
    {{ form_field(form.resource_type) }}
    {{ form_field(form.sale_type) }}
    <div class="input-group-menu">
      <div class="name" style="color:red;">单笔返点 : </div>
      <div id="self_rebate_status">
        <select name="self_rebate" id="self_rebate"  class="surname" style="width:300px;">
          <option value="0">无单笔返点</option>
          <option value="1">有单笔返点</option>
        </select>
      </div>
      <div id="self_rebate_value" style="display:none;">
        <input type="text" id="self_rabate_value" name="self_rabate_value" class=" surname" style="width:300px;" value='0'>
        <a class="btn btn-sm btn-default" onclick="default_rebate()">取消返点</a>
      </div>
    </div>
    <div class="input-group-menu" >
      <div class="name" style="color:red;">单笔返点的说明 : </div>
      <div class="name" style="color:red; width:400px;">
        项目返点金额与代理框架约定不一致，或者与代理无返点框架，单笔商定返点的在此处填写返点金额不是百分比。
      </div>
    </div>
    <div class="state" style="margin-left:40%;">
        <input type="submit" value="保存">
    </div>
</form>
{% else %}
<div class="col-md-12">
    <div class="col-md-6" style="margin-left: 20px;">
        {% if g.user.is_operater() %}
        <form class="form form-horizontal outsource-status-form" method="POST" action="{{url_for('order.douban_order_edit_cpm', order_id=douban_order.id)}}">
        {% endif %}
        <table class="table table-bordered">
          <tr>
            <th>代理/直客(甲方全称) </th>
            <td>{{douban_order.agent.name}}</td>
          </tr>
          <tr>
            <th>客户名称</th>
            <td>{{douban_order.client.name}}</td>
          </tr>
          <tr>
            <th>Campaign名称</th>
            <td>{{douban_order.campaign}}</td>
          </tr>
          <tr>
            <th>合同金额</th>
            <td>{{douban_order.money}} (元)</td>
          </tr>
          <tr>
            <th>预估量 </th>
            {% if g.user.is_media() %}
            <td><input type='text' value="{{douban_order.sale_CPM or 0}}" class="form-control bra-form-control" name="sale_CPM" style="width:100px;"/>CPM</td>
            {% else %}
            <td>{{douban_order.sale_CPM or 0}} CPM</td>
            {% endif %}
          </tr>
          <tr>
            <th>实际量 </th>
            {% if g.user.is_operater() %}
              <td><input type='text' value="{{douban_order.medium_CPM or 0}}" class="form-control bra-form-control" name="cpm" style="width:100px;"/>CPM</td>
            {% else %}
              <td>{{douban_order.medium_CPM or 0}} CPM</td>
            {% endif %}
          </tr>
            <th>执行开始</th>
            <td>{{douban_order.start_date_cn}}</td>
          </tr>
          <tr>
            <th>执行结束</th>
            <td>{{douban_order.end_date_cn}}</td>
          </tr>
          <tr>
            <th>回款日期</th>
            <td>{{douban_order.reminde_date_cn}}</td>
          </tr>
          <tr>
            <th>直客销售</th>
            <td>{{douban_order.direct_sales_names}}</td>
          </tr>
          <tr>
            <th>渠道销售</th>
            <td>{{douban_order.agent_sales_names}}</td>
          </tr>
          <tr>
            <th>销售助理</th>
            <td>{{douban_order.assistant_sales_names}}</td>
          </tr>
           <tr>
            <th>执行人员 </th>
            <td>{{douban_order.operater_names}}</td>
          </tr>
           <tr>
            <th>设计人员 </th>
            <td>{{douban_order.designers_names}}</td>
          </tr>
           <tr>
            <th>策划人员 </th>
            <td>{{douban_order.planers_names}}</td>
          </tr>
          <tr>
            <th>合同模板类型</th>
            <td>{{douban_order.contract_type_cn}}</td>
          </tr>
          <tr>
            <th>售卖类型</th>
            <td>{{douban_order.resource_type_cn}}</td>
          </tr>
          <tr>
            <th>代理/直客</th>
            <td>{{douban_order.sale_type_cn}}</td>
          </tr>
          <tr>
            <th>替代销售</th>
            <td>{{douban_order.replace_sales_names}}</td>
          </tr>
          <tr>
            <th style="color:red;">单笔返点</th>
            <td>{% if douban_order.self_agent_rebate_value.status == '0' %}
                无单笔返点
              {% else %}
                {{douban_order.self_agent_rebate_value.value}}元
              {% endif %}</td>
          </tr>
        </table>
        {% if g.user.is_operater() %}
        <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
        </form>
        {% endif %}
    </div>
</div>
{% endif %}
<script>
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}
$(document).ready(function(){
    $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true});
    var now_data = new Date()
    var now_month_data = new Date(now_data.getFullYear(), now_data.getMonth(), 1)
    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        {% if not g.user.is_super_leader() %}
        startDate: now_month_data,
        {% endif %}
        minView: 2
      });
    $("#client_end").change(function(e){
      var endDate = new Date($('#client_end').val());
      endDate.setDate(endDate.getDate() + 90); 
      $('#reminde_date').val(endDate.Format("yyyy-MM-dd"))
    });
    
    $("#self_rebate").change(function(e){
      var self_rebate = $('#self_rebate').val()
      if(self_rebate==1){
        $('#self_rebate_status').css('display', 'none');
        $('#self_rebate_value').css('display', 'block');
      }else{
        $('#self_rebate_value').css('display', 'none');
        $('#self_rebate_status').css('display', 'block');
      }
      set_default_rebate()
    })
    {% if douban_order %}
    var self_agent_rebate = "{{douban_order.self_agent_rebate}}";
    {% else %}
    var self_agent_rebate = "0-0";
    {% endif %}
    var p_self_agent_rebate = self_agent_rebate.split('-')
    $('#self_rebate').val(p_self_agent_rebate[0]);
    $('#self_rabate_value').val(p_self_agent_rebate[1]);
    $("#self_rebate").trigger("chosen:updated");
    if (p_self_agent_rebate[0] == '0'){
      $('#self_rebate_value').css('display', 'none');
      $('#self_rebate_status').css('display', 'block');
    }else{
      $('#self_rebate_value').css('display', 'block');
      $('#self_rebate_status').css('display', 'none');
    }
    /**
    $('#agent').change(function(){
      set_default_rebate();
    })
    $('#client_start').change(function(){
      set_default_rebate();
    })**/
    
});
function set_default_rebate(){
  $.ajax({
    type: 'POST',
    url: "/clients/agent/get_rebate_json",
    data: {'agent_id':$('#agent').val(), 'year': $('#client_start').val()},
    dataType: 'json',
    success:function(data) {
        var rebate = data['rebate'];
        var money = $('#money').val();
        var rebate_money = parseFloat(rebate / 100) * parseFloat(money)
        $('#self_rabate_value').val(parseInt(rebate_money))
    }
  });
}
function default_rebate(){
    $('#self_rebate').val(0);
    $('#self_rabate_value').val('0');
    $("#self_rebate").trigger("chosen:updated");
    $('#self_rebate_value').css('display', 'none');
    $('#self_rebate_status').css('display', 'block');
}
</script>
{%- endmacro %}
