<div class="container-fluid top_nav_fluid">
    <div class="menu">
        <div class="list">
            <ul>
                <!-- 只有leader和合同管理员才能看所有订单 -->
                {% if g.user.is_super_leader() or g.user.is_contract() or g.user.is_media() or g.user.is_operater() or g.user.is_media_leader() or g.user.is_finance() %}
                <a href="{{url_for('order.my_orders')}}">
                  <li id="_my_orders_">我的新媒体订单</li>
                </a>
                <a href="{{url_for('order.orders')}}">
                    <li id="_orders_">全部新媒体订单</li>
                </a>
                <a href="{{url_for('order.my_douban_orders')}}">
                  <li id="_my_douban_orders_">我的直签豆瓣订单</li>
                </a>
                <a href="{{url_for('order.douban_orders')}}">
                    <li id="_douban_orders_" >全部直签豆瓣订单</li>
                </a>
                {% else %}
                <a href="{{url_for('order.my_orders')}}">
                  <li id="_my_orders_" >我的新媒体订单</li>
                </a>
                <a href="{{url_for('order.my_douban_orders')}}">
                  <li id="_my_douban_orders_" >我的直签豆瓣订单</li>
                </a>
                {% endif %}
                <!-- 只有leader 销售 合同管理员才能看框架 -->
                {% if g.user.is_leader() or g.user.is_sale() or g.user.is_contract() or g.user.is_media() or g.user.is_media_leader() or g.user.is_finance() or g.user.is_aduit() %}
                <a href="{{url_for('order.my_framework_orders')}}">
                    <li id="_my_framework_orders_" >我的代理框架订单</li>
                </a>
                    {% if g.user.is_super_leader() or g.user.is_contract() or g.user.is_media() or g.user.is_media_leader() or g.user.is_finance() %}
                    <a href="{{url_for('order.framework_orders')}}">
                        <li id="_framework_orders_" >全部代理框架订单</li>
                    </a>
                    {% endif %}
                {% endif %}

                {% if g.user.is_super_leader() or g.user.is_contract() or g.user.is_media() or g.user.is_media_leader() or g.user.is_finance() %}
                <a href="{{url_for('order.my_medium_framework_orders')}}">
                    <li id="_my_medium_framework_orders_" >我的媒体框架订单</li>
                </a>
                    {% if g.user.is_super_leader() or g.user.is_contract() or g.user.is_media() or g.user.is_media_leader() or g.user.is_finance() %}
                    <a href="{{url_for('order.medium_framework_orders')}}">
                        <li id="_medium_framework_orders_" >全部媒体框架订单</li>
                    </a>
                    {% endif %}
                {% endif %}

                {% if g.user.is_contract() or g.user.is_finance() %}
                <a href="{{url_for('saler_client_order_data_query.back_money')}}">
                  <li id="_client_orderdata_query_" >新媒体订单数据查询</li>
                </a>
                <a href="{{url_for('saler_douban_order_data_query.back_money')}}">
                  <li id="_douban_orderdata_query_" >豆瓣订单数据查询</li>
                </a>
                {% endif %}
                <div class="line" style="clear: both"></div>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function(){
        var pathname = window.location.pathname;
        var p_pathname = pathname.split('/')
        if (p_pathname[3] == 'data_query'){
            $('#_'+p_pathname[2]+p_pathname[3]+'_').addClass("on");
        }else{
            $('#_'+p_pathname[2]+'_').addClass("on");
            if(['douban_order'].indexOf(p_pathname[2]) >= 0 ){
                $('#_my_douban_orders_').addClass("on");
            }
            if(['order', 'client_order'].indexOf(p_pathname[2]) >= 0 ){
                $('#_my_orders_').addClass("on");
            }
            if(['medium_framework_order'].indexOf(p_pathname[2]) >= 0 ){
                $('#_my_medium_framework_orders_').addClass("on");
            }else if(['framework_order'].indexOf(p_pathname[2]) >= 0 ){
                $('#_my_framework_orders_').addClass("on");
            }
        }
    })
</script>
