{% for (k, v) in SALE_TYPE_CN.items() %}
<div class="panel panel-info schedule-saletype">
  <div class="panel-heading">
    <label>售卖类型: {{v}} </label>
  </div>
  <div class="panel-body">
    <div id="schedule-content" data-saletype="{{k}}">
    </div>
    <a href="#" class="schedule-add btn btn-default"><span class="glyphicon glyphicon-plus"></span> 展示位置({{v}})</a>
  </div>
</div>
{% endfor %}

<a href="#" id="form-submit" class="btn btn-primary btn-sm col-md-offset-8" >生成订单项</a>
<style>
    th {text-align: center;}
    .sch-date {text-align: center;}
    .sch-num {text-align: center;}
    .sch-num input{display: inline-block; width: 50px; text-align: right;}
</style>

<script type="txt/template" id="schedule-tpl">
<div class="well schedule-form">
  <div class="form-group">
    <label for="position" class="col-md-2 control-label">展示位置: </label>
    <div class="col-md-4">
      <select class="position form-control position-select" name="position">
        {% for (k, v) in positions %}
            <option value="{{k}}">{{v}}</option>
        {% endfor %}
      </select>
    </div>
    <label for="sale_type" class="col-md-2 control-label">特殊/定向: </label>
    <div class="col-md-4">
      <select class="special_sale form-control" name="special_sale">
        {% for (k, v) in SPECIAL_SALE_CN.items() %}
            <option value="{{k}}">{{v}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group form-description">
    <label for="description" class="col-md-2 control-label">特殊要求: </label>
    <div class="col-md-8">
      <textarea class="description form-control" name="description" placeholder="请写明特殊投放要求, 或定向条件"/>
    </div>
  </div>
 <div class="form-group">
    <table class="table table-striped table-bordered" id="schedule-table">
    </table>
  </div>
 <div class="form-group">
    <label class="col-md-2 control-label">总预订量: </label>
    <div class="col-md-2">
        <div class="col-md-2 schedule-sum" style="padding-top: 7px;"> 0 </div>
    </div>
    <a class="schedule-delete btn btn-default">取消</a>
 </div>
</div>
</script>
<script>
$(document).ready(function(){
    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2
      });
    // 新建一个展示位置的排期
    $(".schedule-add").click(function(){
      var schedule_tpl = $("#schedule-tpl").html(); 
      $(this).parents(".schedule-saletype").find("#schedule-content").append(schedule_tpl);

      load_schedule($(this).parents(".schedule-saletype").find(".schedule-form").last().find(".position"));
      $(this).parents(".schedule-saletype").find(".schedule-form").last().find(".form-description").hide();
    });
    // 删除排期
    $("body").on('click', ".schedule-delete", function(){
        $(this).parents(".schedule-form").remove(); 
    });
 
    // 排期表单 单元
    function schedule_td(schedule){
        var weekday = schedule[2];
        if((schedule[1])>0){
          var td = '<td class="weekday-'+weekday+'"><div class="sch-date">' + 
            schedule[0] + 
            '</div><div class="sch-num">' +
            '<input type="text" class="order-num" name="' + schedule[0] +
            '" value="0" data-max="'+schedule[1]+'"/>' + ' / '+ schedule[1] +'</div></td>';
        }
        else{
          var td = '<td><div class="sch-date">' + schedule[0] + '</div><div class="sch-num">无资源</div></td>';
        }
        if(weekday == 1){ td = '<tr>' + td; }
        if(weekday == 7){ td = td + '</tr>';}
        return td;
    }
    // 排期表单 单元
    function schedule_header(schedule){
        var _content = '<tr> <th class="info">周一</th> <th class="info">周二</th> <th class="info">周三</th> <th class="info">周四</th> <th class="info">周五</th> <th class="success">周六</th> <th class="success">周日</th></tr>',
        weekday = schedule[2];
        if(weekday > 1){
          _content = _content + '<tr>';
          for(var i=1; i < weekday; i++ )
          {
              _content = _content + '<td></td>';
          }
        }
        return _content;
    }
    // 从服务器load该展示位置的排期数据
    function load_schedule(position){
      var start = $("#start_date").val(),
      end = $("#end_date").val();
      $.getJSON('{{url_for("order.schedule_info")}}?start='+start+'&end='+end+'&position='+position.val(),
          function(result){
            table_content = schedule_header(result['schedules'][0]);
            for(var x in result['schedules']){
                table_content = table_content + schedule_td(result['schedules'][x]);
            }
            position.parents(".schedule-form").find("#schedule-table").html(table_content);
          });
    }
    // 展示位置改变, 重新加载数据
    $("body").on('change', ".position-select", function(){
      load_schedule($(this));
    });
    // 展示位置特殊投放
    $("body").on('change', ".special_sale", function(){
        if($(this).val() == '0'){
            $(this).parents('.schedule-form').find('.form-description').hide();
        }else{
            $(this).parents('.schedule-form').find('.form-description').show();
        }
    });
    // 预订数量改变
    $("body").on('keyup', ".order-num", function(){
        var form = $(this).parents('.schedule-form');
        var sum = get_sum_and_check_order_num($(form).find(".order-num"));
        $(form).find(".schedule-sum").html(sum);
    });
    function get_sum_and_check_order_num(schedules){
      var sum = 0;
      if(schedules.length > 0){
        for(var x=0; x<schedules.length; x++){
          var schedule = schedules[x];
          if($(schedule).val() > 0){
            var max = parseInt($(schedule).data('max')),
                val = parseInt($(schedule).val());
            sum = sum + val;
            if(val > max){
                $(schedule).parent().parent().addClass('danger');
            }else{
                $(schedule).parent().parent().removeClass('danger');
            }
          }
        }
      }
      return sum;
    }
    // 整理要提交的排期数据
    function get_form_schedule_data(schedules){
      var ret = {};
      if(schedules.length > 0){
        for(var x=0; x<schedules.length; x++){
          var schedule = schedules[x];
          if($(schedule).val() > 0){
            ret[schedule.name] = $(schedule).val();
          }
        }
      }
      return ret;
    }
    function get_form_all_data(){
        var ret = [];
        if($(".schedule-form").length > 0){
          for(var x=0; x<$(".schedule-form").length; x++){
              var form = $(".schedule-form")[x],
              form_data = {};
              form_data['sale_type'] = $(form).parent().data('saletype');
              form_data['special_sale'] = $(form).find(".special_sale").val();
              if(form_data['special_sale'] == '0'){
                form_data['description'] = "";
              }else{
                form_data['description'] = $(form).find(".description").val(); 
              }
              form_data['position'] = $(form).find(".position").val();
              form_data['schedule'] = get_form_schedule_data($(form).find(".order-num"));
              if(!$.isEmptyObject(form_data['schedule'])){ ret.push(form_data);}
          }
        }
        return ret;
    }
    function post_schedules(sent_data){
      if(sent_data.length==0){alert("所有排期项都为空!");}
      else{
        $.post('{{url_for("order.schedules_post", order_id=order.id)}}',
          {data: $.toJSON(sent_data)},
          function(data) {
            if(data['status'] == '0'){
              window.location.href = "{{url_for("order.order_detail", order_id=order.id)}}";
            }
            else{
              alert(data['msg']);
            }
          },
          'json'); 
      }
    }
    $("#form-submit").click(function(){
        if($(".schedule-form").length==0){alert("请先新建排期项!");}
        else{ post_schedules(get_form_all_data());}
    });

    //load_schedule($("#position").val(), $("#start_date").val(), $("#end_date").val());


/* 暂时保留, 后期会根据饿售卖类型和特殊售卖筛选展示位置*/
/*
    function load_position(sale_type, special_sale){
      $.getJSON('{{url_for("order.position_list")}}?order={{order.id}}&sale_type='+sale_type+'&special_sale='+special_sale,function(result){
        $("#position")[0].options.length = 0;
        for(var x in result){
            $("#position")[0].options.add(new Option(result[x], x));
        }
        $("#position_chosen").remove();
        $("#position").show();
        $("#position").chosen({placeholder_text:"请选择...", disable_search_threshold: 10});
        });
    } 
    $("#sale_type").change(function(){
      load_position($("#sale_type").val(), $("#special_sale").val());
    });
    $("#special_sale").change(function(){
      load_position($("#sale_type").val(), $("#special_sale").val());
    });
*/
});
</script>
