<div class="panel panel-info schedule-saletype">
  <div class="panel-heading">
    <label>售卖类型: {{ SALE_TYPE_CN[type|int] }} </label>
  </div>
  <div class="panel-body">
    <div id="schedule-content" data-saletype="{{ type }}">
    </div>
    <a href="#" class="schedule-add btn btn-default"><span class="glyphicon glyphicon-plus"></span> 展示位置({{ SALE_TYPE_CN[type|int] }})</a>
  </div>
</div>

<a href="#" id="form-submit" class="btn btn-primary btn col-md-offset-5" >预订资源</a>
<style>
    th {text-align: center;}
    .sch-date {text-align: center;}
    .sch-num {text-align: center;}
    .sch-num input{display: inline-block; width: 50px; text-align: right;}
</style>

<script type="txt/template" id="schedule-tpl">
<div class="well schedule-form">
  <div class="form-group">
    <label for="position" class="col-md-2 control-label">展示位置: </label>
    <div class="col-md-4">
      <select class="position form-control position-select" name="position">
        {% for (k, v) in positions %}
            <option value="{{k}}">{{v}}</option>
        {% endfor %}
      </select>
    </div>
    <label for="sale_type" class="col-md-2 control-label">特殊/定向: </label>
    <div class="col-md-4">
      <select class="special_sale form-control" name="special_sale">
        {% for (k, v) in SPECIAL_SALE_CN.items() %}
            <option value="{{k}}">{{v}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group form-description">
    <label for="description" class="col-md-2 control-label">特殊要求: </label>
    <div class="col-md-8">
      <textarea class="description form-control" name="description" placeholder="请写明特殊投放要求, 或定向条件"/>
    </div>
  </div>
 <div class="form-group">
    <table class="table table-striped table-bordered" id="schedule-table">
    </table>
  </div>
 <div class="form-group">
    <label class="col-md-2 control-label">快速预订工具: </label>
    <div class="col-md-2">
      <input class="form-control speed-value" value='0'/>
    </div>
    <div class="col-md-4">
      <a class="speed-workday btn btn-info">工作日</a>
      <a class="speed-weekend btn btn-success">仅周末</a>
      <a class="speed-all btn btn-primary">全部</a>
    </div>
 </div>
 <div class="form-group">
    <label class="col-md-2 control-label">总预订量: </label>
    <div class="col-md-2">
        <div class="col-md-2 schedule-sum" style="padding-top: 7px;"> 0 </div>
    </div>
    <a class="schedule-delete btn btn-default">取消</a>
 </div>
</div>
</script>
<script>
var order_id = {{order.id}};
</script>
<script src="/static/js/schedule.js"></script>
