{% extends "/base_v1_0_0.html" %}
{% from 'comments.html' import comments_box %}

{% block content %}
{% include "/finance/finance_base_v1_0_0.html" %}
{% macro merger_table(merger_outsources, status, target) -%}
<div class="panel-group" id="accordion-outsource">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-outsource">
                      {% if status == 2 %}
                      申请中打款
                      {% elif status == 0 %}
                      已打款
                      {% endif %}
                      的外包信息
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            {% if status == 2 %}
                            <th>选择</th>
                            {% endif %}
                            <th>申请打款总金额</th>
                            <th>是否有发票</th>
                            <th>发票信息</th>
                            {% if status ==2 %}
                            <th>申请时间</th>
                            {% else %}
                            <th>打款时间</th>
                            {% endif %}
                            <th>收款方</th>
                            <th>开户行</th>    
                            <th>卡号</th>
                            <th>支付宝</th>
                            <th>订单名称</th>
                            <th>订单合同号</th>
                            <th>媒体订单</th>
                            <th>媒体合同号</th>
                            <th>成本金额</th>
                            <th>打款金额</th>
                            <th>备注</th>
                        </tr>
                        {% for t in merger_outsources %}
                        <tr>
                            {% if status == 2 %}
                            <td rowspan="{{t.outsources|length + 1}}"><input type="checkbox" name="outsource-id" class="outsource-id" value="{{t.id}}"/></td>
                            {% endif %}
                            <td rowspan="{{t.outsources|length + 1}}">{{t.pay_num}}</td>
                            <td rowspan="{{t.outsources|length + 1}}">{% if t.invoice %}有{%else%}无{%endif%}</td>
                            <td rowspan="{{t.outsources|length + 1}}">{{ t.remark }}</td>
                            
                        </tr>
                          {% for o in t.outsources %}
                          <tr>
                              <td>{% if status == 2 %}{{t.create_time_cn}}{% else %}{{o.create_time_cn}}{% endif %}</td>
                              <td><a tabindex="0" class="popover_a" role="button" data-toggle="popover" data-trigger="focus" data-content="{{o.invoices_cn|safe}}">{{ o.target.name }}</a></td>
                              <td>{{ o.target.bank }}</td>
                              <td>{{ o.target.card }}</td>
                              <td>{{ o.target.alipay }}</td>
                              <td>{{o.medium_order.client_order.name}}</td>
                              <td>{{o.medium_order.client_order.contract}}</td>
                              <td>{{o.medium_order.name}}</td>
                              <td>{{o.medium_order.medium_contract}}</td>
                              <td>{{o.num}}</td>
                              <td>{{o.pay_num}}</td>
                              <td>{{o.remark}}</td>
                          </tr>
                          {% endfor %}
                          <tr>
                            <td style="text-align:center">合计</td>
                            <td colspan=15>
                                {{t.outsources|sum(attribute='pay_num')|format_price}}
                            </td>
                          </tr>
                        {% endfor %}
                    </table>
                    {% if status == 2 %}
                    <input type="checkbox" name="outsource-all" class="outsource-all" onclick="check_all(this);"/> 全选
                    {% if target %}
                    <form class="input-row-box outsource-status-form" id="status-form" method="POST" action="{{url_for('finance_outsource_pay.merget_client_target_paid', target_id=target.id)}}">
                    {% else %}
                    <form class="input-row-box outsource-status-form" id="status-form" method="POST" action="{{url_for('finance_outsource_pay.merget_client_target_paid', target_id=0)}}">
                    {% endif %}
                       <div class="input-group-menu">
                          <div class="name">提醒邮箱 : </div>
                              <select class="surname" style="width:300px;" id="contract-email" multiple="" name="email" placeholder="请输入需要提醒人员的邮箱">
                                {% for u in reminder_emails %}
                                <option value="{{u[1]}}">{{u[0]}}</option>
                                {% endfor %}
                              </select>
                       </div>
                       <div class="input-group-menu">
                          <div class="name">留言 : </div>
                              <textarea class="surname" style="width:300px;" id="msg"
                              name="msg" rows="4" placeholder="请输入需要附加在邮件中的留言..."></textarea>
                       </div>
                       <div class="input-group-menu" style="margin-top:70px;">
                          <div class="name">打款时间</div>
                            <input class="datetimepicker surname" style="width:300px;" id="pay_time" name="pay_time" type="text" value="" readonly="readonly" data-date-format="yyyy-mm-dd">
                       </div>
                       <div class="input-group-menu">
                          <div class="name">操作 : </div>
                            {% if g.user.is_finance() %}
                            <div class="state">
                              <button type="submit" name="action" value="0">确认</button>
                            </div>
                            {% endif %}
                       </div>
                     </form>
                     {% endif %}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}
<div class="container bra-box" style="width:1600px;">
    {% if target %}
    <h3>外包收款方信息</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>外包商名称</th>
            <th>类型</th>
            <th>开户行</th>    
            <th>卡号</th>
            <th>支付宝</th>
            <th>联系方式</th>
        </tr>
        <tr>
            <td>{{ target.name }}</td>
            <td>{{ target.type_cn }}</td>
            <td>{{ target.bank }}</td>
            <td>{{ target.card }}</td>
            <td>{{ target.alipay }}</td>
            <td>{{ target.contract }}</td> 
        </tr>
    </table>
    {% else %}
    <h3>个人外包收款方合并打款</h3>
    {% endif %}
    <!--申请中的打款信息开始-->
    {% if apply_money_merger_outsources|length > 0 %}
      {{ merger_table(apply_money_merger_outsources, 2, target) }}
    {% endif %}
    <!--申请中的打款信息结束-->
    <!--已打款的外包信息-->
    {% if paid_merger_outsources|length > 0 %}
      {{ merger_table(paid_merger_outsources, 0, target) }}
    {% endif %}
    <!---->
</div>
<script>
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}
  function check_all(e){
    $(e).parent().find(".outsource-id").prop("checked", $(e).prop("checked"));
    $(e).parent().find(".outsource-id").trigger("change");
  }
  $(function(){
    $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true}); 
    $('.popover_a').popover({
      html:true,
      template:'<div class="popover" role="tooltip" style="min-width:1000px;"><div class="arrow"></div><div class="popover-content" style="min-width:1000px;"></div></div>'
    })
    showoutsource = function(ele){
      $(ele).hide();
      $("#new-outsource").show();
    };

    $('#pay_time').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2
      });
    var now_date = new Date()
    $('#pay_time').val(now_date.Format("yyyy-MM-dd"))

    $(".outsource-id").change(function(e){
      if($(this).prop("checked")){
        if($("#form-outsource-"+$(this).val()).length < 1){
          $(this).parents(".panel-collapse").find(".outsource-status-form")
          .append('<input class="hide outsources" name="outsources" id="form-outsource-'+$(this).val()+'" value="'+$(this).val()+'"/>');
        }
      }else{
        $(this).parents(".panel-collapse").find(".outsource-all").prop("checked", false);
        if($("#form-outsource-"+$(this).val()).length > 0){
          $("#form-outsource-"+$(this).val()).remove();
        }
      }
    });
    $(".status-outsource-btn").click(function(e){
      var actionVal = $(this).val();
      var email = $(this).parents('form').find("#contract-email").val();
      var outsources = $(this).parents('form').find(".outsources");
      var msg = $(this).parents('form').find("#msg").val();
      var pay_time = $('#pay_time').val()
      if(outsources.length < 1){
        alert("请勾选要申请的项目!");
        e.preventDefault();
      }
      if (pay_time == ''){
        alert("请选择打款时间!");
        e.preventDefault();
      }
      if(actionVal == '2'){
        if(msg == ""){
            alert("请填写理由！");
            e.preventDefault();
         }
      }
    });
  });
</script>
{% endblock %}