{% extends "/base_v1_0_0.html" %}
{% block title %}客户总表{% endblock %}
{% block content %}
{% include "/data_query/super_leader/super_leader_base_v1_0_0.html" %}
{% macro tbody(data, title, money) %}
<tbody>
    <tr>
        <td rowspan="{{data|sum(attribute='th_n') + 1000}}">{{title}}</td>
    </tr>
    {% for k in data %} 
    <tr>
        <td rowspan="{{k.th_n + 1 + k.clients|length}}">{{k.industry_name}}</td>   
    </tr>
        {% for c in k['clients'] %}
            <tr>
                <td rowspan="{{c.agent_count+1}}">{{c.name}}</td>
            </tr>
            {% if c.agents %}
                {% for k, v in c.agents.iteritems() %}
                    <tr>
                        <td>{{k}}</td>
                        {% for i in v %}
                            <td>{{i|format_price}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td></td>
                    {% for k in range(17)%}
                    <td>{{0|format_price}}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</tbody>
<tbody>
    <tr>
        <td colspan=4>总计</td>
        {% for i in money %}
        <td>{{i|format_price}}</td>
        {% endfor %}
    </tr>
</tbody>
{%- endmacro  %}
<div class="container bra-box" id="medium_box" style="width:1400px;">
    <div class="table-switch">
        <ul>
            <li id="_location_li_1_">
                <a id="_location_1_" href="?location=1">华北</a>
            </li>
            <li id="_location_li_2_">
                <a id="_location_2_" href="?location=2">华东</a>
            </li>
            <li id="_location_li_3_" class="">
                <a id="_location_3_" href="?location=3">华南</a>
            </li>
        </ul>
    </div>
    <div class="search-bar">
        <form class="menu-btn-bar" style="float:left;">
            <div class="select_option">
                <label for="sale_type" class="control-label">查询时间：</label>
                <select class="form-control special_sale" name="year" id="year" style="width:100px;">
                    {% for k in range(5) %}
                    <option value='{{2014+k}}'>{{2014+k}}年</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select_option screen">
                <input type="submit" value="筛选">
            </div>
            <div class="select_option return">
                <input type="button" value="导出" onclick="javascript:download();">
            </div>
        </form>
    </div>
    <div id="container"></div>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th rowspan=2>区域</th>
                    <th rowspan=2>行业</th>
                    <th rowspan=2 width="10%">客户</th>
                    <th rowspan=2>代理</th>
                    <th colspan=3>{{year-2}}</th>
                    <th colspan=3>{{year-1}}</th>
                    <th></th>
                    <th colspan=2>{{year}} Q1</th>
                    <th colspan=2>{{year}} Q2</th>
                    <th colspan=2>{{year}} Q3</th>
                    <th colspan=2>{{year}} Q4</th>
                    <th colspan=2></th>
                </tr>
                <tr>
                    <th>新媒体</th>
                    <th>豆瓣</th>
                    <th>TOTAL</th>
                    <th>新媒体</th>
                    <th>豆瓣</th>
                    <th>TOTAL</th>
                    <th>增长率</th>
                    <th>新媒体</th>
                    <th>豆瓣</th>
                    <th>新媒体</th>
                    <th>豆瓣</th>
                    <th>新媒体</th>
                    <th>豆瓣</th>
                    <th>新媒体</th>
                    <th>豆瓣</th>
                    <th>TOTAL</th>
                    <th>增长率</th>
                </tr>
            </thead>
            {% if location == 1 %}
                {{ tbody(data, '华北', money)}}
            {% elif location == 2 %}
                {{ tbody(data, '华东', money)}}
            {% elif location == 3 %}
                {{ tbody(data, '华南', money)}}
            {% endif %}
        </table>
    </div>
</div>
<script src="/static/js/highcharts/highcharts.js"></script>
<script src="/static/js/highcharts/themes/grid-light.js"></script>
<script src="/static/js/jquery.json.min.js"></script>
<script type="text/javascript">
	$(function(){
        var pathname = window.location.pathname;
        var path_name = pathname.split("/")
        $("#_location_{{location}}_").addClass("on");
        $("#_location_li_{{location}}_").addClass("actives");

		$('select').chosen({disable_search: true});
        $('#year').val('{{year}}');
        $("#year").trigger("chosen:updated");
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '区域客户分析'
            },
            xAxis: {
                categories: {{categories|safe}}
            },
            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: '执行额'
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },
            series: {{series|safe}}
        });
	})
    function download(){
        var year = $('#year').val();
        params = '?action=excel&year='+year;
        window.location.href = window.location.pathname + params;
    }
</script>
{% endblock %}