{% extends "/base_v1_0_0.html" %}
{% block title %}客户总表{% endblock %}
{% block content %}
{% include "/data_query/super_leader/super_leader_base_v1_0_0.html" %}
<div class="container bra-box" id="medium_box" style="width:1200px;">
    <div class="search-bar">
        <form class="menu-btn-bar" style="float:left;">
            <div class="select_option">
                <label for="sale_type" class="control-label">查询时间：</label>
                <select class="form-control special_sale" name="year" id="year" style="width:100px;">
                    {% for k in range(5) %}
                    <option value='{{2014+k}}'>{{2014+k}}年</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select_option screen">
                <input type="submit" value="筛选">
            </div>
            <div class="select_option return">
                <input type="button" value="导出" onclick="javascript:download();">
            </div>
        </form>
    </div>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>区域</th>
                    <th>行业</th>
                    <th>客户</th>
                    <th>代理</th>
                    <th>Q1</th>
                    <th>Q2</th>
                    <th>Q3</th>
                    <th>Q4</th>
                </tr>
            </thead>
            <tbody>
               <tr>
                    <td rowspan="{{HB_data.location_data|sum(attribute='html_order_count')+1}}">华北</td>
               </tr> 
               {% for k in HB_data.location_data %}
                <tr>
                    <td rowspan='{{k.html_order_count}}'>{{k.name}}</td>
                </tr>
                    {% for c in k.clients %}
                        <tr>
                            <td rowspan='{{c.html_order_count+1}}'>{{c.name}}</td>
                        </tr>
                            {% for o in c.orders %}
                                <tr>
                                    <td>
                                    {% if o.table_name == 'bra_client_order' %}
                                        <a href="{{url_for('order.order_info', order_id=o.id, tab_id=1)}}" target="_blank">{{o.agent_name}}</a>
                                    {% else %}
                                        <a href="{{url_for('order.douban_order_info', order_id=o.id)}}" target="_blank">{{o.agent_name}}</a>
                                    {% endif %}
                                    </td>
                                    <td>{{o.Q1_money}}</td>
                                    <td>{{o.Q2_money}}</td>
                                    <td>{{o.Q3_money}}</td>
                                    <td>{{o.Q4_money}}</td>
                                </tr>
                            {% endfor %}
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td colspan=4 style="text-align: center">总计</td>
                    <td>{{HB_data.total_Q1_money}}</td>
                    <td>{{HB_data.total_Q2_money}}</td>
                    <td>{{HB_data.total_Q3_money}}</td>
                    <td>{{HB_data.total_Q4_money}}</td>
                </tr>
            </tbody>
            <tbody>
               <tr>
                    <td rowspan="{{HD_data.location_data|sum(attribute='html_order_count')+1}}">华东</td>
               </tr> 
               {% for k in HD_data.location_data %}
                <tr>
                    <td rowspan='{{k.html_order_count}}'>{{k.name}}</td>
                </tr>
                    {% for c in k.clients %}
                        <tr>
                            <td rowspan='{{c.html_order_count+1}}'>{{c.name}}</td>
                        </tr>
                            {% for o in c.orders %}
                                <tr>
                                    <td>
                                    {% if o.table_name == 'bra_client_order' %}
                                        <a href="{{url_for('order.order_info', order_id=o.id, tab_id=1)}}" target="_blank">{{o.agent_name}}</a>
                                    {% else %}
                                        <a href="{{url_for('order.douban_order_info', order_id=o.id)}}" target="_blank">{{o.agent_name}}</a>
                                    {% endif %}
                                    </td>
                                    <td>{{o.Q1_money}}</td>
                                    <td>{{o.Q2_money}}</td>
                                    <td>{{o.Q3_money}}</td>
                                    <td>{{o.Q4_money}}</td>
                                </tr>
                            {% endfor %}
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td colspan=4 style="text-align: center">总计</td>
                    <td>{{HD_data.total_Q1_money}}</td>
                    <td>{{HD_data.total_Q2_money}}</td>
                    <td>{{HD_data.total_Q3_money}}</td>
                    <td>{{HD_data.total_Q4_money}}</td>
                </tr>
            </tbody>
            <tbody>
               <tr>
                    <td rowspan="{{HN_data.location_data|sum(attribute='html_order_count')+1}}">华南</td>
               </tr> 
               {% for k in HN_data.location_data %}
                <tr>
                    <td rowspan='{{k.html_order_count}}'>{{k.name}}</td>
                </tr>
                    {% for c in k.clients %}
                        <tr>
                            <td rowspan='{{c.html_order_count+1}}'>{{c.name}}</td>
                        </tr>
                            {% for o in c.orders %}
                                <tr>
                                    <td>
                                    {% if o.table_name == 'bra_client_order' %}
                                        <a href="{{url_for('order.order_info', order_id=o.id, tab_id=1)}}" target="_blank">{{o.agent_name}}</a>
                                    {% else %}
                                        <a href="{{url_for('order.douban_order_info', order_id=o.id)}}" target="_blank">{{o.agent_name}}</a>
                                    {% endif %}
                                    </td>
                                    <td>{{o.Q1_money}}</td>
                                    <td>{{o.Q2_money}}</td>
                                    <td>{{o.Q3_money}}</td>
                                    <td>{{o.Q4_money}}</td>
                                </tr>
                            {% endfor %}
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td colspan=4 style="text-align: center">总计</td>
                    <td>{{HN_data.total_Q1_money}}</td>
                    <td>{{HN_data.total_Q2_money}}</td>
                    <td>{{HN_data.total_Q3_money}}</td>
                    <td>{{HN_data.total_Q4_money}}</td>
                </tr>
                <tr>
                    <td colspan=4 style="text-align: center">三区总计</td>
                    <td>{{HB_data.total_Q1_money + HD_data.total_Q1_money + HN_data.total_Q1_money}}</td>
                    <td>{{HB_data.total_Q2_money + HD_data.total_Q2_money + HN_data.total_Q2_money}}</td>
                    <td>{{HB_data.total_Q3_money + HD_data.total_Q3_money + HN_data.total_Q3_money}}</td>
                    <td>{{HB_data.total_Q4_money + HD_data.total_Q4_money + HN_data.total_Q4_money}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
	$(function(){
		$('select').chosen({disable_search: true});
        $('#year').val('{{year}}');
        $("#year").trigger("chosen:updated");
	})
    function download(){
        var year = $('#year').val();
        params = '?action=excel&year='+year;
        window.location.href = window.location.pathname + params;
    }
</script>
{% endblock %}