{% extends "/base.html" %}
{% block title %}媒体清单{% endblock %}
{% block content %}
{% include "/data_query/data_query_base.html" %}
{% macro medium_tr(order, title, color) -%}
    <tr>
        <td  style="background-color:#{{color}};">{{title}}收入</td>
        {% for k in order.sale_money %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ order.sale_money|sum()|format_price }}</td>
    </tr>
    <tr>
        <td  style="background-color:#{{color}};">{{title}}媒体合同金额</td> 
        {% for k in order.money2 %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ order.money2|sum()|format_price }}</td>
    </tr>


    <tr>
        <td  style="background-color:#{{color}};">{{title}}媒体净成本</td> 
        {% for k in order.m_ex_money %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ order.m_ex_money|sum()|format_price }}</td>
    </tr>
    <tr>
        <td  style="background-color:#{{color}};">{{title}}代理成本</td> 
        {% for k in order.a_rebate %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ order.a_rebate|sum()|format_price }}</td>
    </tr>
    <tr>
        <td  style="background-color:#{{color}};">{{title}}豆瓣毛利</td> 
        {% for k in order.profit %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ order.profit|sum()|format_price }}</td>
    </tr>
{%- endmacro %}

<div class="container bra-box" id="medium_box" style="width:1000px;">
    <h3>媒体清单</h3>
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputEmail2">时间</label>
            <select class="col-md-12" id="year" name="year" placeholder="时间">
                {% for k in range(10) %}
                <option value='{{2014+k}}'>{{2014+k}}年</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
        <input type="button" value="导出Excel" class="btn btn-sm btn-default" onclick="javascript:download();">
    </form>
    <br>
    <table class="table table-bordered">
    <tr>
        <td colspan=2 style="width:8%;">时间</td>
        {% for k in pre_monthes %}
        <td colspan=3>{{k.month.month}}月</td>
        {% endfor %}
        <td>总计</td>
    </tr>
    <tr>
        <td colspan=2>媒体项目</td>
        {% for k in pre_monthes %}
        <td>华北</td>
        <td>华东</td>
        <td>华南</td>
        {% endfor %}
        <td></td>
    </tr>
    <tr>
        <td rowspan=88>致趣收入</td>
        <td  style="background-color:#CCFF99;">豆瓣执行收入</td>
        {% for k in douban_money.sale_money %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ douban_money.sale_money|sum()|format_price }}</td>
    </tr>
    <tr>
        <td  style="background-color:#CCFF99;">豆瓣服务费收入计提</td> 
        {% for k in douban_money.money2 %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ douban_money.money2|sum()|format_price }}</td>
    </tr>
    <tr>
        <td  style="background-color:#CCFF99;">豆瓣返点成本</td> 
        {% for k in douban_money.a_rebate %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ douban_money.a_rebate|sum()|format_price }}</td>
    </tr>
    <tr>
        <td  style="background-color:#CCFF99;">豆瓣毛利</td> 
        {% for k in douban_money.profit %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ douban_money.profit|sum()|format_price }}</td>
    </tr>
    <tr>
        <td colspan=36 style="height:30px;"></td>
    </tr>

    {{ medium_tr(youli_money, '优力互动', 'CCFF99') }}

    <tr>
        <td colspan=36 style="height:30px;"></td>
    </tr>

    {{ medium_tr(wuxian_money, '无线互联', 'CCFF99') }}
    
    <tr>
        <td colspan=36 style="height:30px;"></td>
    </tr>

    {{ medium_tr(momo_money, '陌陌', '33CCFF') }}
    
    <tr>
        <td colspan=36 style="height:30px;"></td>
    </tr>

    {{ medium_tr(zhihu_money, '知乎', '0066FF') }}

    <tr>
        <td colspan=36 style="height:30px;"></td>
    </tr>

    {{ medium_tr(xiachufang_money, '下厨房', 'AA7700') }}

    <tr>
        <td colspan=36 style="height:30px;"></td>
    </tr>

    {{ medium_tr(xueqiu_money, '雪球', '007799') }}

    <tr>
        <td colspan=36 style="height:30px;"></td>
    </tr>

    {{ medium_tr(huxiu_money, '虎嗅', '9F88FF') }}

    <tr>
        <td colspan=36 style="height:30px;"></td>
    </tr>

    {{ medium_tr(kecheng_money, '课程格子', 'FF8888') }}

    <tr>
        <td colspan=36 style="height:30px;"></td>
    </tr>

    {{ medium_tr(midi_money, '迷笛', 'FFBB00') }}

    <tr>
        <td colspan=36 style="height:30px;"></td>
    </tr>

    {{ medium_tr(weipiao_money, '微票', 'FF3333') }}

    <tr>
        <td colspan=36 style="height:30px;"></td>
    </tr>
    {{ medium_tr(one_money, 'ONE', 'E93EFF') }}

    <tr>
        <td colspan=36 style="height:30px;"></td>
    </tr>

    {{ medium_tr(other_money, '其他', 'AAAAAA') }}

    <tr>
        <td colspan=36 style="height:30px;"></td>
    </tr>

    <tr>
        <td style="background-color:#FF0088;">搜索部门收入</td>
        {% for k in searchAD_money.sale_money %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ searchAD_money.sale_money|sum()|format_price }}</td>
    </tr>
    <tr>
        <td style="background-color:#FF0088;">搜索部门返点收入</td>
        {% for k in rebate_order_money.sale_money %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ rebate_order_money.sale_money|sum()|format_price }}</td>
    </tr>
    <tr>
        <td style="background-color:#FF0088;">搜索部门执行金额</td>
        {% for k in searchAD_money.money2 %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ searchAD_money.money2|sum()|format_price }}</td>
    </tr>
    <tr>
        <td style="background-color:#FF0088;">搜索部门净成本</td> 
        {% for k in searchAD_money.m_ex_money %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ searchAD_money.m_ex_money|sum()|format_price }}</td>
    </tr>
    <tr>
        <td style="background-color:#FF0088;">搜索部门代理成本</td> 
        {% for k in searchAD_money.a_rebate %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ searchAD_money.a_rebate|sum()|format_price }}</td>
    </tr>
    <tr>
        <td style="background-color:#FF0088;">搜索部门毛利</td> 
        {% for k in searchAD_money.profit %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ searchAD_money.profit|sum()|format_price }}</td>
    </tr>
    <tr>
        <td>合计</td>
        {% for k in total %}
        <td>{{k|format_price}}</td>
        {% endfor %}
        <td>{{ total|sum()|format_price }}</td>
    </tr>
</table>
</div>

<script>
    $(function(){
        var width = 110*(parseInt('{{other_money.profit|length}}')+3)
        $("#medium_box").width(width);
        $("#year").val("{{year}}");
        $("#year").trigger("chosen:updated");
    })
    function download(){
         window.location.href = window.location.pathname + '?action=download&year='+$('#year').val();
    }
</script>
{% endblock %}
