<!--导航-->
<div class="top-nav-wrap">
    <div class="top-nav" style="top: 15px;">
        {% if g.user.is_super_leader() or g.user.is_aduit()  or g.user.is_finance()%}
        <ul>
            <li id="_industry_" class="nav-first">
              <a href="{{url_for('data_query_super_leader_industry.client_order')}}">行业分析</a>
              <span>|</span>
            </li>
            <li id="_agent_">
              <a href="{{url_for('data_query_super_leader_agent.client_order')}}">代理分析</a>
              <span>|</span>
            </li>
            <li id="_client_">
              <a href="{{url_for('data_query_super_leader_client.client_order')}}">客户分析</a>
              <span>|</span>
            </li>
            <li id="_sale_type_">
              <a href="{{url_for('data_query_super_leader_sale_type.client_order')}}">售卖类型分析</a>
              <span>|</span>
            </li>
            <li id="_agent_total_" class="nav-last">
              <a href="{{url_for('data_query_super_leader_agent_total.index')}}">代理总表</a>
            </li>
        </ul>
        <ul>
            <li id="_money_" class="nav-first">
              <a href="{{url_for('data_query_super_leader_money.client_order')}}">执行金额分析</a>
              <span>|</span>
            </li>
            <li id="_client_info_">
              <a href="{{url_for('data_query_super_leader_client_info.client_order')}}">客户数量分析</a>
              <span>|</span>
            </li>
            <li id="_back_money_">
              <a href="{{url_for('data_query_super_leader_back_money.client_order')}}">回款分析</a>
              <span>|</span>
            </li>
            <li id="_medium_info_">
              <a href="{{url_for('data_query_super_leader_medium_info.index')}}">媒体执行额分析</a>
              <span>|</span>
            </li>
            <li class="nav-last" id="_client_total_">
              <a href="{{url_for('data_query_super_leader_client_total.index')}}">客户总表</a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
<script>
    $(function(){
        var pathname = window.location.pathname;
        var p_pathname = pathname.split('/')
        $('#_'+p_pathname[3]+'_').addClass("active");
    })
</script>
