<div class="container-fluid top_nav_fluid">
    <div class="menu">
        <div class="list">
          <ul>
            {% if g.user.is_super_leader() %}
            <!--<a href="{{url_for('data_query_super_leader_medium.money')}}">
              <li id="_medium_" >媒体清单</li>
            </a>-->
            <a href="{{url_for('data_query_super_leader_industry.client_order')}}">
              <li id="_industry_" >行业分析</li>
            </a>
            <a href="{{url_for('data_query_super_leader_agent.client_order')}}">
              <li id="_agent_" >代理分析</li>
            </a>
            <a href="{{url_for('data_query_super_leader_client.client_order')}}">
              <li id="_client_" >客户分析</li>
            </a>
            <a href="{{url_for('data_query_super_leader_sale_type.client_order')}}">
              <li id="_sale_type_" >售卖类型分析</li>
            </a>
            {% endif %}
            <div class="line" style="clear: both"></div>
          </ul>
        </div>
        <div class="list">
          <ul>
            
          </ul>
        </div>
    </div>
</div>
<script>
    $(function(){
        var pathname = window.location.pathname;
        var p_pathname = pathname.split('/')
        $('#_'+p_pathname[3]+'_').addClass("on");
    })
</script>
