{% extends "/item_base.html" %}
{% from 'form.html' import form_field %}

{% block extra_head %}
<link rel="stylesheet" href="/static/css/jquery.steps.css" type="text/css">
<script src="/static/js/jquery.steps.min.js"></script>
{% endblock %}

{% block main_box%}
<div class="bra-main bra-box">
    <form class="form form-horizontal" method="POST">
        <div id="steps">
            <div class="step-head">选择售卖类型</div>
            <div class="step-body">
                {{ form.csrf_token }}
                {{ form_field(form.order) }}
                {{ form_field(form.sale_type) }}
                {% set field=form.special_sale %}
                <div class="form-group">
                    <label for="special_sale" class="col-sm-2 control-label">{{field.label.text}} : </label>
                    <div class="col-sm-10">
                        <div class="bra-form-control">
                            {% for subfield in field %}
                            {{ subfield }}
                            {{ subfield.label }}
                            {% endfor %}
                        </div>
                        <span class="errors">{{','.join(field.errors)}}</span>
                    </div>
                </div>
                {{ form_field(form.description) }}
                <a class="btn btn-default btn-sm col-md-offset-2" href="{{url_for("order.order_detail", order_id=order.id)}}">返回</a>
                <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="提交"/>
            </div>
            <div class="step-head">选择排期</div>
            <div class="step-body"> secound content</div>
            <div class="step-head">确认提交</div>
            <div class="step-body"> secound content</div>
        </form>
    </div>
    {% endblock %}

    {% block bottom_script %}
    <script>
$(document).ready(function(){
        $("#steps").steps({
                headerTag: ".step-head",
                bodyTag: ".step-body",
                cssClass: "wizard",
                onStepChanged: function (event, currentIndex, priorIndex) {
                }, 
                onCanceled: function (event) {
                },
                onFinished: function (event, currentIndex) {
                },
                labels: {
                    cancel: "取消",
                    current: "current step:",
                    pagination: "Pagination",
                    finish: "提交",
                    next: "下一步",
                    previous: "上一步",
                    loading: "加载中 ..."
                }
                });
        });
    </script>
    {% endblock %}
