{% extends "/base_v1_0_0.html" %}
{% block title %}员工考勤{% endblock %}

{% block content %}
{% include "/account/account_onduty_base_v1_0_0.html" %}
  <div class="container bra-box" style="min-width: 950px;">
    <h3>员工考勤</h3>
     {% if g.user.is_HR_leader() or g.user.is_HR() or g.user.is_OPS() or g.user.is_super_leader() %}
    <form method="POST" class="form-inline" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputName2"></label>
        <input class="file-widget-input hide" type="file" name="file">
      </div>
      <button class="file-widget-btn btn btn-sm btn-primary">上传员工考勤</button>
    </form>
    {% endif %}
    <br/>

    <div class="search-bar">
        <div class="menu-btn-bar">
            <form style="float:left;">
                <div class="search-input">
                    <input type="text" id="name" name="name" placeholder="员工姓名" value="{{name}}">
                </div>
                <div class="select_option">
                    <label for="sale_type" class="control-label">区域</label>
                    <select class="form-control special_sale" name="location" id="location" style="width:100px;">
                        <option value='0'>全部</option>
                        <option value='1'>华北</option>
                        <option value='2'>华东</option>
                        <option value='3'>华南</option>
                    </select>
                </div>
                <div class="select_option screen">
                    <input type="submit" value="筛选">
                </div>
            </form>
            {% if g.user.is_HR_leader() or g.user.is_HR() or g.user.is_OPS() or g.user.is_super_leader() %}
            <form style="float:left;" method="POST">
                <input type='hidden' value="excel" name="action">
                <div class="search-input" style="width:160px;">
                    <input type="text" class="datetimepicker" id="start_date" name="start_date" data-date-format="yyyy-mm-dd" value="{{start_date}}" style="width:150px;">
                </div>
                <div class="search-input" style="width:190px;">
                    <label for="sale_type" class="control-label">至</label>
                    <input type="text" class="datetimepicker" id="end_date" name="end_date" data-date-format="yyyy-mm-dd" value="{{end_date}}" style="width:150px;">
                </div>
                <div class="select_option return">
                    <input type="submit" value="导出">
                </div>
            </form>
            {% endif %}
        </div>
    </div>
    <br/>
    <div class='tabulation'>
        <table border='1'>
          <thead>
            <tr>
              <th>员工编号</th>
              <th>姓名</th>
              <th>区域</th>
              <th>最后一次打卡时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{user.sn or '无'}}</td>
              <td>{{user.name}}</td>
              <td>{{user.location_cn}}</td>
              <td>{{user.last_check_time}}</td>
              <td><a target="_blank" href="{{url_for('account_onduty.info', uid=user.id)}}">查看</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>
<script>
  $('.file-widget-btn').click(function(e){
    e.preventDefault();
    $(this).parents("form").find('.file-widget-input').click();
  });
  $('.file-widget-input').change(function(e){
    var filename = $(this).val(),
      fileExt = filename.substring(filename.lastIndexOf('.')+1, filename.length);
    if(fileExt == 'dat'){
      $(this).parents("form").submit();
    }else{
      alert("请选择正确的文件");
    }
  });
  $(function(){
    $('select').chosen({disable_search: true});
    $('#location').val('{{location}}')
    $("#location").trigger("chosen:updated");

    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        todayBtn:true,
        minView:2,
        language: 'zh-CN'
    });
    $('#start_date').val('{{start_date}}')
    $('#end_date').val('{{end_date}}')
  })
</script>
{% endblock %}