{% extends "/base.html" %}
{% block title %}员工考勤{% endblock %}

{% block content %}
  <div class="container bra-box" style="min-width: 950px;">
    <h3>员工考勤</h3>
    <form method="POST" class="form-inline" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputName2"></label>
        <input class="file-widget-input hide" type="file" name="file">
      </div>
      <button class="file-widget-btn btn btn-sm btn-primary">上传员工考勤</button>
    </form>
    
    <br/>
    <form class="form-inline">
      <div class="form-group">
        <label for="exampleInputName2">员工姓名</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="员工姓名" value="{{name}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">区域</label>
        <select class="form-control" id="location" name='location' style="width:150px;">
          <option value='0'>全部</option>
          <option value='1'>华北</option>
          <option value='2'>华东</option>
          <option value='3'>华南</option>
        </select>
      </div>
      <button type="submit" class="btn btn-info">查询</button>
    </form>
    <br/>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>员工编号</th>
          <th>姓名</th>
          <th>区域</th>
          <th>最后一次打卡时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{user.sn or '无'}}</th>
          <td>{{user.name}}</td>
          <td>{{user.location_cn}}</td>
          <td>{{user.last_check_time}}</td>
          <td><a target="_blank" href="{{url_for('account_onduty.info', uid=user.id)}}">查看</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<script>
  $('.file-widget-btn').click(function(e){
    e.preventDefault();
    $(this).parents("form").find('.file-widget-input').click();
  });
  $('.file-widget-input').change(function(e){
    var filename = $(this).val(),
      fileExt = filename.substring(filename.lastIndexOf('.')+1, filename.length);
    if(fileExt == 'dat'){
      $(this).parents("form").submit();
    }else{
      alert("请选择正确的文件");
    }
  });
  $(function(){
    $('#location').val('{{location}}')
    $("#location").trigger("chosen:updated");
  })
</script>
{% endblock %}