{% extends "/base_v1_0_0.html" %}
{% from 'comments.html' import comments_box %}
{% block content%}
{% include "/searchAdorder/searchad_order_base_v1_0_0.html" %}
<div class="container bra-box">
    <h3>修改{{bill.company_cn}}的对账单</h3>
    <form class="input-row-box" method="POST" onsubmit="return check_form(this)">
    	<div class="input-group-menu">
	      <div class="name">媒体供应商 : </div>
	      <select class="surname" id="company" name="company" style="width:300px;">
            {% for k in agents %}
            <option value="{{k.id}}">{{k.name}}<option>
            {% endfor %}
          </select>
	    </div>
	    <div class="input-group-menu">
	      <div class="name">广告主 : </div>
	      <select class="surname" id="client" name="client" style="width:300px;">
	      	{% for k in clients %}
	      	<option value="{{k.id}}">{{k.name}}<option>
	      	{% endfor %}
	      </select>
	    </div>
	    <div class="input-group-menu">
	      <div class="name">投放媒体 : </div>
	      <select class="surname" id="medium" name="medium" style="width:300px;">
	      	{% for k in mediums %}
	      	<option value="{{k.id}}">{{k.name}}<option>
	      	{% endfor %}
	      </select>
	    </div>
	    <div class="input-group-menu">
	      <div class="name">推广类型 : </div>
	      <select class="surname" id="resource_type" name="resource_type" style="width:300px;">
	      	<option value="5">CPA<option>
	      	<option value="6">CPT<option>
	      	<option value="7">CPC<option>
	      	<option value="8">CPD<option>
	      	<option value="9">CPM<option>
	      	<option value="10">CPS<option>
	      	<option value="99">其他<option>
	      </select>
	    </div>
	    <div class="input-group-menu">
	      <div class="name">结算开始时间 : </div>
	      <input type="text" id="start" name="start" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd" value="{{bill.start}}" readonly="readonly">
	    </div>
	    <div class="input-group-menu">
	      <div class="name">结算截止时间 : </div>
	      <input type="text" id="end" name="end" class="datetimepicker surname" style="width:300px;" data-date-format="yyyy-mm-dd" value="{{bill.end}}" readonly="readonly">
	    </div>
	    <div class="input-group-menu">
	      <div class="name">实际消耗金额 : </div>
	      <input type="text" id="money" name="money" class="surname" style="width:300px;" value="{{bill.money}}">
	    </div>
	    <div class="input-group-menu">
	      <div class="name">对应返点金额 : </div>
	      <input type="text" id="rebate_money" name="rebate_money" class="surname" style="width:300px;" value="{{bill.rebate_money}}">
	    </div>
	    <div class="state" style="margin-left:40%;">
	        <input type="submit" value="保存">
	    </div>
	</form>
	<div>{{ comments_box(bill, msg_channel=12, text=False) }}</div>
</div>
<script>
    function check_form(obj){
    	if (obj.start.value == ''){
    		alert('请输入结算开始时间');
    		obj.start.focus();
    		return false
    	}else if (obj.end.value == ''){
    		alert('请输入结算截止时间');
    		obj.end.focus();
    		return false
    	}else if (obj.money.value == ''){
    		alert('请输入实际消耗金额');
    		obj.money.focus();
    		return false
    	}else if (obj.rebate_money.value == ''){
    		alert('请输入对应返点');
    		obj.rebate_money.focus();
    		return false
    	}else{
    		var flag=confirm("确定要修改这条对账单吗?");
            if(flag){
                return true
            }
            return false
    	}
    }
    $(function(){
        $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true}); 
        $('.datetimepicker').datetimepicker({
	        autoclose: true,
	        todayHighlight: true,
	        language: 'zh-CN',
	        minView: 2
	    });
	    $('#client').val(parseInt('{{bill.client.id}}'));
	    $('#client').trigger("chosen:updated");
	    $('#medium').val(parseInt('{{bill.medium.id}}'));
	    $('#medium').trigger("chosen:updated");
	    $('#resource_type').val(parseInt('{{bill.resource_type}}'));
	    $('#resource_type').trigger("chosen:updated");
        $('#company').val(parseInt('{{bill.company}}'));
        $('#company').trigger("chosen:updated");
    })
</script>
{% endblock %}
