{% extends "/base_v1_0_0.html" %}
{% block title %}框架列表{% endblock %}

{% macro all_items(orders) -%}
<div class='tabulation'>
    <table border='1'>
        <thead>
            <tr>
                <th>直客/代理</th>
                <th>客户</td>
                <th>合同金额</th>
                <th>合同号</th>
                <th>销售</th>
                <th>开始</th>
                <th>结束</th>
                <th>回款日期</th>
                <th>合同号状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for o in orders %}
            <tr>
                <td>{{o.agent.name}}</td>
                <td>{% if o.client %}{{o.client.name}}{% else %}无{% endif %}</td>
                <td>{{o.money}}</td>
                <td><a href="{{url_for('searchAd_order.framework_order_info', order_id=o.id)}}">{{o.contract or "无合同号"}}</a></td>
                <td>{{o.sales_names}}</td>
                <td>{{o.start_date_cn}}</td>
                <td>{{o.end_date_cn}}</td>
                <td>{{o.reminde_date_cn}}</td>
                <td>{{o.contract_status_cn}}</td>
                <td>
                    <a href="{{url_for('searchAd_order.framework_order_info', order_id=o.id)}}">合同设置</a>
                    {% if g.user.is_super_admin() %}
                        {% if o.status == 0 %}
                            <a href="{{url_for('searchAd_order.framework_recovery', order_id=o.id)}}" style="color:red;">恢复</a>
                        {% else %}
                            {% if o.is_client_order|length == 0 %}
                            <a href="{{url_for('searchAd_order.framework_delete', order_id=o.id)}}" style="color:red;">删除</a>
                            {% else %}
                            <div style="display:none;">
                            {% for k in o.is_client_order %}{{k}},{% endfor %}
                            </dibv>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%- endmacro %}

{% block content%}
{% include "/searchAdorder/searchad_order_base_v1_0_0.html" %}
<div class="container bra-box" style="width:1400px;">
    <div class="search-bar">
        <form class="menu-btn-bar" style="float:left;">
            <div class="select_option">
                <label for="sale_type" class="control-label">年度</label>
                <select class="form-control special_sale" name="year" id="year" style="width:100px;">
                    {% for k in range(5) %}
                        <option value="{{2014+k}}">{{2014+k}}年度</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select_option screen">
                <input type="submit" value="筛选">
            </div>
            <div class="select_option return">
                <a href="{{url_for('searchAd_order.new_framework_order')}}">
                    <input type="button" value="添加">
                </a>
            </div>
        </form>
    </div>
    {{ all_items(orders) }}
    {% set pages = orders %}
    {% include "pagination.html" %}
</div>
<script>
function download(){
    window.location.href = window.location.pathname +
      '?action=download';
}
$(function(){
    $("select").chosen({placeholder_text:"请选择...", disable_search_threshold: 10, search_contains: true}); 
    $('#year').val('{{year}}');
    $("#year").trigger("chosen:updated");
})
</script>
{% endblock %}
