{% from 'form.html' import form_field %}

{% macro base_order_attachment(order, contract_path, schedule_path, others_path=None) -%}
<hr>
<div id="attachment-{{order.kind}}-{{order.id}}">
<form method="POST" action="{{contract_path}}" enctype="multipart/form-data">
  <input class="hide" type="text" name="order" value="{{order.id}}">
  <input class="file-widget-input hide" type="file" name="file">
  <button class="file-widget-btn btn btn-sm btn-primary">
  {% if order.__tablename__ == 'bra_framework_order'%}
    <span>上传致趣合同</span>
  {% else %}
    <span>上传合同</span>
  {% endif %}
  </button>
  {% set contract = order.get_last_contract() %}
  {% if contract %}
  <a href="{{contract.path}}">
    {{contract.filename}}
    {{contract.status_cn}}
  </a>
    <a href="{{contract.path}}" class="btn btn-sm btn-default">下载</a>
    {% if g.user.is_contract() %}
    <a href="{{order.attach_status_confirm_path(contract)}}" class="btn btn-sm btn-default">通过</a>
    <a href="{{order.attach_status_reject_path(contract)}}" class="btn btn-sm btn-default">不通过</a>
    {% endif %}
  {% endif %}
</form>
<form method="POST" action="{{schedule_path}}" enctype="multipart/form-data">
  <input class="hide" type="text" name="order" value="{{order.id}}">
  <input class="file-widget-input hide" type="file" name="file">
  {% if order.__tablename__ == 'bra_framework_order' %}
  <button class="file-widget-btn btn btn-sm btn-primary">
    <span>上传豆瓣合同</span>
  </button>
  {% else %}
  <button class="file-widget-btn btn btn-sm btn-info">
    <span>上传排期</span>
  </button>
  {% endif %}
  {% set schedule = order.get_last_schedule() %}
  {% if schedule %}
  <a href="{{schedule.path}}">
    {{schedule.filename}}
    {{schedule.status_cn}}
  </a>
    <a href="{{schedule.path}}" class="btn btn-sm btn-default">下载</a>
    {% if g.user.is_contract() %}
    <a href="{{order.attach_status_confirm_path(schedule)}}" class="btn btn-sm btn-default">通过</a>
    <a href="{{order.attach_status_reject_path(schedule)}}" class="btn btn-sm btn-default">不通过</a>
    {% endif %}
  {% endif %}
</form>
{% if order.__tablename__ == 'bra_framework_order' %}
<form method="POST" action="{{others_path}}" enctype="multipart/form-data">
  <input class="hide" type="text" name="order" value="{{order.id}}">
  <input class="file-widget-input hide" type="file" name="file">
  <button class="file-widget-btn btn btn-sm btn-info">
    <span>其他附件</span>
  </button>
  {% set others = order.get_last_others() %}
  {% if others %}
  <a href="{{others.path}}">
    {{others.filename}}
    {{others.status_cn}}
  </a>
    <a href="{{others.path}}" class="btn btn-sm btn-default">下载</a>
  {% endif %}
</form>
{% endif %}
<a class="btn btn-sm btn-default" href="{{order.attachment_path()}}">查看历史版本</a>
</div>
{%- endmacro %}

{% macro base_attachment_script() -%}
<style>
  .file-widget-btn{margin: 10px;}
</style>
<script>
$(function(){
  $('.file-widget-btn').click(function(e){
    e.preventDefault();
    $(this).parents("form").find('.file-widget-input').click();
  });
  $('.file-widget-input').change(function(e){
    var filename = $(this).val(),
      fileExt = filename.substring(filename.lastIndexOf('.')+1, filename.length);
    if(fileExt == 'csv' || fileExt == 'doc' || fileExt == 'docx' || fileExt == 'xls' || fileExt == 'xlsx' || fileExt == 'pdf'){
      $(this).parents("form").submit();
    }else{
      alert("只能上传doc, docx, xls, xlsx, csv, pdf文件");
    }
  });
});
</script>
{%- endmacro %}

{% macro client_order_attachment(order) -%}
    {{ base_order_attachment(order, url_for('files.searchAd_client_contract_upload'), url_for('files.searchAd_client_schedule_upload')) }}
    {{ base_attachment_script() }}
{%- endmacro %}

{% macro medium_order_attachment(order) -%}
    {{ base_order_attachment(order, url_for('files.searchAd_medium_contract_upload'), url_for('files.searchAd_medium_schedule_upload')) }}
{%- endmacro %}

{% macro framework_order_attachment(order) -%}
    {{ base_order_attachment(order, url_for('files.framework_contract_upload'), url_for('files.framework_schedule_upload'), url_for('files.framework_others_upload')) }}
    {{ base_attachment_script() }}
{%- endmacro %}

{% macro douban_order_attachment(order) -%}
    {{ base_order_attachment(order, url_for('files.douban_contract_upload'), url_for('files.douban_schedule_upload')) }}
    {{ base_attachment_script() }}
{%- endmacro %}

{% macro associated_douban_attachment(order) -%}
    {{ base_order_attachment(order, url_for('files.associated_douban_contract_upload'), url_for('files.associated_douban_schedule_upload')) }}
{%- endmacro %}


