{% extends "/order_base.html" %}
{% from 'order_ordered_items.html' import ordered_items %}

{% block main_box%}
<div class="bra-main bra-box">
    <h4>
        {{ order.name }}
    </h4>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> 订单项 </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ ordered_items(order)}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
