{% extends "/searchad_order_base.html" %}
{% block title %}框架列表{% endblock %}

{% macro all_items(orders) -%}
<table class="table table-bordered table-striped">
    <tr>
        <th>直客/代理</th>
        <th>合同金额</th>
        <th>合同号</th>
        <th>销售</th>
        <th>开始</th>
        <th>结束</th>
        <th>回款日期</th>
        <th>合同号状态</th>
        <th>操作</th>
    </tr>
    {% for o in orders %}
    <tr>
        <td>{{o.agent.name}}</td>
        <td>{{o.money}}</td>
        <td><a href="{{url_for('searchAd_order.framework_order_info', order_id=o.id)}}">{{o.contract or "无合同号"}}</a></td>
        <td>{{o.sales_names}}</td>
        <td>{{o.start_date_cn}}</td>
        <td>{{o.end_date_cn}}</td>
        <td>{{o.reminde_date_cn}}</td>
        <td>{{o.contract_status_cn}}</td>
        <td>
            <a href="{{url_for('searchAd_order.framework_order_info', order_id=o.id)}}">合同设置</a>
            {% if g.user.is_super_admin() %}
                {% if o.status == 0 %}
                    <a href="{{url_for('searchAd_order.framework_recovery', order_id=o.id)}}" style="color:red;">恢复</a>
                {% else %}
                    {% if o.is_client_order|length == 0 %}
                    <a href="{{url_for('searchAd_order.framework_delete', order_id=o.id)}}" style="color:red;">删除</a>
                    {% else %}
                    <div style="display:none;">
                    {% for k in o.is_client_order %}{{k}},{% endfor %}
                    </dibv>
                    {% endif %}
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{%- endmacro %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3> {{title}}
        <!--<input type="button" name="download" value="下载" class="btn btn-sm btn-default" onclick="javascript:download();">-->
    </h3>
    {{ all_items(orders) }}
    {% set pages = orders %}
    {% include "pagination.html" %}
</div>
<script>
function download(){
    window.location.href = window.location.pathname +
      '?action=download';
}
</script>
{% endblock %}
