<div class="container-fluid top_nav_fluid">
    <div class="menu">
        <div class="list">
            <ul>
            {% if g.user.is_searchad_member() or g.user.is_aduit() %}
            <!-- 增加搜索广告订单 -->
            <a href="{{url_for('searchAd_order.my_framework_orders')}}">
              <li id="_my_framework_orders_">我的框架订单</li>
            </a>
            <a href="{{url_for('searchAd_order.my_searchAd_orders')}}">
              <li id="_my_orders_" >我的普通订单</li>
            </a>
            <a href="{{url_for('searchAd_order.my_rebate_orders')}}">
              <li id="_my_rebate_orders_" >我的返点订单</li>
            </a>
            <a href="{{url_for('searchAd_saler_client_order_data_query.agent_invoice')}}">
                <li id="_data_query_" >普通订单数据</li>
            </a>
            <a href="{{url_for('searchAd_saler_rebate_order_data_query.agent_invoice')}}">
                <li id="_searchAd_rebate_order_data_query_" >返点订单数据</li>
            </a>
            {% endif %}
            <div class="line" style="clear: both"></div>
            </ul>
        </div>
    </div>
    <div class="form-list">
    </div>
</div>
<script>
    $(function(){
        var pathname = window.location.pathname;
        var p_pathname = pathname.split('/')
        if (p_pathname[3] == 'data_query'){
            if (p_pathname[2] == 'searchAd_rebate_order'){
                $('#_searchAd_rebate_order_data_query_').addClass("on");
            }else{
                $('#_'+p_pathname[3]+'_').addClass("on");
            }
            
        }else{
            $('#_'+p_pathname[2]+'_').addClass("on");
            if(['order', 'searchAd_order'].indexOf(p_pathname[2]) >= 0 ){
                $('#_my_orders_').addClass("on");
            }
            if(['searchAd_rebate_order', 'rebate_order'].indexOf(p_pathname[2]) >= 0 ){
                $('#_my_rebate_orders_').addClass("on");
            }
            if(['framework_order'].indexOf(p_pathname[2]) >= 0 ){
                $('#_my_framework_orders_').addClass("on");
            }
        }
        
    })

</script>
