{% extends "/searchad_order_base.html" %}
{% from 'searchad_order_form_client.html' import order_client_form %}
{% from 'searchad_order_form_medium.html' import order_medium_form %}
{% from 'searchad_order_form_medium.html' import new_order_medium_form %}
{% from 'searchad_order_form_contract.html' import order_contract_form %}
{% from 'searchad_order_form_attachment.html' import client_order_attachment, medium_order_attachment %}
{% from 'comments.html' import comments_box %}
{% macro contract_box(order, client_form, new_medium_form, medium_forms, reminder_emails) -%}
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> 客户订单 </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ order_client_form(client_form, order) }}
                    {{ client_order_attachment(order) }}
                    <hr><div style="color:#999;">创建者: {{order.creator.name}} 创建时间: {{order.create_time.date()}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> 媒体订单 </a> </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% for mf in medium_forms %}
                    <div class="well">
                    {{ order_medium_form(mf[0], mf[1]) }}
                    {{ medium_order_attachment(mf[1]) }}
                    <hr><div style="color:#999;">创建者: {{mf[1].creator.name}} 创建时间: {{mf[1].create_time.date()}}</div>
                    </div>
                    {% endfor %}
                    <div class="well" id="new-medium" style="display:none;">
                      <h4>新建媒体订单</h4>
                      {{ new_order_medium_form(new_medium_form, client_order=order) }}
                    </div>
                    {% if order.contract_status in [0, 1, 3, 6] %}
                    <button onclick="showNewMedium(this);" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> 媒体订单</button>
                    {% elif g.user.is_super_admin() %}
                    <button onclick="showNewMedium(this);" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> 媒体订单</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {#
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"> 豆瓣订单 </a> </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% for ado in order.associated_douban_orders %}
                    <div class="well">
                    {{ order_associated_douban_form(ado.form, ado) }}
                    {{ associated_douban_attachment(ado) }}
                    <hr><div style="color:#999;">创建者: {{ado.creator.name}} 创建时间: {{ado.create_time.date()}}</div>
                    </div>
                    {% endfor %}
                    <div class="well" id="new-associated-douban" style="display:none;">
                      <h4>新建豆瓣关联订单</h4>
                      {{ order_associated_douban_form(new_associated_douban_form) }}
                    </div>
                    {% if order.contract_status in order.can_edit_status()%}
                    <button onclick="showNewDouban(this);" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> 豆瓣关联订单</button>
                    {% elif g.user.is_super_admin() %}
                    <button onclick="showNewDouban(this);" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> 豆瓣关联订单</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    #}
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> 合同流程 </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{order_contract_form(order, reminder_emails, False, now_date)}}
                </div>
            </div>
        </div>
    </div>
    <div>{{ comments_box(order) }}</div>
<script>
  $(function(){
    showNewMedium = function(ele){
      $(ele).hide();
      $("#new-medium").show();
    };
    showNewDouban = function(ele){
      $(ele).hide();
      $("#new-associated-douban").show();
    };
  });
</script>
{%- endmacro %}

{% block main_box%}
<div class="bra-main bra-box">
  <h4> {{ order.name }} </h4>
  <div>
    {% include "saler/searchAd_order/nav_base.html" %}
    <div class="tab-content">
      <div class="tab-pane active" id="tab-1">
        {{ contract_box(order, client_form, new_medium_form, medium_forms, reminder_emails) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
