{% extends "/site_base.html" %}

{% block left_box%}
    <!-- 只有leader和合同管理员才能看所有订单 -->
    {% if g.user.is_super_leader() or g.user.is_contract() or g.user.is_media() or g.user.is_operater() or g.user.is_media_leader()%}
    <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 新媒体</li>
    <a class="list-group-item" href="{{url_for('order.my_orders')}}">
      <span class="glyphicon glyphicon-th-list"></span> 我的新媒体订单
    </a>
    <a class="list-group-item" href="{{url_for('order.orders')}}">
        <span class="glyphicon glyphicon-th-list"></span> 全部新媒体订单
    </a>
    <a class="list-group-item" href="{{url_for('order.new_order')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建新媒体订单
    </a>
    <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 直签豆瓣</li>
    <a class="list-group-item" href="{{url_for('order.my_douban_orders')}}">
      <span class="glyphicon glyphicon-th-list"></span> 我的直签豆瓣订单
    </a>
    <a class="list-group-item" href="{{url_for('order.douban_orders')}}">
        <span class="glyphicon glyphicon-th-list"></span> 全部直签豆瓣订单
    </a>
    <a class="list-group-item" href="{{url_for('order.new_douban_order')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建直签豆瓣订单
    </a>
    <!-- 增加搜索广告订单 -->
    <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 搜索广告订单</li>
    <a class="list-group-item" href="{{url_for('searchAd_order.my_searchAd_orders')}}">
      <span class="glyphicon glyphicon-th-list"></span> 我的搜索广告订单
    </a>
    <a class="list-group-item" href="{{url_for('searchAd_order.searchAd_orders')}}">
        <span class="glyphicon glyphicon-th-list"></span> 全部搜索广告订单
    </a>
    <a class="list-group-item" href="{{url_for('searchAd_order.new_searchAd_order')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建搜索广告订单
    </a>
    {% elif g.user.is_searchad_member()  %}
    <!-- 增加搜索广告订单 -->
    <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 搜索广告订单</li>
    <a class="list-group-item" href="{{url_for('searchAd_order.my_searchAd_orders')}}">
      <span class="glyphicon glyphicon-th-list"></span> 我的搜索广告订单
    </a>
    <a class="list-group-item" href="{{url_for('searchAd_order.new_searchAd_order')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建搜索广告订单
    </a>
    {% else %}
    <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 新媒体</li>
    <a class="list-group-item" href="{{url_for('order.my_orders')}}">
      <span class="glyphicon glyphicon-th-list"></span> 我的新媒体订单
    </a>
    <a class="list-group-item" href="{{url_for('order.new_order')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建新媒体订单
    </a>
    <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 直签豆瓣</li>
    <a class="list-group-item" href="{{url_for('order.my_douban_orders')}}">
      <span class="glyphicon glyphicon-th-list"></span> 我的直签豆瓣订单
    </a>
    <a class="list-group-item" href="{{url_for('order.new_douban_order')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建直签豆瓣订单
    </a>
    {% endif %}

    <!-- 只有leader 销售 合同管理员才能看框架 -->
    {% if g.user.is_leader() or g.user.is_sale() or g.user.is_contract() or g.user.is_media() or g.user.is_media_leader() %}
    <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 框架</li>
    <a class="list-group-item" href="{{url_for('order.my_framework_orders')}}">
        <span class="glyphicon glyphicon-th-list"></span> 我的框架
    </a>
    {% if g.user.is_super_leader() or g.user.is_contract() or g.user.is_media() or g.user.is_media_leader() %}
    <a class="list-group-item" href="{{url_for('order.framework_orders')}}">
        <span class="glyphicon glyphicon-th-list"></span> 全部框架
    </a>
    {% endif %}
    <a class="list-group-item" href="{{url_for('order.new_framework_order')}}">
        <span class="glyphicon glyphicon-plus"></span> 新建框架
    </a>
    {% endif %}
{% endblock %}
