{% extends "/site_base.html" %}
{% from 'form.html' import form_tpl %}
{% block title %}员工通讯录{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3>员工通讯录</h3>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>姓名</th>
          <th>部门</th>
          <th>联系方式</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{user.id}}</th>
          <td>{{user.name}}</td>
          <td>{{user.team.name}}</td>
          <td>{{user.cellphone_cn}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<script>
    $(function(){
        $(".content-box").css("margin-left", "auto");
        $(".content-box").css("margin-right", "auto");
    })
</script>
{% endblock %}