{% extends "base.html" %}
{% from 'form.html' import form_tpl, form_tpl_ex_form %}
{% block title %}新建用户{% endblock %}

{% block content %}
{% include "user_base.html" %}
<div class="container bra-box" style="min-width: 950px;">
    <h3>新建用户</h3>
    <form class="form form-horizontal" method="POST" action="" onsubmit="">
        {{ form_tpl_ex_form(form) }}
        <br/><br/>
        <a href="{{url_for('user.users')}}" class="btn btn-primary btn-sm col-md-offset-2">返回</a>
        <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
    </form>
</div>
<script>
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}
$(document).ready(function(){
    $('#birthday').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2,
        format: 'yyyy-mm-dd',
        todayBtn: true
    });
    $('#recruited_date').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2,
        format: 'yyyy-mm-dd',
        todayBtn: true
    });
    $('#positive_date').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2,
        format: 'yyyy-mm-dd',
        todayBtn: true
    });
    $('#quit_date').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2,
        format: 'yyyy-mm-dd',
        todayBtn: true
    });

});
</script>
{% endblock %}

