{% extends "base_v1_0_0.html" %}
{% block title %}角色{% endblock %}

{% block content %}
{% include "user_base_v1_0_0.html" %}
<div class="container bra-box" style="min-width: 950px;">
    <h3>角色列表
        <a class="btn btn-sm btn-default" href="{{url_for('user.new_team')}}">新建</a>
    </h3>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>#id</th>
                    <th>姓名</th>
                    <th>区域</th>
                    <th>金额色管理员</th>
                    <th>类型</th>
                </tr>
            </thead>
            <tbody>
                {% for t in teams %}
                <tr>
                    <td>{{t.id}}</td>
                    <td><a href="{{url_for("user.team_detail", team_id=t.id)}}">{{t.name}}</a></td>
                    <td>{{t.location_cn}}</td>
                    <td>{% for k in t.admins %}{{k.name}}<br/>{% endfor %}</td>
                    <td>{{t.type_cn}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
