{% extends "/user_base.html" %}
{% block title %}团队{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3>团队列表
        <a class="btn btn-sm btn-default" href="{{url_for('user.new_team')}}">新建</a>
    </h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#id</th>
            <th>姓名</th>
            <th>区域</th>
            <th>类型</th>
        </tr>
        {% for t in teams %}
        <tr>
            <td>{{t.id}}</td>
            <td><a href="{{url_for("user.team_detail", team_id=t.id)}}">{{t.name}}</a></td>
            <td>{{t.location_cn}}</td>
            <td>{{t.type_cn}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
