{% extends "/user_base.html" %}
{% block title %}Users{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3>User列表</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Team</th>
            <th>Status</th>
        </tr>
        {% for u in users %}
        <tr>
            <td>{{u.id}}</td>
            <td><a href="{{url_for('user.user_detail', user_id=u.id)}}">{{u.name}}</a></td>
            <td>{{u.email}}</td>
            <td>{{u.phone}}</td>
            <td><a href="{{url_for('user.team_detail', team_id=u.team.id)}}">{{u.team.name}}</a></td>
            <td>{{'有效' if u.status else '暂停'}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
