{% extends "/user_base.html" %}
{% block title %}User - {{user.name}}{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    <h3>User - {{user.name}}</h3>
    {% if g.user.team.is_admin() or g.user==user %}
    <div class="errors">
        {{','.join(form.name.errors+form.email.errors+form.phone.errors+form.team.errors)}}
    </div>
    <form class="form" method="POST">
      {{form.csrf_token}}
      {% set hidden = '' if g.user.team.is_admin() else 'hidden' %}
      <div class="form-group">
        <label for="name">{{form.name.label.text}}</label>
        {{form.name(class_='form-control', placeholder=form.name.label.text)}}
      </div>
      <div class="form-group">
        <label for="email">{{form.email.label.text}}</label>
        {% if g.user.team.is_admin() %}
        {{form.email(class_='form-control', placeholder=form.email.label.text)}}
        {% else %}
        {{form.email(class_='form-control', placeholder=form.email.label.text, readonly="readonly")}}
        {% endif %}
      </div>
      <div class="form-group">
        <label for="phone">{{form.phone.label.text}}</label>
        {{form.phone(class_='form-control', placeholder=form.phone.label.text)}}
      </div>
      <div class="form-group {{hidden}}">
        <label for="team">{{form.team.label.text}}</label>
        {{form.team(class_='form-control')}}
      </div>
      <div class="form-group {{hidden}}">
        <label for="status">{{form.status.label.text}}</label>
        {{form.status(class_='form-control')}}
      </div>
        <input type="submit" class="btn btn-primary btn-sm" value="保存"/>
        <a href="{{url_for('user.pwd_change')}}" class="btn btn-info btn-sm">  修改密码</a>
        {% if g.user.team.is_admin() %}
        <a href="{{url_for('user.pwd_reset', user_id=user.id)}}" class="btn btn-danger btn-sm"> 重设密码</a>
        {% endif %}
    </form>
    <br>
    <br>
    <div>* 重设密码统一设置为 {{DEFAULT_PASSWORD}}</div>
    {% else %}
    <table class="table table-bordered table-striped">
        <tr><th>名字</th><td>{{user.name}}</td></tr>
        <tr><th>邮箱</th><td>{{user.email}}</td></tr>
        <tr><th>手机</th><td>{{user.phone}}</td></tr>
        <tr><th>Team</th><td>{{user.team.name}}</td></tr>
    </table>
    {% endif %}
</div>
<style>
    .form-control{width: 300px;}
</style>
{% endblock %}
