{% extends "/user_info_base.html" %}
{% from 'form.html' import form_field %}
{% block title %}填写请假申请表{% endblock %}

{% block main_box %}
<div class="bra-main bra-box">
    {% if leave %}
    <h3>修改请假申请表</h3>
    {% else %}
    <h3>填写请假申请表</h3>
    {% endif %}
    <form class="form form-horizontal" method="POST">
        {{form.csrf_token}}
        {{ form_field(form.type) }}
        <div class="form-group">
          <label for="client_start" class="col-sm-2 control-label">执行开始 : </label>
          <div class="col-sm-4">
            <input type="text" id="start" name="start" readonly="readonly" value="" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
          </div>
        </div>
        <div class="form-group">
          <label for="client_end" class="col-sm-2 control-label">执行结束 : </label>
          <div class="col-sm-4">
            <input type="text" id="end" name="end" value="" readonly="readonly" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
          </div>
        </div>
        {{ form_field(form.senders) }}
        {{ form_field(form.reason) }}
        <button type="submit" class="btn btn-primary btn-sm col-md-offset-2" name="status" value="1"/>保存不发申请</button>
        <button type="submit" class="btn btn-primary btn-sm col-md-offset-2" name="status" value="2"/>直接发出申请</button>
    </form>
</div>
<script>
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}

$(function(){
    {% if leave %}
        $('#start').val('{{leave.start}}')
        $('#end').val('{{leave.end}}')
    {% endif %}
    $('.datetimepicker').datetimepicker({
        autoclose: true,
        todayHighlight: true,
        language: 'zh-CN',
        minView: 2
    });

    $("#start").change(function(e){
        var endDate = new Date($('#start').val());
        endDate.setDate(endDate.getDate() + 1); 
        $('#end').val(endDate.Format("yyyy-MM-dd"))
    });
})
</script>
{% endblock %}
