<div class="table-switch">
    <ul>
        <li id="_order_li">
            <a id="_order_" href='{{url_for("order.douban_order_info", order_id=order.id)}}'>合同流程</a>
        </li>
        {% if order.can_admin(g.user) or g.user.is_contract() or g.user.is_finance() %}
        <li id="_back_money_li">
            <a id="_back_money_" href='{{url_for("saler_douban_order_back_money.index", order_id=order.id)}}'>客户回款</a>
        </li>
        <li id="_outsource_li">
            <a id="_outsource_" href='{{url_for("saler_douban_order_outsource.index", order_id=order.id)}}'>外包成本</a>
        </li>
        {% endif %}
        {% if g.user.is_super_leader() or g.user.is_finance() or g.user.is_operater_leader()%}
        <li id="_other_cost_li">
            <a id="_other_cost_" href='{{url_for("saler_douban_order_other_cost.index", order_id=order.id)}}'>外包</a>
        </li>
        <!--
        <li id="_money_li">
            <a id="_money_" href='{{url_for("saler_douban_order_money.index", order_id=order.id)}}'>收入成本</a>
        </li>-->
        {% endif %}
    </ul>
</div>
</br>
<script>
    $(document).ready(function(){
    var pathname = window.location.pathname;
    var path_name = pathname.split("/")
    if (path_name[1] == 'orders'){
        $("#_order_li").addClass("actives");
        $("#_order_").addClass("on");
    }else{
        $("#_" + path_name[3]+'_li').addClass("actives");
        $("#_" + path_name[3]+'_').addClass("on");
    }
  })
</script>