{% extends "/base_v1_0_0.html" %}
{% from 'comments.html' import comments_box %}

{% block content %}
{% include "/finance/finance_base_v1_0_0.html" %}
<div class="container bra-box" style="width:1400px;">
    <h3>{{order.agent.name}}-{{order.name}}客户订单回款情况</h3>
    <div class='tabulation'>
        <table border='1'>
            <thead>
                <tr>
                    <th>项目名称</th>
                    <th>客户金额</th>
                    <th>已开客户发票</th>
                    <th>客户回款金额</th>
                    <th>系统推荐客户返点</th>
                    <th>已收客户返点发票(抵扣)</th>
                    <th>已收客户返点发票</th>
                    <th>已打款客户返点金额</th>
                    <th>媒体名称</th>
                    <th>媒体金额</th>
                    <th>已收媒体发票</th>
                    <th>已打款媒体金额</th>
                    <th>系统推荐媒体返点</th>
                    <th>已开媒体返点发票</th>
                    <th>媒体返点回款</th>
                </tr>
            </thead>
            <tbody>
                {% set money_invoce_flow = order.money_invoce_flow(agent_invoice=True, agent_back_money=True, agent_back_money_invoice=True, agent_back_invoice=True, agent_self_rebate=True, media_invoce=True, media_rebate_invoice=True, agent_rebate_data=True, medium_rebate_data=True) %}
                <tr>
                    <td rowspan='{{order.medium_orders|length+1}}'>
                      <a target="_blank" href="{{url_for('order.order_info', order_id=order.id, tab_id=1)}}">
                        {{money_invoce_flow.campaign}}
                      </a>
                    </td>
                    <td rowspan='{{order.medium_orders|length+1}}'>{{money_invoce_flow.money|format_price}}</td>
                    <td rowspan='{{order.medium_orders|length+1}}'>
                      <a target="_blank" href="{{url_for('finance_client_order_invoice.info', order_id=order.id)}}">
                        {{money_invoce_flow.agent_invoice|format_price}}
                      </a>
                    </td>
                    <td rowspan='{{order.medium_orders|length+1}}'>
                      <a target="_blank" href="{{url_for('finance_client_order_back_money.back_money',order_id=order.id)}}">
                        {{money_invoce_flow.agent_back_money|format_price}}
                      </a>
                    </td>
                    <td rowspan='{{order.medium_orders|length+1}}'>{{money_invoce_flow.agent_rebate_data|format_price}}</td>
                    <td rowspan='{{order.medium_orders|length+1}}'>
                      <a target="_blank" href="{{url_for('finance_client_order_back_money.back_money',order_id=order.id)}}">
                        {{money_invoce_flow.agent_back_money_invoice|format_price}}
                      </a>
                    </td>
                    <td rowspan='{{order.medium_orders|length+1}}'>
                      <a target="_blank" href="{{url_for('finance_client_order_agent_pay.info', order_id=order.id)}}">
                        {{money_invoce_flow.agent_back_invoice|format_price}}</td>
                      </a>
                    <td rowspan='{{order.medium_orders|length+1}}'>
                      <a target="_blank" href="{{url_for('finance_client_order_agent_pay.info', order_id=order.id)}}">
                        {{money_invoce_flow.agent_back_invoice_pay|format_price}}
                      </a>
                    </td>
                </tr>
                {% for m in money_invoce_flow.media_order_data %}
                <tr>
                    <td>{{m.name}}</td>
                    <td>{{m.medium_money2|format_price}}</td>
                    <td>
                      <a target="_blank" href="{{url_for('finance_client_order_medium_pay.info', order_id=order.id)}}">
                        {{m.media_invoce[0]|format_price}}
                        {% if m.media_invoce[1] %} <span class="label label-danger">有预付</span> {% endif %}
                      </a>
                    </td>
                    <td><a target="_blank" href="{{url_for('finance_client_order_medium_pay.info', order_id=order.id)}}">{{m.media_invoce_pay|format_price}}</a></td>
                    <td>{{m.medium_rebate_data|format_price}}</td>
                    <td><a target="_blank"  href="{{url_for('finance_client_order_medium_rebate_invoice.info', order_id=order.id)}}">{{m.media_rebate_invoice|format_price}}</a></td>
                    <td><a target="_blank"  href="{{url_for('finance_client_order_medium_back_money.back_money',order_id=order.id)}}">{{m.media_rebate_invoice_pay|format_price}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
    <div class="panel panel-default" id="non-invoice">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-invoice" href="#collapse-invoice-0"> 已回款信息 </a>
            </h4>
        </div>
        <div id="collapse-invoice-0" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class='tabulation'>
                    <table border='1'>
                        <thead>
                            <tr>
                                <th>回款时间</th>
                                <th>金额</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for back in order.back_money_list %}
                            <tr>
                                <td>{{back.back_time_cn}}</td>
                                <td>{{back.money}}</td>
                                <td><a href="{{url_for('finance_client_order_back_money.delete',order_id=order.id,bid=back.id)}}">删除</a></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>合计</td>
                                <td>{{order.back_money_list|sum(attribute='money')}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="non-invoice">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-invoice" href="#collapse-invoice-0"> 返点发票信息 </a>
            </h4>
        </div>
        <div id="collapse-invoice-0" class="panel-collapse collapse in">
            <div class="panel-body">
                 <div class='tabulation'>
                    <table border='1'>
                        <thead>
                            <tr>
                                <th>开票时间</th>
                                <th>发票金额</th>
                                <th>发票号</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for back in order.back_invoice_rebate_list %}
                            <tr>
                                <td>{{back.back_time_cn}}</td>
                                <td>{{back.money}}</td>
                                <td>{{back.num}}</td>
                                <td><a href="{{url_for('finance_client_order_back_money.delete_invoice',order_id=order.id,bid=back.id)}}">删除</a></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>合计</td>
                                <td>{{order.back_invoice_rebate_list|sum(attribute='money')}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-invoice" href="#"> 是否全部完成回款 </a>
            </h4>
        </div>
        <div id="" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="well">
                    <form class="form form-horizontal" method="POST" action="{{url_for('finance_client_order_back_money.back_money',order_id=order.id)}}">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">该合同是否已完成全部回款 : </label>
                            <div class="col-sm-6">
                                <select class="form-control bra-form-control" id="back_money_status" name="back_money_status">
                                    {% if order.back_money_status == 0 %}
                                      <option value="1">未完成</option>
                                      <option value="0" selected="selected">已完成</option>
                                      <option value="-1">坏账</option>
                                    {% elif order.back_money_status == -1 %}
                                      <option value="1">未完成</option>
                                      <option value="0">已完成</option>
                                      <option value="-1" selected="selected">坏账</option>
                                    {% else %}
                                      <option value="1" selected="selected">未完成</option>
                                      <option value="0">已完成</option>
                                      <option value="-1">坏账</option>
                                    {% endif %}
                                </select>
                                <span class="errors"></span>
                                <span class="tips"></span>
                            </div>
                            <div class="col-sm-2"><input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="new-back-money" style="display:none;">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-invoice" href="#collapse-money-new"> 填写回款信息 </a>
            </h4>
        </div>
        <div id="collapse-money-new" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="well">
                    <form class="form form-horizontal" method="POST" action="{{url_for('finance_client_order_back_money.back_money',order_id=order.id)}}" onsubmit="return checkform(this,'money')">
                        <div class="form-group">
                            <label for="client_start" class="col-sm-2 control-label">回款金额 : </label>
                            <div class="col-sm-4">
                                <input type="text" id="money" name="money" value="" class="form-control bra-form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="client_start" class="col-sm-2 control-label">回款时间 : </label>
                            <div class="col-sm-4">
                                <input type="text" id="back_time" name="back_time" value="" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="new-back-invoice" style="display:none;">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-invoice" href="#collapse-invoice-new"> 填写返点发票信息 </a>
            </h4>
        </div>
        <div id="collapse-invoice-new" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="well">
                    <form class="form form-horizontal" method="POST" action="{{url_for('finance_client_order_back_money.back_invoice',order_id=order.id)}}" onsubmit="return checkform(this,'invoice')">
                        <div class="form-group">
                            <label for="client_start" class="col-sm-2 control-label">发票金额 : </label>
                            <div class="col-sm-4">
                                <input type="text" id="money" name="money" value="" class="form-control bra-form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="client_start" class="col-sm-2 control-label">发票号码 : </label>
                            <div class="col-sm-4">
                                <input type="text" id="num" name="num" value="" class="form-control bra-form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="client_start" class="col-sm-2 control-label">开票时间 : </label>
                            <div class="col-sm-4">
                                <input type="text" id="back_time" name="back_time" value="" class="datetimepicker form-control bra-form-control" data-date-format="yyyy-mm-dd">
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm col-md-offset-2" value="保存"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button onclick="showInvoice(this,'new-back-money');" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span>新建回款信息</button>
    <button onclick="showInvoice(this,'new-back-invoice');" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span>新建返点发票信息</button>
    <div>{{ comments_box(order, msg_channel=4) }}</div>
</div>
<script>
    function checkform(obj, type){
        if (type == 'money'){
            if (obj.back_time.value == ""){
                alert('请选择回款时间')
                return false
            }else if(obj.money.value == ""){
                alert('请输入回款金额')
                return false
            }
            return true
        }else{
            if (obj.back_time.value == ""){
                alert('请选择开票时间')
                return false
            }else if(obj.money.value == ""){
                alert('请输入发票金额')
                return false
            }else if(obj.num.value == ""){
                alert('请输入发票号码')
                return false
            }
            return true
        }
        
    }
    function showInvoice(ele, id){
        $(ele).hide();
        $("#"+id).show();
    };
    $(document).ready(function(){
        $('.datetimepicker').datetimepicker({
            autoclose: true,
            todayHighlight: true,
            language: 'zh-CN',
            minView: 2
        });
    })
</script>
{% endblock %}
