{% extends "/base.html" %}
{% from 'comments.html' import comments_box %}
{% block title %}{{agent.name}} -- 返点信息{% endblock %}

{% block content %}
{% include "/client/client_base.html" %}
<div class="container bra-box">
    <h3> {{agent.name}} -- 返点信息
        <a class="btn btn-sm btn-info" href="{{url_for('client.agent_rebate_create', agent_id=agent.id)}}">新建</a>
        <a class="btn btn-default btn-sm" href="{{url_for('client.agents')}}">返回</a>
    </h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>执行年</th>
            <th>致趣返点</th>
            <th>豆瓣返点</th>
            <th>最后修改人</th>
            <th>最后修改时间</th>
            {% if g.user.is_contract() or g.user.is_super_leader() or g.user.is_media_leader() %}
            <th>操作</th>
            {% endif %}
        </tr>
        {% for r in rebates %}
        <tr>
            <td>{{r.year.year}}</td>
            <td>{{r.inad_rebate}}%</td>
            <td>{{r.douban_rebate}}%</td>
            <td>{{r.creator.name}}</td>
            <td>{{r.create_time_cn}}</td>
            {% if g.user.is_contract() or g.user.is_super_leader() or g.user.is_media_leader()%}
                <td>
                    <a href="{{url_for('client.agent_rebate_update', agent_id=agent.id, rebate_id=r.id)}}">修改</a>&nbsp;&nbsp;
                    {% if g.user.is_admin() %}
                    <a href="{{url_for('client.agent_rebate_delete', agent_id=agent.id, rebate_id=r.id)}}">删除</a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <br/>
    <h3> {{agent.name}} -- 媒体返点信息
        <a class="btn btn-sm btn-info" href="{{url_for('client.agent_medium_rebate_create', agent_id=agent.id)}}">新建</a>
        <a class="btn btn-default btn-sm" href="{{url_for('client.agents')}}">返回</a>
    </h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>所属媒体</th>
            <th>执行年</th>
            <th>返点</th>
            <th>最后修改人</th>
            <th>最后修改时间</th>
            {% if g.user.is_contract() or g.user.is_super_leader() or g.user.is_media_leader() %}
            <th>操作</th>
            {% endif %}
        </tr>
        {% for r in medium_rebates %}
        <tr>
            <td>{{r.medium.name}}</td>
            <td>{{r.year.year}}</td>
            <td>{{r.rebate}}%</td>
            <td>{{r.creator.name}}</td>
            <td>{{r.create_time_cn}}</td>
            {% if g.user.is_contract() or g.user.is_super_leader() or g.user.is_media_leader()%}
                <td>
                    <a href="{{url_for('client.agent_medium_rebate_update', agent_id=agent.id, rebate_id=r.id)}}">修改</a>&nbsp;&nbsp;
                    {% if g.user.is_admin() %}
                    <a href="{{url_for('client.agent_medium_rebate_delete', agent_id=agent.id, rebate_id=r.id)}}">删除</a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <br/><br/>
    <div>{{ comments_box(agent, msg_channel=9, text=False) }}</div>
</div>
{% endblock %}
