{% extends "/base.html" %}
{% block title %}我的客户订单{% endblock %}

{% block content %}
{% include "/finance/finance_base.html" %}
<div class="container bra-box">
    <ul class="nav nav-tabs">
        <li class=""><a href="{{url_for('finance_client_order_agent_pay.apply')}}">申请中的客户付款</a></li>
        <li class="active"><a href="{{url_for('finance_client_order_agent_pay.index')}}">所有客户付款信息</a></li>
    </ul>
    <h3>{{title}}<a class="btn btn-sm btn-default" href="{{url_for('finance_client_order_medium_pay.index_pass')}}?type=excel">下载</a></h3>
    <div class="search">
        <input class="col-md-3" type="text" id="search_info" value="{{search_info}}" placeholder="客户/代理/媒体/合同号/Campaign" onkeypress="javascript:enter_search();">
        <div class="col-md-2" style="padding:0;margin:0 5px;" id="search-area">
            <select class="col-md-12" id="search_location" name="location" placeholder="区域">
                {% for v, m in locations %}
                    {% if v == location_id|int %}
                        <option selected="" value="{{v}}">{{m}}</option>
                    {% else %}
                        <option value="{{v}}">{{m}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2" style="padding:0;margin-right:5px;">
            <select class="col-md-12" id="search_status" name="status" placeholder="合同状态">
                {% for v, m in statuses %}
                    {% if v == status_id|int %}
                        <option selected="" value="{{v}}">{{m}}</option>
                    {% else %}
                        <option value="{{v}}">{{m}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2" style="padding:0;margin-right:5px;">
            <select class="col-md-12" id="orderby" name="orderby" placeholder="排序方式">
                <option value="create_time">按添加时间排序</option>
                <option value="reminde_date">按回款时间排序</option>
                <option value="contract">按合同号排序</option>
            </select>
        </div>
        <input type="button" name="search" value="搜索" class="btn btn-sm btn-info" onclick="javascript:search();">
    </div>
    <br>
    <table class="table table-bordered table-striped">
        <tr>
            <th>客户名称</th>
            <th>合同号</th>
            <th>合同金额</th>
            <th>收到发票总金额</th>
            <th>已打款发票金额</th>
            <th>申请中的打款金额</th>
            <th>甲方公司</th>
            <th>请款中</th>
            <th>已打款</th>
            <th>查看</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td><a href="{{url_for('finance_client_order_agent_pay.info', order_id=order.id)}}">{{order.name}}</a></td>
            <td><a href="{{url_for('finance_client_order_agent_pay.info', order_id=order.id)}}">{{order.contract}}</a></td>
            <td>{{order.money}} 元</td>
            <td>{{order.agents_invoice_sum}} 元</td>
            <td>{{order.agents_invoice_pass_sum}} 元</td>
            <td>{{order.agents_invoice_apply_sum}} 元</td>
            <td>{{order.agents | map(attribute='name') | join(', ')}}</td>
            <td>{{order.get_agent_invoice_pay_by_status(3) | length}}</td>
            <td>{{order.get_agent_invoice_pay_by_status(0) | length}}</td>
            <td><a href="{{url_for('finance_client_order_agent_pay.info', order_id=order.id)}}">查看</a></td>
        </tr>
        {% endfor %}
    </table>
    {% set pages = orders %}
    {% include "pagination.html" %}
</div>
<script>
    function sort(value) {
        var orderby = '{{orderby}}',
            sortby = '{{sortby}}';
        if (value == sortby) {
            if (orderby == 'desc') {
                orderby = 'asc'
            } else {
                orderby = 'desc'
            }
        } else {
            sortby = value
            orderby = 'desc'
        }
        window.location.href = window.location.pathname + '?sortby=' + sortby + '&orderby=' + orderby +
            '&searchinfo=' + encodeURIComponent($('#search_info').val()) +
            '&selected_location=' + encodeURIComponent($('#search_location').val()) +
            '&selected_status=' + encodeURIComponent($('#search_status').val());
    }

    function search() {
        window.location.href = window.location.pathname +
            '?searchinfo=' + encodeURIComponent($('#search_info').val()) +
            '&selected_location=' + ($('#search_location').val()) +
            '&selected_status=' + ($('#search_status').val())+
            '&orderby=' + ($('#orderby').val());
    }

    function download() {
        window.location.href = window.location.pathname +
            '?searchinfo=' + encodeURIComponent($('#search_info').val()) +
            '&selected_location=' + ($('#search_location').val()) +
            '&selected_status=' + ($('#search_status').val()) +
            '&action=download';
    }

    function enter_search() {
        //按下‘Enter’键
        if (event.keyCode == 13) {
            search();
        }
    }
    $(function() {
        {% if g.user.is_super_leader() or g.user.is_finance() %} 
        {% else %}
            $("#search-area").hide() 
        {% endif %}
        $("#orderby option[value='{{orderby}}']").attr("selected","selected");  
        $("#orderby").trigger("chosen:updated");
    });
    </script>
{% endblock %}
