{% extends "/base.html" %}
{% block title %}我的客户订单{% endblock %}

{% block content %}
{% include "/finance/finance_base.html" %}
<div class="container bra-box">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{{url_for('finance_client_order_agent_pay.apply')}}">申请中的客户付款</a></li>
        <li class=""><a href="{{url_for('finance_client_order_agent_pay.index')}}">所有客户付款信息</a></li>
    </ul>
    <h3>申请中的客户付款信息</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>客户名称</th>
            <th>合同号</th>
            <th>合同金额</th>
            <th>收到发票总金额</th>
            <th>已打款发票金额</th>
            <th>申请中的打款金额</th>
            <th>投放媒体</th>
            <th>请款中</th>
            <th>已打款</th>
            <th>查看</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td><a href="{{url_for('finance_client_order_agent_pay.info', order_id=order.id)}}">{{order.name}}</a></td>
            <td>{{order.contract or "无合同号"}}</td>
            <td>{{order.money}} 元</td>
            <td>{{order.agents_invoice_sum}} 元</td>
            <td>{{order.agents_invoice_pass_sum}} 元</td>
            <td>{{order.agents_invoice_apply_sum}} 元</td>
            <td>{{order.mediums | map(attribute='name') | join(', ')}}</td>
            <td>{{order.get_agent_invoice_pay_by_status(3) | length}}</td>
            <td>{{order.get_agent_invoice_pay_by_status(0) | length}}</td>
            <td><a href="{{url_for('finance_client_order_agent_pay.info', order_id=order.id)}}">查看</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
